<!-- Mobile menu overlay mask -->
<!-- Header -->
<header id="plain" class="sticky">
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <i class="icon_set_1_icon-57"></i><strong>{{objGlobal.Contact}}</strong>
                    <i class="icon_set_1_icon-84"></i><strong>{{objGlobal.email}}</strong>
                </div>
                <div class="col-6">
                    <ul id="top_tools">
                        <li>
                            <div class="dropdown dropdown-cart" *ngIf="login.retCode ===1">
                                <a href="javascript:void(0);"><i class="icon-user" style="font-size: 13px;"></i>My
                                    Account</a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <li *ngIf="login.retCode == undefined || login.retCode !=1 ">
                                        <a href="javascript:void(0);" class="button_drop outline" mat-button
                                            (click)="onSigninDialog()">Sign in</a>
                                        <a href="javascript:void(0);" class="button_drop outline" mat-button
                                            (click)="onRegisterDialog()">Register</a>
                                    </li>
                                    <li *ngIf="login.retCode ===1">
                                        <div class="row">
                                            <div class="col-4" *ngIf="login.LoginDetail.UserType==='B2C'">
                                                <div class="font-icon-detail"><span class="pe-7s-user"></span>
                                                </div>
                                            </div>
                                            <div class="col-8" *ngIf="login.LoginDetail.UserType==='B2C'">
                                                <br>
                                                <span>Welcome..</span>
                                                <br>
                                                <span>{{login.LoginDetail?.Name}}</span>
                                                <!-- <span>{{login.LoginDetail.Email}}</span> -->
                                            </div>

                                            <div class="col-6" *ngIf="login.LoginDetail.UserType==='B2B'">
                                                <span><b style="font-size: 11px;">Available</b> <br>
                                                    <span style="color: #f7941d;">{{arrBalance.Currency}}
                                                        {{arrBalance.Available}}</span>
                                                </span>
                                            </div>
                                            <div class="col-6" *ngIf="login.LoginDetail.UserType==='B2B'">
                                                <span><b style="font-size: 11px;">Payable</b> <br>
                                                    <span style="color: #e04f67;">{{arrBalance.Currency}}
                                                        {{arrBalance.Payable}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                                        <a [routerLink]="['/agency-statement']">My Statement</a>
                                    </li> -->
                                    <!-- <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                                        <a [routerLink]="['/credit-information']">Credit Info</a>
                                    </li> -->
                                    <li>
                                        <a href="javascript:void(0);" style="color: #333"
                                            *ngIf="login.retCode == undefined || login.retCode !=1 "
                                            (click)="onSigninDialog()">WishList</a>
                                        <a [routerLink]="['/wishlist']" style="color: #333"
                                            *ngIf="login.retCode != undefined && login.retCode ==1 ">WishList</a>
                                    </li>
                                    <li *ngIf="login.retCode != undefined && login.retCode ==1 ">
                                        <!-- <a href="javascript:void(0);" *ngIf="login.retCode == undefined || login.retCode !=1 "
                                  (click)="onSigninDialog()">Profile</a> -->
                                        <a [routerLink]="['/profile']"
                                            *ngIf="login.LoginDetail.UserType==='B2C'">Profile</a>
                                        <a [routerLink]="['/agent-profile']"
                                            *ngIf="login.LoginDetail.UserType==='B2B'">Profile</a>
                                    </li>
                                    <li *ngIf="login.retCode ==1 ">
                                        <div class="dropdown dropdown-mini">
                                            <a [routerLink]="['/booking-report']">My
                                                Booking</a>
                                        </div>
                                    </li>
                                    <li *ngIf="login.retCode != undefined && login.retCode ==1 ">
                                        <a style="cursor: pointer; color: #333;" (click)="onSignout()">Sign out</a>
                                    </li>
                                </ul>
                            </div><!-- End dropdown-cart-->
                        </li>
                        <li>
                            <div class="dropdown dropdown-mini">
                                <a href="#" data-toggle="dropdown" id="lang_link">English</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div id="logo_home">
                    <h1 *ngIf="loggedin">
                        <a *ngIf="logo" href="/home" [ngStyle]="{'background-image': 'url(' + logo + ')'}">
                        </a>
                        <a *ngIf="!logo" href="/home">
                            Cenin Travels</a>
                    </h1>
                    <h1 *ngIf="!loggedin">
                        <a href="/home"> Cenin Travels</a>
                    </h1>
                </div>
            </div>
            <nav class="col-9" *ngIf="login.retCode ===1">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu
                        mobile</span></a>
                <div class="main-menu font16">
                    <div id="header_menu">
                        <img [src]="objGlobal.logo" width="160" height="34" alt="City tours" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                    <ul>
                        <li style="vertical-align: text-bottom;">
                            <a routerLink="/home">
                                <p class="font12 nomargin_bottom">Home</p>
                            </a>
                        </li>
                        <li style="vertical-align: text-bottom;" *ngFor="let m of _mainMenu">
                            <a *ngIf="m.Name === 'Hotel'" [routerLink]="['/hotel']" class=" ">
                                <p class="font12 nomargin_bottom">Hotel</p>
                            </a>
                            <a *ngIf="m.Name === 'Package'" [routerLink]="['/package-search']" class=" ">
                                <p class="font12 nomargin_bottom">Package</p>
                            </a>
                        </li>
                        <!-- <li style="vertical-align: text-bottom;">
                            <a [routerLink]="['/about']">
                                <p class="font12 nomargin_bottom">About Us</p>
                            </a>
                        </li> -->
                        <li style="vertical-align: text-bottom;">
                            <a [routerLink]="['/contact']">
                                <p class="font12 nomargin_bottom">Contact Us</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End main-menu -->

                <ul id="top_tools">
                    <!-- <li>
                        <a [routerLink]="['/package']" class=""><i class="icon_search"></i></a>
                    </li> -->
                    <li>
                        <app-shopping-cart></app-shopping-cart>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- container -->
</header>
<!-- End Header -->