
::ng-deep  #logo_home h1 a, header.sticky #logo_home h1 a, header#plain #logo_home h1 a, header#colored #logo_home h1 a ::after{
    background-image: url(https://www.cenintravels.com/assets/img/logo_sticky.png);
}
::ng-deep header #logo_home h1 a ::before {
    background-image: url(https://www.cenintravels.com/assets/img/logo.png);
}
::ng-deep  #header_menu img  {
    background-image: url(https://www.cenintravels.com/assets/img/logo.png);
}

.main-menu {
    font-weight: 700 !important;
}
.submenu{
    vertical-align:text-bottom;
}
