 <!-- Share : <i class=" icon-forward-1"></i> -->
 <share-buttons [theme]="'modern-light'"
  [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
  [exclude]="['twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
  [show]="3" [showText]="false" [showCount]="false" [size]="2" [url]="url" [title]="title"
  [description]="details"
  [image]="img" [tags]="'shimla, holidays'"></share-buttons>