<div id="search_container_2">
  <div id="search_2">
    <ul class="nav nav-tabs">
      <li><a href="#tours" data-toggle="tab" class="show active" id="tab_bt_1"><span>By Location</span></a></li>

      <li><a href="#toursName" data-toggle="tab" class="show" id="tab_bt_1"><span>By Name</span></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active show" id="tours">
        <form>
          <div class="row no-gutters custom-search-input-2">
            <div class="col-lg-10">
              <div class="form-group">
                <i class="icon_pin_alt"></i>
                <input matInput placeholder="" #City name="City" class="form-control" aria-label="City"
                  [matAutocomplete]="packageauto" [formControl]="cityCtrl" style="height: 35px !important">

                <mat-autocomplete #packageauto="matAutocomplete">
                  <mat-option *ngFor="let CityName of filterCities | async" [value]="CityName.City">
                    <span> <img with="20" height="20" src="../assets/img/pins/Contact.png">
                      {{CityName.City}}</span>
                  </mat-option>
                </mat-autocomplete>

              </div>
            </div>
            <div class="col-lg-2">
              <input type="submit" class="btn_search" value="Search" (click)="getPackages(City.value)">
            </div>
          </div>
          <!-- /row -->
        </form>
      </div>
      <div class="tab-pane fade show" id="toursName">
        <form>
          <div class="row no-gutters custom-search-input-2">
            <div class="col-lg-10">
              <div class="form-group">
                <!-- <i class="icon_pin_alt"></i> -->
                <input matInput placeholder="" #PackageName name="PackageName" class="form-control"
                  aria-label="PackageName" [matAutocomplete]="packageautoupdate" [formControl]="NameCtrl"
                  style="height: 35px !important">
                <!-- <input  matInput placeholder="" #PackageID name="PackageID" class="form-control"
                  aria-label="PackageID" [matAutocomplete]="packageautoupdate" [formControl]="IDCtrl"
                  style="height: 35px !important"> -->
                <mat-autocomplete #packageautoupdate="matAutocomplete">
                  <mat-option *ngFor="let PackageName of filterpackageName | async" [value]="PackageName.PackageName"
                    (onSelectionChange)="OnPackageSelect(PackageName)">
                    <span>
                      {{PackageName.PackageName}}</span>
                  </mat-option>
                </mat-autocomplete>

              </div>
            </div>
            <div class="col-lg-2">
              <input type="submit" class="btn_search" value="Search" (click)="getpackagebyname(PackageName.value)">
            </div>
          </div>

        </form>
      </div>
      <!-- End tab -->
    </div>
  </div>
  <!-- End search_container_2 -->
</div>