<div class="row post_info">
    <div class="col-md-6">
        <button class="btn_1 green"  (click)="addToCart()">
          <b><i class="icon-basket"></i></b> Add Cart
        </button>
    </div>
    <div class="col-md-6">
        <button  class="btn_1 blue"  (click)="CheckOut()">
           <b><i class="pe-7s-right-arrow"></i></b>   CheckOut
        </button>
    </div>
</div>

