<app-click-contact *ngIf="AdminCode == 'CUT'"></app-click-contact>
<app-trivo-contact *ngIf="AdminCode == 'TRIVO'">
</app-trivo-contact>
<app-cennin-contact *ngIf="AdminCode == 'CENNIN'"></app-cennin-contact>


<app-exotics-contact *ngIf="AdminCode == 'EXCO'"></app-exotics-contact>

<app-meetme-contact *ngIf="AdminCode == 'MEETME'"></app-meetme-contact>


<app-hi5fly-contact   *ngIf="AdminCode == 'HIFI'"></app-hi5fly-contact>


<app-idealjungle-contact *ngIf="AdminCode == 'IDEALJ'"></app-idealjungle-contact>

