.custom-search-input-2 input[type="button"] {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    padding: 0px;
    height: 50px;
    cursor: pointer;
    outline: none;
    width: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #e14d67;
    margin-right: -1px;
  }
  
  .custom-search-input-2 input[type="button"]:hover {
    background-color: #008489;
    color: #fff;
  }