<div class="row no-gutters custom-search-input-2">
  <div class="col-lg-9">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="City Name" #City name="City" aria-label="City"
        [matAutocomplete]="packageauto" [formControl]="cityCtrl">
      <i class="icon_pin_alt"></i>

      <mat-autocomplete #packageauto="matAutocomplete">
        <ng-container>
          <mat-option *ngFor="let CityName of filterCities | async" [value]="CityName.City">
            <span>{{CityName.City}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-lg-3">
    <input type="button" class="btn_search" (click)="getPackages(City.value)" value="Search">
  </div>
</div>