<main>
	<br><br><br>
	<div class="container margin_60">
		<div class="main_title">
			<h2><span>Our Speciality </span></h2>
		</div>
		<div class="row">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
				<div class="feature">
					<i class="">1</i>
					<h3>Inbound Ground Handling</h3>
					<p>
						As a Destination Management Company we welcome you, your family & friends to experience our
						unmatched service & hospitality in UAE, we serve you as per your requirement and budget, our
						long relationship with huge number of hotels, resorts & apartments gives us extra strength to
						bargain better service & price, our brand new fleets ranging from Standard Sedan to Luxurious
						Rolls-Royce, Deluxe Buses & Starched Limousine will charm you & your guest’s experience in UAE,
						moreover we are not bound to provide you full package only, but we can also provide you with
						individual service as per your need which can be only Burj Khalifa ticket or it may be only
						transfer to Atlantis The Palm...
					</p>
				</div>
			</div>
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
				<div class="feature">
					<i class="">2</i>
					<h3>Worldwide Hotel Booking</h3>
					<p>
						We are connected with huge number of individual & group of hotels, no matter its in UAE or any
						part of the world we can get you best deals, soon you will be able to book hotels, resorts,
						apartments, guest house & homestay live in this site but currently you can just send us mail or
						call us we will get the best deal possible...
					</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
				<div class="feature">
					<i class="">3</i>
					<h3>Visa & OTB Service</h3>
					<p>
						We have our own quota for 30 Days, 90 Days Single & Multiple Dubai (UAE) Tourist Visa, we also
						assist in visa services to India, Saudi (Visit / Umrah), Thailand, Malaysia, Singapore & Many
						other countries.
						<br>
						Ok To Board (OTB) message is applicable on ticket and we are tied-up with all the airlines
						required this update and we provide round the clock service for our clients and help them update
						message with nominal fees...
						<br><br>
					</p>

				</div>
			</div>
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.4s">
				<div class="feature">
					<i class="">4</i>
					<h3>Halal Tourims</h3>
					<p>
						We respect all religions and we are bound to serve as per the requirements of each of you, one
						of our speciality is to provide service as per the requirement of each religion / custom, we
						make sure that we serve pure Halal, Jain or Pure Vegetarian food for all our groups /
						individuals as they require.
						<br>
						Specifically, Halal Tourism is not related to food only, it is related to the environment which
						is more family & cultural friendly, we select accommodation, restaurants, excursions & places of
						visit very carefully to suite Halal friendliness…
					</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-12">
				<h6>
					If you are a <span>Travel Fraternity running travel business</span><br>
					Contact us we can guarantee you best service with 100% customer satisfaction!!!
				</h6>
				<a href="contact" class="btn_1">Contact Us</a>
			</div>
		</div>
	</div>
</main>
<!-- End main -->