
	<section class="parallax-window" data-parallax="scroll" data-image-src="img/hotels_bg.jpg" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1">
			<div class="animated fadeInDown">
				<h1>{{ Destination }} Resurants</h1>
			</div>
		</div>
	</section>
	<!-- End section -->
<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="#">Home</a>
        </li>
        <li><a href="#">{{ Destination }}</a>
        </li>
        <li>{{Destination}} Resurants</li>
      </ul>
    </div>
  </div>
  <!-- Position -->

  <div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
  </div>
  <!-- End Map -->

  <div class="container margin_60">
    <div class="row">
      <aside class="col-lg-3">
        <div class="widget">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
          </span>
          </div>
          <!-- /input-group -->
        </div>
        <!-- End Search -->

        <hr>

        <div class="widget" id="cat_blog">
          <h4>Categories</h4>
          <ul>
            <li><a href="#">Places to visit</a>
            </li>
            <li><a href="#">Top tours</a>
            </li>
            <li><a href="#">Tips for travellers</a>
            </li>
            <li><a href="#">Events</a>
            </li>
          </ul>
        </div>
        <!-- End widget -->

        <hr>

        <div class="widget">
          <h4>Recent post</h4>
          <ul class="recent_post">
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
          </ul>
        </div>
        <!-- End widget -->
        <hr>
        <div class="widget tags">
          <h4>Things Do In Jeddah</h4>
          <a>King Fahd's Fountain
          </a>
          <a >Kingdom Tower
          </a>
          <a>Nasseef House
          </a>
          <a>Atallah Happy Land Park
          </a>
          <a >The Globe Roundabout
          </a>
          <a>Jungle Land Theme Park (Mersal Village)
          </a>
          <a href="">Al Tayebat International City
          </a>
        </div>
        <!-- End widget -->

      </aside>
      <!--End aside -->

      <div class="col-lg-9">

        <!--End tools -->

        <div class="row">
          <div class="col-md-6 wow zoomIn" *ngFor="let rest of Resturants;let i=index"  attr.data-wow-delay="0.{{ i+1}}s" >
            <div class="hotel_container">
              <div class="ribbon_3 popular"><span>Popular</span></div>
              <div class="img_container">
                  <a href="#" *ngIf="rest.Images.length !=0">
                      <img [src]="rest.Images[0].Path"
                          width="800" style="height: 200px;" class="img-fluid" alt="image">
                      
                      <div class="short_info hotel">
                          <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                      </div>
                  </a>
              </div>
              <div class="hotel_title">
                  <h3><strong>{{rest.Name}}</strong> .</h3>
                  <div class="rating">
                      <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                          class="icon-star voted"></i><i class="icon-star-empty"></i>
                  </div>
                  <!-- end rating -->
                  <div class="wishlist">
                      <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                                  class="tooltip-back">Add to wishlist</span></span></a>
                  </div>
                  <!-- End wish list-->
              </div>
          </div>
            <!-- End box tour -->
          </div>
          <!-- End col-md-6 -->
         
        </div>
        <!-- End row -->
        <hr>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active"><span class="page-link">1<span class="sr-only">(current)</span></span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- end pagination-->

      </div>
      <!-- End col lg 9 -->
    </div>
    <!-- End row -->
    
  </div>
  <!-- End container -->
  <div class="container margin_30">
    <app-travel-hotel [Destination]="Destination"></app-travel-hotel>
    <hr class="mt-5 mb-5">
    <app-travle-things-icons [Destination]="Destination"></app-travle-things-icons>
  </div>
</main>
<!-- End main -->