<br /><br /><br /><br />
<main *ngIf="!hoteldetail">
  <!-- <div id="position">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li>
                            <a [routerLink]="['/home']">Home</a>
                        </li>
                        <li>Hotel list</li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="short-details">
                                <i class="icon_set_1_icon-37"></i>
                                {{objSearch.Destination.City}}, {{objSearch.Destination.Country}}
                            </h4>
                        </div>
                        <div class="col-md-3">
                            <h6 class="short-details">
                                <i class="icon_set_1_icon-6"></i>
                                {{Hotels.length}} result found
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
  <!-- Position -->
  <div class="collapse" id="collapseMap">
    <agm-map *ngIf="Hotels.length > 0" [latitude]="Hotels[0].Latitude" [longitude]="Hotels[0].Langitude" [zoom]="zoom"
      [disableDefaultUI]="true" [zoomControl]="true" scrollwheel="false">
      <agm-marker *ngFor="let hotel of Hotels; let i = index" [latitude]="hotel.Latitude" [longitude]="hotel.Langitude"
        (markerClick)="clickedMarker(ResultIndex)">
        <agm-info-window>
          <strong>
            <h6>{{ hotel.HotelName }}</h6>
          </strong>
          <div class="rating" *ngIf="hotel.Category == '0' || hotel.Category == '0EST'">
            <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
              class="icon-star-empty"></i><i class="icon-star-empty"></i>
          </div>
          <div class="rating" *ngIf="hotel.Category == '1' || hotel.Category == '1EST'">
            <i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
              class="icon-star-empty"></i><i class="icon-star-empty"></i>
          </div>
          <div class="rating" *ngIf="hotel.Category == '2' || hotel.Category == '2EST'">
            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i><i
              class="icon-star-empty"></i><i class="icon-star-empty"></i>
          </div>
          <div class="rating" *ngIf="hotel.Category == '3' || hotel.Category == '3EST'">
            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
              class="icon-star-empty"></i><i class="icon-star-empty"></i>
          </div>
          <div class="rating" *ngIf="hotel.Category == '4' || hotel.Category == '4EST'">
            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
              class="icon-star voted"></i><i class="icon-star-empty"></i>
          </div>
          <div class="rating" *ngIf="hotel.Category == '5' || hotel.Category == '5EST'">
            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
              class="icon-star voted"></i><i class="icon-star voted"></i>
          </div>
          <h4>
            <small>*Start From </small><span>{{ Currency }}
              <strong>{{ hotel.Charge.TotalPrice.toFixed(2) }}</strong></span>
          </h4>
          <button type="button" (click)="onDetails(hotel.HotelId)" style="float: right;" class="btn_1">
            Details
          </button>
        </agm-info-window>
      </agm-marker>
    </agm-map>

    <!-- <div id="map" class="map"></div> -->
  </div>
  <!-- End Map -->
  <div class="container margin_60">
    <div class="row">
      <aside class="col-lg-3">
        <p *ngIf="_response && Hotels.length != 0">
          <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
            aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
        </p>
        <div id="filters_col">
          <span> <strong>{{Hotels.length}}</strong> Hotels found in {{objSearch.Destination.City}}
          </span>
          <hr>
          <div class="filter_type">
            <ul>
              <li>
                <label><i class="icon-calendar-empty"></i>&nbsp;<span
                    class="">Check-in</span>&nbsp;{{ objSearch.Checkin }}</label>
              </li>
              <li>
                <label><i class="icon-calendar-empty"></i>&nbsp;<span
                    class="">Check-out</span>&nbsp;{{ objSearch.Checkout }}</label>
              </li>
              <li>
                <label><i class="icon-moon"></i>&nbsp;<span
                    class="">Nights</span>&nbsp;{{ objSearch.Nights }}</label>&nbsp; &nbsp;
                <label><i class=" icon-home-outline"></i>&nbsp;<span
                    class="">Room</span>&nbsp;{{ objSearch.Rooms.length }}</label>
              </li>
              <li>
                <label><i class="icon-adult"></i>&nbsp;<span class="">Adult</span>&nbsp;{{ Adult }}</label>&nbsp; &nbsp;
                <label><i class="icon_group"></i>&nbsp;<span class="">Child</span>&nbsp;{{ Child }}</label>
              </li>
            </ul>
          </div>
        </div>

        <app-side-loader *ngIf="!_response"></app-side-loader>

        <!-- filter start -->
        <app-hotel-filter *ngIf="_response && Hotels.length != 0" (filterHotel)="FilteredHotel($event)"
          [search]="objSearch.Destination" [Currency]="Currency" [HotelData]="FilterHotels" [Category]="Category"
          [Facility]="Facility" [max]="MaxPrice" [min]="MinPrice" [Location]="Location">
        </app-hotel-filter>
        <!-- filter end -->

        <app-help></app-help>
      </aside>
      <!--End aside -->
      <div class="col-lg-9">
        <div id="tools">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-6">
              <div class="styled-select-filters" *ngIf="Hotels.length != 0">
                <select name="sort_price" id="sort_price" (change)="setOrder('Price', $event)">
                  <option value="" selected>Sort by price</option>
                  <option value="lower">Lowest price</option>
                  <option value="higher">Highest price</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
              <div class="styled-select-filters" *ngIf="Hotels.length != 0">
                <select name="sort_rating" id="sort_rating" (change)="setOrder('Category', $event)">
                  <option value="" selected>Sort by ranking</option>
                  <option value="lower">Lowest ranking</option>
                  <option value="higher">Highest ranking</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-4 col-6 text-right">
              <a data-toggle="collapse" data-parent="#modify" href="#Search" class="bt_filters">Modify Search</a>
            </div>
          </div>
        </div>
        <!--End tools -->
        <div class="accordion_styled" id="Search" [ngClass]="error === true ? 'collapse show' : 'collapse'"
          data-parent="#modify">
          <div class="card">
            <div class="card-body">
              <br />
              <app-search-panel [Code]="objSearch.Destination.Code" [Traveller]="Traveller"
                [objTraveller]="objTraveller"></app-search-panel>
            </div>
          </div>
          <br />
        </div>

        <!-- loader start -->
        <app-list-loader *ngIf="!_response"></app-list-loader>
        <app-list-loader *ngIf="!_response"></app-list-loader>
        <app-list-loader *ngIf="!_response"></app-list-loader>
        <app-list-loader *ngIf="!_response"></app-list-loader>
        <app-list-loader *ngIf="!_response"></app-list-loader>
        <app-list-loader *ngIf="!_response"></app-list-loader>
        <!-- loader end -->

        <div class="box_style_2" *ngIf="_response && Hotels.length === 0">
          <h1>
            <span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span>
          </h1>
          <h1>Sorry !!</h1>
          <h2 *ngIf="!error">Hotel Not Found</h2>
          <div *ngIf="error">
            <h3>An error occurred. Please search again</h3>
          </div>
        </div>
        <div class="strip_all_tour_list wow fadeIn" *ngFor="
            let hotel of Hotels
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
            let i = index
          " data-wow-delay="0.1s">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="ribbon_3" *ngIf="hotel.PreferedHotel">
                <span>Popular</span>
              </div>

              <div class="img_list" (click)="showHotelDetails(hotel.ResultIndex, 1)">
                <a href="javascript:void(0);" *ngIf="hotel.Image.length != 0">
                  <img [src]="hotel.Image[0].Url" onError="this.src='assets/img/no-image.png'" alt="Image" />
                  <div class="short_info">
                  </div>
                </a>
                <a href="javascript:void(0);" *ngIf="hotel.Image.length == 0">
                  <img src="assets/img/no-image.png" alt="Image" />
                  <div class="short_info"></div>
                </a>
                <div class="badge_save" *ngIf="hotel.offer">
                  Save<strong>10%</strong>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="tour_list_desc">
                <div class="score cursor" (click)="showHotelDetails(hotel.ResultIndex, 2)">
                  <span><i class="icon_set_1_icon-41 font15"></i></span>
                </div>
                <div class="rating" *ngIf="hotel.Category == '0' || hotel.Category == '0EST'">
                  <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
                    class="icon-star-empty"></i><i class="icon-star-empty"></i>
                </div>
                <div class="rating" *ngIf="hotel.Category == '1' || hotel.Category == '1EST'">
                  <i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
                    class="icon-star-empty"></i><i class="icon-star-empty"></i>
                </div>
                <div class="rating" *ngIf="hotel.Category == '2' || hotel.Category == '2EST'">
                  <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i><i
                    class="icon-star-empty"></i><i class="icon-star-empty"></i>
                </div>
                <div class="rating" *ngIf="hotel.Category == '3' || hotel.Category == '3EST'">
                  <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star-empty"></i><i class="icon-star-empty"></i>
                </div>
                <div class="rating" *ngIf="hotel.Category == '4' || hotel.Category == '4EST'">
                  <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
                </div>
                <div class="rating" *ngIf="hotel.Category == '5' || hotel.Category == '5EST'">
                  <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star voted"></i>
                </div>
                <h3 class="cursor" (click)="showHotelDetails(hotel.ResultIndex, 0)">
                  <strong>{{
                    hotel.HotelName.length > 33
                      ? (hotel.HotelName | slice: 0:33) + ".."
                      : hotel.HotelName
                  }}</strong>
                  <br>
                  <small *ngIf="SupplierVisible" style="text-transform: initial;"> ({{ hotel.Supplier }}) </small>
                  <br /><small style="text-transform:initial"><span><i class="pe-7s-map-2"></i>
                      {{
                        hotel.Address.length > 45
                          ? (hotel.Address | slice: 0:45) + ".."
                          : hotel.Address
                      }}</span></small>
                  <br /><small *ngIf="hotel.Distance != 0" style="text-transform:initial;color: #3fb0b5;">
                    <strong>
                      {{ hotel.Distance }} Km. From
                      {{
                        _nearby.length > 35
                          ? (_nearby | slice: 0:35) + ".."
                          : _nearby
                      }}
                    </strong></small>
                </h3>
                <p *ngIf="hotel.Distance == 0" [innerHTML]="
                    hotel.Description.length > 115
                      ? (hotel.Description | slice: 0:115) + '..'
                      : hotel.Description
                  "></p>
                <p *ngIf="hotel.Distance != 0" [innerHTML]="
                    hotel.Description.length > 115
                      ? (hotel.Description | slice: 0:115) + '..'
                      : hotel.Description
                  "></p>
                <!-- <p *ngIf="hotel.Distance==0">{{(hotel.Description.length>200)? (hotel.Description.text | slice:0:200)+'..':(hotel.Description.text)}}
                                </p>
                                <p *ngIf="hotel.Distance!=0">{{(hotel.Description.length>150)? (hotel.Description | slice:0:150)+'..':(hotel.Description)}}
                                </p> -->
                <ul class="add_info">
                  <li *ngFor="let facility of hotel.Facility">
                    <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="{{ facility.toolip }}">
                      <i *ngIf="facility.Name.includes('Bar')" class="icon_set_1_icon-15"></i>
                      <i *ngIf="facility.Name.includes('Car')" class="icon_set_1_icon-21"></i>
                      <i *ngIf="facility.Name.includes('Breakfast')" class="icon_set_1_icon-59"></i>
                      <i *ngIf="
                          facility.Name.includes('Wifi')  || facility.Name.includes('Wi-fi') ||
                          facility.Name.includes('Internet') || facility.Name.includes('Wi-Fi')"
                        class="icon_set_1_icon-86"></i>
                      <i *ngIf="
                          facility.Name.includes('Room Service') ||
                          facility.Name.includes('Porterage 24 Hour')
                        " class="icon_set_1_icon-14"></i>
                      <i *ngIf="facility.Name.includes('Gym')" class="icon_set_2_icon-117"></i>
                      <!-- <i *ngIf="facility.Name.includes('Pool')" class="icon_set_2_icon-110"></i> -->
                      <i *ngIf="facility.Name.includes('Laundry') || facility.Name.includes('Washing Machine')"
                        class="icon_set_2_icon-103"></i>
                      <i *ngIf="facility.Name.includes('Business Centre') || facility.Name.includes('Conference Room')"
                        class="icon_set_2_icon-105"></i>
                      <i *ngIf="facility.Name.includes('Pet')" class="icon_set_1_icon-22"></i>
                      <i *ngIf="facility.Name.includes('Air')" class="icon-air"></i>
                      <i *ngIf="facility.Name.includes('Parking')" class="icon_set_1_icon-21"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="price_list">
                <div>
                  <sup>{{ Currency }}</sup><br />{{ hotel.Charge.TotalPrice.toFixed(2)
                  }}<small><br />*Start From</small>
                  <p>
                    <a data-toggle="collapse" (click)="setRates(hotel.ResultIndex)" id="det_{{ hotel.HotelId }}"
                      attr.data-parent="#rate{{ hotel.HotelId }}" href="#accordion{{ hotel.HotelId }}" class="btn_1">
                      <i *ngIf="hotel.loading" class="icon-spin6 animate-spin"></i>
                      Details
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion_styled" id="accordion{{ hotel.HotelId }}" class="collapse"
            attr.data-parent="#rate{{ hotel.HotelId }}">
            <!-- <mat-divider></mat-divider>
            <div class="row padding" style="margin-top: 5px; margin-bottom: 5px;">

              <div class="col-md-3">
                <mat-checkbox (change)="filterRateGroup(1, $event.checked, hotel.ResultIndex)">
                  Show only refundable
                </mat-checkbox>
              </div>
              <div class="col-md-4">
                <input class="form-control frm-filter" (keyup)="selecteRoomFiter(2, $event, hotel.ResultIndex)"
                  placeholder="room type" [matAutocomplete]="auto" type="text" [(ngModel)]="arrFiterRoom.Room">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let RoomType of arrFiterRoom.arrRooms" [value]="RoomType"
                    (onSelectionChange)="filterRateGroup(2,$event, hotel.ResultIndex)">
                    <span>{{RoomType}}</span>
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="col-md-4  ">
                <input class="form-control frm-filter" (keyup)="selecteRoomFiter(3, $event, hotel.ResultIndex)"
                  placeholder="meal plan" [matAutocomplete]="meal" type="text" [(ngModel)]="arrFiterRoom.Meal">
                <mat-autocomplete #meal="matAutocomplete">
                  <mat-option *ngFor="let Meal of arrFiterRoom.arrMeals" [value]="Meal"
                    (onSelectionChange)="filterRateGroup(3,$event, hotel.ResultIndex)">
                    <span>{{Meal}}</span>
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="col-md-1">
                <a href="javascript:;">clear</a>
              </div>
            </div> -->

            <!-- room details for single room -->

            <div *ngIf="objSearch.Rooms.length===1">
              <div *ngFor="let rate of hotel.List_RateGroup; let r = index">
                <div class="post_info clearfix" *ngIf="r===0" style="background: #eee;">
                  <div class="post-left">
                    <span class="">Room No. {{ rate.RoomOccupancy[0].RoomNo }} ({{
                      rate.RoomOccupancy[0].AdultCount
                      }}
                      x <i class="icon-adult cursor" title="Adult"></i> &
                      {{ rate.RoomOccupancy[0].ChildCount }} x
                      <i class="icon_group cursor" title="Child"></i> in
                      each room)</span>
                  </div>
                </div>
                <div class="padding" *ngFor="let occupancy of rate.RoomOccupancy; let oc = index">
                  <!-- <div class="post_info clearfix" *ngIf="r===0">
                    <div class="post-left">
                      <span class="">Room No. {{ occupancy.RoomNo }} ({{
                          occupancy.AdultCount
                        }}
                        x <i class="icon-adult cursor" title="Adult"></i> &
                        {{ occupancy.ChildCount }} x
                        <i class="icon_group cursor" title="Child"></i> in
                        each room)</span>
                    </div>
                  </div> -->
                  <div *ngFor="let rooms of occupancy.Rooms; let o = index ">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-lg-5">
                        <div class="row">
                          <div class="col-8 col-sm-8 col-lg-8">
                            <span class="size13 room-name">{{
                              rooms.RoomTypeName
                            }}</span>
                            <br />
                            <span class="size11">
                              {{
                                rooms.RoomDescription.length > 35
                                  ? (rooms.RoomDescription | slice: 0:35) + ".."
                                  : rooms.RoomDescription
                              }}
                            </span>
                          </div>
                          <div class="col-4 col-sm-4 col-lg-4">
                            <span class="size12" *ngIf="
                                rooms.AvailCount != 0 && 5 > rooms.AvailCount
                              ">{{ rooms.AvailCount }} Rooms</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-lg-3">
                        <div class="row">
                          <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length !== 0">
                            <a *ngIf="
                                rooms.CancellationPolicy[0].nonRefundable ==
                                false
                              " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#Refundable{{
                                hotel.HotelId
                              }}_{{ r }}_{{ oc }}_{{ o }}" href="#Refundable{{ hotel.HotelId }}_{{ r }}_{{
                                oc
                              }}_{{ o }}">
                              <span class="Refundable">Refundable</span>
                            </a>
                            <a *ngIf="
                                rooms.CancellationPolicy[0].nonRefundable ==
                                true
                              " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#nonRefundable{{
                                hotel.HotelId
                              }}_{{ r }}_{{ oc }}_{{ o }}" href="#nonRefundable{{ hotel.HotelId }}_{{
                                r
                              }}_{{ oc }}_{{ o }}">
                              <span class="nonRefundable">Non Refundable</span>
                            </a>
                          </div>
                          <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length === 0"></div>

                          <div class="col-lg-3 col-sm-3 col-3" *ngIf="rooms.tariffNotes!='' && rooms.tariffNotes!=null">
                            <a href="#note{{
                              hotel.HotelId
                            }}_{{ r }}_{{ oc }}_{{ o }}" data-toggle="collapse">
                              <i style="font-size: 24px;" title="click to show note"
                                class="accordion-toggle pe-7s-info cursor">
                              </i>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-lg-4">
                        <div class="row">
                          <div class="col-8 col-sm-8 col-lg-8">
                            <span class="room-price size13 bold">
                              {{ Currency }}.
                              {{ rooms.objCharges.TotalPrice.toFixed(2) }}
                            </span>
                          </div>
                          <div class="col-4 col-sm-4 col-lg-4">
                            <button style="float: right;" *ngIf="objSearch.Rooms.length == 1" type="button" (click)="
                                blockRoomParams(
                                  rooms,
                                  occupancy.RoomCount,
                                  hotel.ResultIndex,
                                  rate.RateIndex
                                )
                              " class="btn_cart_outine">
                              Book
                            </button>

                            <select class="ch-frm form-control" (change)="SetRoomoccupancy($event, oc, o, rate)"
                              [(ngModel)]="rooms._roomCount._selected" *ngIf="objSearch.Rooms.length != 1">
                              <option value="{{ rms }}" *ngFor="
                                  let item of rooms._roomCount._rooms;
                                  let rms = index
                                ">
                                {{ rms }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row collapse" id="Refundable{{ hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                        o
                      }}" attr.data-parent="#Refundable{{ hotel.HotelId }}_{{
                        r
                      }}_{{ oc }}_{{ o }}">
                      <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                          <strong>Cancellation Policy</strong><br />
                          <ul class="list_ok">
                            <li *ngFor="let c of rooms.CancellationPolicy">
                              {{ Currency }}
                              {{ c.CancellationFee.TotalPrice.toFixed(2) }}
                              charge will apply if cancelled 
                               <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) ==0.00" >before {{ c.dayMin }}</span>  
                               <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) !=0.00" >after {{ c.dayMax }}</span> 
                              
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="row collapse" id="nonRefundable{{ hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                        o
                      }}" attr.data-parent="#nonRefundable{{ hotel.HotelId }}_{{
                        r
                      }}_{{ oc }}_{{ o }}">
                      <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                          <span>Cancellation Policy</span><br />
                          This is <b>Non-Refundable </b>booking, there will be
                          no cancellation or amendment possible once booked
                        </div>
                      </div>
                    </div>

                    <!-- Tariff Notes start -->

                    <div class="row collapse" *ngIf="rooms.tariffNotes!=='' && rooms.tariffNotes!==null" id="note{{ hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                      o
                    }}">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <div class="alert alert-secondary" role="alert" [innerHTML]="rooms.tariffNotes">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Tariff Notes end -->
                    <div class="line3 clearfix"></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- room details for multiple rooms -->

            <div *ngIf="objSearch.Rooms.length>1">
              <div class="card" *ngFor="let rate of hotel.List_RateGroup; let r = index">
                <div class="card-header">
                  <h6>
                    <a class="accordion-toggle" data-toggle="collapse" href="#rateg{{ hotel.HotelId }}_{{ r }}">
                      Rate Group {{ r + 1 }}
                      <small *ngIf="SupplierVisible" style="text-transform: initial;">
                        ({{ hotel.Supplier }})
                      </small>
                    </a>
                  </h6>
                </div>
                <div id="rateg{{ hotel.HotelId }}_{{ r }}" [ngClass]="r == 0 ? 'collapse show' : 'collapse'">
                  <div class="card-body">
                    <div class="nopadding" *ngFor="let occupancy of rate.RoomOccupancy; let oc = index">
                      <div class="post_info clearfix" style="background: #eee;">
                        <div class="post-left">
                          <span class="">Room No. {{ occupancy.RoomNo }} ({{
                              occupancy.AdultCount
                            }}
                            x <i class="icon-adult cursor" title="Adult"></i> &
                            {{ occupancy.ChildCount }} x
                            <i class="icon_group cursor" title="Child"></i> in
                            each room)</span>
                        </div>
                      </div>
                      <div *ngFor="let rooms of occupancy.Rooms; let o = index">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-lg-5">
                            <div class="row">
                              <div class="col-8 col-sm-8 col-lg-8">
                                <span class="size13 room-name">{{
                                  rooms.RoomTypeName
                                }}</span>
                                <br />
                                <span class="size11">{{
                                  rooms.RoomDescription
                                }}</span>
                              </div>
                              <div class="col-4 col-sm-4 col-lg-4">
                                <span class="size12" *ngIf="
                                    rooms.AvailCount != 0 && 5 > rooms.AvailCount
                                  ">{{ rooms.AvailCount }} Rooms only</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-12 col-lg-3">
                            <div class="row">
                              <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length !== 0">
                                <a *ngIf="
                                    rooms.CancellationPolicy[0].nonRefundable ==
                                    false
                                  " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#Refundable{{
                                    hotel.HotelId
                                  }}_{{ r }}_{{ oc }}_{{ o }}" href="#Refundable{{ hotel.HotelId }}_{{ r }}_{{
                                    oc
                                  }}_{{ o }}">
                                  <span class="Refundable">Refundable</span>
                                </a>
                                <a *ngIf="
                                    rooms.CancellationPolicy[0].nonRefundable ==
                                    true
                                  " class="accordion-toggle" data-toggle="collapse" attr.data-parent="#nonRefundable{{
                                    hotel.HotelId
                                  }}_{{ r }}_{{ oc }}_{{ o }}" href="#nonRefundable{{ hotel.HotelId }}_{{
                                    r
                                  }}_{{ oc }}_{{ o }}">
                                  <span class="nonRefundable">Non Refundable</span>
                                </a>
                              </div>
                              <div class="col-9 col-sm-9 col-lg-9" *ngIf="rooms.CancellationPolicy.length === 0"></div>
                              <!-- <div class="col-3 col-sm-3 col-lg-3" >
                                                              <div class="score cursor">
                                                                  <span><i class="icon_set_1_icon-74"></i></span>
                                                              </div>
                                                          </div> -->
                              <div class="col-lg-3 col-sm-3 col-3" *ngIf="rooms.tariffNotes">
                                <i class="pe-7s-info cursor " style="font-size: 24px;" title="click to show note"
                                  class="accordion-toggle" data-toggle="collapse" attr.data-parent="#note{{
                                  hotel.HotelId
                                }}_{{ r }}_{{ oc }}_{{ o }}">
                                </i>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-12 col-lg-4">
                            <div class="row">
                              <div class="col-8 col-sm-8 col-lg-8">
                                <span class="room-price size13 bold">
                                  {{ Currency }}.
                                  {{ rooms.objCharges.TotalPrice.toFixed(2) }}
                                </span>
                              </div>
                              <div class="col-4 col-sm-4 col-lg-4">
                                <button style="float: right;" *ngIf="objSearch.Rooms.length == 1" type="button" (click)="
                                    blockRoomParams(rooms, occupancy.RoomCount, hotel.ResultIndex, rate.RateIndex)"
                                  class="btn_cart_outine">
                                  Book
                                </button>

                                <select class="ch-frm form-control" (change)="SetRoomoccupancy($event, oc, o, rate)"
                                  [(ngModel)]="rooms._roomCount._selected" *ngIf="objSearch.Rooms.length != 1">
                                  <option value="{{ rms }}" *ngFor="
                                      let item of rooms._roomCount._rooms;
                                      let rms = index
                                    ">
                                    {{ rms }}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row collapse" id="Refundable{{ hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                            o
                          }}" attr.data-parent="#Refundable{{ hotel.HotelId }}_{{
                            r
                          }}_{{ oc }}_{{ o }}">
                          <div class="col-md-12">
                            <div class="alert alert-success" role="alert">
                              <strong>Cancellation Policy</strong><br />
                              <ul class="list_ok">
                                <li *ngFor="let c of rooms.CancellationPolicy">
                                  {{ Currency }}
                                  {{ c.CancellationFee.TotalPrice.toFixed(2) }}
                                  charge will apply if cancelled 
                                  <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) ==0.00" >before {{ c.dayMin }}</span>  
                                  <span *ngIf="c.CancellationFee.TotalPrice.toFixed(2) !=0.00" >after {{ c.dayMax }}</span> 
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="row collapse" id="nonRefundable{{ hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                            o
                          }}" attr.data-parent="#nonRefundable{{ hotel.HotelId }}_{{
                            r
                          }}_{{ oc }}_{{ o }}">
                          <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                              <span>Cancellation Policy</span><br />
                              This is <b>Non-Refundable </b>booking, there will be
                              no cancellation or amendment possible once booked
                            </div>
                          </div>
                        </div>

                        <!-- Tariff Notes start -->

                        <div class="row collapse" *ngIf="rooms.tariffNotes" id="note{{ hotel.HotelId }}_{{ r }}_{{ oc }}_{{
                          o
                        }}" attr.data-parent="#note{{ hotel.HotelId }}_{{
                          r
                        }}_{{ oc }}_{{ o }}">
                          <div class="col-md-12">
                            <div class="col-md-12">
                              <div class="alert alert-secondary" role="alert" [innerHTML]="rooms.tariffNotes">
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Tariff Notes end -->
                        <div class="line3 clearfix"></div>
                      </div>
                    </div>
                    <div class="row muloccupancy" *ngIf="objSearch.Rooms.length != 1">
                      <div class="col-md-8"></div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-8">
                            <span class="room-price size13 bold" style="float: right">{{ Currency }}
                              {{ rate._commonPrice }}</span>
                          </div>
                          <div class="col-md-4">
                            <button style="float: right;" id="btn_{{ hotel.HotelId }}_{{ r }}" type="button"
                              class="btn_cart_outine" (click)="
                                blockMultipleRoom(
                                  rate.RoomOccupancy,
                                  hotel.ResultIndex,
                                  rate.RateIndex
                                )
                              ">
                              Book
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <hr *ngIf="Hotels.length != 0" />
        <div class="has-text-centered" *ngIf="Hotels.length != 0">
          <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
          <ngb-pagination [collectionSize]="Hotels.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <!-- end pagination-->
        <br />
      </div>
      <!-- End col lg-9 -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
  <ngx-ui-loader></ngx-ui-loader>
</main>

<div class="container margin_60" *ngIf="hoteldetail">
  <div class="row">
    <div class="col-md-12">
      <a style="cursor: pointer;font-size: 16px;" (click)="hideHotelDetails()"><i class="fs1" aria-hidden="true"
          data-icon="#"></i> Back to
        {{ objSearch.Destination.City }} Hotels</a>
      <br /><br />
    </div>
  </div>
  <app-hotel-details [selectedTab]="selectedTab" [id]="TockenID" [HotelDetails]="_hotelData">
  </app-hotel-details>
</div>