.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.card {
  margin-bottom: 0px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px !important;
  border-top: 2px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0px !important;
}

.card-body {
  padding: 0px 5px 0px 5px !important;
  line-height: 1.6 !important;
  border-top: 1px solid #ddd;
}

.post_info {
  padding: 2px 0 !important;
  border-bottom: 1px #ccc dashed;
  border-top: 1px #ccc dashed;
  margin-bottom: 12px;
  color: #999;
}

.post_info span {
  color: #333;
  margin-left: 12px;
}

.card-header {
  border-radius: 0px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ddd;
  background-color: #fff;
  border-bottom: none;
  padding-bottom: 0px !important;
  padding: 0.5rem 0px 0px 18px !important;
}

.size13 {
  font-size: 13px;
}

.bold {
  font-weight: 600;
}

.size11 {
  font-size: 11px;
}

.rateinfo {
  font-size: 11px;
  margin-top: 0px !important;
  cursor: pointer;
}

.btn_cart_outine {
  padding: inherit !important;
}

.room-price {
  color: #e74c3c;
}

.size14 {
  font-size: 14px;
}

.size12 {
  font-size: 12px;
}

.Refundable {
  cursor: pointer;
  color: #72bf66;
}

.line3 {
  background: #e8e8e8;
  height: 1px;
  margin: 0px 0px 10px 0px;
  padding: 0;
  display: block;
}

ul.list_ok {
  margin: 0 0 0px 0 !important;
}

.nonRefundable {
  cursor: pointer;
  color: #ff3300;
}

.ch-frm {
  height: 24px !important;
  padding: 3px !important;
}

.muloccupancy {
  margin-bottom: 5px !important;
}

#position ul.short-details li:first-child:before {
  contain: none !important;
  font-style: normal;
  font-weight: normal;
  font-family: "fontello";
  position: absolute;
  left: 0;
  top: 1px;
  color: #fff;
}

.short-details {
  color: #fff !important;
}

#position ul li a {
  color: #fff;
  opacity: unset !important;
}

.cursor {
  cursor: pointer;
}

.price_list {
  display: table;
  height: 220px;
  font-size: 20px !important;
  color: #e74c3c;
  width: 100%;
  margin-left: -15px;
}

a.btn_1,
.btn_1 {
  padding: 7px 15px !important;
}

.score {
  margin-top: 0px !important;
}

agm-map {
  height: 480px;
}

.btn_1 {
  font-weight: 500 !important;
}

.room-name {
  color: #333 !important;
}

.padding {
  padding: 0px 10px 0px 10px;
}

.frm-filter {
  height: 30px !important;
}

::ng-deep .mat-option {
  font-size: 12px !important;
}

::ng-deep .mat-option {
  font-size: 12px !important;
  height: 35px !important;
}

.score span {
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #999 !important;
  line-height: 30px !important;
}

.tour_list_desc .rating {
  margin: 8px 0 3px -3px !important;
}
