kendo-pdf-export body{
	width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;
}
kendo-pdf-export #td_eticketlabel{
	 padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;
}

kendo-pdf-export #td__logo {
	padding:0;Margin:0;
}

kendo-pdf-export #td_PaxDetails{
	 border-collapse:collapse;border-spacing:0px;height:100%;width:100%;
	 mso-table-lspace:0pt;mso-table-rspace:0pt;
}

kendo-pdf-export #td_Adult{
	 padding:0;Margin:0;font-size:12px;
}
kendo-pdf-export #tdChild{
	padding:0;Margin:0;font-size:12px;
}
kendo-pdf-export #tdInfant{
	padding:0;Margin:0;font-size:12px;
}

kendo-pdf-export .cke_show_border{
	border-collapse:collapse;border-spacing:0px;height:100%;width:100%;
	mso-table-lspace:0pt;mso-table-rspace:0pt;
}