<kendo-pdf-export #pdf forcePageBreak=".page-break" paperSize="A4" margin="0cm" [scale]="scale"
    class="container margin_60 ">
    <table *ngFor="let ticket of arrTicket; let i=index" [ngClass]="i==0 ? 'es-wrapper' : 'es-wrapper page-break'"
        width="100%" cellspacing="0" cellpadding="0"
        style="border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;">
        <tbody>
            <tr style="border-collapse:collapse;">
                <td valign="top" style="padding:0;Margin:0;">
                    <table class="es-content " cellspacing="0" cellpadding="0" align="center"
                        style="border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
                        <tbody>
                            <tr style="border-collapse:collapse;">
                                <td align="center" style="padding:0;Margin:0;">
                                    <table class="es-content-body" width="1000" cellspacing="0" cellpadding="0"
                                        bgcolor="#ffffff" align="center"
                                        style="border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
                                        <tbody>
                                            <tr style="border-collapse:collapse;">
                                                <td align="left"
                                                    style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;"
                                                    id="td_eticketlabel">
                                                    <!--[if mso]><table width="560" cellpadding="0"
                               cellspacing="0"><tr><td width="373" valign="top"><![endif]-->
                                                    <table class="box_style_1" cellpadding="0" cellspacing="0"
                                                        class="es-left" align="left"
                                                        style="border-collapse:collapse;border-spacing:0px;float:left;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="373" class="es-m-p0r es-m-p20b" valign="top"
                                                                    align="center" style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left" class="es-m-txt-c"
                                                                                    bgcolor="transparent"
                                                                                    style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;padding-left:15px;">
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:16px;color:#333333;">
                                                                                        <strong>E-TICKET /&nbsp;
                                                                                            VOUCHER</strong></p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--[if mso]></td><td width="20"></td><td width="167" valign="top"><![endif]-->
                                                    <table cellpadding="0" cellspacing="0" align="right"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="167" align="left"
                                                                    style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="border-collapse:separate;border-spacing:0px;background-position:center top;background-repeat:no-repeat;border-radius:1px;"
                                                                        background="">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;"
                                                                                    id="td__logo"><img
                                                                                        [src]="ticket.logo" alt=""
                                                                                        style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"
                                                                                        width="164"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--[if mso]></td></tr></table><![endif]-->
                                                </td>
                                            </tr>
                                            <tr style="border-collapse:collapse;">
                                                <td align="left" style="padding:0;Margin:0;">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="600" align="center" valign="top"
                                                                    style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;">
                                                                                        <br></p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <table border="0" width="100%"
                                                                                        height="100%" cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                                        <tbody>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0px;border-bottom:2px solid #333333;background:none;height:1px;width:100%;margin:0px;">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="border-collapse:collapse;">
                                                <td align="left"
                                                    style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;">
                                                    <!--[if mso]><table width="560" cellpadding="0" cellspacing="0"><tr><td width="133" valign="top"><![endif]-->
                                                    <table cellpadding="0" cellspacing="0" class="es-left" align="left"
                                                        style="border-collapse:collapse;border-spacing:0px;float:left;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="133" class="es-m-p0r es-m-p20b" valign="top"
                                                                    align="center" style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left"
                                                                                    style="padding:0;Margin:0;"><img
                                                                                        class="adapt-img"
                                                                                        [src]="ticket.QrCode" alt=""
                                                                                        style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"
                                                                                        width="110"></td>
                                                                            </tr>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="center"
                                                                                    style="padding: 2px;Margin:0;">
                                                                                    <p
                                                                                        style="margin-left: -15%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:10px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:15px;color:#333333;">
                                                                                        <strong>{{ticket.TicketNo}}</strong>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--[if mso]></td><td width="0"></td><td width="427" valign="top"><![endif]-->
                                                    <table cellpadding="0" cellspacing="0" align="right"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="427" align="left"
                                                                    style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left"
                                                                                    style="padding:0;Margin:0;padding-top:15px;padding-bottom:20px;padding-right:40px;">
                                                                                    <table border="0" align="left"
                                                                                        cellspacing="2" cellpadding="1"
                                                                                        style="border-collapse:collapse;border-spacing:0px;height:100%;width:100%;"
                                                                                        class="cke_show_border">
                                                                                        <tbody>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <strong>Voucher
                                                                                                        No</strong></td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    {{ticket.VoucherNo}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <strong>Booking
                                                                                                        Date</strong>
                                                                                                </td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    {{ticket.BookinDate}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <strong>Tour
                                                                                                        Name</strong>
                                                                                                </td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    {{ticket.Sightseeing}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <strong>Address</strong>
                                                                                                </td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    {{ticket.Address}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <strong>Travel
                                                                                                        Date</strong>
                                                                                                </td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    {{ticket.traveldate}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <strong>Tour / Slot
                                                                                                        Time</strong>
                                                                                                </td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    {{ticket.SlotTime}}
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:17px;color:#333333;">
                                                                                        <br></p>
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:17px;color:#333333;">
                                                                                        <br></p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--[if mso]></td></tr></table><![endif]-->
                                                </td>
                                            </tr>
                                            <tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="left" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;" valign="top" width="600"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><p _ngcontent-wqe-c25="" style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;"> </p></td></tr><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" border="0" cellpadding="0" cellspacing="0" height="100%" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" style="padding:0;Margin:0px 0px 0px 0px;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px;"></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr>
                                            <tr style="border-collapse:collapse;">
                                                <td align="left" style="padding:0;Margin:0;padding-left:15px;">
                                                    <table cellspacing="0" cellpadding="0" width="100%"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="585" valign="top" align="center"
                                                                    style="padding:0;Margin:0;">
                                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <table border="0" align="left"
                                                                                        cellspacing="5" cellpadding="2"
                                                                                        style="border-collapse:collapse;border-spacing:0px;height:100%;width:100%;"
                                                                                        class="cke_show_border"
                                                                                        id="td_PaxDetails">
                                                                                        <tbody>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <p
                                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;color:#333333;">
                                                                                                        <br></p>
                                                                                                    <p
                                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:12px;color:#333333;">
                                                                                                        <strong>Guest
                                                                                                            Name</strong>
                                                                                                    </p>
                                                                                                </td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <p
                                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;color:#333333;">
                                                                                                        <br></p>
                                                                                                    <p
                                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:12px;color:#333333;">
                                                                                                        {{ticket.GuestName}}
                                                                                                    </p>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                    <strong>Total
                                                                                                        Guest</strong>
                                                                                                </td>
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;">
                                                                                                    <table border="0"
                                                                                                        cellspacing="2"
                                                                                                        cellpadding="0"
                                                                                                        style="border-collapse:collapse;border-spacing:0px;height:100%;width:100%;"
                                                                                                        class="cke_show_border">
                                                                                                        <tbody>
                                                                                                            <tr
                                                                                                                style="border-collapse:collapse;">
                                                                                                                <td
                                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                                    <strong>Adult</strong>
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                                    <strong>Child</strong>
                                                                                                                </td>
                                                                                                                <td
                                                                                                                    style="padding:0;Margin:0;font-size:12px;">
                                                                                                                    <strong>Infant</strong>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr
                                                                                                                style="border-collapse:collapse;">
                                                                                                                <td style="padding:0;Margin:0;font-size:12px;"
                                                                                                                    id="td_Adult">
                                                                                                                    {{ticket.Adult}}
                                                                                                                </td>
                                                                                                                <td style="padding:0;Margin:0;font-size:12px;"
                                                                                                                    id="tdChild">
                                                                                                                    {{ticket.Child}}
                                                                                                                </td>
                                                                                                                <td style="padding:0;Margin:0;font-size:12px;"
                                                                                                                    id="tdInfant">
                                                                                                                    {{ticket.Infant}}
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                    <p
                                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;color:#333333;text-align:center;">
                                                                                                        <br></p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;color:#333333;">
                                                                                        <br></p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                            <tr style="border-collapse:collapse;">
                                                <td align="left" style="padding:0;Margin:0;">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="600" align="center" valign="top"
                                                                    style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;">
                                                                                        {{ticket.pickup}}</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <table border="0" width="100%"
                                                                                        height="100%" cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                                        <tbody>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0px 0px 0px 0px;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px;">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr  style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="left" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;" valign="top" width="600"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><p _ngcontent-wqe-c25="" style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;"> </p></td></tr><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" border="0" cellpadding="0" cellspacing="0" height="100%" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" style="padding:0;Margin:0px 0px 0px 0px;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px;"></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr>

                                            <tr style="border-collapse:collapse;">
                                                <td align="left"
                                                    style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;">
                                                    <!--[if mso]><table width="560" cellpadding="0" 
                           cellspacing="0"><tr><td width="284" valign="top"><![endif]-->
                                                    <table class="es-left" cellspacing="0" cellpadding="0" align="left"
                                                        style="border-collapse:collapse;border-spacing:0px;float:left;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td class="es-m-p20b" width="284" align="left"
                                                                    style="padding:0;Margin:0;">
                                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <table border="0" cellspacing="5"
                                                                                        cellpadding="0"
                                                                                        style="border-collapse:collapse;border-spacing:0px;height:100%;width:100%;"
                                                                                        class="cke_show_border">

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <caption
                                                                                                        style="font-size:12px;">
                                                                                                        <p
                                                                                                            style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:17px;color:#333333;">
                                                                                                            <strong>Inclusions</strong>
                                                                                                        </p>
                                                                                                    </caption>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;">
                                                                                                    <ul
                                                                                                        style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:10px;Margin-bottom:15px;color:#333333;">
                                                                                                        <li
                                                                                                            *ngFor="let inclusion of ticket.Inclusions">
                                                                                                            {{inclusion}}
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--[if mso]></td><td width="0"></td><td width="276" valign="top"><![endif]-->
                                                    <table class="es-right" cellspacing="0" cellpadding="0"
                                                        align="right"
                                                        style="border-collapse:collapse;border-spacing:0px;float:right;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="276" align="left"
                                                                    style="padding:0;Margin:0;">
                                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <table border="0" cellspacing="5"
                                                                                        cellpadding="1"
                                                                                        style="border-collapse:collapse;border-spacing:0px;height:100%;width:100%;"
                                                                                        class="cke_show_border">

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <caption
                                                                                                        style="font-size:12px;">
                                                                                                        <p
                                                                                                            style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;color:#333333;">
                                                                                                            <strong>Exclusions</strong>
                                                                                                        </p>
                                                                                                    </caption>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;">
                                                                                                    <ul
                                                                                                        style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:10px;Margin-bottom:15px;color:#333333;">
                                                                                                        <li
                                                                                                            *ngFor="let exclusion of ticket.Exclusions">
                                                                                                            {{exclusion}}
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--[if mso]></td></tr></table><![endif]-->
                                                </td>
                                            </tr>
                                            <tr  style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="left" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;" valign="top" width="600"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><p _ngcontent-wqe-c25="" style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;"> </p></td></tr><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" border="0" cellpadding="0" cellspacing="0" height="100%" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" style="padding:0;Margin:0px 0px 0px 0px;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px;"></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr>

                                            <tr style="border-collapse:collapse;">
                                                <td align="left"
                                                    style="padding:0;Margin:0;padding-left:20px;padding-right:20px;">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="560" align="center" valign="top"
                                                                    style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                          
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left"
                                                                                    style="padding:0;Margin:0;padding-left:5px;">
                                                                                    <table border="0" cellspacing="2"
                                                                                        cellpadding="1"
                                                                                        style="border-collapse:collapse;border-spacing:0px;height:100%;width:100%;"
                                                                                        class="cke_show_border">

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <caption>
                                                                                                        <p
                                                                                                            style="    width: 200px;Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:18px;color:#333333;text-align:left;">
                                                                                                            <strong>Activity
                                                                                                                / Tour
                                                                                                                Policies</strong>
                                                                                                        </p>
                                                                                                    </caption>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;">
                                                                                                    <ul
                                                                                                        style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:12px;Margin-bottom:15px;color:#333333;">
                                                                                                        <li
                                                                                                            [innerHtml]="ticket.Policy">

                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;">
                                                                                        <br></p>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="left"
                                                                                    style="padding:0;Margin:0;padding-left:5px;">
                                                                                    <table border="0" cellspacing="2"
                                                                                        cellpadding="1"
                                                                                        style="border-collapse:collapse;border-spacing:0px;height:100%;width:100%;"
                                                                                        class="cke_show_border">

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <caption>
                                                                                                        <p
                                                                                                            style="    width: 100px;Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:18px;color:#333333;text-align:left;">
                                                                                                            <b>&nbsp;Genral
                                                                                                                Note</b>
                                                                                                        </p>
                                                                                                    </caption>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr
                                                                                                style="border-collapse:collapse;">
                                                                                                <td
                                                                                                    style="padding:0;Margin:0;">
                                                                                                    <ul>
                                                                                                        <li
                                                                                                            style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:9px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;Margin-bottom:15px;color:#333333;">
                                                                                                            It is
                                                                                                            compulsory
                                                                                                            to carry
                                                                                                            this voucher
                                                                                                            / ticket
                                                                                                        </li>
                                                                                                        <li
                                                                                                            style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:9px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:14px;Margin-bottom:15px;color:#333333;">
                                                                                                            Kindly carry
                                                                                                            your valid
                                                                                                            ID card</li>
                                                                                                    </ul>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;">
                                                                                        <br></p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr  style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="left" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;" valign="top" width="600"><table _ngcontent-wqe-c25="" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><p _ngcontent-wqe-c25="" style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;"> </p></td></tr><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" align="center" style="padding:0;Margin:0;"><table _ngcontent-wqe-c25="" border="0" cellpadding="0" cellspacing="0" height="100%" style="border-collapse:collapse;border-spacing:0px;" width="100%"><tbody _ngcontent-wqe-c25=""><tr _ngcontent-wqe-c25="" style="border-collapse:collapse;"><td _ngcontent-wqe-c25="" style="padding:0;Margin:0px 0px 0px 0px;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px;"></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr>

                                            <tr style="border-collapse:collapse;">
                                                <td align="left"
                                                    style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr style="border-collapse:collapse;">
                                                                <td width="560" align="center" valign="top"
                                                                    style="padding:0;Margin:0;">
                                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                                                        <tbody>
                                                                            <tr style="border-collapse:collapse;">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;">
                                                                                    <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;">
                                                                                        <strong><span
                                                                                                style="font-size:12px;">&nbsp;
                                                                                                &nbsp; &nbsp;
                                                                                                &nbsp;</span></strong><span
                                                                                            style="font-size:12px;"><strong>
                                                                                                &nbsp; &nbsp;NOTE
                                                                                            </strong>: Present this
                                                                                            E-ticket /voucher to access
                                                                                            your activity / tour</span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <button kendo-button (click)="pdf.saveAs('Ticket.pdf')" class="btn_full" id="btn_Voucher_pdf"
        style="display: none"></button>
</kendo-pdf-export>