<!-- <section id="search_container">
  <div id="search">
    <div class="tab-content">
      <h4>Book Domestic and International Packages</h4>
      <app-search-package></app-search-package>
    </div>
  </div>
</section> -->

<div id="search_container_2">
  <div id="search_2">
    <app-package-search></app-package-search>
  </div>
</div>