:host ::ng-deep .ltr {
  left: -220px !important;
}

.hotel-room {
  color: #555;
  font-weight: 500;
}

.qtyButtons {
  display: flex;
  margin: 0 0 0px !important;
}

.qtyInc,
.qtyDec {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.ch-age {
  font-size: 8px !important;
  margin-bottom: 0px !important;
  color: #727b82;
}

.ch-frm {
  height: 24px !important;
  padding: 3px !important;
}

.ch-col {
  width: 20% !important;
  margin-left: 10px;
}

.plus_box1 {
  background-color: #f63869;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 23px;
  margin-right: 0;
  outline: none;
  width: 26px;
  height: 26px;
  line-height: 0;
}

.addroom {
  margin-top: 4px;
  color: #44aa00 !important;
  padding: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 6px;
  margin-bottom: 6px;
  font-size: 11px;
  border: 1px solid #44aa00;
  padding: 0px 5px;
  float: left;
  text-decoration: none;
  cursor: pointer;
  display: block;
  background: inherit;
}

.removeroom {
  color: #e00005;
  border-color: #f7941d;
}

.roomTxt {
  color: #000;
  font-weight: 600;
  margin-bottom: 1px;
}

.exitroom {
  color: #ffffff !important;
  background: #f7941d;
  float: right;
  margin-right: 6px;
  border-color: #f7941d;
  display: block;
  padding: 0px 15px;
}

.qtyButtons input {
  font-size: 13px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin: 0 !important;
  padding: 0 5px !important;
}

.ch-col select {
  display: block !important;
}


.custom-search-input-2 input[type="button"] {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  padding: 0px;
  height: 50px;
  cursor: pointer;
  outline: none;
  width: 100%;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #e14d67;
  margin-right: -1px;
}

.custom-search-input-2 input[type="button"]:hover {
  background-color: #008489;
  color: #fff;
}

/* :host ::ng-deep .available{
  color: #988c8c !important;
}

:host ::ng-deep .md-drppicker td.active, .md-drppicker td.active:hover {
  background-color: #3f51b5 !important;
  border-color: transparent !important;
  color: #fff !important;
} */