<div class="row no-gutters custom-search-input-2">
  <div class="col-lg-3">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="City Name" [(ngModel)]="objTraveller.Location"
        aria-label="State" [matAutocomplete]="auto" [formControl]="searchMoviesCtrl">
      <i class="icon_pin_alt"></i>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let Name of hotelcity" [value]="Name.value" (onSelectionChange)="selectedCity(Name)">
            <span>{{Name.value}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="When.." ngxDaterangepickerMd
        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" startKey="start" endKey="end" [autoApply]="true"
        [opens]="opens" [minDate]="minDate" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true"
        [closeOnAutoApply]="true" [(ngModel)]="objTraveller.Date" name="daterange" (change)="change($event)" />
      <i class="icon_calendar"></i>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Nationality.." [(ngModel)]="objTraveller.Nationality"
        aria-label="Nationality" [matAutocomplete]="nationalityauto" [formControl]="nationalityCtrl">
      <i class="icon_set_1_icon-61"></i>

      <mat-autocomplete #nationalityauto="matAutocomplete">
        <mat-option *ngFor="let Country of arrCountry | async" [value]="Country.Countryname">
          <span> <img with="20" height="20" src="../../../assets/img/flag/{{Country.Countryname | lowercase}}.gif">
            {{Country.Countryname}}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="panel-dropdown">
      <a href="javascript:;">
        {{Guests}}
      </a>
      <div class="panel-dropdown-content">
        <!-- Quantity Buttons -->
        <div *ngFor="let traveller of Traveller; let i=index; let first=first; let last=last;">
          <hr *ngIf="i>0" class="my-2" />
          <label class="hotel-room"> Room {{i+1}} </label>
          <div class="qtyButtons">
            <label>Adults <small>(12+ yrs)</small></label>
            <div class="qtyDec" (click)="changeTravellers(i,minus,'ad')"></div>
            <input type="text" [(ngModel)]="traveller.adults" [(value)]="traveller.adults">
            <div class="qtyInc" (click)="changeTravellers(i,plus,'ad')"></div>
          </div>
          <div class="qtyButtons">
            <label>Children <small>(2-12 yrs)</small></label>
            <div class="qtyDec" (click)="changeTravellers(i,minus,'ch')"></div>
            <input type="text" [(ngModel)]="traveller.childs.length" [(value)]="traveller.childs.length">
            <div class="qtyInc" (click)="changeTravellers(i,plus,'ch')"></div>
          </div>
          <div class="row align-items-center">
            <div class="ch-col" *ngFor="let c of traveller.childs; let j=index">
              <div class="qty form-group">
                <label class="ch-age">Child {{j+1}} Age</label>
                <select [(ngModel)]="c.childAge" class="ch-frm form-control" style="cursor: pointer">
                  <option *ngFor="let age of c.ages" [value]="age">{{age}}</option>
                </select>
              </div>
            </div>
          </div>
          <hr *ngIf="last" class="my-2" />
        </div>

        <div class="row align-items-center">
          <div class="col-sm-12">
            <button class="addroom" id="addr" *ngIf="4>Traveller.length" (click)="Addrooms(Traveller.length)">
              + Add Room
            </button>
            <button class="addroom removeroom" *ngIf="Traveller.length>1" id="rmv" (click)="RemoveRoom()">
              x Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <input type="button" class="btn_search" (click)="SearchHotelParams()" value="Search">
  </div>
</div>