<section class="parallax-window" data-parallax="scroll"   [attr.data-image-src]="img" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
     <h1>Privacy Policy</h1>
      <!--  <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
    </div>
  </div>
</section>

<main>
  
    
<div class="container margin_60" >

    
    
        
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    use your data to provide and improve the Service. By using the Service, you
    agree to the collection and use of information in accordance with this policy.
    Unless otherwise defined in this Privacy Policy, terms used in this Privacy
    Policy have the same meanings as in our Terms and Conditions, accessible
    from&nbsp;<a href="http://www.cenintravels.com/" target="_blank"><span
    style='color:#598FDE'>http://www.cenintravels.com/</span></a></span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Information
    Collection And Use</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    collect several different types of information for various purposes to provide
    and improve our Service to you.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:15.0pt;font-family:"Arial",sans-serif;color:#333333'>Types
    of Data Collected</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Personal
    Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>While
    using our Service, we may ask you to provide us with certain personally
    identifiable information that can be used to contact or identify you
    (&quot;Personal Data&quot;). Personally identifiable information may include,
    but is not limited to:</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>Email address</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>First name and last name</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>Phone number</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>Address, State, Province, ZIP/Postal code, City</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>Cookies and Usage Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Usage
    Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    may also collect information how the Service is accessed and used (&quot;Usage
    Data&quot;). This Usage Data may include information such as your computer's
    Internet Protocol address (e.g. IP address), browser type, browser version, the
    pages of our Service that you visit, the time and date of your visit, the time
    spent on those pages, unique device identifiers and other diagnostic data.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Tracking
    &amp; Cookies Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    use cookies and similar tracking technologies to track the activity on our
    Service and hold certain information.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Cookies
    are files with small amount of data which may include an anonymous unique
    identifier. Cookies are sent to your browser from a website and stored on your
    device. Tracking technologies also used are beacons, tags, and scripts to
    collect and track information and to improve and analyze our Service.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>You
    can instruct your browser to refuse all cookies or to indicate when a cookie is
    being sent. However, if you do not accept cookies, you may not be able to use
    some portions of our Service.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Examples
    of Cookies we use:</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>Session Cookies.</span></b><span style='font-size:12.0pt;
    font-family:"Arial",sans-serif;color:#333333'>&nbsp;We use Session Cookies to
    operate our Service.</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>Preference Cookies.</span></b><span style='font-size:12.0pt;
    font-family:"Arial",sans-serif;color:#333333'>&nbsp;We use Preference Cookies
    to remember your preferences and various settings.</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><b><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>Security Cookies.</span></b><span style='font-size:12.0pt;
    font-family:"Arial",sans-serif;color:#333333'>&nbsp;We use Security Cookies for
    security purposes.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Use
    of Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'><a
    href="http://www.cenintravels.com/" target="_blank"><span style='color:#598FDE'>http://www.cenintravels.com/</span></a>&nbsp;uses
    the collected data for various purposes:</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To provide and maintain the Service</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To notify you about changes to our Service</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To allow you to participate in interactive features of our
    Service when you choose to do so</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To provide customer care and support</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To provide analysis or valuable information so that we can
    improve the Service</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To monitor the usage of the Service</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To detect, prevent and address technical issues</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Transfer
    Of Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Your
    information, including Personal Data, may be transferred to <i class=' icon-ok-circled'></i> and maintained on
    <i class=' icon-ok-circled'></i> computers located outside of your state, province, country or other
    governmental jurisdiction where the data protection laws may differ than those
    from your jurisdiction.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>If
    you are located outside India and choose to provide information to us, please
    note that we transfer the data, including Personal Data, to India and process
    it there.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Your
    consent to this Privacy Policy followed by your submission of such information
    represents your agreement to that transfer.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'><a
    href="http://www.cenintravels.com/" target="_blank"><span style='color:#598FDE'>http://www.cenintravels.com/</span></a>&nbsp;will
    take all steps reasonably necessary to ensure that your data is treated
    securely and in accordance with this Privacy Policy and no transfer of your
    Personal Data will take place to an organization or a country unless there are
    adequate controls in place including the security of your data and other personal
    information.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Disclosure
    Of Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:15.0pt;font-family:"Arial",sans-serif;color:#333333'>Legal
    Requirements</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'><a
    href="http://www.cenintravels.com/" target="_blank"><span style='color:#598FDE'>http://www.cenintravels.com/</span></a>&nbsp;may
    disclose your Personal Data in the good faith belief that such action is
    necessary to:</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To comply with a legal obligation</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To protect and defend the rights or property of&nbsp;<a
    href="http://www.cenintravels.com/" target="_blank"><span style='color:#598FDE'>http://www.cenintravels.com/</span></a></span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To prevent or investigate possible wrongdoing in connection with
    the Service</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To protect the personal safety of users of the Service or the
    public</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>To protect against legal liability</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Security
    Of Data</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>The
    security of your data is important to us, but remember that no method of
    transmission over the Internet, or method of electronic storage is 100% secure.
    While we strive to use commercially acceptable means to protect your Personal
    Data, we cannot guarantee its absolute security.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Service
    Providers</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    may employ third party companies and individuals to facilitate our Service
    (&quot;Service Providers&quot;), to provide the Service on our behalf, to
    perform Service-related services or to assist us in analyzing how our Service
    is used.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>These
    third parties have access to your Personal Data only to perform these tasks on
    our behalf and are obligated not to disclose or use it for any other purpose.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Links
    To Other Sites</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Our
    Service may contain links to other sites that are not operated by us. If you
    click on a third party link, you will be directed to that third party's site.
    We strongly advise you to review the Privacy Policy of every site you visit.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    have no control over and assume no responsibility for the content, privacy
    policies or practices of any third party sites or services.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Children's
    Privacy</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>Our
    Service does not address anyone under the age of 18 (&quot;Children&quot;).</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    do not knowingly collect personally identifiable information from anyone under
    the age of 18. If you are a parent or guardian and you are aware that your
    Children has provided us with Personal Data, please contact us. If we become
    aware that we have collected Personal Data from children without verification
    of parental consent, we take steps to remove that information from our servers.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Changes
    To This Privacy Policy</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    may update our Privacy Policy from time to time. We will notify you of any
    changes by posting the new Privacy Policy on this page.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>We
    will let you know via email and/or a prominent notice on our Service, prior to
    the change becoming effective and update the &quot;effective date&quot; at the
    top of this Privacy Policy.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>You
    are advised to review this Privacy Policy periodically for any changes. Changes
    to this Privacy Policy are effective when they are posted on this page.</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;color:#333333'>Contact
    Us</span></p>
    
    <p class=MsoNormal style='margin-bottom:22.5pt;line-height:normal;background:
    white'><span style='font-size:12.0pt;font-family:"Arial",sans-serif;color:#333333'>If
    you have any questions about this Privacy Policy, please contact us:</span></p>
    
    <p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;line-height:
    normal;background:white'><span style='font-size:10.0pt;font-family:Symbol;
    color:#333333'><i class=' icon-ok-circled'></i><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><span style='font-size:12.0pt;font-family:"Arial",sans-serif;
    color:#333333'>By visiting this page on our website:&nbsp;<a
    href="http://www.cenintravels.com/" target="_blank"><span style='color:#598FDE'>http://www.cenintravels.com/</span></a></span></p>
    
    <p class=MsoNormal>&nbsp;</p>
    
    </div>

  
    </main>
         
    <!-- End main -->