.departure {
  /* background:url('../images/check.png'); */
}
div.Arival {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 100%;

  border: 1px solid transparent;
}

div.Arival:last-child {
  margin: 0px;
}

div.Arival:hover {
  border: 1px solid #878787;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.Arival.unselected {
  /*opacity:0.6;*/
  filter: alpha(opacity=60);
}

div.Arival.selected {
  border: 1px solid #32a24e;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Departure*/
div.Departure {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 100%;
  border: 1px solid transparent;
}

div.Departure:last-child {
  margin: 0px;
}

div.Departure:hover {
  border: 1px solid #ff0000;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.Departure.unselected {
  /*opacity:0.6;*/
  filter: alpha(opacity=60);
}

div.Departure.selected {
  border: 1px solid #ff0000;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/***/
.ipadnone {
  display: none;
}
.margin_top_17 {
  margin-top: -17px;
}
#PassengerDetail em.error {
  color: red;
  font-size: 0.9em;
  width: 100%;
  float: left;
}
.auto {
  margin: 0 auto;
}
.form_box {
  border: 3px solid #eee;
  float: left;
  padding: 2%;
  width: 67%;
}
.fl_search {
  float: left;
  width: 100%;
}
.fl_nav {
  float: left;
  border: 1px solid #c0bebe;
  list-style: none;
  display: inline;
  border-radius: 5px;
}
.fl_nav li {
  list-style: none;
  display: inline;
}
.fl_nav li a {
  padding: 6px 15px;
  border-right: 1px solid #c0bebe;
  float: left;
}
.sstab {
  width: 100%;
}
.sstab li {
  width: 50% !important;
}
.sstab li a {
  padding: 10px !important;
  font-weight: bold;
}
.for_desk_mob {
  margin-left: -4px;
  border-radius: 0 5px 5px 0;
}
.fl_row {
  width: 100%;
  float: left;
  margin: 10px 0 5px;
}
.fl_sel {
  float: left;
  line-height: 18px;
  font-size: 13px;
}
.fl_sel a {
  text-decoration: none;
  font-size: 12px;
}
.fl_sel a:hover {
  text-decoration: underline;
}
.fl_sel_unsel {
  float: left;
  margin-right: 20px;
  line-height: 18px;
}
.fl_sel_unsel a {
  text-decoration: none;
  padding: 0 3px;
}
.fl_sel_unsel a:hover {
  text-decoration: underline;
}
.flight_left {
  float: left;
  width: 48%;
}
.fl_right {
  float: right;
  width: 48%;
}
.fl_row input[type="text"],
.fl_row select {
  border-radius: 3px;
  border: 1px solid #cac9c9;
}
.fl_row input[type="text"] {
  padding: 8px;
}
.fl_row select {
  padding: 7px;
}
.fl_row label {
  float: left;
  width: 99%;
  margin: 0px 0 3px 0;
}
.fl_row select {
  width: 32%;
  margin: 0px;
}
.passengerbox {
  width: 16%;
  margin-right: 1.3%;
}
.passengerbox > .psng_sel {
  width: 95%;
  float: left;
  padding: 7px;
}
.passenger_class {
  width: 21%;
  float: left;
}
.passenger_class select {
  width: 100%;
  float: left;
}
.fl_cal {
  cursor: pointer;
}
.golden_txt {
  font-size: 14px;
  font-weight: bold;
}
.flightchk_box {
  float: left;
  padding: 10px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 3px;
}
.fl_check_box {
  float: left;
  width: 33%;
}
.fl_check_box > p {
  margin: 0;
  padding: 5px 0 5px;
}
.fl_check_box > p input {
  margin: 0 6px;
  float: left;
}

.fl_check_box_res {
  float: left;
  padding: 3px 5px;
  border: 1px solid #e1e1e1;
  *width: 82% !important;
  width: 87%;
  border-radius: 5px;
}
.fl_check_box_restrict {
  float: left;
  width: 25%;
}
.fl_check_box_restrict > p {
  margin: 0;
  padding: 4px 0 4px;
}
.fl_check_box_restrict > p input {
  margin: 0 6px;
  float: left;
}

.modify_flightchk_box {
  float: left;
  padding: 3px 5px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 5px;
}
.modify_fl_check_box {
  float: left;
  width: 140px;
}
.modify_fl_check_box > p {
  margin: 0;
  padding: 5px 0 5px;
}
.modify_fl_check_box > p input {
  margin: 0 6px;
  float: left;
}

.btn_bg {
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
}
.btn_bg span {
  font-weight: bold;
  float: left;
  padding: 5px;
}
.btn_bg span:hover {
  text-decoration: underline;
}
.tl_form p a:hover {
  text-decoration: none;
}
.btn_bg button,
.btn_bg input {
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.fl_check_box p {
  float: left;
  width: 100%;
}
.fl_radio > input {
  border: none !important;
}

.ticket_body > table input[type="text"] {
  border-radius: 5px;
  padding: 1%;
  border: 1px solid #bababa;
  width: 97%;
}

.calinput {
  width: 67%;
}

/*calenderfare*/
.calf_table {
  border-collapse: collapse;
  border: 1px solid #cac9c9;
}
.calf_table td {
  padding: 5px;
  border-collapse: collapse;
  border: 1px solid #cac9c9;
}
.claf_td em,
.claf_td b,
.claf_td dfn {
  width: 100%;
  float: left;
}
.claf_td em {
  font-size: 10px;
}
.claf_td b {
  font-size: 11px;
}
.claf_td dfn {
  font-size: 10px;
}
.day {
  font-weight: bold;
}
.claf_td.selected,
.claf_td:hover {
  cursor: pointer;
}
.airfare span {
  font-size: 8px;
}

/*notification icon*/

.ntficons a.noti1 {
  height: 25px;
}
.ntficons a.noti2 {
  width: 22px;
  height: 25px;
}
.ntficons a.noti3 {
  width: 23px;
  height: 25px;
}
.ntficons a.noti4 {
  width: 29px;
  height: 25px;
}

/*flight right part*/
.flight_details_top {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.flight_details_top em {
  float: left;
  font-style: normal;
}
.flight_details_top em.width65 {
  width: 33%;
}
.deal_price h3 {
  font-size: 12px;
  margin: 0;
  padding: 5px;
  float: left;
  width: 100%;
}
.padding_top_bot_5 {
  padding: 5px 0;
}
.grandtotal_inner label {
  line-height: 20px;
}

.total_payble {
  float: left;
  margin-top: 1px;
  width: 100%;
  padding: 5px 4px;
  border: 1px dashed #e7e7e7;
  float: left;
  margin-top: 5px;
}
.total_payble label {
  float: left;
  font-weight: bold;
  width: 105px;
}

/*date picker */

.ui-datepicker-current {
  display: none;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {
  border: 3px solid #dee4f6;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  font-size: 0;
  height: 20px;
  position: absolute;
  right: -14px;
  top: -12px;
  width: 20px;
  text-indent: 999;
}
.ui-datepicker .ui-datepicker-buttonpane .ui-state-hover {
  border: 3px solid #f8cb75;
}

/*To blockquote div*/
.bg_block {
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  filter: alpha(opacity = 70);
  -moz-opacity: 0.58;
  opacity: 0.58;
  text-align: center;
  float: left;
  left: 0%;
  top: 0%;
}

.bg_blockSearch {
  z-index: 100;
  position: fixed;
  height: 1000px;
  width: 100%;
  filter: alpha(opacity = 20);
  -moz-opacity: 0.58;
  text-align: center;
  float: left;
  left: 0%;
  top: 0%;
}

/*autocomplete scrollbar enable code*/
.ui-autocomplete {
  max-height: 170px;
  width: 390px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -1px;
}

/*Added for more details link on booking review page*/
.text-container {
  margin: 0 auto;
}
.show-more {
  padding: 10px 0;
  text-align: center;
}
.short-text {
  overflow: hidden;
  height: 5em;
}
.full-text {
  height: auto;
}
.htd_formboxfarerule {
  width: 100%;
  float: left;
  padding: 1%;
  border: 1px solid #d9deee;
  height: 16em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.htd_formboxfarerule b {
  font-weight: bold;
}
/*--no result--*/
.no_result {
  width: 50%;
  margin: 0 auto 0;
}
.no_resultbox {
  float: left;
  padding: 5px;
  width: 100%;
  border: 0.1em solid #d9deee;
}
.no_resultbox p {
  float: left;
  line-height: 19px;
  padding: 1%;
  width: 98%;
}
.no_resultbox p b {
  font-size: 13px;
}
.no_resultbox p a {
  text-decoration: underline;
}

/*Ticket Tourcode popup*/
.ticket_tour_popup {
  border: 2px solid #cbcbcb;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  width: 34%;
  box-shadow: 2px 2px 3px #333;
  position: fixed;
  left: 33%;
  top: 30%;
  z-index: 5555;
}
.ticket_head {
  border-bottom: 1px solid #ccc;
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 98%;
  border-radius: 4px 4px 0 0;
  padding: 1%;
}
.ticket_body {
  width: 95%;
  padding: 10px;
}

.drdr_top {
  border-top: 1px solid #d0d0d0;
}
.fl_srchleft_oneway {
  width: 100%;
  float: left;
  line-height: 21px;
  padding-bottom: 1%;
  margin-top: 5px;
}
.fl_srchleft {
  float: left;
  border-right: 1px solid #d0d0d0;
}
.fl_srchright {
  float: right;
}
.fl_srchleft,
.fl_srchright {
  width: 48%;
  line-height: 21px;
}

.fl_srchleft label,
.fl_srchright label {
  float: left;
  font-weight: bold;
  width: 42%;
}
.fl_srchleft_oneway label {
  float: left;
  font-weight: bold;
  width: 20%;
}
.fl_srchright dfn {
  float: left;
  width: 58%;
}
.fl_srchright dfn code {
  width: 100%;
  float: left;
}

/*Flight result Page*/
.modify_sear_con {
  float: left;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.modify_sear_con span {
  float: left;
  padding: 6px 15px;
  font-weight: bold;
  font-size: 13px;
}
.modify_sear_con dfn {
  float: left;
  padding: 5px 10px;
}
.modify_sear_con dfn em {
  font-style: normal;
  font-size: 13px;
}
.modify_sear_con dfn tt {
  font-style: normal;
}
.modify_sear_con code {
  float: right;
  padding: 5px 10px;
}
.modify_sear_con code a {
  text-decoration: underline;
  font-size: 12px;
  display: block;
}
.modify_sear_con code a:hover {
  text-decoration: none;
}

.fliter_container {
  float: left;
  width: 100%;
  padding-bottom: 0.5%;
  border-top: 2px solid #e19604;
  margin-top: 5px;
}

.flight_top_icon_con {
  float: left;
  width: 100%;
}
.flight_top_icon_con h3 {
  width: 98%;
  padding: 0.3em 1%;
  margin: 0;
  float: left;
}
.flight_top_icon_con h3 span {
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 0.2em;
}
.flight_top_icon_con h3 dfn {
  float: right;
}
.flight_top_icon_con h3 dfn a {
  width: 14px;
  height: 17px;
  float: left;
}

.top_con_icon {
  float: left;
  width: 99.8%;
  border: 1px solid #d3d9e7;
}
.top_con_icon_out {
  float: left;
  border: 1px solid #d3d9e7;
}
.top_con_icon span {
  float: left;
  border-right: 1px solid #efeef3;
  padding: 0.2em 0.7em;
  width: 98.3%;
}
.top_con_icon .dom_hd_search {
  float: left;
  border-right: 1px solid #efeef3;
  padding: 0.2em 0.7em;
  width: 96.5%;
}
.top_con_icon span.slider_arow {
  width: 2%;
  *width: 2.5%;
  background: none !important;
}
.top_con_icon span.slider_arow img {
  width: auto;
  padding-top: 1.9em;
}
.top_con_icon span.border-rt_none {
  border-right: 0;
  float: right;
}
.top_con_icon ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.top_con_icon ul li {
  float: left;
  min-height: 88px;
  width: 8%;
  *width: 7.2%;
  border-right: 1px solid #d9deee;
  position: relative;
}
.top_con_icon ul li a {
  padding: 0.5em 0.2em;
  display: block;
  text-decoration: none;
}
.top_con_icon ul li a b {
  display: block;
  text-align: center;
  font-size: 0.9em;
  min-height: 25px;
  width: 100%;
}
.top_con_icon ul li a label {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  padding: 0.5em 0 0.2em;
  float: left;
}
.top_con_icon ul li a tt {
  float: left;
  width: 100%;
  text-align: center;
}

.top_con_icon ul li .hover_div_img {
  display: none;
}
.top_con_icon ul li .closs_icon {
  display: none;
}
.top_con_icon ul li:hover .closs_icon {
  display: block;
  position: absolute;
  top: 3%;
  right: 0;
  cursor: pointer;
}
.top_con_icon ul li:hover .hover_div_img {
  display: block;
  position: absolute;
  left: 36.5%;
  top: 35.3%;
  *left: 32%;
}

.top_con_icon ul li.selected .closs_icon {
  display: block;
  position: absolute;
  top: 3%;
  right: 0;
  cursor: pointer;
}
.top_con_icon ul li.selected .hover_div_img {
  display: block;
  position: absolute;
  left: 34%;
  top: 35.3%;
  *left: 32%;
}

ul.flight_name_filter {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  width: 98%;
  float: left;
}
ul.flight_name_filter li {
  margin: 0;
  padding: 0.35em 0;
  float: left;
  width: 100%;
}
ul.flight_name_filter li input {
  margin-top: 0.05em;
  margin-right: 0.15em;
  float: left;
}

.top_con_icon dfn {
  text-align: center;
}
.top_con_icon dfn a {
  width: 14px;
  height: 17px;
  float: left;
}

.no_flights {
  font-size: 11px;
  float: left;
}
.bottom_icon_con {
  float: left;
  width: 100%;
}
.range_con {
  float: left;
  border: 1px solid #e0e0e2;
  min-height: 54px;
}
.range_con_fare_price {
  width: 31%;
}
.range_con_fare_time {
  width: 30%;
}
.range_con_fare_stop {
  width: 18%;
}
.range_con_fare_type {
  width: 18.5%;
}

.spl_range_con_fare_price {
  width: 24%;
}
.spl_range_con_fare_time {
  width: 23%;
}
.spl_range_con_fare_stop {
  width: 14%;
}
.spl_range_con_fare_type {
  width: 12.5%;
}
#slider-range_Price,
#slider-range_Departure,
#slider-range_Return {
  width: 58%;
}

.return_range_con_fare_price {
  width: 50.5%;
}
.return_range_con_fare_time {
  width: 46.1%;
}
.return_range_con_fare_stop {
  width: 50.5%;
}
.return_range_con_fare_type {
  width: 47%;
}
.return_inner_text_range {
  float: left;
  width: 96%;
  margin: 0;
  padding: 2%;
}
#slider-range-OutBound,
#slider-range-Inbound {
  width: 60%;
}
#slider_range_DeptTime,
#slider_range_retTime {
  width: 56%;
}

.range_con h4 {
  float: left;
  width: 100%;
  margin: 0;
}
.range_con h4 span {
  float: left;
  font-size: 11px;
  font-weight: bold;
}
.range_con h4 em {
  float: left;
  font-size: 11px;
  height: 14px;
  font-weight: bold;
  font-style: normal;
  margin-left: 40px;
  *margin-top: -5px;
}
.range_con h4 kbd {
  float: left;
  padding: 5px 1px;
}
.range_con h4 kbd a {
  display: block;
  width: 14px;
  height: 15px;
  text-decoration: none;
}
.range_con h4 kbd a .drop_down3 {
  display: none;
}
.range_con h4 kbd a:hover .drop_down3 {
  display: block;
  position: absolute;
  width: 90px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 15px;
}
.range_con h4 kbd a:hover .drop_down3 tt {
  display: block;
  width: 98%;
  padding: 2px;
  font-size: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.range_con h4 dfn {
  float: right;
  padding-right: 0.5em;
  padding-top: 0.2em;
}
.range_con h4 dfn a {
  width: 14px;
  height: 17px;
  float: left;
}
.range_con h4 em input {
  vertical-align: middle;
}
.inner_text_range {
  float: left;
  width: 96%;
  margin: 0;
  padding: 1% 2%;
}
.inner_text_range span {
  font-size: 11px;
}
.inner_text_range span input {
  vertical-align: middle;
}

.range_rs {
  float: left;
}
.left_limit_price {
  width: 13.5%;
  float: left;
  text-align: center;
}
.range_bar_price {
  width: 61%;
  float: left;
  padding: 2.7% 0;
}
.right_limit_price {
  width: 13.5%;
  float: right;
  text-align: center;
}

.left_limit_time {
  width: 13.5%;
  float: left;
  text-align: center;
}
.range_bar_time {
  width: 67%;
  float: left;
  padding: 2.7% 0;
}
.right_limit_time {
  width: 13%;
  float: right;
  text-align: center;
}

.search_result_con {
  float: left;
  width: 100%;
}
.search_result_con .top_link {
  float: left;
  width: 100%;
  padding: 5px 0;
}
.search_result_con .top_link a {
  float: right;
  font-size: 12px;
  text-decoration: underline;
}
.search_result_con .top_link a:hover {
  text-decoration: none;
}
.search_result_con .top_link span {
  float: right;
  padding: 0 10px;
}
.link_ot_in {
  float: left;
  width: 60%;
}
.link_ot_in b {
  width: 46%;
  float: left;
  border-right: 1px solid #004684;
  padding: 0 6px;
  font-weight: bold;
}

.air_filter_and_result {
  width: 100%;
  float: left;
}
.air_fiter_left {
  width: 20%;
  float: left;
  margin-top: 5px;
  border: 1px solid #d7dff4;
}
.airfilter_head {
  width: 100%;
  float: left;
}
.air_searchimg {
  float: left;
}
.air_searchimg {
  width: 28px;
  height: 32px;
}
.airfilter_head b {
  padding: 10px 5px;
  float: left;
  font-size: 13px;
}
.ar_link {
  float: right;
  font-size: 0.9em;
  text-decoration: underline;
}
.ar_link:hover {
  text-decoration: none;
}
.all_airc_row {
  float: left;
  width: 100%;
  padding: 0.5%;
}
.min_htair {
  height: 112px;
  overflow: auto;
}

.airc_row {
  width: 100%;
  float: left;
  margin: 0 0 0 5px;
  padding: 4px 0;
}
.airc_row label {
  width: 100%;
  float: left;
  font-family: arial;
  font-size: 11px;
}
.airc_row select {
  font-size: 11px;
  padding: 0;
  border: 1px solid #9fb9d1;
  height: 24px;
  margin: 0;
}
.airc_row code {
  float: left;
}
.airc_row code input {
  border: 1px solid #9fb9d1;
  z-index: 100;
}
.airc_row span code {
  float: none;
}
.fl_flhead {
  width: 100%;
  padding: 2% 1%;
  float: left;
}
.airc_row span {
  float: left;
  width: auto;
  font-size: 11px;
}
.airc_row span > span {
  float: left;
  width: auto;
}
.airc_row label > label {
  float: left;
  width: auto;
}
.flcheckbox {
  height: 14px;
  margin: -1px 5px 0 0;
  vertical-align: middle;
  float: left;
}
.airc_row kbd {
  float: right;
  margin-right: 10px;
  font-size: 11px;
}
.fl_flhead b {
  float: left;
  font-weight: bold;
}
.fl_flhead b span {
  float: left;
  margin-right: 5px;
}

.air_fl_results {
  float: right;
  width: 79%;
  padding: 0.5em;
  border-radius: 5px;
  margin-top: 5px;
}
.fl_result {
  float: right;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  margin-top: 5px;
}

.search_result_con .pre_next_link {
  float: left;
  width: 100%;
  padding-top: 0.5em;
}
.search_result_con .pre_next_link a {
  float: right;
  font-size: 12px;
  text-decoration: underline;
}
.search_result_con .pre_next_link a:hover {
  text-decoration: underline;
}
.search_result_con .pre_next_link span {
  float: right;
  padding: 0 10px;
}

.fl_result h3 {
  float: left;
  width: 100%;
  padding: 4px 0 0;
  margin: 0;
  font-size: 1.25em;
}
.departure a,
.arrival a,
.pub_pr a,
.pubprice a,
.dura_tion a {
  padding: 3px 0.5em 8px;
  display: block;
}
.fl_result h3 .departure {
  float: left;
}
.fl_result h3 .arrival {
  float: left;
  margin-left: 1%;
}
.fl_result h3 .pub_pr {
  float: left;
  margin-left: 6.7%;
  *margin-left: 6.4%;
}

.air_fl_results h3 {
  float: left;
  width: 100%;
  padding: 4px 0 0;
  margin: 0;
  font-size: 1.25em;
}
.air_fl_results h3 .departure {
  float: left;
}
.air_fl_results h3 .arrival {
  float: left;
  margin-left: 3%;
}
.air_fl_results h3 .pub_pr {
  float: left;
  margin-left: 2.2%;
  margin-right: 2.75%;
}
.air_fl_results h3 .dura_tion {
  float: left;
  margin-left: 9.85%;
}

.fl_result h3 span a span,
.air_fl_results h3 span a span,
.return_result h3 span a span {
  width: 11px;
  height: 7px;
  display: inline-block;
  *margin-top: -10px;
}

.air_fl_results h3 span a.selected > .low,
.air_fl_results h3 span a.selected > .high,
.fl_result h3 span a.selected > .low,
.fl_result h3 span a.selected > .high,
.return_result h3 span a.selected > .low,
.return_result h3 span a.selected > .high {
  width: 11px;
  height: 7px;
  display: inline-block;
}

.air_fl_results h3 span a.selected,
.fl_result h3 span a.selected,
.return_result h3 span a.selected {
  border-radius: 5px 5px 0 0;
  margin-top: 2px;
  font-weight: bold;
}

.air_fl_results h3 .departure a span.agentaero,
.fl_result h3 .departure a span.agentaero,
.fl_result h3 .arrival a span.agentaero {
  border-color: #1663aa transparent transparent;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  margin: 5px 0 0 6px;
  position: absolute;
}

.fl_result h3 .pub_pr a,
.fl_result h3 .arrival a,
.fl_result h3 .departure a {
  font-size: 0.75em;
}
.fl_result h3 .pub_pr a span.agentaero {
  border-color: #1663aa transparent transparent;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  margin: 5px 0 0 6px;
  position: absolute;
}

.air_fl_results h3 .dura_tion a,
.air_fl_results h3 .pub_pr a,
.air_fl_results h3 .arrival a,
.air_fl_results h3 .departure a {
  font-size: 0.75em;
}
.air_fl_results h3 .pub_pr a span.agentaero {
  border-color: #1663aa transparent transparent;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  margin: 5px 0 0 6px;
  position: absolute;
}
/*-----------------------*/

.result_p {
  float: left;
  width: 98%;
  padding: 3px 5px;
  margin-bottom: 2px;
}
.result_p span.icon_flight {
  float: left;
  width: 19%;
}
.result_p span.icon_flight img {
  width: 30px;
  height: 30px;
}
.result_p span.duration_flight {
  float: left;
  width: 26%;
}
.align_right {
  text-align: right;
}

.result_p span.price {
  float: left;
  width: 13.4%;
  color: #266eac;
  font-weight: bold;
}
.result_p span.icon_flight2 {
  float: left;
  width: 10%;
  padding: 5px 0;
  text-align: right;
}
.flight_tds {
  float: right;
  font-size: 0.75em;
  padding-right: 2.8%;
}
.result_p span.icon_flight2 a {
  width: 18px;
  height: 20px;
  float: left;
  margin-left: 1px;
}
.result_p span.icon_flight2 a.ticket span.drop2,
.result_p span.icon_flight2 a.flight span.drop2,
.result_p span.icon_flight2 a.non_re span.drop2,
.result_p span.icon_flight2 a.ruppe span.drop2,
.result_p span.icon_flight2 a.close span.drop2 {
  display: none;
}
.result_p span.icon_flight2 a.ticket:hover span.drop2,
.result_p span.icon_flight2 a.non_re:hover span.drop2,
.result_p span.icon_flight2 a.flight:hover span.drop2,
.result_p span.icon_flight2 a.ruppe:hover span.drop2,
.result_p span.icon_flight2 a.close:hover span.drop2 {
  width: auto;
  white-space: nowrap;
  text-align: center;
  display: block;
  position: absolute;
  margin-top: -18px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 11px;
  padding: 3px 5px;
  margin-left: -15px;
}

.result_p span.icon_flight2 a.non_re {
  margin-top: 2%;
}
.result_p span.icon_flight2 a.ticket:hover,
.result_p span.icon_flight2 a.flight:hover,
.result_p span.icon_flight2 a.non_re:hover,
.result_p span.icon_flight2 a.ruppe:hover,
.result_p span.icon_flight2 a.close:hover {
  font-weight: bold;
}
.result_p span.email {
  float: right;
  width: 8%;
  padding: 6px 0;
  font-size: 11px;
}
.result_p span.spl_email {
  float: right;
  width: 6%;
  padding: 0;
  font-size: 11px;
}
.result_p span.spl_email_mlt {
  float: right;
  width: 20%;
  padding: 0;
  font-size: 11px;
}
.spl_email input[type="checkbox"] {
  float: left;
  margin: 0 5px 0 0;
}
.result_p span.email input {
  vertical-align: middle;
}
.fdp_code_width {
  width: 67% !important;
}

/*Flight result Page*/

/* return Flight Result */
.fl_result_return {
  float: left;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.return_result {
  width: 100%;
}
.return_result h3 {
  float: left;
  width: 100%;
  padding: 4px 0 0;
  margin: 0;
  font-size: 14px;
}
.return_space {
  float: left;
  width: 10.5%;
}

.oneway_flightbox,
.return_flightbox {
  width: 49.5%;
  border: 1px solid #ccc;
}

/*changes by Ranjit for Special Return Search page*/
.return_result h3 .departure,
.return_result h3 .spl_departure {
  float: left;
}
.return_result h3 .arrival {
  float: left;
  margin-left: 6%;
}
.return_result h3 .pub_pr {
  float: left;
  margin-left: 8.5%;
}
.return_result h3 .pubprice {
  float: left;
}

.return_result .departure a,
.return_result .arrival a,
.return_result .pub_pr a,
.return_result .pubprice a,
.spl_departure a,
.spl_dur_pr a,
.spl_pub_pr a,
.spl_offer_pr a {
  font-size: 0.75em;
  padding: 3px 0.7em 8px;
  display: block;
}
.spl_departure a {
  *padding: 3px 0.2em 8px 0.7em;
}
.spl_departure {
  float: left;
}
.spl_dur_pr {
  float: left;
  margin-left: 9.5%;
}
.mar_left_dur {
  float: left;
  margin-left: 15.8%;
}
.pub_margin {
  margin-left: 9% !important;
}
.offer_margin {
  margin-left: 7% !important;
}
.spl_pub_pr {
  float: left;
  margin-left: 5.75%;
}
.spl_offer_pr {
  float: left;
  margin-left: 2.4%;
}

.result_p span.spl_duration_flight {
  float: left;
  width: 47%;
  padding: 3px 0;
}
.result_p span.spl_icon_flight {
  float: left;
  padding: 0.2em 0.3em;
  width: 31%;
}
.result_p span.spl_icon_flight kbd img {
  width: 30px;
  height: 30px;
}
.result_p span.spl_dur_flight {
  float: left;
  width: 15%;
  padding: 3px 0;
}
.result_p span.spl_price {
  float: left;
  width: 13%;
  font-weight: bold;
  padding: 1em 0;
  margin-left: 2%;
}
.result_p span.offer_price {
  float: left;
  width: 13%;
  font-weight: bold;
  padding: 1em 0;
}
.result_p span.book_now_emails {
  float: left;
  width: 8%;
  padding: 4px 0;
}
.spl_book_now_btn {
  float: left;
  padding-top: 1.5%;
  margin-left: 2%;
}
.spl_book_now_btn input {
  width: 64px;
  height: 18px;
  display: block;
  border: none;
}
.spl_book_now_btn input:hover {
  cursor: pointer;
}
.spl_pt15 {
  padding-top: 15px;
}
/*changes by Ranjit end*/

.return_result h3 .pub_pr a span.agentaero,
.pubprice a span.agentaero {
  border-color: #1663aa transparent transparent;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  margin: 5px 0 0 6px;
  position: absolute;
}
.return_result_p {
  float: left;
  width: 100%;
  padding: 3px 5px;
  margin-bottom: 2px;
}
.return_result_p span {
  float: left;
}
.return_result_p span.icon_flight {
  float: left;
  width: 12%;
}
.return_result_p span.icon_flight code {
  float: left;
  font-size: 0.72em;
}
.return_result_p span.icon_flight img {
  width: 25px;
  height: 25px;
}
.return_result_p span.duration_flight {
  float: left;
  width: 37%;
  padding: 6px 0;
}
.return_hightlight {
  padding-left: 2%;
}
.return_result_p span.price,
.offer_price {
  float: left;
  width: 17%;
  font-weight: bold;
  padding: 6px 0 3px;
}
.return_result_p span.icon_flight2 {
  float: left;
  width: 20%;
  padding: 3px 0;
  margin-right: 10px;
}
.return_result_p span.icon_flight2 a {
  width: 18px;
  height: 20px;
  float: left;
  margin-left: 1px;
}
.return_result_p span.icon_flight2 a.ticket span.drop2,
.return_result_p span.icon_flight2 a.flight span.drop2,
.return_result_p span.icon_flight2 a.non_re span.drop2,
.return_result_p span.icon_flight2 a.ruppe span.drop2,
.return_result_p span.icon_flight2 a.close span.drop2 {
  display: none;
}
.return_result_p span.icon_flight2 a.ticket:hover span.drop2,
.return_result_p span.icon_flight2 a.non_re:hover span.drop2,
.return_result_p span.icon_flight2 a.flight:hover span.drop2,
.return_result_p span.icon_flight2 a.ruppe:hover span.drop2,
.return_result_p span.icon_flight2 a.close:hover span.drop2 {
  width: auto;
  text-align: center;
  display: block;
  position: absolute;
  margin-top: -18px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 11px;
  padding: 3px 5px;
  margin-left: -15px;
}
.return_result_p span.icon_flight2 a.non_re {
  margin-top: 2%;
}
.return_result_p span.icon_flight2 a.ticket:hover,
.return_result_p span.icon_flight2 a.flight:hover,
.return_result_p span.icon_flight2 a.non_re:hover,
.return_result_p span.icon_flight2 a.ruppe:hover,
.return_result_p span.icon_flight2 a.close:hover {
  font-weight: bold;
}
.return_result_p span.email {
  float: right;
  width: 13%;
  padding: 6px 0;
  font-size: 11px;
}
.return_result_p span.email input {
  vertical-align: middle;
}
.return_dom_duration_box {
  float: left;
  padding: 6px 0;
  width: 17%;
}
.return_dom_stop_1 {
  padding: 0;
  width: 100%;
}
.retun_inter_sep {
  float: left;
  width: 64%;
  padding: 0.7% 0 0;
}
.fare_details {
  border: solid 1px #dcdcdf;
  border-top: 0;
  padding: 0;
  width: 100%;
  float: left;
}
.fare_details .fare_box {
  width: 25%;
  float: left;
}
.fare_details .fare_box code.offerprice {
  width: 100%;
  float: left;
  padding: 5% 6%;
}
.offerprice small {
  float: right;
  font-size: 12px;
}
.fare_details .fare_box span {
  float: left;
  width: 100%;
  font-size: 16px;
  padding-bottom: 5px;
}
.fare_details .fare_box span > em {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  width: 45%;
  float: left;
}
.fare_details .fare_box span kbd {
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  width: auto;
}
.fare_details .fare_box span dfn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.fare_details .fare_box tt {
  float: left;
  padding-left: 20px;
  font-size: 11px;
}
.fare_details .fare_box tt a {
  text-decoration: underline;
}
.fare_details .fare_box tt a:hover {
  text-decoration: none;
}

.fare_details_of_flight {
  width: 60%;
  float: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1%;
}
.flightoneway,
.flightreturn {
  float: left;
  width: 50%;
  margin: 0;
}
.flightoneway {
  border-right: 1px solid #d0d0d0;
}
.flightreturn {
  padding-left: 1%;
}
.fl_logolist {
  text-align: center;
  border-right: 1px dashed #e0e0e0;
  width: 28%;
  float: left;
}
.fl_logolist > em,
.fl_logolist > em > code {
  width: 100%;
  float: left;
  text-align: center;
}
.fl_dtl {
  float: left;
  width: 72%;
  padding-left: 2%;
}
.fl_destination,
.fl_time,
.fl_price {
  float: left;
}
.desk_none {
  display: none;
}
.fl_price {
  font-weight: bold;
  width: 100%;
  margin-top: 0.3em;
}
.fl_price tt {
  white-space: nowrap;
}
.book_button {
  float: right;
  width: 15%;
  text-align: right;
  padding: 0.5% 0;
  text-align: center;
}
.book_button code {
  width: 100%;
  padding: 0.9em 0 0;
  display: inline-block;
}
.book_button code > span {
  font-size: 0.9em;
}

/* return Flight Result */

/*international Flight Result*/
.range_container {
  float: left;
  width: 100%;
  padding: 3px 0;
}
.range_container span {
  float: left;
  font-weight: bold;
}
.range_container dfn {
  float: right;
}
.range_container dfn a {
  width: 12px;
  height: 12px;
  display: block;
}
.range_container dfn a.plus {
  background-position: -140px -2px;
}
.width_100per {
  width: 100% !important;
}
.pt15 {
  padding-top: 15px !important;
}
.width_235 {
  width: 235px !important;
}
.result_p span.duration {
  width: 100%;
  float: left;
}
.duration_box {
  float: left;
  width: 10%;
}
.stop_1 {
  padding: 0;
}
.text_aln_left {
  text-align: left;
}
.text_aln_center {
  text-align: center;
}
.mr60 {
  margin-right: 60px;
}
.padding-7 {
  padding: 8px 8px 7px 5px !important;
}
.padding-8_7 {
  padding: 8px 20px 7px 5px !important;
}
.space {
  float: left;
  width: 18.75%;
}
.spl_space {
  float: left;
  width: 20%;
}

.book_now_btn {
  float: left;
  margin-left: 0%;
}
.book_now_btn input {
  width: 64px;
  height: 18px;
  display: block;
  border: none;
}
.book_now_btn input:hover {
  cursor: pointer;
}

.spl_booknow {
  float: right;
  width: auto;
}
.spl_booknow input {
  width: 64px;
  height: 18px;
  display: block;
  border: none;
}
.spl_booknow input:hover {
  cursor: pointer;
}

.padding-2_5 {
  padding: 10px 8px 2px 5px !important;
}
.pad_fly_one_way {
  padding: 0.8% 0 0.8% 0% !important;
}
.pad_top_0 {
  padding-top: 0 !important;
}
.pad_top_10 {
  padding-top: 10px;
}
.pad_bot_5 {
  padding-bottom: 5px;
}
.pad_top_5 {
  padding-top: 5px;
}

.result_p:hover .border_bot {
  border-bottom: 1px solid #fff;
}
.border_bot {
  border-bottom: 1px solid #ccc;
}
.border_rt {
  border-right: 1px dashed #ccc;
}
.pad_8 {
  padding: 8px 0 !important;
}
.pad_bottom_0 {
  padding-bottom: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}
.domestic_return {
  width: 49.5%;
}
.number_stop {
  float: left;
  width: 57%;
}
.number_stop h4 {
  float: left;
  margin: 0;
  width: 45%;
  min-height: 27px;
}
.number_stop h4 span {
  float: left;
  font-size: 11px;
}
.number_stop > .inner_text_range {
  float: left;
  width: 140px;
  border: 1px solid #e0e0e2;
  padding: 0 5px;
  height: 25px;
}
.refundable_con {
  float: right;
  width: 203px;
}
.refundable_con h4 {
  float: left;
  margin: 0;
  width: 92px;
  min-height: 26px;
}
.refundable_con h4 span {
  float: left;
  font-size: 11px;
}
.refundable_con > .inner_text_range {
  float: left;
  width: 103px;
  border: 1px solid #e0e0e2;
  padding-left: 5px;
  height: 25px;
}

/*international Flight Result*/
.range_container {
  float: left;
  width: 100%;
  padding: 3px 0;
}
.range_container span {
  float: left;
  font-weight: bold;
}
.range_container dfn {
  float: right;
}
.range_container dfn a {
  width: 12px;
  height: 12px;
  display: block;
}

.width_100per {
  width: 100% !important;
}
.width_99 {
  width: 99% !important;
}
.width_220 {
  width: 220px !important;
}
.width_250 {
  width: 250px !important;
}
.width_135 {
  width: 135px !important;
}
.width_170 {
  width: 170px !important;
}
.width-130 {
  width: 130px !important;
}
.width-120 {
  width: 120px !important;
}

.pt15 {
  padding-top: 15px !important;
}
.width_235 {
  width: 235px !important;
}
.result_p span.duraion {
  float: left;
  padding: 3px 0;
  width: 85px;
}
.result_p span.stop_1 {
  float: left;
  padding: 3px 0;
  width: 70px;
}

.text_aln_left {
  text-align: left;
}
.text_aln_center {
  text-align: center;
}
.text_aln_right {
  text-align: right;
}
.bold {
  font-weight: bold;
}

.mr60 {
  margin-right: 60px;
}
.padding-7 {
  padding: 8px 8px 7px 5px !important;
}
.padding-8_7 {
  padding: 8px 20px 7px 5px !important;
}
.pad_top_0 {
  padding-top: 0 !important;
}
.border-right-0 {
  border-right: 0 !important;
}
.domestic_return {
  width: 49.5%;
}
.number_stop {
  float: left;
  width: 57%;
}
.number_stop h4 {
  float: left;
  margin: 0;
  width: 45%;
  min-height: 27px;
}
.number_stop h4 span {
  float: left;
  font-size: 11px;
}
.number_stop h4 dfn {
  float: right;
  padding-right: 0.5em;
  padding-top: 0.2em;
}
.number_stop h4 dfn a {
  width: 14px;
  height: 17px;
  float: left;
}

.number_stop > .inner_text_range {
  float: left;
  width: 140px;
  border: 1px solid #e0e0e2;
  padding: 0 5px;
  height: 25px;
}
.refundable_con {
  float: right;
  width: 203px;
}
.refundable_con h4 {
  float: left;
  margin: 0;
  width: 92px;
  min-height: 26px;
}
.refundable_con h4 dfn {
  float: right;
  padding-right: 0.5em;
  padding-top: 0.2em;
}
.refundable_con h4 dfn a {
  width: 14px;
  height: 17px;
  float: left;
}

.refundable_con h4 span {
  float: left;
  font-size: 11px;
}
.refundable_con > .inner_text_range {
  float: left;
  width: 103px;
  border: 1px solid #e0e0e2;
  padding-left: 5px;
  height: 25px;
}
.search_panel {
  float: left;
  width: 100%;
  padding: 5px;
  font-weight: bold;
}
.dom_pre_nex_link {
  float: right;
}
.dom_pre_nex_link a {
  text-decoration: none;
  font-weight: normal;
}
.dom_pre_nex_link a:hover {
  text-decoration: underline;
  font-weight: normal;
}

/*flight Modify Search*/
.form_box_modify {
  border: 1px solid #ccc;
  float: left;
  padding: 0 20px 15px;
  width: 70%;
  margin-bottom: 10px;
}
.fl_cal_modify {
  cursor: pointer;
}
.width_80 {
  width: 80%;
}
.width_58 {
  width: 52% !important;
}
.dep_arr_width {
  width: 20%;
}
.dep_arr_width14 {
  width: 14%;
}
.pad_16 {
  padding: 16% 0;
}
#errmsgOrigin,
#errmsgDestination {
  padding-top: 0.3em;
}

#msgTermsAndCondition {
  float: left;
  padding-left: 1%;
}

/* Air booking queue right filter */
.air_bkng_date {
  width: 96%;
  padding: 2%;
}
.air_que_listing > span {
  width: 94%;
  float: left;
  padding: 1%;
  line-height: 17px;
}
.air_que_listing > span > input[type="checkbox"] {
  margin-right: 0.5em;
}
.air_bkng_date > span {
  width: 100%;
  float: left;
  padding-bottom: 0.5em;
  font-weight: bold;
}
.air_bkng_date > span > input[type="text"] {
  width: 82%;
}
.air_bkng_date > span > input[type="text"],
.air_bkng_input input[type="text"] {
  float: left;
  margin-top: 0.3em;
  border: 1px solid #e7e7e7;
  padding: 2%;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #e7e7e7;
}
.air_bkng_date > span > img {
  float: left;
  margin: 0.6em 0 0 0.5em;
}
.air_bkng_input > input[type="text"] {
  width: 100%;
}
.air_bkng_input code {
  font-size: 0.9em;
  padding-top: 0.5em;
  float: left;
}

/*Air queue dtl*/
.air_detail_queue {
  float: left;
  width: 76%;
}
.air_queue_box {
  border: 1px solid #999;
  border-radius: 3px;
  float: left;
  width: 100%;
  margin: 0 0 1em;
}
.air_queue_box_even {
  border: 1px solid #999;
  border-radius: 5px;
  float: left;
  width: 100%;
  margin: 0 0 1em;
}
.air_queue_box:hover {
  transition: border 1s ease, background 1s ease;
  box-shadow: 1px 2px 1px #ccc;
}
.air_queue_box_even:hover {
  border: 1px solid #959cc4;
  transition: border 1s ease, background 1s ease;
  box-shadow: 1px 2px 1px #ccc;
}
.air_queue_up {
  float: left;
  width: 100%;
  padding: 10px;
}
.air_queue_agncdtl {
  float: left;
  width: 65%;
}
.air_que_headlft,
.air_queguest_left {
  float: left;
  width: 48%;
}
.air_agencyname {
  font-size: 1.25em;
  font-weight: bold;
}
.air_agencyname span {
  font-size: 0.8em;
}
.air_que_headrt,
.air_queguest_right {
  float: right;
  width: 48%;
}
.air_quevoucrd,
.air_quecncl,
.air_queguest_dtl {
  float: left;
  width: 100%;
}
.air_quehead address {
  font-style: normal;
  line-height: 17px;
  margin-top: 0.5em;
  width: 92%;
  float: left;
}
.air_queguest_dtl {
  border-top: 1px solid #e7e7e7;
  margin-top: 0.6em;
  padding-top: 0.5em;
}
.air_que_headissued {
  float: left;
  width: 48%;
}
.air_que_headissued_rt {
  float: right;
  width: 48%;
}
.air_quevoucrd_sent {
  width: auto;
  float: left;
  border: 1px solid #d0d0d0;
  padding: 0.75% 2%;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.air_quevoucrd_issued {
  width: 98%;
  text-align: center;
  border: 1px solid #dee4f6;
  padding: 0.75%;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.air_quevoucrd_cancel {
  text-align: left;
  border: 1px solid #dee4f6;
  padding: 5px;
  float: left;
  margin-top: 0.5em;
}
.air_quevoucrd {
  font-size: 1em;
  font-weight: bold;
}
.air_quecncl {
  font-size: 1em;
  margin-top: 0.5em;
}
.air_queguest_left p,
.air_queguest_right p {
  width: 98%;
  float: left;
  padding: 0.2em;
  margin: 0;
}
.air_queguest_left p span,
.air_queguest_right p span {
  width: 100%;
  float: left;
}
.air_noof_name {
  font-size: 1em; /* color:#2f66af; */
}
.air_noof_name a {
  text-decoration: underline;
}
.air_noof_name a:hover {
  text-decoration: underline;
}

.air_queue_invcdtl {
  float: right;
  width: 27%;
  border-radius: 8px;
  padding: 1%;
  border: 1px solid #dee4f6;
}
.air_queue_invcdtl p,
.quehead {
  width: 100%;
  float: left;
}
.air_queue_invcdtl p {
  padding: 0.5em 0;
  margin: 0;
}
.air_queue_invcdtl p b {
  width: 30%;
  float: left;
}
.air_queue_invcdtl p span {
  width: 70%;
  float: left;
}
.air_queue_invcdtl p b {
  font-size: 1.05em;
  padding-bottom: 0.2em;
}
.air_queprice {
  font-weight: bold;
  font-size: 1.3em;
  width: 89%;
  padding: 2% 0.5em;
  float: left;
}
.air_quefooter {
  width: 100%;
  *width: 97.9%;
  float: left;
  padding: 0.65% 1%;
  border-top: 1px solid #dee4f6;
  border-radius: 0 0 5px 5px;
}
.air_bookingbox {
  width: 60%;
  float: left;
}
.air_bookingbox a {
  text-decoration: underline;
}
.air_quefooter b {
  width: 20%;
  float: left;
}
.air_quebtn {
  float: right;
}

.air_quecredit_left {
  width: 40%;
  float: left;
}
.air_quecredit_mid {
  width: 25%;
  float: left;
}
.air_quecredit_right {
  width: 32%;
  float: left;
}
.air_paxname {
  float: left;
  font-size: 1.2em;
  width: 100%;
  padding-bottom: 0.8em;
}
.btn_main_ticket_queue {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.25em 0.5em 0.35em;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
}

/* flight Pax Details one-way-details */
.flight_details_of_oneway {
  width: 100%;
  float: left;
}
.fl_logo_oneway {
  border-right: 1px solid #e0e0e0;
  width: 18%;
  float: left;
  padding: 0.6%;
  margin-left: 1%;
}
.fl_logo_oneway img {
  width: 30px;
  height: 30px;
}
.fl_det_oneway {
  float: left;
  width: 28.8%;
  text-align: center;
  border-right: 1px solid #e0e0e0;
  padding: 1.75% 0.5%;
}
.fl_dur_oneway {
  float: left;
  width: 18%;
  text-align: center;
  padding: 1.75% 0.5%;
}
.fl_dest_oneway {
  font-weight: bold;
  margin-right: 0.5em;
}
.fl_price_oneway {
  font-weight: bold;
  width: 100%;
  margin-top: 0.3em;
}

/* confirm booking page */
.booking_hd_det {
  float: left;
  width: 100%;
}
.booking_hd_det h1 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1.2em;
}
.booking_hd_det span {
  float: right;
}
.booking_hd_det span a {
  text-decoration: none;
}
.booking_hd_det span a:hover {
  text-decoration: underline;
}

.select_custom_list {
  width: 50%;
  float: right;
  text-align: right;
  font-weight: normal;
}

.fl_check_box_res {
  float: left;
  padding: 3px 5px;
  border: 1px solid #e1e1e1;
  width: 87%;
  border-radius: 5px;
}
.fl_check_box_restrict {
  float: left;
  width: 20%;
}
.fl_check_box_restrict > p {
  margin: 0;
  padding: 4px 0 4px;
}
.fl_check_box_restrict > p input {
  margin: 0 6px;
  float: left;
}
.select_custom_list {
  width: 50%;
  float: right;
  text-align: right;
  font-weight: normal;
}

/*multistop*/
.tp_form_section {
  float: left;
  width: 100%;
  padding-bottom: 1em;
}
.multistop_row {
  width: 100%;
  float: left;
  margin-top: 1em;
  margin-bottom: 0.65em;
}
.mltistop_b1 {
  float: left;
  width: 30%;
  margin-right: 2%;
}
.mltistop_b3 {
  float: left;
  width: 26.75%;
}
.mltistop_b1 label,
.mltistop_b3 label {
  width: 100%;
  display: block;
  padding: 0 0 3px 3px;
}
.mltistop_b4 {
  float: left;
  width: 18%;
}
.mltistop_b4 a.link {
  margin-left: 1.5em;
  margin-top: 8px;
  float: left;
}
.mltistop_b1 label,
.mltistop_b3 label,
.mltistop_b4 label {
  width: 100%;
  display: block;
  padding: 0 0 3px 3px;
}
.mltsource {
  width: 29%;
  float: left;
  margin-right: 2%;
}
.mltclass {
  width: 9.5%;
  float: left;
}
.multidate {
  width: 16%;
  float: left;
}
.multistop_row_add {
  float: left;
  margin-top: 1.5%;
  padding: 0 0.5em;
  width: 99%;
}
.multistop_row_edit:first-child {
  border-top: none;
}
.multistop_row_edit {
  float: left;
  width: 100%;
  line-height: 24px;
  padding: 0.45em 0;
  border-top: 1px solid #fff;
}
.multistop_row_edit_bdnone {
  float: left;
  width: 100%;
  line-height: 24px;
  padding: 0.45em 0;
}
.multistop_row_editable {
  float: left;
  width: 100%;
  line-height: 24px;
}
.mltsource_link {
  float: right;
  text-align: right;
}
.multi_checkbox {
  border: 1px solid #e1e1e1;
  float: left;
  padding: 10px 9px;
  width: 98%;
}
.multi_checkbox_row {
  float: left;
  width: 25%;
}
.multi_checkbox_row > p input {
  float: left;
  margin: 0 6px;
}

.mltistop_b1 input,
.mltistop_b3 input,
.mltistop_b4 input {
  border-radius: 3px;
  border: 1px solid #cac9c9;
  padding: 8px;
}
.mltistop_b1 select,
.mltistop_b3 select {
  border-radius: 3px;
  border: 1px solid #cac9c9;
  padding: 8px;
  margin: 0;
  *margin-top: 0.2em;
}

.restrict_row {
  width: 100%;
  float: left;
  margin-top: 1em;
}
.restrict_pre {
  width: 40%;
  float: left;
  padding: 0.75em 0;
}
.restrict_pre label {
  width: 40%;
  float: left;
  padding: 5px 0 3px 3px;
}
.restrict_pre input {
  border-radius: 3px;
  border: 1px solid #cac9c9;
  padding: 8px;
}
.pre_carrier {
  width: 100%;
  float: left;
}
.pre_carrier label {
  width: 100%;
  float: left;
  margin-bottom: 3px;
}
.pre_carrier input[type="text"] {
  border-radius: 3px;
  border: 1px solid #cac9c9;
  padding: 8px;
  width: 100%;
}
.multi_sch_btn {
  float: right;
}

/*calfare*/
.farecal_container {
  width: 100%;
  float: left;
  padding-top: 1em;
  border-top: 2px solid #f8cb75;
}
.fare_calhead {
  width: 100%;
  float: left;
  border-radius: 5px;
  padding: 5px;
}
.prev_month {
  float: left;
  padding: 5px 8px;
}
.next_month {
  float: right;
  padding: 5px 8px;
}
.prev_month a {
  color: #115895;
  font-weight: bold;
  padding-left: 1.5em;
}
.next_month a {
  font-weight: bold;
  padding-right: 1.5em;
}
.current_month {
  float: left;
  width: 76%;
  text-align: center;
  padding: 5px 8px;
}
.current_month b {
  font-size: 13px;
}
.calday {
  list-style: none;
  width: 100%;
  float: left;
  display: inline;
  margin-top: 5px;
}
.calday > li {
  float: left;
  margin: 1px;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  width: 13.95%;
}
.caldata {
  width: 100%;
  margin: 0px;
  list-style: none;
  padding: 0px;
  float: left;
}
.caldata > li {
  text-align: center;
  min-height: 6.2em;
  width: 14.25%;
  float: left;
  border: 1px solid #d9deee;
  cursor: pointer;
}

.cal_date,
.cal_price,
.cal_time {
  float: left;
  width: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.45em;
}
.cal_date {
  font-size: 0.8em;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.cal_price {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.5em;
}
.cal_flight {
  font-size: 0.8em;
  float: left;
  width: 100%;
}
.cal_flight a {
  width: 100%;
  float: left;
  padding: 1.25em 0;
  text-align: center;
}
.cal_flight a span {
  float: left;
  margin-left: 1.35em;
}
.cal_time {
  font-size: 0.8em;
}
.cal_info {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

.caldata > li .search_div {
  margin-top: 1.8em;
  display: none;
  text-align: center;
  width: 7.75em;
  position: absolute;
  *margin: -1.9em 0 0.5em -7.7em;
  *height: 52px;
}
.search_div a {
  float: left;
  margin: 0.85em 0 0.9em 1.2em;
}
.caldata > li .cal_fltbox {
  width: 15%;
  *margin: -4.4em 0 0 0.5em !important;
  padding: 0.5em;
  margin-left: 8.5em;
  border: 2px solid #e99b05;
  position: absolute;
  text-align: left;
}
.calaero {
  line-height: 0;
  border-width: 12px 12px 8px 3px;
  border-style: solid;
  border-color: transparent #e99b05 transparent transparent;
  position: absolute;
  left: -1.3em;
  top: 2.2em;
}
.calrow {
  width: 100%;
  float: left;
  margin: 3px 0 0;
  font-size: 0.9em;
}
.mt_for_mob {
  margin-top: 10px;
}

#calFareSearchPopUp h1 {
  border-radius: 0;
}
.cal_fltbox b {
  width: 35%;
  float: left;
}
.air_img_cal {
  width: 100%;
  float: left;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 0.25em;
}
.air_img_logo {
  width: 55%;
  float: left;
  border-right: 1px dashed #ccc;
}
.air_img_logo img {
  float: left;
}
.air_img_logo tt {
  float: left;
  margin-top: 0.2em;
  margin-left: 0.5em;
}
.price_cal {
  width: 40%;
  float: right;
}

.enter_no_pass {
  float: left;
  width: 100%;
  border-top: 1px dashed #ccc;
  margin-top: 10px;
}
.enter_no_pass h1 {
  margin: 0.75em 0 0 0;
  padding: 0.45em 0.75em;
  font-size: 1em;
  width: 91%;
  float: left;
}

.enter_pass {
  float: left;
  width: 33%;
  padding: 0 0.65em;
}
.enter_pass label {
  float: left;
  width: 100%;
  padding-bottom: 0.4em;
  margin-left: 0.25em;
}
.enter_pass .pass_sel {
  width: 100%;
  border: 1px solid #cac9c9;
  border-radius: 6px;
}

/* ------- Flight Search PopUp ------- */
.flightsearch_popup {
  border: 1px solid #d7dff4;
  border-radius: 3px;
  width: 500px;
  box-shadow: 0px 1px 3px #c0c0c0;
  padding: 10px;
  position: fixed;
  z-index: 1000;
}

/* ------- Flight Search PopUp Close Image------- */
.fl_close_new {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: -20px;
  margin-top: -20px;
  *margin-top: -28px;
}

/*---------------------New CSS Added-----------------*/
.new_layout_search_result {
  width: 82% !important;
}
.fl_result_return {
  background: #f4f4f4;
}
.width_17 {
  width: 17.5%;
}
.top_link {
  border: 1px solid #dcdcdf;
}
.tab_out_in_bound {
  width: 100%;
  float: left;
  margin-top: 1px;
}
.tab_out_in_bound span:first-child {
}
.tab_out_in_bound span {
  float: left;
  width: 50%;
  text-align: center;
}
.tab_out_in_bound span a:hover,
.tab_out_in_bound span a.active {
  background: #004684;
  color: #fff;
}
.tab_out_in_bound span a {
  text-decoration: none;
  color: #004684;
  font-weight: bold;
  display: block;
  padding: 7px 0;
}
.inbund_panel,
.outbund_panel {
  margin: 0px;
  padding: 0px;
}
.srch_relt_main {
  float: right;
  margin-top: 7px;
  width: 82%;
}
.wd_49 {
  width: 49%;
}
.wd_50 {
  width: 50%;
}
.mr_lft1 {
  margin-left: 1% !important;
}
/*.mr_lft10{margin-left:10.2% !important; }*/
.w_d16 {
  width: 16%;
}
.w_d13 {
  margin-left: 12.5%;
}
.w_d8 {
  margin-left: 8.75%;
}
.w_d3 {
  margin-left: 3.9%;
}
.disabled_ticketed {
  opacity: 0.5;
}

/* tiger connect Popup */
.connect_popup {
  width: 333px;
  margin: 0;
  padding: 10px;
  z-index: 10000;
  position: fixed;
  left: 35%;
  top: 25%;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px 2px #444;
  border-radius: 5px;
}
.connect_popup h5 {
  float: left;
  width: 100%;
  font-size: 15px;
  padding: 0px;
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
}
.connect_popup p {
  float: left;
  width: 100%;
  padding: 5px;
  font-size: 13px;
}
.connect_popup ul {
  float: left;
  width: 95%;
  margin: 0px 0;
  padding: 0px;
}
.connect_popup ul {
  float: left;
  width: 95%;
  margin: 5px;
  padding-left: 10px;
}
.connect_popup dfn {
  float: left;
  width: 100%;
  padding: 5px;
  font-size: 13px;
  color: red;
  font-weight: bold;
  font-style: normal;
}
.black_cover {
  position: fixed;
  width: 100%;
  left: 0px;
  height: 100%;
  top: 0px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/*Baggage section*/
.air_bagg {
  width: 36% !important;
  padding-left: 2%;
}
.browncolor {
  color: #8b4513 !important;
  padding-bottom: 5px;
  font-weight: bold;
}
/***/

.all-searchbox {
  margin-top: 20px;
}

.all-box-onewaydata {
  height: auto;
  width: 100%;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.all-box-onewaydata .rowfs {
  padding: 0px 0px 3px 10px;
}

.row-box-onewaydata {
  background-color: #f8f3f2;
  padding: 8px 10px;
  text-align: right;
}

.tour-onewaydays em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-onewayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}

.old-price {
  font-weight: normal;
  color: #333333;
  font-size: 12px;
}

.productfare-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  border: 2px solid #ebebeb;
  background: #fff;
  color: #333333;
}

.productfare-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-oneway {
  text-align: left;
  font-size: 14px;
}

.product-oneway p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-onewaydays img {
  width: 25px;
}

.single-waytime {
  font-size: 16px;
  font-weight: 900;
}

.flight-paneldetails:after {
  font-family: fontello;
  text-decoration: inherit;
  content: "\e89c";
  width: 1em;
  margin-right: 0.2em;
  line-height: 1em;
  margin-left: 0.2em;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  float: right;
  speak: none;
  font-size: large;
  /* background: url(/assets/img/flighticon.png);  */
}

.flight-paneldetails.collapsed:after {
  /* symbol for "collapsed" panels */
  font-family: fontello;
  text-decoration: inherit;
  content: "\e89d";
  width: 1em;
  margin-right: 0.2em;
  line-height: 1em;
  margin-left: 0.2em;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  float: right;
  speak: none;
  font-size: large;
  /* background: url(/assets/img/flighticon.png);
background-position: -13px -48px; */
}

.flight-paneldetails {
  cursor: pointer;
  text-decoration: none !important;
}

.tooltip-onewaynew .tooltiptext-onewaynew {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 10%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 0 5px 1px #cdcecf;
}

.tooltip-onewaynew .refund-onewaytooltip {
  left: 16%;
}

.tooltip-onewaynew .nonrefund-onewaytooltip {
  left: 25%;
}

.tooltip-onewaynew .tooltiptext-onewaynew::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip-onewaynew:hover .tooltiptext-onewaynew {
  visibility: visible;
  opacity: 1;
}

/*right tooltip*/
.tooltipnewright {
  position: relative;
  display: inline-block;
}

.tooltipnewright .tooltiptextnewright {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltipnewright:hover .tooltiptextnewright {
  visibility: visible;
}

.oneway-imgarrow {
  position: relative;
  left: 0px;
}

.onewayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.onewayfdetails-tabs > li > a {
  color: #f58634;
}

.onewayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.onewayfdetails-tabs > li.active > a,
.onewayfdetails-tabs > li.active > a:hover,
.onewayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

.Fdetails-content {
  padding-bottom: 60px;
  height: auto;
}

/*right tooltip*/
.tooltipnewright {
  position: relative;
  display: inline-block;
}

.tooltipnewright .tooltiptextnewright {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  /*left: 105%;*/
  right: 50%;
}

.tooltipnewright:hover .tooltiptextnewright {
  visibility: visible;
}

@media (min-width: 992px) {
  .onewayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .onewayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .onewayfdetails-tabs > li.active > a,
  .onewayfdetails-tabs > li.active > a:hover,
  .onewayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

.all-searchbox {
  margin-top: 20px;
}

.all-box-multiwaydata {
  height: auto;
  width: 100%;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  border-bottom: 1px solid #d2d2d2;
}

.all-box-multiwaydata .rowfs {
  padding: 0px 0px 3px 10px;
}

.row-box-multiwaydata {
  background-color: #f3f7fa;
  padding: 8px 10px;
  text-align: right;
}

.tour-multi-waydays {
  font-size: 14px;
}

.tour-multi-waydays em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-multi-wayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}

.productmultiway-bookbtn {
  text-align: right;
}

.productmultiway-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  background: #f58634;
  color: #fff;
  border-color: #f58634;
}

.productmultiway-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-multi-way {
  text-align: left;
  font-size: 14px;
}

.product-multi-way p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-multi-waydays img {
  width: 35px;
}

.single-multi-waytime {
  font-size: 16px;
  font-weight: 900;
}

.flight-panelmultiway:after {
  /* symbol for "opening" panels */
  font-family: ""; /* essential for enabling glyphicon  Glyphicons Halflings*/
  content: ""; /* adjust as needed, \e114 taken from bootstrap.css */
  float: right; /* adjust as needed */
  color: grey; /* adjust as needed */
  background: url(/assets/img/flighticon.png);
  background-position: -250px -170px;
  cursor: pointer;
}

.flight-panelmultiway.collapsed:after {
  /* symbol for "collapsed" panels */
  content: ""; /* adjust as needed,\e080 taken from bootstrap.css */
  background: url(/assets/img/flighticon.png);
  background-position: -231px -177px;
}

.flight-panelmultiway {
  cursor: pointer;
  text-decoration: none !important;
}

.oneway-imgarrow {
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-onewaynew .tooltiptext-onewaynew {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 10%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 0 5px 1px #cdcecf;
}

.tooltip-onewaynew .refund-onewaytooltip {
  left: 96.6%;
}

.tooltip-onewaynew .nonrefund-onewaytooltip {
  left: 25%;
}

.tooltip-onewaynew .tooltiptext-onewaynew::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip-onewaynew:hover .tooltiptext-onewaynew {
  visibility: visible;
  opacity: 1;
}

/*right tooltip*/
.tooltipnewright {
  position: relative;
  display: inline-block;
}

.tooltipnewright .tooltiptextnewright {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltipnewright:hover .tooltiptextnewright {
  visibility: visible;
}

.multi-wayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.multi-wayfdetails-tabs > li > a {
  color: #f58634;
}

.multi-wayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.multi-wayfdetails-tabs > li.active > a,
.multi-wayfdetails-tabs > li.active > a:hover,
.multi-wayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

.Fdetails-content {
  padding-bottom: 60px;
  height: auto;
}

@media (min-width: 992px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .multi-wayfdetails-tabs > li.active > a,
  .multi-wayfdetails-tabs > li.active > a:hover,
  .multi-wayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

.border-multiway {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-multitabs {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .multiway-leftblock {
    width: 100%;
  }

  .productmultiway-bookbtn {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .tour-multi-waydays {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .inherit-tabs {
    width: 100% !important;
  }

  .product-multi-way {
    text-align: center;
    width: 33.3333%;
  }

  .oneway-imgarrow {
    width: 100%;
  }
}

.all-searchbox {
  margin-top: 20px;
}

.all-box-roundtripwaydata {
  height: auto;
  width: 100%;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.activeroundblock {
  background-color: #ccf0fd;
  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
}

.activeroundblock2 {
  background-color: #ccf0fd;
  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
}

.all-box-roundtripwaydata:hover {
  background-color: #ccf0fd;
  cursor: pointer;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
}

.all-box-roundtripwaydata .rowRfs {
  padding: 0px 0px 3px 10px;
}

.rowRfs {
  margin-left: 0;
  margin-right: 0;
}

.pad-rightn {
  padding-right: 3px;
}

.pad-leftn {
  padding-left: 3px;
}

.rd-check {
  cursor: pointer;
}

.row-box-roundtripwaydata {
  background-color: #f8f3f2;
  padding: 8px 10px;
  text-align: right;
  margin-right: 0;
  margin-left: 0;
}

.tour-roundtripwaydays {
  font-size: 13px;
}

.tour-roundtripwaydays em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-roundtripwayprice {
  font-weight: 700;
  color: #339933;
  font-size: 13px;
}

.old-price {
  font-weight: normal;
  color: #333333;
  font-size: 12px;
}

.productfare-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  border: 2px solid #ebebeb;
  background: #fff;
  color: #333333;
}

.productfare-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-roundtripway {
  text-align: left;
  font-size: 12px;
}

.product-roundtripway p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-roundtripwaydays img {
  width: 25px;
}

.roundtrip-waytime {
  font-size: 12px;
  font-weight: 600;
}

.flight-roundtrippaneldetails:after {
  /* symbol for "opening" panels */
  font-family: "Glyphicons Halflings"; /* essential for enabling glyphicon */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
  float: right; /* adjust as needed */
  color: grey; /* adjust as needed */
}

.flight-roundtrippaneldetails.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.flight-roundtrippaneldetails {
  cursor: pointer;
  text-decoration: none !important;
}

.oneway-imgarrow {
  position: relative;
  left: 0px;
}

.roundtripwayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.roundtripwayfdetails-tabs > li > a {
  color: #f58634;
}

.roundtripwayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.roundtripwayfdetails-tabs > li.active > a,
.roundtripwayfdetails-tabs > li.active > a:hover,
.roundtripwayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

.Froundtripdetails-content {
  padding-bottom: 30px;
  height: auto;
}

@media (min-width: 992px) {
  .roundtripwayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .stop-roundtrip {
    display: none;
  }

  .roundtripwayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .roundtripwayfdetails-tabs > li.active > a,
  .roundtripwayfdetails-tabs > li.active > a:hover,
  .roundtripwayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

@media (max-width: 767px) {
  .tour-roundtripwaydays {
    width: 100%;
    text-align: center;
  }

  .fr-timing {
    width: 50%;
    text-align: center;
  }

  .content_roundtripwayprice {
    width: 50%;
    text-align: center;
  }
}

.mb10 {
  margin-bottom: 10px;
}

/*footer bar fixed css*/
.all-searchbox {
  margin-top: 20px;
}

.all-bottomdata {
  height: auto;
  width: 100%;
  text-align: left;
  background: #4263c1;
  padding-top: 10px;
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border-top: 1px solid #fff;
  border-radius: 4px;
  position: fixed;
  width: 100%;
  z-index: 200;
  left: 0;
  bottom: 0;
}

.border-rightbar {
  border-right: 1px solid #e4e4e4;
}

.all-box-onewaydata .rowfs {
  padding: 0px 0px 3px 10px;
}

.tour-round-days em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-round-waysprice {
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.air-flight {
  font-size: 13px;
}

.productroundways-btn .btn {
  padding: 7px 15px 7px 15px;
  background: #f58634;
  color: #fff;
}

.productroundways-btn .btn:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-round-way {
  text-align: left;
  font-size: 14px;
}

.product-round-way p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-round-days img {
  width: 25px;
}

.single-waytime {
  font-size: 15px;
  font-weight: 900;
}

.city-title {
  font-size: 15px;
  font-weight: 900;
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
  .right-arrownew {
    display: none;
  }
}

@media (max-width: 767px) {
  .city-title {
    display: none;
  }

  .tour-round-days {
    width: 100%;
    text-align: center;
  }

  .product-round-way {
    width: 50%;
    text-align: center;
  }

  .content_round-waysprice {
    width: 100%;
    text-align: center;
  }

  .content_round-waysprice .pullnone {
    float: none !important;
  }

  .single-waytime {
    font-size: 13px;
    font-weight: normal;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.multi-wayfdetails-tabs > li {
  background: none;
  border-right: none;
}
.multi-wayfdetails-tabs > li > a {
  color: #f58634;
}
.multi-wayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}
.multi-wayfdetails-tabs > li.active > a,
.multi-wayfdetails-tabs > li.active > a:hover,
.multi-wayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}
.Fdetails-content {
  padding-bottom: 60px;
  height: auto;
}

@media (min-width: 992px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 991px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }
  .multi-wayfdetails-tabs > li.active > a,
  .multi-wayfdetails-tabs > li.active > a:hover,
  .multi-wayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}
.border-multiway {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
.border-multitabs {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .multiway-leftblock {
    width: 100%;
  }
  .productmultiway-bookbtn {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .tour-multi-waydays {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .inherit-tabs {
    width: 100% !important;
  }
  .product-multi-way {
    text-align: center;
    width: 33.3333%;
  }
  .oneway-imgarrow {
    width: 100%;
  }
}

.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.transform-flight {
  transform: rotate(270deg);
}

.bord-bot5 {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 8px;
}

.mar-to-12 {
  margin-top: 12px;
}

.no-margn {
  margin-left: 0;
  margin-right: 0;
}

.tab-content {
  padding: 5px !important;
}

.fd-des {
  float: left;
  content: " ";
  background: url(/assets/img/flighticon.png);
  width: 42px;
  height: 20px;
  background-position: -100px -6px;
}

.fd-destin {
  float: left;
  content: " ";
  background: url(/assets/img/flighticon.png);
  width: 42px;
  height: 20px;
  background-position: -95px -45px;
}

.card-body {
  padding: 15px;
  line-height: 0.6 !important;
  border-top: none;
}

.lay-over .lay-over-spn:before {
  margin-right: 10px;
}

.lay-over .lay-over-spn:before,
.lay-over .lay-over-spn:after {
  display: inline-block;
  width: auto;
  height: 1px;
  content: "";
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.12);
}

.lay-over .lay-over-spn:after {
  margin-left: 10px;
}

.lay-over .lay-over-spn:before,
.lay-over .lay-over-spn:after {
  display: inline-block;
  width: auto;
  height: 1px;
  content: "";
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-checkbox-label {
  color: #555 !important;
}

::ng-deep .mat-radio-label-content {
  color: #555 !important;
}