<br><br><br><br><br>
<main>
  <div id="position">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
              <a [routerLink]="['/home']">Home</a>
            </li>
            <li>flight list</li>
          </ul>
        </div>
        <div class="col-md-9">

        </div>
      </div>
    </div>
  </div>
  <div class="container margin_60">
    <div class="row">
      <aside class="col-lg-3">
        <app-flight-filter [Filter]="Filter" [Flightlength]="flightlength" [JourneyType]="objSearch.JourneyType"
          [IsDomestic]="IsDomestic">
        </app-flight-filter>
      </aside>
      <div class="col-lg-9">
        <div id="tools">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-6">
              <div class="styled-select-filters">
                <select name="sort_price" id="sort_price">
                  <option value="" selected="">Sort by price</option>
                  <option value="lower">Lowest price</option>
                  <option value="higher">Highest price</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6">
              <div class="styled-select-filters">
                <select name="sort_rating" id="sort_rating">
                  <option value="" selected="">Sort by ranking</option>
                  <option value="lower">Lowest ranking</option>
                  <option value="higher">Highest ranking</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-4 d-none d-sm-block text-right">
              <!-- <a href="#" class="bt_filters"><i class="icon-th"></i></a> -->
              <a data-toggle="collapse" data-parent="#modify" href="#Search" class="bt_filters">Modify Search</a>

            </div>
          </div>
        </div>
        <!--Modify Search-->
        <div class="accordion_styled" id="Search" [ngClass]="error === true ? 'collapse show' : 'collapse'"
          data-parent="#modify">
          <div class="card">
            <div class="card-body">
              <br />
              <app-search-flight [JourneyType]="JourneyType" [Direct]="Direct" [OriginCode]="OriginCode"
                [Search]="objSearch" [TotelGuest]="TotelGuest" [DestinationCode]="DestinationCode" [Class]="Class"
                [Destinations]="Destinations" [singleDatePicker]="singleDatePicker"></app-search-flight>
            </div>
          </div>
          <br />
        </div>
        <!--Modify Search-->
        <div class="box_style_2"
          *ngIf="_response && flights.length === 0 && (this.RoundTrip.Inbound.length === 0 || this.RoundTrip.Outbound.length === 0)">
          <h1>
            <span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span>
          </h1>
          <h1>Sorry !!</h1>
          <h2 *ngIf="!error">Flight Not Found</h2>
          <div *ngIf="error">
            <h3>An error occurred. Please search again</h3>
          </div>
        </div>


        <div
          *ngIf="objSearch.JourneyType==='1'  || (objSearch.JourneyType==='2' && IsDomestic && flightlength === 1) || (objSearch.JourneyType==='2' && !IsDomestic) || objSearch.JourneyType==='3'">
          <div class="all-searchbox" *ngFor="let flight of flights; let f=index">
            <div class="all-box-multiwaydata">
              <div class="col-lg-12">
                <div class="row rowfs">

                  <!-- for oneway -->
                  <div class="col-md-10 col-lg-10 col-xs-10 multiway-leftblock" *ngIf="objSearch.JourneyType==='1'">
                    <div class="row mb10">
                      <div class="col-md-4 col-lg-3 col-xs-4 tour-multi-waydays">
                        <div class="row">
                          <div class="col-md-3 col-lg-2 col-xs-12">
                            <img class=""
                              src="../../../../assets/img/AirlineLogo/{{flight.Segments[0][0].Airline.AirlineCode}}.gif" />
                          </div>
                          <div class="col-md-9 col-lg-10 col-xs-12">
                            <span>{{flight.Segments[0][0].Airline.AirlineName}}</span>
                            <br><span>({{flight.Segments[0][0].Airline.AirlineCode}}-
                              {{flight.Segments[0][0].Airline.FlightNumber}}{{flight.Segments[0][0].Airline.FareClass}})
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                        <span> {{flight.Segments[0][0].Origin.Airport.AirportCode}}
                        </span><br>
                        <span class="single-multi-waytime">
                          {{flight.Segments[0][0].Origin.DepTime.time}}
                        </span><br>
                        <span>
                          {{flight.Segments[0][0].Origin.DepTime.date}}
                        </span>
                      </div>
                      <div class="col-md-4 col-lg-5 col-xs-4 product-multi-way" style="text-align: center;">
                        <span>{{flight.Segments[0][0].Duration}} |
                          <span *ngIf="flight.Segments[0].length===1">
                            Non Stop</span>
                          <span *ngIf="flight.Segments[0].length>1">
                            {{flight.Segments[0].length-1}} Stop</span>
                        </span><br>
                        <img class="oneway-imgarrow" src="../../../../assets/img/arow_main.png">
                        <br><span>{{flight.Segments[0][0].NoOfSeatAvailable}} seat(s) left</span>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                        <span> {{flight.Segments[0][flight.Segments[0].length-1].Destination.Airport.AirportCode}}
                        </span><br>
                        <span class="single-multi-waytime">
                          {{flight.Segments[0][flight.Segments[0].length-1].Destination.ArrTime.time}}
                        </span><br>
                        <span>
                          {{flight.Segments[0][flight.Segments[0].length-1].Destination.ArrTime.date}}
                        </span>
                      </div>
                    </div>
                  </div>

                  <!-- for multicity or roundway international -->

                  <div class="col-md-10 col-lg-10 col-xs-10 multiway-leftblock"
                    *ngIf="(objSearch.JourneyType==='2' && !IsDomestic) || (objSearch.JourneyType === '2' && IsDomestic && flightlength === 1) || objSearch.JourneyType==='3'">
                    <div *ngFor="let segment of flight.Segments; let i=index">
                      <div class="row" *ngIf="objSearch.JourneyType ==='2'">
                        <div class="col-lg-12">
                          <div class="row mb10" style="padding: 0px 0px 3px 10px;">
                            <div class="col-lg-12" style="font-size: 14px;" *ngIf="i===0">
                              <div class="fd-des"></div>
                              <span> <b>Depart</b></span>
                            </div>
                            <div class="col-lg-12" style="font-size: 14px;" *ngIf="i===1">
                              <div class="fd-destin"></div>
                              <span> <b>Return</b></span>
                            </div>
                            <!-- <div class="col-lg-9" style="text-align: right;font-size: 14px;">
                              <span>Refundable</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="row mb10">
                        <div class="col-md-4 col-lg-3 col-xs-4 tour-multi-waydays">
                          <div class="row">
                            <div class="col-md-3 col-lg-2 col-xs-12">
                              <img class=""
                                src="../../../../assets/img/AirlineLogo/{{segment[0].Airline.AirlineCode}}.gif" />
                            </div>
                            <div class="col-md-9 col-lg-10 col-xs-12">
                              <span>{{segment[0].Airline.AirlineName}}</span>
                              <br><span>({{segment[0].Airline.AirlineCode}}-
                                {{segment[0].Airline.FlightNumber}}{{segment[0].Airline.FareClass}})
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                          <span> {{segment[0].Origin.Airport.AirportCode}}
                          </span><br>
                          <span class="single-multi-waytime">
                            {{segment[0].Origin.DepTime.time}}
                          </span><br>
                          <span>
                            {{segment[0].Origin.DepTime.date}}
                          </span>
                        </div>
                        <div class="col-md-4 col-lg-5 col-xs-4 product-multi-way" style="text-align: center;">
                          <span>{{segment[0].Duration}} | <span *ngIf="segment.length===1">Non Stop</span>
                            <span *ngIf="segment.length>1"> {{segment.length-1}} Stop</span>
                          </span><br>
                          <img class="oneway-imgarrow" src="../../../../assets/img/main-img1.png">
                          <br><span>{{segment[0].NoOfSeatAvailable}} seat(s) left</span>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                          <span> {{segment[segment.length-1].Destination.Airport.AirportCode}}
                          </span><br>
                          <span class="single-multi-waytime">
                            {{segment[segment.length-1].Destination.ArrTime.time}}
                          </span><br>
                          <span>
                            {{segment[segment.length-1].Destination.ArrTime.date}}
                          </span>
                        </div>
                      </div>
                      <hr class="border-multiway">
                    </div>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xs-2 productmultiway-bookbtn">
                    <div style="font-size: 14px;" * ngIf="flight.JourneyType!='1'">
                      <span *ngIf="flight.IsRefundable"> Refundable </span>
                      <span *ngIf="!flight.IsRefundable"> Non Refundable</span>
                      <br>
                    </div>

                    <span class="">
                      <span class="product-multi-wayprice">
                        <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;
                        {{flight.Fare.Charge.TotalPrice.toFixed(2)}}
                      </span>
                    </span><br><br>
                    <a href="javascript:;" (click)="GetFareQuote(flight.ResultIndex)" class="btn_1">Book Now</a><br>
                  </div>
                </div>
                <div class="clearfix"></div>

                <div class="row row-box-multiwaydata">
                  <div class="col-md-12 col-sm-12 col-xs-12 product-multi-way inherit-tabs">
                    <a class="flight-paneldetails" data-toggle="collapse" attr.data-target="#details_{{f}}">
                      Flight Details
                    </a>
                    <!-- for oneway Details page -->
                    <!-- Nav tabs -->
                    <div id="details_{{f}}" class="collapse" *ngIf="objSearch.JourneyType==='1'">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="flight-info_{{f}}" data-toggle="tab"
                            href="#Flight_details_{{f}}" role="tab" attr.aria-controls="Flight_details_{{f}}"
                            aria-selected="true">
                            Flight Information</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="fare-details_{{f}}" (click)="getFareRules(flight.ResultIndex)"
                            data-toggle="tab" href="#Fare_details_{{f}}" role="tab"
                            attr.aria-controls="Fare_details_{{f}}" aria-selected="false">Fare Details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="baggage_{{f}}" data-toggle="tab" href="#Baggage_details_{{f}}"
                            role="tab" attr.aria-controls="Baggage_details_{{f}}" aria-selected="false">
                            Baggage Information</a>
                        </li>
                      </ul>

                      <div class="tab-content">

                        <!-- flight info -->

                        <div class="tab-pane fade show active" id="Flight_details_{{f}}" role="tabpanel"
                          attr.aria-labelledby="flight-info_{{f}}">
                          <div *ngFor="let segment of flight.Segments[0]; let last=last">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="row mb10" style="padding: 0px 0px 3px 10px;">
                                  <div class="col-lg-12" style="font-size: 14px;">
                                    <span>{{segment.Origin.Airport.CityCode}}
                                      <i class="icon-left">
                                      </i>
                                      {{segment.Destination.Airport.CityCode}}
                                    </span>
                                  </div>
                                  <!-- <div class="col-lg-9" style="text-align: right;font-size: 14px;">
                        <span>Refundable</span>
                        </div> -->
                                </div>
                              </div>
                            </div>
                            <div class="row mb10">
                              <div class="col-md-4 col-lg-3 col-xs-4 tour-multi-waydays">
                                <div class="row">
                                  <div class="col-md-3 col-lg-2 col-xs-12">
                                    <img class=""
                                      src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />
                                  </div>
                                  <div class="col-md-9 col-lg-10 col-xs-12">
                                    <span>&nbsp;{{segment.Airline.AirlineName}}
                                    </span>
                                    <br>
                                    <span>&nbsp;(
                                      {{segment.Airline.AirlineCode}} -
                                      {{ segment.Airline.FlightNumber}}{{segment.Airline.FareClass }} )
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                                <span> {{segment.Origin.Airport.CityCode}}({{segment.Origin.Airport.CityName}})
                                </span>
                                <br>
                                <span class="single-multi-waytime"> {{segment.Origin.DepTime.time}}
                                </span>
                                <br>
                                <span>{{segment.Origin.DepTime.date}}
                                </span>
                              </div>
                              <div class="col-md-4 col-lg-5 col-xs-4 product-multi-way" style="text-align: center;">
                                <span> {{segment.Duration}}
                                  <!-- <span *ngIf="segment.length === 1"> Non Stop
                              </span>
                               <span *ngIf="segment.length > 1">
                               {{segment.length}} Stop
                                </span> -->
                                </span>
                                <br>
                                <img class="oneway-imgarrow" src="../../../../assets/img/arow_main.png">
                                <br>
                                <span>{{segment.NoOfSeatAvailable}}
                                  seat(s)
                                  left
                                </span>
                              </div>
                              <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                                <span> {{ segment.Destination.Airport.CityCode}}
                                  ({{segment.Destination.Airport.CityName}})
                                </span>
                                <br>
                                <span class="single-multi-waytime">{{segment.Destination.ArrTime.time}}
                                </span>
                                <br>
                                <span>
                                  {{ segment.Destination.ArrTime.date}}
                                </span>
                              </div>
                            </div>
                            <!-- <div *ngIf="!last" class="lay-over">
                              <span class="lay-over-spn"> 15h 15min </span>
                            </div> -->
                            <hr *ngIf="!last" class="border-multitabs">
                          </div>
                        </div>

                        <!-- fare details -->

                        <div class="tab-pane fade" id="Fare_details_{{f}}" role="tabpanel"
                          attr.aria-labelledby="fare-details_{{f}}">

                          <div *ngIf="flight.isloading">
                            <img src="assets/img/loading.jpg" alt="loader">
                          </div>

                          <div [innerHTML]="flight.FareDetails">
                          </div>
                        </div>

                        <!-- baggage info -->

                        <div class="tab-pane fade" id="Baggage_details_{{f}}" role="tabpanel"
                          attr.aria-labelledby="baggage_{{f}}">
                          <div class="row mar-to-12">
                            <div> </div>
                            <div class="col-md-3 col-sm-3 col-xs-4 fon13">
                              AIRLINE
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-4 pad-0 fon13">
                              Check-in Baggage
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-4 fon13">
                              Cabin-Baggage
                            </div>
                          </div>
                          <hr class="border-multitabs">
                          <div *ngFor="let segment of flight.Segments[0]; let last=last">
                            <div class="row mar-to-12 no-margn">
                              <div class="col-md-3 col-sm-3 col-xs-3 tour-roundtripwaydays">
                                <img class=""
                                  src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                <span>{{segment.Airline.AirlineName}}
                                </span>
                                <br>
                                <span>(
                                  {{segment.Airline.AirlineCode}} -
                                  {{segment.Airline.FlightNumber}}{{segment.Airline.FareClass}} )
                                </span>
                              </div>
                              <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway fr-timing">
                                <span>
                                  {{segment.Baggage}}
                                </span>
                              </div>
                              <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway stop-roundtrip">
                                <span>
                                  {{segment.CabinBaggage}}
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <!-- for multicity or roundway international -->
                    <div id="details_{{f}}" class="collapse"
                      *ngIf="( objSearch.JourneyType==='2' && !IsDomestic ) || objSearch.JourneyType==='3'">


                      <!-- for multicity or roundway international detail tab -->

                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="flight-info_{{f}}" data-toggle="tab"
                            href="#Flight_details_{{f}}" role="tab" attr.aria-controls="Flight_details_{{f}}"
                            aria-selected="true">
                            Flight Information</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="fare-details_{{f}}" (click)="getFareRules(flight.ResultIndex)"
                            data-toggle="tab" href="#Fare_details_{{f}}" role="tab"
                            attr.aria-controls="Fare_details_{{f}}" aria-selected="false">Fare Details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="baggage_{{f}}" data-toggle="tab" href="#Baggage_details_{{f}}"
                            role="tab" attr.aria-controls="Baggage_details_{{f}}" aria-selected="false">
                            Baggage Information</a>
                        </li>
                      </ul>

                      <div class="tab-content">
                        <!-- flight info -->

                        <div class="tab-pane fade show active" id="Flight_details_{{f}}" role="tabpanel"
                          attr.aria-labelledby="flight-info_{{f}}">

                          <div *ngFor="let Segments of flight.Segments; let last=last; let i=index">

                            <div class="row" *ngIf="objSearch.JourneyType ==='2'">
                              <div class="col-lg-12">
                                <div class="row" style="padding: 10px 0px 3px 10px;">
                                  <div class="col-lg-12" style="font-size: 14px;" *ngIf="i===0">
                                    <span><i class="fas fa-plane-departure"></i> <b> Depart</b></span>
                                  </div>
                                  <div class="col-lg-12" style="font-size: 14px;" *ngIf="i===1">
                                    <span><i class="fas fa-plane-departure transform-flight"></i> <b> Return</b></span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div *ngFor="let segment of Segments ; let last=last">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="row mb10" style="padding: 0px 0px 3px 10px;">
                                    <div class="col-lg-12" style="font-size: 14px;">
                                      <span>{{segment.Origin.Airport.CityCode}} <i class="icon-left"></i>
                                        {{segment.Destination.Airport.CityCode}} </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class=" row mb10">
                                <div class="col-md-4 col-lg-3 col-xs-4 tour-multi-waydays">
                                  <div class="row">
                                    <div class="col-md-3 col-lg-2 col-xs-12">
                                      <img class=""
                                        src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />
                                    </div>
                                    <div class="col-md-9 col-lg-10 col-xs-12">

                                      <span>&nbsp;{{segment.Airline.AirlineName}}</span><br><span>&nbsp;(
                                        {{segment.Airline.AirlineCode}} -
                                        {{ segment.Airline.FlightNumber}}{{segment.Airline.FareClass }} )</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                                  <span> {{segment.Origin.Airport.CityCode}}({{segment.Origin.Airport.CityName}})
                                  </span><br>
                                  <span class="single-multi-waytime"> {{segment.Origin.DepTime.time}}
                                  </span><br><span>{{segment.Origin.DepTime.date}}</span>
                                </div>
                                <div class="col-md-4 col-lg-5 col-xs-4 product-multi-way" style="text-align: center;">
                                  <span> {{segment.Duration}}
                                  </span>
                                  <br>
                                  <img class="oneway-imgarrow"
                                    src="../../../../assets/img/main-img1.png"><br><span>{{segment.NoOfSeatAvailable}}
                                    seat(s) left</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-xs-2 product-multi-way">
                                  <span> {{ segment.Destination.Airport.CityCode}} (
                                    {{segment.Destination.Airport.CityName}})
                                  </span><br>
                                  <span
                                    class="single-multi-waytime">{{segment.Destination.ArrTime.time}}</span><br><span>{{segment.Destination.ArrTime.date}}</span>
                                </div>
                              </div>
                              <hr *ngIf="!last" class="border-multiway">
                            </div>
                            <hr *ngIf="!last" class="border-multitabs">
                          </div>
                        </div>

                        <!-- fare details -->

                        <div class="tab-pane fade" id="Fare_details_{{f}}" role="tabpanel"
                          attr.aria-labelledby="fare-details_{{f}}">
                          <div [innerHTML]="flight.FareDetails">
                          </div>
                        </div>

                        <!-- baggage info -->

                        <div class="tab-pane fade" id="Baggage_details_{{f}}" role="tabpanel"
                          attr.aria-labelledby="baggage_{{f}}">
                          <div class="row mar-to-12">
                            <div> </div>
                            <div class="col-md-3 col-sm-3 col-xs-4 fon13">
                              AIRLINE
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-4 pad-0 fon13">
                              Check-in Baggage
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-4 fon13">
                              Cabin-Baggage
                            </div>
                          </div>
                          <hr class="border-multitabs">
                          <div *ngFor="let segment of flight.Segments; let last=last; let i=index">
                            <div class="row" *ngIf="objSearch.JourneyType ==='2'">
                              <div class="col-lg-12">
                                <div class="row" style="padding: 10px 0px 3px 10px;">
                                  <div class="col-lg-12" style="font-size: 14px;" *ngIf="i===0">
                                    <span><i class="fas fa-plane-departure"></i> <b> Depart</b></span>
                                  </div>
                                  <div class="col-lg-12" style="font-size: 14px;" *ngIf="i===1">
                                    <span><i class="fas fa-plane-departure transform-flight"></i> <b> Return</b></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div *ngFor="let segment of segment">
                              <div class="row mar-to-12 no-margn">
                                <div class="col-md-3 col-sm-3 col-xs-3 tour-roundtripwaydays">
                                  <img class=""
                                    src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                  <span>{{segment.Airline.AirlineName}}
                                  </span>
                                  <br>
                                  <span>(
                                    {{segment.Airline.AirlineCode}} -
                                    {{segment.Airline.FlightNumber}}{{segment.Airline.FareClass}} )
                                  </span>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway fr-timing">
                                  <span>
                                    {{segment.Baggage}}
                                  </span>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway stop-roundtrip">
                                  <span>
                                    {{segment.CabinBaggage}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="objSearch.JourneyType==='2' && IsDomestic && flightlength>1">
          <div class="all-searchbox">
            <div class="row">
              <div class="col-md-6 col-xs-6 pad-rightn">
                <div *ngFor="let inbound of RoundTrip.Inbound;let j=index">
                  <div class="row">
                    <div class="col-md-12 col-xs-12">
                      <div class="all-box-roundtripwaydata roubdbk1 1-{{j}}" (click)="onSetActiveClass('roubdbk1',j,1)">
                        <div class="row rowRfs">
                          <div class="col-md-3 col-lg-3 col-xs-3 tour-roundtripwaydays">
                            <img class=""
                              src="../../../../assets/img/AirlineLogo/{{inbound.Segments[0][0].Airline.AirlineCode}}.gif" /><br>
                            <span>{{inbound.Segments[0][0].Airline.AirlineName}}</span><br>
                            <span>({{inbound.Segments[0][0].Airline.AirlineCode}}-
                              {{inbound.Segments[0][0].Airline.FlightNumber}}{{inbound.Segments[0][0].Airline.FareClass}})</span>
                          </div>
                          <div class="col-md-2 col-lg-2 col-xs-2 product-roundtripway fr-timing">
                            <span class="roundtrip-waytime">
                              {{inbound.Segments[0][0].Origin.DepTime.time}}
                            </span><br>
                            <span>{{inbound.Segments[0][0].Origin.Airport.AirportCode}}</span>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xs-2 product-roundtripway stop-roundtrip">
                            <span>{{inbound.Segments[0][0].Duration}}
                            </span><br><img class="oneway-imgarrow" src="assets/img/arow_round.png"><br>
                            <!-- <span> {{inbound.Segments[0][0].NoOfSeatAvailable}} seat(s) left </span> -->
                            <span *ngIf="inbound.Segments[0].length===1">Non Stop</span>
                            <span *ngIf="inbound.Segments[0].length>1"> {{inbound.Segments[0].length-1}} Stop</span>
                          </div>
                          <div class="col-md-2 col-lg-2 col-xs-2 product-roundtripway fr-timing">
                            <span class="roundtrip-waytime">
                              {{inbound.Segments[0][inbound.Segments[0].length-1].Destination.ArrTime.time}}
                            </span><br>
                            <span>
                              {{inbound.Segments[0][inbound.Segments[0].length-1].Destination.Airport.AirportCode}}
                            </span>
                          </div>
                          <div class="col-md-2 col-lg-2 col-xs-3 content_roundtripwayprice">

                            <span class="pull-right">
                              <span class="product-roundtripwayprice">
                                <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;
                                {{inbound.Fare.Charge.TotalPrice.toFixed(2)}}
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row row-box-roundtripwaydata">
                          <div class="col-md-12 col-lg-12 col-xs-12 product-roundtripway">

                            <a class="flight-paneldetails" data-toggle="collapse"
                              attr.data-target="#inbound_{{j}}">Flight Details </a>
                            <div id="inbound_{{j}}" class="collapse">

                              <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" id="flight_info_inbound_{{j}}" data-toggle="tab"
                                    href="#flightinfo_inbound_{{j}}" role="tab"
                                    attr.aria-controls="flightinfo_inbound_{{j}}" aria-selected="true">Flight Info</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="Fareinbound_{{j}}" data-toggle="tab"
                                    href="#Fare_inbound_{{j}}" role="tab"
                                    (click)="getFareRulesRDomestic(inbound.ResultIndex,'inbound')"
                                    attr.aria-controls="Fare_inbound_{{j}}" aria-selected="false">Fare Details</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="Baggageinbound_{{j}}" data-toggle="tab"
                                    href="#Baggage_inbound_{{j}}" role="tab" attr.aria-controls="Baggage_inbound_{{j}}"
                                    aria-selected="false">Baggage</a>
                                </li>
                              </ul>

                              <div class="tab-content">

                                <!-- flight info -->

                                <div class="tab-pane fade show active" id="flightinfo_inbound_{{j}}" role="tabpanel"
                                  attr.aria-labelledby="flight_info_inbound_{{j}}">

                                  <div *ngFor="let segment of inbound.Segments[0]">
                                    <div class="row">
                                      <div class="col-md-3 col-sm-3 col-xs-3 tour-roundtripwaydays">
                                        <img class=""
                                          src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                        <span>{{segment.Airline.AirlineName}}
                                        </span>
                                        <br>
                                        <span>(
                                          {{segment.Airline.AirlineCode}} -
                                          {{segment.Airline.FlightNumber}}{{segment.Airline.FareClass}}
                                          )
                                        </span>
                                      </div>
                                      <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway fr-timing">
                                        <span class="roundtrip-waytime">
                                          {{segment.Origin.DepTime.time}}
                                        </span>
                                        <br>
                                        <span>
                                          {{segment.Origin.Airport.AirportCode}}
                                        </span>
                                      </div>
                                      <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway stop-roundtrip">
                                        <span>{{segment.Duration}}
                                        </span>
                                        <br>
                                        <img class="oneway-imgarrow" src="assets/img/arow_round.png">
                                        <br>
                                        <span>
                                          {{segment.NoOfSeatAvailable}} seat(s) left
                                        </span>
                                      </div>
                                      <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway fr-timing">
                                        <span class="roundtrip-waytime">{{segment.Destination.ArrTime.time}}
                                        </span>
                                        <br>
                                        <span>
                                          {{segment.Destination.Airport.AirportCode}}
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- fare details -->

                                <div class="tab-pane fade" id="Fare_inbound_{{j}}" role="tabpanel"
                                  attr.aria-labelledby="Fareinbound_{{j}}">
                                  <div [innerHTML]="inbound.FareDetails" *ngIf="!inbound.isloading">
                                  </div>
                                  <div *ngIf="inbound.isloading">
                                    <img src="assets/img/loading.jpg" style="text-align: center;" alt="loader">
                                  </div>
                                </div>

                                <!-- baggage details -->

                                <div class="tab-pane fade" id="Baggage_inbound_{{j}}" role="tabpanel"
                                  attr.aria-labelledby="Baggageinbound_{{j}}">
                                  <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4 fon13">
                                      AIRLINE
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 pad-0 fon13">
                                      Check-in Baggage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 fon13">
                                      Cabin-Baggage
                                    </div>
                                  </div>
                                  <hr class="border-multiway">
                                  <div *ngFor="let segment of inbound.Segments[0]">
                                    <div class="row">
                                      <div class="col-md-4 col-sm-4 col-xs-4 tour-roundtripwaydays">
                                        <img class=""
                                          src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                        <span>{{segment.Airline.AirlineName}}
                                        </span>
                                        <br>
                                        <span>(
                                          {{segment.Airline.AirlineCode}} -
                                          {{segment.Airline.FlightNumber}}{{segment.Airline.FareClass}}
                                          )
                                        </span>
                                      </div>
                                      <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway fr-timing">
                                        <span>
                                          {{segment.Baggage}}
                                        </span>
                                      </div>
                                      <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway stop-roundtrip">
                                        <span>
                                          {{segment.CabinBaggage}}
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div class="col-md-6 col-xs-6 pad-leftn">
                <div *ngFor="let outbound of RoundTrip.Outbound; let k=index;">
                  <div class="row">
                    <div class="col-md-12 col-xs-12">
                      <div class="all-box-roundtripwaydata roubdbk2 2-{{k}}" (click)="onSetActiveClass('roubdbk2',k,2)">
                        <div class="row rowRfs">
                          <div class="col-md-3 col-lg-3 col-xs-3 tour-roundtripwaydays">
                            <img class=""
                              src="../../../../assets/img/AirlineLogo/{{outbound.Segments[0][0].Airline.AirlineCode}}.gif" /><br>
                            <span>{{outbound.Segments[0][0].Airline.AirlineName}}</span><br><span>({{outbound.Segments[0][0].Airline.AirlineCode}}-
                              {{outbound.Segments[0][0].Airline.FlightNumber}}{{outbound.Segments[0][0].Airline.FareClass}})</span>
                          </div>
                          <div class="col-md-2 col-lg-2 col-xs-2 product-roundtripway fr-timing">
                            <span
                              class="roundtrip-waytime">{{outbound.Segments[0][0].Origin.DepTime.time}}</span><br><span>{{outbound.Segments[0][0].Origin.Airport.AirportCode}}</span>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xs-2 product-roundtripway stop-roundtrip">
                            <span>1h 30m</span><br><img class="oneway-imgarrow" src="assets/img/arow_round.png">
                            <br>
                            <span *ngIf="outbound.Segments[0].length===1">Non Stop</span>
                            <span *ngIf="outbound.Segments[0].length>1"> {{outbound.Segments[0].length-1}} Stop</span>
                            <!-- <span>
                              {{outbound.Segments[0][0].NoOfSeatAvailable}} seat(s) left
                            </span> -->
                          </div>
                          <div class="col-md-2 col-lg-2 col-xs-2 product-roundtripway fr-timing">
                            <span
                              class="roundtrip-waytime">{{outbound.Segments[0][outbound.Segments[0].length-1].Destination.ArrTime.time}}</span><br><span>{{outbound.Segments[0][outbound.Segments[0].length-1].Destination.Airport.AirportCode}}</span>
                          </div>
                          <div class="col-md-2 col-lg-2 col-xs-3 content_roundtripwayprice">
                            <span class="pull-right">
                              <span class="product-roundtripwayprice">
                                <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;
                                {{outbound.Fare.Charge.TotalPrice.toFixed(2)}}
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="clearfix"></div>


                        <div class="row row-box-roundtripwaydata">
                          <div class="col-md-12 col-lg-12 col-xs-12 product-roundtripway">
                            <a class="flight-paneldetails" data-toggle="collapse"
                              attr.data-target="#Outbound_{{k}}">Flight Details </a>
                            <div id="Outbound_{{k}}" class="collapse">
                              <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" id="flight_info_outbound_{{k}}" data-toggle="tab"
                                    href="#flightinfo_outbound_{{k}}" role="tab"
                                    attr.aria-controls="flightinfo_outbound_{{k}}" aria-selected="true">Flight Info</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="Fareoutbound_{{k}}" data-toggle="tab"
                                    href="#Fare_outbound_{{k}}" role="tab"
                                    (click)="getFareRulesRDomestic(outbound.ResultIndex,'outbound')"
                                    attr.aria-controls="Fare_outbound_{{k}}" aria-selected="false">Fare Details</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="Baggageoutbound_{{k}}" data-toggle="tab"
                                    href="#Baggage_outbound_{{k}}" role="tab"
                                    attr.aria-controls="Baggage_outbound_{{k}}" aria-selected="false">Baggage</a>
                                </li>
                              </ul>

                              <div class="tab-content">

                                <!-- flight info -->

                                <div class="tab-pane fade show active" id="flightinfo_outbound_{{k}}" role="tabpanel"
                                  attr.aria-labelledby="flight_info_outbound_{{k}}">

                                  <div *ngFor="let segment of outbound.Segments[0]">
                                    <div class="row">
                                      <div class="col-md-3 col-sm-3 col-xs-3 tour-roundtripwaydays">
                                        <img class=""
                                          src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                        <span>{{segment.Airline.AirlineName}}
                                        </span>
                                        <br>
                                        <span>(
                                          {{segment.Airline.AirlineCode}} -
                                          {{segment.Airline.FlightNumber}}{{segment.Airline.FareClass}}
                                          )
                                        </span>
                                      </div>
                                      <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway fr-timing">
                                        <span class="roundtrip-waytime">
                                          {{segment.Origin.DepTime.time}}
                                        </span>
                                        <br>
                                        <span>
                                          {{segment.Origin.Airport.AirportCode}}
                                        </span>
                                      </div>
                                      <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway stop-roundtrip">
                                        <span>{{segment.Duration}}
                                        </span>
                                        <br>
                                        <img class="oneway-imgarrow" src="assets/img/arow_round.png">
                                        <br>
                                        <span>
                                          {{segment.NoOfSeatAvailable}} seat(s) left
                                        </span>
                                      </div>
                                      <div class="col-md-3 col-lg-3 col-xs-3 product-roundtripway fr-timing">
                                        <span class="roundtrip-waytime">{{segment.Destination.ArrTime.time}}
                                        </span>
                                        <br>
                                        <span>
                                          {{segment.Destination.Airport.AirportCode}}
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- fare details -->

                                <div class="tab-pane fade" id="Fare_outbound_{{k}}" role="tabpanel"
                                  attr.aria-labelledby="Fareoutbound_{{k}}">
                                  <div [innerHTML]="outbound.FareDetails" *ngIf="!outbound.isloading">
                                  </div>
                                  <div *ngIf="outbound.isloading">
                                    <img src="assets/img/loading.jpg" alt="loader">
                                  </div>
                                </div>

                                <!-- baggage details -->

                                <div class="tab-pane fade" id="Baggage_outbound_{{k}}" role="tabpanel"
                                  attr.aria-labelledby="Baggageoutbound_{{k}}">
                                  <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4 fon13">
                                      AIRLINE
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 pad-0 fon13">
                                      Check-in Baggage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 fon13">
                                      Cabin-Baggage
                                    </div>
                                  </div>
                                  <hr class="border-multiway">
                                  <div *ngFor="let segment of outbound.Segments[0]">
                                    <div class="row">
                                      <div class="col-md-4 col-sm-4 col-xs-4 tour-roundtripwaydays">
                                        <img class=""
                                          src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />&nbsp;
                                        <span>{{segment.Airline.AirlineName}}
                                        </span>
                                        <br>
                                        <span>(
                                          {{segment.Airline.AirlineCode}} -
                                          {{segment.Airline.FlightNumber}}{{segment.Airline.FareClass}}
                                          )
                                        </span>
                                      </div>
                                      <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway fr-timing">
                                        <span>
                                          {{segment.Baggage}}
                                        </span>
                                      </div>
                                      <div class="col-md-4 col-lg-4 col-xs-4 product-roundtripway stop-roundtrip">
                                        <span>
                                          {{segment.CabinBaggage}}
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---roundtrip pannel-->

      </div>
    </div>
  </div>

  <ngx-ui-loader></ngx-ui-loader>
  <!-- bottom fixbar -->

  <div class="all-bottomdata" *ngIf="Onward.slected && Return.slected">
    <div class="container">
      <div class="row mb10">

        <div class="col-md-4 col-lg-4 col-xs-4 border-rightbar">
          <div class="row rowfs">
            <div class="col-md-4 col-sm-2 col-xs-3 tour-round-days air-flight">
              <img class=""
                src="../../../../assets/img/AirlineLogo/{{RoundTrip.Inbound[Onward.index].Segments[0][0].Airline.AirlineCode}}.gif" />&nbsp;<br>
              <span>
                {{RoundTrip.Inbound[Onward.index].Segments[0][0].Airline.AirlineName}}
              </span><br><span>
                ({{RoundTrip.Inbound[Onward.index].Segments[0][0].Airline.AirlineCode}}-
                {{RoundTrip.Inbound[Onward.index].Segments[0][0].Airline.FlightNumber}}{{RoundTrip.Inbound[Onward.index].Segments[0][0].Airline.FareClass}})
              </span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 product-round-way">
              <span class="single-waytime">
                {{RoundTrip.Inbound[Onward.index].Segments[0][0].Origin.DepTime.time}}
              </span><br>
              <span class="city-title">
                {{RoundTrip.Inbound[Onward.index].Segments[0][0].Origin.Airport.AirportCode}}
              </span>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-2 right-arrownew" style="font-size: 20px;">
              <div class="fs1" aria-hidden="true" data-icon="$"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 product-round-way">
              <span class="single-waytime">
                {{RoundTrip.Inbound[Onward.index].Segments[0][RoundTrip.Inbound[Onward.index].Segments[0].length-1].Destination.ArrTime.time}}
              </span><br><span class="city-title">
                {{RoundTrip.Inbound[Onward.index].Segments[0][RoundTrip.Inbound[Onward.index].Segments[0].length-1].Destination.Airport.AirportCode}}
              </span>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3 content_round-waysprice" style="font-size: 14px;">

              <span class="pull-right pullnone">
                <span class="product-round-waysprice">
                  <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;
                  {{RoundTrip.Inbound[Onward.index].Fare.Charge.TotalPrice.toFixed(2)}}
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xs-4 border-rightbar">
          <div class="row rowfs">
            <div class="col-md-4 col-sm-2 col-xs-4 tour-round-days air-flight">
              <img class=""
                src="../../../../assets/img/AirlineLogo/{{RoundTrip.Outbound[Return.index].Segments[0][0].Airline.AirlineCode}}.gif" />&nbsp;<br>
              <span>
                {{RoundTrip.Outbound[Return.index].Segments[0][0].Airline.AirlineName}}
              </span><br><span>
                ({{RoundTrip.Outbound[Return.index].Segments[0][0].Airline.AirlineCode}}-
                {{RoundTrip.Outbound[Return.index].Segments[0][0].Airline.FlightNumber}}{{RoundTrip.Outbound[Return.index].Segments[0][0].Airline.FareClass}})
              </span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 product-round-way">
              <span class="single-waytime">
                {{RoundTrip.Outbound[Return.index].Segments[0][0].Origin.DepTime.time}}
              </span><br>
              <span class="city-title">
                {{RoundTrip.Outbound[Return.index].Segments[0][0].Origin.Airport.AirportCode}}
              </span>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-2 right-arrownew" style="font-size: 20px;">
              <div class="fs1" aria-hidden="true" data-icon="$"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 product-round-way">
              <span class="single-waytime">
                {{RoundTrip.Outbound[Return.index].Segments[0][RoundTrip.Outbound[Return.index].Segments[0].length-1].Destination.ArrTime.time}}
              </span><br><span class="city-title">
                {{RoundTrip.Outbound[Return.index].Segments[0][RoundTrip.Outbound[Return.index].Segments[0].length-1].Destination.Airport.AirportCode}}
              </span>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3 content_round-waysprice" style="font-size: 14px;">
              <span class="pull-right pullnone">
                <span class="product-round-waysprice">
                  <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;
                  {{RoundTrip.Outbound[Return.index].Fare.Charge.TotalPrice.toFixed(2)}}
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xs-3">
          <div class="row rowfs">
            <div class="col-md-4 col-lg-4 col-xs-6 product-round-way" style="font-size: 13px;">
              <span class="single-waytime">Grand Total</span>
            </div>
            <div class="col-md-3 col-lg-3 col-xs-4 content_round-waysprice" style="font-size: 14px;">
              <span class="pull-right">
                <span class="product-round-waysprice">
                  <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;
                  {{total}}
                </span>
              </span>
            </div>
            <div class="col-md-4 col-lg-4 productroundways-btn">
              <a href="javascript:;"
                (click)="GetFareQuoteRDomestic(RoundTrip.Inbound[Onward.index].ResultIndex,RoundTrip.Outbound[Return.index].ResultIndex)"
                class="btn btn-primary">Book Now</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End fixbar bottom -->


</main>