<h3>Newsletter</h3>
<p>Join our newsletter to keep be informed about offers and news.</p>
<div id="message-newsletter_2"></div>
<form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
  <div class="form-group">
    <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail"
      class="form-control">
  </div>
  <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
</form>