
<div class="dropdown dropdown-cart" *ngIf=" products != undefined &&  products.length > 0">
    <a href="#" data-toggle="dropdown" class="cart_bt"><i class="icon_bag_alt"></i><strong>{{products.length }}</strong></a>
    <ul class="dropdown-menu" id="cart_items">
        <li *ngFor="let arrProduct of products ; let i = index">
            <div class="image"><img [src]="arrProduct.image" alt="image" style="width: 115px !important;"></div>
            <strong>{{arrProduct.ProductName}} 1 x {{arrProduct.PaxRate.Currency}}  {{arrProduct.PaxRate.Total.toFixed(2)}} <b style="color: red;float:right"> {{arrProduct.ExpiryTime}}</b> </strong>
           
            <a style="cursor: pointer;" (click)="remove(arrProduct.ProductID)" class="action"><i class="icon-trash"></i></a>
        </li>

        <li>
            <div>Total: <span> {{ Currency +'-'+ Total.toFixed(2)}}</span></div>
            <a    class="button_drop outline pointer" (click)="CheckOut()">Check out</a>
        </li>
        <!-- <li>
            <div class="row post_info">
                <div class="col-md-6" style="text-align: left !important;">
                    <span class="font8 text-danger align-middle" style="padding: 10px;">
                        Total
                    </span> <small class="font10"><b></b></small>
                </div>
                <div class="col-md-6">
                    <a  href="javascript:void(0);"   class="button_drop outline" style="width: 100%;">Checkout</a>
                </div>
            </div>
            <div></div>
           
        </li> -->
    </ul>
</div><!-- End dropdown-cart-->