ul#cart_items li:last-child div {
    color: #999;
    text-align: center;
    font-size: 10px; 
    padding: 0 0 0;
     display: -webkit-box;
}

.btn_full_outline{
    text-transform: none!important;
    padding: 2px 10px!important
}