<div id="Img_carousel" class="slider-pro">
  <div class="sp-slides">
    <div class="sp-slide" *ngFor="let Image of Images">
      <img alt="Image" class="sp-image" src="assets/css/images/blank.gif" attr.data-src="{{Image.Url}}" attr.data-small="{{Image.Url}}" attr.data-medium="{{Image.Url}}" attr.data-large="{{Image.Url}}" attr.data-retina="{{Image.Url}}">
      <p class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="160" data-width="350" data-show-transition="left" data-show-delay="400">
        {{Image.Title}}
      </p>
    </div>
  </div>
  <div class="sp-thumbnails">
    <img alt="Image"  *ngFor="let Img of Images" class="sp-thumbnail" src="{{Img.Url}}">
  </div>
</div>
<hr>