<main>
    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">
                <div class="box_style_cat">
                    <ul id="cat_nav">
                        <li>
                            <ngx-skeleton-loader [theme]="{ width: '243px', 'border-radius': '0', height: '30px', 'margin-bottom': '0px', 'margin-top': '5px'}">
                            </ngx-skeleton-loader>
                        </li>
                        <li>
                            <ngx-skeleton-loader [theme]="{ width: '243px', 'border-radius': '0', height: '30px', 'margin-bottom': '0px', 'margin-top': '5px'}">
                            </ngx-skeleton-loader>
                        </li>
                        <li>
                            <ngx-skeleton-loader [theme]="{ width: '243px', 'border-radius': '0', height: '30px', 'margin-bottom': '0px', 'margin-top': '5px'}">
                            </ngx-skeleton-loader>
                        </li>
                    </ul>
                </div>
                <app-help></app-help>
            </aside>
            <!--End aside -->
            <div class="col-lg-9">
                <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '250px',
                            'text-align': 'center', 'position': 'relative','border-radius': '0px','margin-bottom':'-1px' }"></ngx-skeleton-loader>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="tour_list_desc">
                                <div class="rating">
                                    <ngx-skeleton-loader [theme]="{width: '180px','border-radius': '0',height: '15px','margin-bottom': '7px'}"></ngx-skeleton-loader>
                                </div>
                                <h3><ngx-skeleton-loader [theme]="{ width: '210px', 'border-radius': '0', height: '15px','margin-bottom': '7px' }"></ngx-skeleton-loader></h3>
                                <ngx-skeleton-loader [theme]="{width: '380px','border-radius': '0',height: '70px','margin-bottom': '10px'}"></ngx-skeleton-loader>
                                <ngx-skeleton-loader count="5" appearance="circle" [theme]="{ 'border-radius': '10%' }"> </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="price_list">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '80px', 'border-radius': '0', height: '20px', 'margin-bottom': '15px' }"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader [theme]="{ width: '80px', 'border-radius': '0', height: '20px', 'margin-bottom': '35px' }"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader [theme]="{ width: '100px', 'border-radius': '0', height: '35px', 'margin-bottom': '15px'}"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End strip -->
                <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '250px',
                            'text-align': 'center', 'position': 'relative','border-radius': '0px','margin-bottom':'-1px' }"></ngx-skeleton-loader>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="tour_list_desc">
                                <div class="rating">
                                    <ngx-skeleton-loader [theme]="{width: '180px','border-radius': '0',height: '15px','margin-bottom': '7px'}"></ngx-skeleton-loader>
                                </div>
                                <h3><ngx-skeleton-loader [theme]="{ width: '210px', 'border-radius': '0', height: '15px','margin-bottom': '7px' }"></ngx-skeleton-loader></h3>
                                <ngx-skeleton-loader [theme]="{width: '380px','border-radius': '0',height: '70px','margin-bottom': '10px'}"></ngx-skeleton-loader>
                                <ngx-skeleton-loader count="5" appearance="circle" [theme]="{ 'border-radius': '10%' }"> </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="price_list">
                                <div>
                                    <ngx-skeleton-loader [theme]="{ width: '80px', 'border-radius': '0', height: '20px', 'margin-bottom': '15px' }"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader [theme]="{ width: '80px', 'border-radius': '0', height: '20px', 'margin-bottom': '35px' }"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader [theme]="{ width: '100px', 'border-radius': '0', height: '35px', 'margin-bottom': '15px'}"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End strip -->
            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
