<div class="white_bg">
  <div class="container margin_60">
    <div class="main_title">
      <h2>Plan <span>Your Tour</span> EASILY  </h2>
     
    </div>
    <div class="row feature_home_2">
                <div class="col-md-4 text-center">
                    <img src="assets/img/adventure_icon_1.svg" alt="" width="75" height="75">
                    <h3>Advice to Travelers </h3>
                    <p>Traveler Sphere is an online Tourism and Hotel magazine, delivering inspiration and advice to travelers seeking unique and enriching travel experiences. </p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="assets/img/adventure_icon_2.svg" alt="" width="75" height="75">
                    <h3>Cities Updates</h3>
                    <p> Our mission is to keep our readers well informed about what is going on in their cities around the best accommodation, food, drinks, culture, art, music, theatre, shopping, lifestyle, travel and entertainment</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="assets/img/adventure_icon_3.svg" alt="" width="75" height="75">
                    <h3>Objective  </h3>
                    <p>Our objective is to make a difference in peoples’ life in their holiday’s experience starting from home, before their trip or during their holidays. The aim is to ensure that today’s modern, tech-savvy, cost-conscious travelers maximize the social, spiritual and economic benefits that travel can bring.</p>
                </div>
            </div>
            <p style="text-align: center;">
              We bring the best of the city under one roof !
            </p>
            <div class="banner_2">
                <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)" style="background-color: rgba(0, 0, 0, 0.3);">
                    <div>
                        <h3>Your Perfect<br>Tour Experience</h3>
                        <p>Activities and accommodations</p>
                        <a href="" class="btn_1">Read more</a>
                    </div>
                </div>
                <!-- /wrapper -->
            </div>

            <div class="row">

              <div class="col-lg-4 wow zoomIn" data-wow-delay="0.2s">
                <div class="feature_home">
                  <i class="icon_set_1_icon-41"></i>
                  <h3><span>+120</span> Premium tours</h3>
                  <!-- <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                  </p> -->
                  <a href="#" class="btn_1 outline">Read more</a>
                </div>
              </div>
      
              <div class="col-lg-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="feature_home">
                  <i class="icon_set_1_icon-30"></i>
                  <h3><span>+1000</span> Customers</h3>
                  <!-- <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                  </p> -->
                  <a href="#" class="btn_1 outline">Read more</a>
                </div>
              </div>
      
              <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="feature_home">
                  <i class="icon_set_1_icon-57"></i>
                  <h3><span>H24 </span> Support</h3>
                  <!-- <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                  </p> -->
                  <a href="#" class="btn_1 outline">Read more</a>
                </div>
              </div>
      
            </div>
            <!--End row -->
      
            <hr>
            <!-- /banner_2 -->
            <div class="banner colored">
              <h4>Discover our Top tours <span>from </span></h4>
              <a href="#" class="btn_1 white">Read more</a>
            </div>
  </div>
  <!-- End container -->
</div>
<!-- End white_bg -->