<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <app-need-help></app-need-help>
              <app-pay-partners></app-pay-partners>
          </div>
          <div class="col-lg-2 col-md-3 ml-md-auto">
              <app-quick-links></app-quick-links>
          </div>
          <div class="col-lg-5 col-md-6" id="newsletter">
              <app-subscribe></app-subscribe>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-12">
              <div id="social_footer">
                  <app-social-links></app-social-links>
                  <app-develop></app-develop>
              </div>
          </div>
      </div>
      <!-- End row -->
  </div>
  <!-- End container -->
</footer>