<div id="carousel-home">
  <div class="owl-carousel owl-theme">
       <div class="owl-slide cover" style="background-image: url('https://www.rosewoodhotels.com/en/-/media/Images/Rosewood_Hotels_and_Resorts/Rosewood_Jeddah/gallery/accommodation/8.ashx');">
          <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
              <div class="container">
                  <div class="row justify-content-center justify-content-md-start">
                      <div class="col-lg-12 static">
                          <div class="slide-text text-center white">
                              <h2 class="owl-slide-animated owl-slide-title">JEDDAH HILTON HOTEL</h2>
                              <p class="owl-slide-animated owl-slide-subtitle">
                                Located just 20 minutes from the bustling downtown area, Jeddah Hilton offers contemporary accommodations with stunning views. 
                              </p>
                              <div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="#" role="button">Read more</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/owl-slide-->
      <div class="owl-slide cover" style="background-image: url('assets/img/travelsphere/RosewoodJeddah/1.png');">
          <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.6)">
              <div class="container">
                  <div class="row justify-content-center justify-content-md-end">
                      <div class="col-lg-6 static">
                          <div class="slide-text text-right white">
                              <h2 class="owl-slide-animated owl-slide-title"><br>Rosewood Jeddah</h2>
                              <p class="owl-slide-animated owl-slide-subtitle">
                                The hotel architecture and interiors are a fusion of modern design 
                              </p>
                              <div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="#" role="button">Read more</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/owl-slide-->
      <div class="owl-slide cover" style="background-image: url('https://www.movenpick.com/fileadmin/files/Hotels/Saudi_Arabia/Jeddah_Thalia/Overview/Sliders/Classic_.jpg');">
          <div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
              <div class="container">
                  <div class="row justify-content-center justify-content-md-start">
                      <div class="col-lg-6 static">
                          <div class="slide-text white">
                              <h2 class="owl-slide-animated owl-slide-title">Rosewood Jeddah Jeddah</h2>
                              <p class="owl-slide-animated owl-slide-subtitle">
                                Featuring a classic interior design with a great location in the heart of the city.
                              </p>
                              <div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="#" role="button">Read more</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/owl-slide-->
  </div>
  <div id="icon_drag_mobile"></div>
</div>
<!--/carousel-->