<app-click-about *ngIf="AdminCode == 'CUT'"></app-click-about>
<app-cennin-about *ngIf="AdminCode == 'CENNIN'"></app-cennin-about>

<app-exotics-about *ngIf="AdminCode == 'EXCO'"></app-exotics-about>

<app-meetme-about   *ngIf="AdminCode=='MEETME'"></app-meetme-about>

<app-hi5fly-about *ngIf="AdminCode =='HIFI'"></app-hi5fly-about> 


<app-idealjungle-about *ngIf="AdminCode == 'IDEALJ'"></app-idealjungle-about>

