<section class="parallax-window" data-parallax="scroll"  [attr.data-image-src]="img" data-natural-width="1400" data-natural-height="510">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>About us</h1>
			<!-- <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
		</div>
	</div>
</section>
<main>
		<div class="container margin_60" style="padding-bottom: 0px;">
				<div class="main_title">
						<h2>Cenin Tours and Travels Co. Pvt. Ltd</h2>
					</div>
					<!-- <div class="main_title">
							<h2>A Provincial Group Enterprise <span>Approved by Ministry of Tourism, </span>Government of India</h2>
						</div> -->
				<div class="row">
					<div class="col-lg-12">
						<p>Cenin Tours and Travels Co. Pvt. Ltd, established in the year 2011, is a part of Provincial Group of Companies, established in 1930, with a multi-million group turnover. Their Business interests cover Automobile Dealerships, Franchise for Tanishq Jewellers , Manufacture & Exports of Wellness & Herbal Products.</p>
						<p>CENIN is a leading IATA Tour operator in Vidharbha (Maharastra) and a first of its kind Destination Management Company [DMC] promoting Inbound Tourism to Central Indian region, popularly known as Tiger Country.It is recognized by Ministry of Tourism, Government of India.</p>			
					<p>CENIN is an accredited member of IATO (The Indian Association of Tour Operators), TAAI (Travel Agents Association of India), & Ministry of Tourism Government of India. CENIN is also an approved travel agency of MTDC (Maharashtra Tourism Development Corporation). </p>
					<p>CENIN offers a full range of travel services, including unique experiences, Adventure & Study tour packages for student groups, and MICE. <br>
						Led by Mr. Vilas Kale, who himself is an avid traveller, CENIN team, under his leadership enjoys designing unique and out of the box itineraries, using his rich experience & passion with the professionalism of our team. <br>
						Our client portfolio reflects the credibility and reliability of CENIN’s services.<br>
						Driven by a well-appointed and experienced team, Cenin has plans to expand its growth and create a niche for itself in the ever-growing Global Tourism Business.
					</p>
					</div>
					
				</div>
				<hr>
			<div class="main_title">
				<h2>SOME <span>GOOD</span> REASONS</h2>
			</div>
			<!-- <div class="row">
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
					<div class="feature">
						<i class="">1</i>
						<h3>Overview</h3>
						<p>
							Cenin Tours & Travels Co. Pvt. Ltd., Approved by Ministry of Tourism, Government of India a leading IATA tour operator of Central India & the first of its kind Destination Management Company in Central India promoting inbound tourism into Central India Region.
						</p>
					</div>
				</div>
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
					<div class="feature">
						<i class="">2</i>
						<h3>Our Philosophy</h3>
						<h4>Few Words About Us</h4>
						<p>
							To spread happiness in this world and make travel a really enjoyable and satisfying experience for our customers by providing them with the best possible service
						</p>
					</div>
				</div>
			</div> -->
			<!-- End row -->
			<div class="row">
				<div class="col-lg-12 wow fadeIn" data-wow-delay="0.3s">
					<div class="feature">
						<i class=" icon-flag"></i>
						<h3>Mission</h3>
						  <ul class="list_ok">
							  <li>To make Tourism, a thriving economic activity in Vidarbha & Central India.</li>
							  <li>To work for the Conservation of its Eco & Wild life Habitat & Water bodies, Heritage & Cultural Preserves.</li>
							  <li>To work for the Promotion of Arts & Handicrafts, Cultural activities, Entertainment & Adventure Sports, in Central India .</li>
						  <li>To make all possible efforts for Recognition of the Region in the Global Market, bringing along with it all advantages to the all Stake holders.</li>
							<li>To provide excellent domestic and International Tour Experiences to Outbound tourists.</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-12 wow fadeIn" data-wow-delay="0.3s">
					<div class="feature">
						<i class=" icon-flag"></i>
						<h3>Our VISION</h3>
						
							<p>To spread happiness in this world and make travel a really enjoyable and satisfying experience for our customers by providing them with the best possible service</p>
						<!-- <p>
							The main objective of the company , is to strive to exceed customer satisfaction by creating a strong customer focus, involvement of all the people, improvement in service quality and to develop and promote tourism in Vidarbha,and Central India as a whole, offering to our Customers, Superior experience through ethically delivered services, thereby contribute to conservation of Vidarbha's & Central India's Eco & Wild Life Habitat, its Heritage & Culture , and promotion of its Arts and Handicrafts. Our policy is to achieve excellent standards of quality in all services offered to our customers.</p> -->
					
					</div>
				</div>
		
			</div>
			<div class="row">

				<div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s"
				  style="visibility: visible; animation-delay: 0.1s;">
				  <div class="hotel_container">
			
					<div class="">
					  <a target="_blank">
						<img src="assets/img/cennin/Logos.jpg"  class="img-fluid" alt="image">
					  </a>
					</div>
			
				  </div>
				  <!-- End box -->
				</div>
				
				
			
			
			  </div>
		
		</div>
		<div class="container margin_60">
            <div class="main_title">
                <h2>Our  <span>Team</span></h2>
            </div>

            <div class="row">
                    <div class="col-lg-6">
                        <a class="box_news">
                            <figure><img src="assets/img/about/Vikas.png" alt="">
                            </figure>
                            <ul>
                                <li>VILAS KALE </li>
                                <li>CMD</li>
                            </ul>
                            <p>Our CMD is a passionate traveler, ever since his college days. He has extensively traveled in India and 95 Countries around the globe. From hitch-hiking to Budget to Luxury travels, he has done it all!! He still enjoys designing, planning Itineraries, and continues to explore new destinations and gain new experiences travelling globally.</p>
                        </a>
                    </div>
                    <!-- /box_news -->
                    <div class="col-lg-6">
                        <a class="box_news">
                            <figure><img src="assets/img/about/anup1-1.jpg" alt="">
                            
                            </figure>
                            <ul>
                                <li>ANUP GHUMARE</li>
                                <li>CMD</li>
                            </ul>
                            <p>MBA (Human Resource Management & Information Technology)
								he looks after all activities of the organization, Having good knowledge and experience of working in tourism industry. Good knowledge and experience of working in tourism industry.</p>
                        </a>
                    </div>
                    <!-- /box_news -->
                    <div class="col-lg-6">
                        <a class="box_news">
                            <figure><img src="assets/img/about/1jitesh-sir.jpg" alt="">
                            </figure>
                            <ul>
                                <li>JITESH KUTHE</li>
                                <li>OPERATIONS MANAGER / BD
								</li>
                            </ul>
                            <p>A Graduate in Commerce & Master in Computer Management, he looks after all operational activities of the organization. A devoted and dedicated worker he takes care of all Domestic & International Packages & Specializes in Wildlife Packages.</p>
                        </a>
                    </div>
                    <!-- /box_news -->
                    <div class="col-lg-6">
                        <a class="box_news">
                            <figure><img src="assets/img/about/manoj1-1.jpg" alt="">
                                
                            </figure>
                            <ul>
                                <li>MANOJ KUMAR MISHRA
								</li>
                                <li>SALES AND ADMIN </li>
                            </ul>
                            
                            <p>Manoj kumar Mishra is working Since 2016 as an Accountant.  He is having​ 7 Years ​experienced  person in accounts department. He  gained a great knowledge in accounts and eligible to work in accounts independently. In Cenin he has started working in domestic department,</p>
                        </a>
                    </div>
					<!-- /box_news -->
					
					   <!-- /box_news -->
					   <div class="col-lg-6">
                        <a class="box_news">
                            <figure><img src="assets/img/about/bhushan1-1.jpg" alt="">
                                
                            </figure>
                            <ul>
                                <li>BHUSHAN PAUL

								</li>
                                <li>SR. MARKETING MANAGER
								</li>
                            </ul>
                            
                            <p>Mr Bhushan Paul is one of the most experienced person in travel industry. Started his career  from  oldest and leading Travel Agency for better prospects. Spent at-least 17 years from 1990 to 2007, the most of his valuable time. Later worked for  Nova Aviation   a GSA for Sahara Airlines,- Global Aviation Services Pvt. Ltd.</p>
                        </a>
                    </div>
                    <!-- /box_news -->
                </div>
                <!-- /row -->
        </div>
		<!-- End Container -->
	</main>
	<!-- End main -->