@media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (-o-min-device-pixel-ratio: 21) and (max-width: 991px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 991px) {
    #logo_home h1 a,
    header#colored #logo_home h1 a {
        background-image:url(/assets/img/Hi5Fly/Logo.png) !important;
        background-size: auto 30px
    }
    header.sticky #logo_home h1 a,
    header#plain #logo_home h1 a {
        background-image: url(/assets/img/Hi5Fly/Logo.png) !important;
        background-size: auto 30px
    }
    header.sticky#colored #logo_home h1 a {
        background-image: url(/assets/img//Hi5Fly/Logo.png) !important;
        background-size: auto 30px
    }
}
header #logo .logo_sticky {
    display: none
}

header.sticky #logo .logo_normal {
    display: none
}

header.sticky #logo .logo_sticky {
    display: block
}

#logo_home h1 {
    margin: 10px 0 0;
    padding: 0
}

#logo_home h1 a,
header.sticky #logo_home h1 a,
header#plain #logo_home h1 a,
header#colored #logo_home h1 a {
    width: 200px;
    height: 50px;
    display: block;
    background-image: url(/assets/img/Hi5Fly/Hi5Fly.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 200px 50px;
    text-indent: -9999px
}

header.sticky #logo_home h1 {
    margin: 0 0 10px;
    padding: 0
}