<header id="plain">
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <i class="icon_set_1_icon-57"></i><strong>{{objGlobal.Contact}}</strong>
          <i class="icon_set_1_icon-84"></i><strong>{{objGlobal.email}}</strong>
        </div>
        <div class="col-6">
          <ul id="top_tools">
            <li>
              <div class="dropdown dropdown-cart">
                <a href="javascript:void(0);"><i class="icon-user" style="font-size: 13px;"></i>My Account</a>
                <ul class="dropdown-menu" id="cart_items">
                  <li *ngIf="login.retCode == undefined || login.retCode !=1 ">
                    <a href="javascript:void(0);" class="button_drop outline" mat-button (click)="onSigninDialog()">Sign
                      in</a>
                    <a href="javascript:void(0);" class="button_drop outline" mat-button
                      (click)="onRegisterDialog()">Register</a>
                  </li>
                  <li *ngIf="CustomerName!=null || CustomerEmail!=null">
                    <div class="row">
                      <div class="col-4">
                        <div class="font-icon-detail"><span class="pe-7s-user"></span>
                        </div>
                      </div>
                      <div class="col-8">
                        <br>
                        <span>Welcome..</span>
                        <br>
                        <span>{{login.LoginDetail?.Name}}</span>
                        <!-- <span *ngIf="CustomerName != null">{{CustomerName}}</span>
                                                              <span *ngIf="CustomerName == null && CustomerEmail != null">{{CustomerEmail}}</span> -->
                      </div>
                    </div>
                  </li>
                  <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                    <a [routerLink]="['/agency-statement']">My Statement</a>
                  </li>
                  <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                    <a [routerLink]="['/credit-information']">Credit Info</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" style="color: #333"
                      *ngIf="login.retCode == undefined || login.retCode !=1 " (click)="onSigninDialog()">WishList</a>
                    <a href="wishlist" style="color: #333"
                      *ngIf="login.retCode != undefined && login.retCode ==1 ">WishList</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" style="color: #333"
                      *ngIf="login.retCode == undefined || login.retCode !=1 " (click)="onSigninDialog()">Profile</a>
                    <a href="profile" style="color: #333"
                      *ngIf="login.retCode != undefined && login.retCode ==1 ">Profile</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" style="color: #333"
                      *ngIf="login.retCode == undefined || login.retCode !=1 " (click)="onSigninDialog()">My Booking</a>
                    <a href="bookings" style="color: #333" *ngIf="login.retCode != undefined && login.retCode ==1 ">My
                      Booking</a>
                  </li>
                  <li *ngIf="login.retCode != undefined && login.retCode ==1 ">
                    <a href="javascript:void(0);" style="color: #333" mat-button (click)="onSignout()">Sign out</a>
                  </li>
                </ul>
              </div><!-- End dropdown-cart-->
            </li>
            <li>
              <div class="dropdown dropdown-mini">
                <a href="#" data-toggle="dropdown" id="lang_link">English</a>
              </div>
            </li>
          </ul>
        </div>
      </div><!-- End row -->
    </div><!-- End container-->
  </div><!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-3">
        <div id="logo_home">
          <h1><a href="/home" title="Hi5Fly">Hi5Fly</a></h1>
        </div>
      </div>
      <nav class="col-9 ">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu
            mobile</span></a>
        <div class="main-menu font16">
          <div id="header_menu">
            <img [src]="objGlobal.logo" width="160" height="34" alt="City tours" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul>
            <li style="vertical-align: text-bottom;">
              <a [routerLink]="['/home']">
                <p class="font12 nomargin_bottom"><b>Home</b></p>
              </a>
            </li>
            <li style="vertical-align: text-bottom;">
              <a style="cursor: pointer" [routerLink]="['/package']">
                <p class="font12 nomargin_bottom"><b>Packages</b></p>
              </a>
            </li>
            <li style="vertical-align: text-bottom;">
              <a style="cursor: pointer" [routerLink]="['/flight']">
                <p class="font12 nomargin_bottom"><b>Flights</b></p>
              </a>
            </li>
            <li style="vertical-align: text-bottom;">
              <a style="cursor: pointer" [routerLink]="['/hotel']">
                <p class="font12 nomargin_bottom"><b>Hotels</b></p>
              </a>
            </li>
            <li style="vertical-align: text-bottom;">
              <a [routerLink]="['/about']">
                <p class="font12 nomargin_bottom"><b>About Us</b></p>
              </a>
            </li>
            <li style="vertical-align: text-bottom;">
              <a [routerLink]="['/contact']">
                <p class="font12 nomargin_bottom"><b>Contact Us</b></p>
              </a>
            </li>
          </ul>
        </div>
        <!-- End main-menu -->

        <ul id="top_tools">
          <!-- <li>
            <a href="javascript:void(0);" class="search-overlay-menu-btn"><i class="icon_search"></i></a>
          </li> -->
          <li>
            <app-shopping-cart></app-shopping-cart>
          </li>
        </ul>
      </nav>
    </div>
  </div><!-- container -->
</header>