<ul>
  <li>
      <a href="#"><i class="icon-facebook"></i></a>
  </li>
  <li>
      <a href="#"><i class="icon-twitter"></i></a>
  </li>
  <li>
      <a href="#"><i class="icon-google"></i></a>
  </li>
  <li>
      <a href="#"><i class="icon-instagram"></i></a>
  </li>
  <li>
      <a href="#"><i class="icon-pinterest"></i></a>
  </li>
  <li>
      <a href="#"><i class="icon-vimeo"></i></a>
  </li>
  <li>
      <a href="#"><i class="icon-youtube-play"></i></a>
  </li>
</ul>