<div class="row no-gutters custom-search-input-2">
  <div class="col-lg-4">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Location Name" [(ngModel)]="objTour.LocationName"
        aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <i class="icon_pin_alt"></i>

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onchangeLocation($event.option.value)">
        <mat-option *ngFor="let Location of filteredStates | async" [value]="Location.value">
          <span>{{Location.value }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group">
      <input type="input" class="form-control" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
        [autoApply]="true" [opens]="opens" [singleDatePicker]="singleDatePicker" [drops]="drops" [lockStartDate]="false"
        [showDropdowns]="true" [closeOnAutoApply]="true" name="daterange" [(ngModel)]="objTour.Date" [minDate]="minDate"
        (change)="change($event)" />
      <i class="icon_calendar"></i>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group">
      <mat-select class="dd-selected" placeholder="Things to do" [(ngModel)]="objTour.TourType"
        (click)="checklocation()" [(ngModel)]="objTour.TourType">
        <mat-option *ngFor="let TourType of TourTypes" [value]="TourType.Name"
          (onSelectionChange)="onselected(TourType.Name)">
          <a class="dd-selected"> <i class="dd-selected-image {{TourType.Icon}}" style="font-size: large"></i>
            <label class="dd-option-text" style="line-height: 45px;    margin-left: 5px;">
              {{ TourType.Name}}</label></a>
        </mat-option>
      </mat-select>
      <i class="icon_set_1_icon-4"></i>
    </div>
  </div>

  <div class="col-lg-2">
    <input type="button" class="btn_search" (click)="SearchActivity()" value="Search">
  </div>
</div>