<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/Hi5Fly/background2.jpg"
  data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>About us</h1>
      <!-- <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
    </div>
  </div>
</section>
<main>
  <div class="container margin_60">

    <div class="main_title">
      <h2>SOME <span>GOOD</span> REASONS</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature">
          <i class="">1</i>
          <h3>Overview</h3>
          <p style="text-align: justify;">Since the year (2019), Hi5Fly as an OTA (Online Travel Agency) has been
            committed towards bringing our clients the utmost experience of a value added, quality travelling
            experience. Apart from being passionate about sharing some of the best views in the world.
          </p>
          <br>
          <p style="text-align: justify;">
            we also provide corporate and religious travelers the touch of ultimate satisfaction that a travel agency
            could possibly provide.
          </p>
          <br>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="feature">
          <i class="">2</i>
          <h3>Our Philosophy</h3>
          <!-- <h4>Few Words About Us</h4> -->
          <p style="text-align: justify;">According to majority of the online results, 65% of all the travelers who has
            ever made their bookings with a travel agency have received the satisfactory services they always asked for.
            Here at Hi5Fly, we anchor that same value, integrity and utmost dedication towards our Passengers/Client so
            that the number could reach a much greater height. We are also proud to present ourselves as one of the most
            prestigious OTA while providing an unmatched customer satisfaction.</p>
          <p style="text-align: justify;">So, what is it that you are waiting for? Just choose the package that works
            best with you, and treat yourself with the holiday you deserve. Because, we know that the growth and success
            of Hi5Fly lies within the fulfillment of our client’s everyday needs.</p>
        </div>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
        <div class="feature">
          <i class="icon_set_1_icon-61"></i>
          <h3><span>Azam</span> Faroqui</h3>
          <p style="text-align: justify;">
            The founder of “Hi Five Fly” (hi5fly.com) is Azam Faroqui, a young and motivated tourism enthusiast who has
            finally discovered his ultimate happiness through serving his clients right. The entire foundation of “Hi
            Five Fly” (hi5fly.com) is based on the realization by Mr. Azam about the immense pleasure a person can
            achieve while travelling. </p>
          <p style="text-align: justify;">
            With the communicating skills like none other, the founder has effectively driven diverse client groups in a
            very friendly and diplomatic manner. During the initial stages of life, travelling had literally shaken him
            with exquisite joy, later turning out to be his ultimate pleasure. On the contrary, no matter your
            travelling experience, managing the tour always takes a toll on the person.
          </p>
          <p style="text-align: justify;">
            That is why the founder has determined to provide an all in one travelling solution for all kinds of users,
            including individuals, groups, corporate clients, and even travel agents. The ultimatum behind Mr. Azam
            Faroqui’s dream is to provide a grandeur travelling experience like none other.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- End main -->