<div class="white_bg">
  <div class="container margin_60">
    <div class="main_title">
      <h2><span>Wildlife </span> Packages</h2>
    </div>

    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li *ngFor="let theme of Themes ; let i = index" (click)="showTabs(theme.type)">
            <a [style.background-color]="theme.color" style="color: white;font-weight: 600;" href="#section{{i}}"><i
                [class]="theme.icon"></i><span>{{theme.Name}}</span></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <section id="section{{i}}" *ngFor="let theme of Themes ; let i = index">
          <div class="row list_hotels_tabs" *ngIf="theme.type != 'Wildlife'">
            <div class="row">
              <div class="col-lg-4 col-md-6 wow zoomIn" attr.data-wow-delay="0.{{i+1}}s"
                *ngFor="let package of Packages">
                <div class="tour_container">
                  <div class="ribbon_3 popular"><span>Popular</span></div>
                  <div class="img_container">
                    <a href="package-details?ID={{package.Packageid}}">
                      <img [src]="package.Images[0].Url" *ngIf="package.Images.length!=0" class="img-fluid" width="800"
                        height="533" alt="Image" style="height: 200px;">
                      <img src="assets/img/no-image.png" *ngIf="package.Images.length==0" class="img-fluid" width="800"
                        height="533" alt="Image" style="height: 200px;">
                      <div class="short_info" *ngIf="package.Category!=0">
                        <span class="price" *ngIf="package.MinPrice !== null"><sup
                            *ngIf="package.MinPrice !== 0">{{package.Category[0].sCurrency}}</sup>{{package.MinPrice?.toFixed(2)}}</span>
                      </div>
                    </a>
                  </div>
                  <div class="tour_title">
                    <h3 class="pointer"><a href="package-details?ID={{package.Packageid}}"></a>
                      <strong>{{package.PackageName}}</strong></h3>
                    <app-reviewratings [ProdcutID]="package.Packageid" [ProductType]="'P'"></app-reviewratings>
                    <app-addwish [ProductType]="2" [ProdcutDetails]="package"></app-addwish>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <p class="text-center nopadding" *ngIf="Packages.length>0">
                  <a [routerLink]="['/package-list']" [queryParams]="{ Type: theme.url}" class="btn_1 medium"><i
                      class="icon-eye-7"></i>View all Packages (
                    {{count.toString()}} ) </a>
                </p>
              </div>
            </div>

            <div class="row" *ngIf="bloder==true">
              <div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
                <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '326px',
                    'text-align': 'center', 'position': 'relative','border-radius': '4px' }">
                </ngx-skeleton-loader>
                <!-- End box tour -->
              </div>
              <div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
                <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '326px',
                    'text-align': 'center', 'position': 'relative','border-radius': '4px' }">
                </ngx-skeleton-loader>
                <!-- End box tour -->
              </div>
              <div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
                <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '326px',
                    'text-align': 'center', 'position': 'relative','border-radius': '4px' }">
                </ngx-skeleton-loader>
                <!-- End box tour -->
              </div>
            </div>
            <!-- <p class="text-center nopadding" *ngIf="Package.length>0">
                    <a [routerLink]="['/package-list']" class="btn_1 medium"><i class="icon-eye-7"></i>View all Packages (
                      {{count.toString()}} ) </a>
                  </p> -->
          </div>
          <div class="row list_hotels_tabs" *ngIf="theme.type == 'Wildlife'">
            <mat-tab-group orientation="vertical">
              <mat-tab label="{{tab.Name}}" class="col-md-6" orientation="vertical"
                *ngFor="let tab of theme.tabs; let j=index">
                <div class="row" style="margin-right: 0px; margin-left: 0px;" *ngIf="tab.Name === 'Others'">
                  <div class="col-lg-4 col-md-6 wow zoomIn" attr.data-wow-delay="0.{{i+1}}s"
                    *ngFor="let package of Packages">
                    <div class="tour_container">
                      <div class="ribbon_3 popular"><span>Popular</span></div>
                      <div class="img_container">
                        <a href="package-details?ID={{package.Packageid}}">
                          <img [src]="package.Images[0].Url" *ngIf="package.Images.length!=0" class="img-fluid"
                            width="800" height="533" alt="Image" style="height: 200px;">
                          <img src="assets/img/no-image.png" *ngIf="package.Images.length==0" class="img-fluid"
                            width="800" height="533" alt="Image" style="height: 200px;">
                          <div class="short_info" *ngIf="package.Category!=0">
                            <span class="price" *ngIf="package.MinPrice !== null"><sup
                                *ngIf="package.MinPrice !== 0">{{package.Category[0].sCurrency}}</sup>{{package.MinPrice?.toFixed(2)}}</span>
                          </div>
                        </a>
                      </div>
                      <div class="tour_title">
                        <h3 class="pointer"><a href="package-details?ID={{package.Packageid}}"></a>
                          <strong>{{package.PackageName}}</strong></h3>
                        <app-reviewratings [ProdcutID]="package.Packageid" [ProductType]="'P'"></app-reviewratings>
                        <app-addwish [ProductType]="2" [ProdcutDetails]="package"></app-addwish>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <p class="text-center nopadding" *ngIf="Packages.length>0">
                      <a [routerLink]="['/package-list']" [queryParams]="{ Type: theme.url}" class="btn_1 medium"><i
                          class="icon-eye-7"></i>View all Packages (
                        {{count.toString()}} ) </a>
                    </p>
                  </div>

                </div>
                <div class="row" style="margin-right: 0px; margin-left: 0px;" *ngIf="tab.Name === 'Central India'">
                  <div class="col-lg-12 col-md-12">
                    <br>
                    <p class="text-center">
                      <a href="http://www.ceninsafaris.com/" target="blank" class="btn_1 medium"><i
                          class="icon-eye-7"></i>Visit CeninSafari for more details </a>
                    </p>
                  </div>
                </div>
                <div class="row" *ngIf="bloder==true && tab.Name !='Central India'">
                  <div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
                    <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '326px',
                    'text-align': 'center', 'position': 'relative','border-radius': '4px' }">
                    </ngx-skeleton-loader>
                    <!-- End box tour -->
                  </div>
                  <div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
                    <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '326px',
                    'text-align': 'center', 'position': 'relative','border-radius': '4px' }">
                    </ngx-skeleton-loader>
                    <!-- End box tour -->
                  </div>
                  <div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
                    <ngx-skeleton-loader count="1" class="img_list" appearance="circle" [theme]="{ 'overflow': 'hidden', 'min-height': '220px', 'min-width': '326px',
                    'text-align': 'center', 'position': 'relative','border-radius': '4px' }">
                    </ngx-skeleton-loader>
                    <!-- End box tour -->
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </section>

      </div>
      <!-- /content -->
    </div>
  </div>
</div>