<main>
  <br><br><br><br><br>
  <div class="container margin_60">
    <div class="row">
      <div class="col-lg-9">
        <div class="row" id="confirm">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p> <img height="40" width="40" src="assets/img/confirm.png" alt="">
                      Congratulations! Your Hotel booking is confirmed.</p>
                  </div>
                  <div class="col-md-4">
                    <div class="alert alert-success" role="alert">
                      Your Booking Reference Number : {{bookingDetail.ReservationId}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-booking-details></app-booking-details>
      </div>
      <aside class="col-lg-3" id="sidebar">
        <div class="theiaStickySidebar">
          <app-help></app-help>
        </div>

      </aside>

    </div>
  </div>
  <!--End container -->
</main>