<div class="wishlist pointer">
  <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);" (click)="addtoWish()" >+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
</div>