<div id="tools">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 text-right">
      <a  data-toggle="collapse" data-parent="#Filter" href="#Filter" class="btn_1">Filter</a>
    </div>

    <!-- <div class="col-lg-2 col-md-3 col-6">
      <div class="styled-select-filters">
        <select name="sort_type" id="sort_type">
          <option value="" selected="">Sort by type</option>
          <option value="tours">Tours</option>
          <option value="hotels">Hotels</option>
          <option value="transfers">Transfers</option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="styled-select-filters">
        <select name="sort_date" id="sort_date">
          <option value="" selected="">Sort by date</option>
          <option value="oldest">Oldest</option>
          <option value="recent">Recent</option>
        </select>
      </div>
    </div> -->
  </div>
</div>
<div class="accordion_styled" id="Filter" class="collapse" data-parent="#Filter">
  <div class="card">
    <div class="card-body">
      <br>
      <div class="row">
        <div class="col-md-3">
          <label>Check-in</label><br>
          <input type="text" [(ngModel)]="Checkin" matInput class="form-control" #Check_in ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [singleDatePicker]="singleDatePicker" [autoApply]="true"
            [opens]="opens" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true" [closeOnAutoApply]="true"
            name="daterange" />
        </div>
        <div class="col-md-3">
          <label>Check-out</label><br>
          <input type="text" [(ngModel)]="Checkout" matInput class="form-control" #Check_out ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [singleDatePicker]="singleDatePicker" [autoApply]="true"
            [opens]="opens" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true" [closeOnAutoApply]="true"
            name="daterange" />
        </div>
        <div class="col-md-3">
          <label>Booking Date</label><br>
          <input type="text" [(ngModel)]="BookingDate" matInput class="form-control" #Booking_Date ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [singleDatePicker]="singleDatePicker" [autoApply]="true"
            [opens]="opens" [maxDate]="maxDate" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true"
            [closeOnAutoApply]="true" name="daterange" />
        </div>
        <div class="col-md-3">
          <label>Guest Name</label><br>
          <input type="text" [(ngModel)]="GuestName" class="form-control">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3">
          <label>Reference No.</label><br>
          <input type="text" [(ngModel)]="ReferenceNo" class="form-control">
        </div>
        <div class="col-md-3">
          <label> Hotel Name</label><br>
          <input type="text" [(ngModel)]="HotelName" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Location</label><br>
          <input type="text" [(ngModel)]="Location" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Reservation Status</label>
          <mat-select class="dd-selected form-control" [(ngModel)]="Status" [(value)]="Status">
            <mat-option *ngFor="let status of allStatus" [value]="status" (onSelectionChange)="onselected(status)">
              {{status}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12 text-right">
          <input type="button" (click)="clear()" class="btn_1" value="Clear">&nbsp;
          <input type="button" (click)="_filter(Check_in.value, Check_out.value, Booking_Date.value)" class="btn_1"
            value="Apply">
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="card" *ngFor="let report of BookingList | paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
  <div class="card-body">
    <div class="strip_booking">
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <h3 class="hotel_booking">{{report.HotelName}}<br />
            <small>{{report.City}}</small>
            <span>{{report.NoOfAdults}} Adults, {{report.Children}} Childs / {{report.TotalRooms}} Rooms</span>
          </h3>
        </div>
        <div class="col-lg-2 col-md-2 details status">
          <div class="row booking">
            <div class="col-md-12 status">
              <span> <strong>Status</strong> :
                <span class="status-vouchered" *ngIf="report.Status==='Vouchered'">
                  Vouchered
                </span>
                <span class="status-cancelled" *ngIf="report.Status==='Cancelled'">
                  Cancelled
                </span>
              </span><br />
              <span><strong>Dead Line</strong> : {{report.DeadLine}}</span><br>
              <span> <strong>Total Amount</strong> : INR. {{report.TotalFare}}</span><br />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 details">
          <div class="row booking">
            <div class="col-md-12">
              <span> <strong>Check-In</strong> : {{report.CheckIn}}</span><br />
              <span> <strong>Check-Out</strong> : {{report.CheckOut}}</span><br />
              <span> <strong>Guest Name</strong> : {{report.bookingname}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <ul class="info_booking">
            <li><strong>Reference No</strong> {{report.ReservationID}}</li>
            <li><strong>Invoice No</strong> {{report.InvoiceID}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4">
        <span> <strong>Booked on</strong> : {{report.ReservationDate}}</span>
      </div>
      <div class="col-md-8 text-right">
        <input type="button" (click)="showBookingDetails(report.Uid, report.ReservationID)" class="btn_1"
          value="Open">&nbsp;
        <input type="button" class="btn_1" value="Share">
      </div>
    </div>
  </div>
</div>

<div class="box_style_2" *ngIf="response && BookingList.length===0">
  <h1><span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span></h1>
  <h1> Sorry !!</h1>
  <h2>Booking Not Found</h2>
</div>
<div class="has-text-centered" *ngIf="service==='hotel' && BookingList.length!=0">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>