<div class="main_title">
    <h2>{{Destination}} <span>Top</span> Hotels</h2>
</div>

<div class="owl-carousel owl-theme list_carousel add_bottom_30" *ngIf='Destination == "Jeddah"'>
        <div class="item">
                <div class="hotel_container">
                    <div class="ribbon_3 popular"><span>Popular</span></div>
                    <div class="img_container">
                        <a href="#">
                            <img src="https://waldorfastoria3.hilton.com/resources/media/wa/JEDWAWA/en_US/img/shared/full_page_image_gallery/main/WA_exterior07_2_745x420_FitToBoxSmallDimension_Center.jpg"
                                width="800" style="height:200px" class="img-fluid" alt="image">
                            <div class="score"><span>7.5</span>Good</div>
                            <div class="short_info hotel">
                                <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                            </div>
                        </a>
                    </div>
                    <div class="hotel_title">
                        <h3><strong>WALDORF ASTORIA JEDDAH - QASR AL SHARQ</strong></h3>
                        <div class="rating">
                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                class="icon-star voted"></i><i class="icon-star-empty"></i>
                        </div>
                        <!-- end rating -->
                        <div class="wishlist">
                            <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                                        class="tooltip-back">Add to wishlist</span></span></a>
                        </div>
                        <!-- End wish list-->
                    </div>
                </div>
                <!-- End box -->
            </div>
            <!-- /item -->
        
          <div class="item">
                <div class="hotel_container">
                    <div class="ribbon_3 popular"><span>Popular</span></div>
                    <div class="img_container">
                        <a href="#">
                            <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37147823%2F78525127911%2F1%2Foriginal.jpg?w=512&auto=compress&rect=0%2C0%2C800%2C400&s=84bc4f1ee796eb304d69e10d75524e92"
                                width="800" style="height:200px" class="img-fluid" alt="image">
                            <div class="score"><span>7.5</span>Good</div>
                            <div class="short_info hotel">
                                <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                            </div>
                        </a>
                    </div>
                    <div class="hotel_title">
                        <h3><strong>The Ritz-Carlton Jeddah
                            </strong></h3>
                        <div class="rating">
                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                class="icon-star voted"></i><i class="icon-star-empty"></i>
                        </div>
                        <!-- end rating -->
                        <div class="wishlist">
                            <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                                        class="tooltip-back">Add to wishlist</span></span></a>
                        </div>
                        <!-- End wish list-->
                    </div>
                </div>
                <!-- End box -->
            </div>
            <!-- /item -->
        
         <div class="item">
                <div class="hotel_container">
                    <div class="ribbon_3 popular"><span>Popular</span></div>
                    <div class="img_container">
                        <a href="#">
                            <img src="https://www3.hilton.com/resources/media/hi/JEDHIHI/en_US/img/shared/full_page_image_gallery/main/HL_ext1_675x359_FitToBoxSmallDimension_LowerCenter.jpg"
                                width="800" style="height:200px" class="img-fluid" alt="image">
                            <div class="score"><span>7.5</span>Good</div>
                            <div class="short_info hotel">
                                <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                            </div>
                        </a>
                    </div>
                    <div class="hotel_title">
                        <h3><strong>JEDDAH HILTON</strong></h3>
                        <div class="rating">
                            <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                class="icon-star voted"></i><i class="icon-star-empty"></i>
                        </div>
                        <!-- end rating -->
                        <div class="wishlist">
                            <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                                        class="tooltip-back">Add to wishlist</span></span></a>
                        </div>
                        <!-- End wish list-->
                    </div>
                </div>
                <!-- End box -->
            </div>
            <!-- /item -->

</div>

<div class="owl-carousel owl-theme list_carousel add_bottom_30" *ngIf='Destination == "Mauritius"'>
    <div class="item">
        <div class="hotel_container">
            <div class="ribbon_3 popular"><span>Popular</span></div>
            <div class="img_container">
                <a href="#">
                    <img src="https://img.traveltriangle.com/attachments/pictures/931208/original/royal-palm-luxury.jpg?tr=w-606,h-400"
                        width="800" style="height:200px" class="img-fluid" alt="image">
                    <div class="score"><span>7.5</span>Good</div>
                    <div class="short_info hotel">
                        <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                    </div>
                </a>
            </div>
            <div class="hotel_title">
                <h3><strong>
                        Royal Palm Beachcomber Luxury
                        </strong></h3>
                <div class="rating">
                    <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                        class="icon-star voted"></i><i class="icon-star-empty"></i>
                </div>
                <!-- end rating -->
                <div class="wishlist">
                    <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                                class="tooltip-back">Add to wishlist</span></span></a>
                </div>
                <!-- End wish list-->
            </div>
        </div>
        <!-- End box -->
    </div>
    <!-- /item -->

    <div class="item">
        <div class="hotel_container">
            <div class="ribbon_3 popular"><span>Popular</span></div>
            <div class="img_container">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRsdGAbO8Ss-3IaAuWMLT4EdXK51dmCKh6Ybgx8hx6F5Voh7_3B" width="800" style="height:200px"
                        class="img-fluid" alt="image">
                    <div class="score"><span>7.5</span>Good</div>
                    <div class="short_info hotel">
                        <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                    </div>
                </a>
            </div>
            <div class="hotel_title">
                <h3><strong>One & Only Le St Geran Mauritius</strong></h3>
                <div class="rating">
                    <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                        class="icon-star voted"></i><i class="icon-star-empty"></i>
                </div>
                <!-- end rating -->
                <div class="wishlist">
                    <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                                class="tooltip-back">Add to wishlist</span></span></a>
                </div>
                <!-- End wish list-->
            </div>
        </div>
        <!-- End box -->
    </div>
    <!-- /item -->


    <div class="item">
        <div class="hotel_container">
            <div class="ribbon_3 popular"><span>Popular</span></div>
            <div class="img_container">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTCED_YR0N_b1oVfN5yK7-AuvuzbA5biwzSxcEiB6QNz24F4_b"
                        width="800" style="height:200px" class="img-fluid" alt="image">
                    <div class="score"><span>7.5</span>Good</div>
                    <div class="short_info hotel">
                        <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                    </div>
                </a>
            </div>
            <div class="hotel_title">
                <h3><strong>Paradis Beachcomber Golf Resort
                    </strong></h3>
                <div class="rating">
                    <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                        class="icon-star voted"></i><i class="icon-star-empty"></i>
                </div>
                <!-- end rating -->
                <div class="wishlist">
                    <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                                class="tooltip-back">Add to wishlist</span></span></a>
                </div>
                <!-- End wish list-->
            </div>
        </div>
        <!-- End box -->
    </div>
    <!-- /item -->














</div>
<!-- /carousel -->
<p class="text-center nopadding">
    <a href="#" class="btn_1">View all Hotels</a>
</p>