/*Typography and buttons*/
h2 span, h3 span, h4 span, h5 span, h6 span{color:#00a1ff;}

a.button_intro, .button_intro  {background: #00a1ff;}

a.button_intro:hover, .button_intro:hover {color:#00a1ff !important;}

a.button_intro:hover, .button_intro:hover {color:#00a1ff;}

a.button_drop, .button_drop  {color:#00a1ff !important;}
a.button_drop.outilne, .button_drop.outline  {color:#00a1ff;}

a.btn_1, .btn_1{background: #00a1ff;}
a.btn_1.white, .btn_1.white  {color:#00a1ff;}

a.btn_1.outline:hover,.btn_1.outiline:hover, input .btn_1.outiline:hover{background:#00a1ff;border:2px solid #00a1ff;}
a.btn_1:hover, .btn_1:hover {background: #333;}

a.btn_map{background: #00a1ff;}

a {color: #00a1ff;}

#search .btn_1.green{background: #00a1ff;}

/* Header */
header#colored.sticky{background-color:#00a1ff; border-bottom:2px solid #00a1ff}

/*First level styles header plain */
header#plain .main-menu > ul > li > a {
    color: #333;
}

header#plain .main-menu > ul > li:hover > a {
    color: #00a1ff;
}

.dropdown-cart .dropdown-menu{border-top: 2px solid #00a1ff;}
.dropdown-cart .dropdown-menu:before {border-bottom-color: #00a1ff;}

ul#cart_items li strong > a:hover{color:#00a1ff;}

ul#top_links a{
	color:#fff;
}
ul#top_links a:hover{
	color:#00a1ff;
}

ul#top_tools a{ color:#fff;}
ul#top_tools a:hover {color:#00a1ff;}

 .dropdown-mini .dropdown-menu {
    border-top: 2px solid #00a1ff;
}
 .dropdown-mini .dropdown-menu:before {
	border-bottom-color: #00a1ff;
}
 .dropdown-mini .dropdown-menu ul#lang_menu li a{
	 color:#555 !important;
}

 .dropdown-mini .dropdown-menu ul#lang_menu li a:hover{
	 color:#00a1ff !important;
}

a.cart_bt strong {background-color: #00a1ff;}

/* Content and common */
#search .nav-tabs > li.active > a,
#search .nav-tabs > li.active > a:hover,
#search .nav-tabs > li.active > a:focus {
  background-color: #00a1ff;
 }

#search .nav-tabs > li > a.active,
#search .nav-tabs > li > a:hover .active,
#search .nav-tabs > li > a:focus .active {
    color: #fff;
    background-color: #00a1ff;
}
.cbp_tmtimeline:before {
	background: #00a1ff !important;
}
.cbp_tmtimeline > li .cbp_tmicon {
	color: #00a1ff !important;
	box-shadow: 0 0 0 3px #00a1ff !important;
}

.input-group button:hover, .input-group button:focus {background-color:#00a1ff; border-color:#00a1ff}

.other_tours ul li a:hover{color:#00a1ff;}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {background: #00a1ff;} 
.form_title h3 strong{background-color:#00a1ff;}
.features-content {background-color: #00a1ff;}
#Img_carousel .sp-selected-thumbnail {border-bottom: 2px solid #00a1ff;}


#directions { background-color:#00a1ff; }

ul.list_ok li:before {color:#00a1ff;}
ul.list_order li span {background-color:#00a1ff;}

.tooltip-back {background: #00a1ff;}
.tooltip-content-flip .tooltip-front::after, .tooltip-content-flip .tooltip-back::after {
	border-top: 10px solid #00a1ff;
}

.banner h4{color:#00a1ff;}
.banner.colored{background:#00a1ff url(../../img/banner_bg_colored.png) no-repeat center bottom;}

/* Menu */
/*First level styles */					
.main-menu > ul > li:hover > a {color: #00a1ff;}
.main-menu ul ul:before{border-bottom-color: #00a1ff;}

/* Submenu */
.main-menu ul ul,
.main-menu ul .menu-wrapper {border-top: 2px solid #00a1ff;}
.main-menu ul ul li:hover > a {color:#00a1ff;}

.search-overlay-menu .search-overlay-close:hover, .search-overlay-menu form button:hover {
	color: #00a1ff;
}

@media only screen and (max-width: 991px) {
/* Menu */
.main-menu ul li a:hover,
a.show-submenu:hover,
a.show-submenu:focus,
a.show-submenu-mega:hover,
a.show-submenu-mega:focus{color:#00a1ff !important;}	

.main-menu ul ul,
.main-menu ul .menu-wrapper {border-top: none;}
}

@media only screen and (min-width: 992px) {
.main-menu ul ul, .main-menu ul li .menu-wrapper {border-top: 2px solid #00a1ff;}
}

/*-------- Date dropper/Time dropper --------*/
div.datedropper.primary:before,
div.datedropper.primary .pick-submit,
div.datedropper.primary .pick-lg-b .pick-sl:before,
div.datedropper.primary .pick-m,
div.datedropper.primary .pick-lg-h {
  background-color: #00a1ff !important;
}
div.datedropper.primary .pick-y.pick-jump,
div.datedropper.primary .pick li span,
div.datedropper.primary .pick-lg-b .pick-wke,
div.datedropper.primary .pick-btn {
  color: #00a1ff;
}

#td-clock-0 .td-clock .td-time span.on {
    color: #00a1ff!important;
}
#td-clock-0 .td-lancette {
    color: #00a1ff!important;
	border: 2px solid #00a1ff!important;
}
#td-clock-0 .td-clock {
    box-shadow: 0 0 0 1px #00a1ff, 0 0 0 8px rgba(0, 0, 0, 0.05)!important;
}
#td-clock-0 .td-clock:before {
    border-color: #00a1ff!important;
}

.td-select svg{
    stroke: #00a1ff!important;
}

#td-clock-0 .td-lancette div:after {
    background: #00a1ff!important;
}

#td-clock-0 .td-select:after {
    box-shadow: 0 0 0 1px #00a1ff!important;
}

/*-------- Map --------*/
.btn_infobox_get_directions, a.btn_infobox_phone{color:#00a1ff;}
a.btn_infobox, .btn_infobox{background-color: #00a1ff;}
.view_on_map:before {color: #00a1ff;}

#map_filter ul li a:hover,
#map_filter ul li a.active {color: #00a1ff;}

/*-------- Shop --------*/
.shop-item .image-box .item-options .btn_shop:hover{
	background:#00a1ff!important;
}
.prod-tabs .tab-btns .tab-btn.active-btn {
    color: #00a1ff!important;;
}
.btn_cart_outine:hover{
	background:#00a1ff;
	border:2px solid #00a1ff;
}

.card-header a .indicator {
    color: #00a1ff;
}