<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <h3>Need help?</h3>
              <a href="tel://004542344599" id="phone">{{objGlobal.landline}}</a>
                <!-- <a href="javascript:void(0)" id=""><i class="icon-location"></i>7, Kingsway, Nagpur, India - 440001</a> -->
              <a href="mailto:{{objGlobal.email}}" id="email_footer">{{objGlobal.email}}</a>
              <p><img src="assets/img/payments.png" width="231" height="30" alt="Image" data-retina="true" class="img-fluid"></p>
          </div>
          <div class="col-lg-2 col-md-3 ml-md-auto">
              <h3>About</h3>
              <ul>
                  <!-- <li>
                      <a href="about">About us</a>
                  </li> -->
                  <li>
                      <a href="#">FAQ</a>
                  </li>
                  <li>
                      <a href="contact">Contacts</a>
                  </li>
                  <!-- <li>
                      <a style="cursor: pointer" (click)="openDialog()">Login</a>
                  </li>
                  <li>
                      <a style="cursor: pointer" (click)="RegisterDialog()">Register</a>
                  </li> -->
                  <li>
                      <a [routerLink]="['/terms-and-conditions']" >Terms and condition</a>
                  </li>
                  <li>
                        <a [routerLink]="['/privacy-policy']">Privacy Policy </a>
                    </li>
                  
              </ul>
          </div>

          <div id="mc_embed_signup" class="col-lg-5 col-md-6" id="newsletter">
            <form action="https://cenintravels.us20.list-manage.com/subscribe/post?u=6af0279a20b944d62b53a22ab&id=5a95510f4f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll form-group" id="message-newsletter_2">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="mce-EMAIL">Subscribe</label>
                            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" class="" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn_1" (click)="subscribe()" style="margin-top: 30px;">
                        </div>
                    </div>
             
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6af0279a20b944d62b53a22ab_5a95510f4f" tabindex="-1" value=""></div>
               
                </div>
            </form>
            </div>
          <!-- <div class="col-lg-2 ml-lg-auto">
              <h3>Settings</h3>
              <div class="styled-select">
                  <select name="lang" id="lang">
                      <option value="English" selected>English</option>
                      <option value="French">French</option>
                      <option value="Spanish">Spanish</option>
                      <option value="Russian">Russian</option>
                  </select>
              </div>
              <div class="styled-select">
                  <select name="currency" id="currency">
                      <option value="USD" selected>USD</option>
                      <option value="EUR">EUR</option>
                      <option value="GBP">GBP</option>
                      <option value="RUB">RUB</option>
                  </select>
              </div>
          </div> -->
      </div>
      <!-- End row -->
      <div class="row">
          <div class="col-lg-12">
              <div id="social_footer">
                  <ul>
                      <li>
                          <a href="https://www.facebook.com/cenintours/" target="blank"><i class="icon-facebook"></i></a>
                      </li>
                      <!-- <li>
                          <a href="#"><i class="icon-twitter"></i></a>
                      </li> -->
                      <li>
                          <a href="https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&osid=1&continue=https%3A%2F%2Fplus.google.com%2F%2BCenintravelsorg&followup=https%3A%2F%2Fplus.google.com%2F%2BCenintravelsorg&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="blank"><i class="icon-google"></i></a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/cenintravels/"><i class="icon-instagram"></i></a>
                      </li> 
                      <li>
                          <a href="https://in.pinterest.com/ceninsafaris/" target="blank"><i class="icon-pinterest"></i></a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/company/cenin-safaris" target="blank"><i class=" icon-linkedin"></i></a>
                      </li>
                      <!-- <li>
                          <a href="#"><i class="icon-youtube-play"></i></a>
                      </li> -->
                  </ul>
                  <p>© Trivo.in 2019</p>
              </div>
          </div>
      </div>
      <!-- End row -->
  </div>
  <!-- End container -->
</footer>