.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
  .form-group input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  ::ng-deep .mat-input-underline  .mat-form-field-underline{
    display: none;
}
::ng-deep .mat-form-field-underline{
  display: none;
}
.mat-select{
  width:2000px;
  background-color: red;
  font-size: 10px;
  display: block;
    width: 100%;
    height: 35px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::ng-deep .mat-select-trigger{
  padding: 5px;
}
::ng-deep .mat-option{
  padding: 10px;
    display: block;
    border-bottom: solid 1px #ddd;
    overflow: hidden;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    /* -webkit-transition: all 0.25s ease-in-out; */
}