<section id="search_container" *ngIf="AdminCode == 'CUT' || AdminCode == 'TRIVO' || AdminCode == 'CENNIN'">
  <div id="search">
    <div class="tab-content">
      <h4>Search Packages</h4>
      <app-search-package></app-search-package>
    </div>
  </div>
</section >
<app-hi5fly-package *ngIf="AdminCode == 'HIFI'"></app-hi5fly-package>
<!-- <app-cennin-search *ngIf="AdminCode === 'CENNIN'"></app-cennin-search> -->
<app-meetme-search *ngIf="AdminCode =='MEETME'"></app-meetme-search>
<app-idealjungle-search *ngIf="AdminCode == 'IDEALJ'"></app-idealjungle-search>
<app-idealjungle-packagegrid *ngIf="AdminCode === 'IDEALJ'"></app-idealjungle-packagegrid>
<app-exotics-package *ngIf="AdminCode=='EXCO'"></app-exotics-package>
<!-- <app-exotics-search *ngIf="AdminCode == 'EXCO'"></app-exotics-search> -->
<app-package-grid *ngIf="(AdminCode !== 'IDEALJ')"></app-package-grid>
<!-- AdminCode !== 'CENNIN' &&  -->

<!-- <app-cenin-package-tabs *ngIf="AdminCode === 'CENNIN'"></app-cenin-package-tabs> -->


<app-meetme-package-grid *ngIf="AdminCode === 'MEETME'"></app-meetme-package-grid>