.all-searchbox {
  margin-bottom: 20px;
}

.all-box-multiwaydata {
  height: auto;
  width: 100%;
  display: table;
  text-align: left;
  background: #fff;
  padding-top: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  border-bottom: 1px solid #d2d2d2;
}

.all-box-multiwaydata .rowfs {
  padding: 0px 0px 3px 10px;
}

.row-box-multiwaydata {
  background-color: #d9d9d9;
  padding: 8px 10px;
  text-align: right;
  top: -10px;
  position: relative;
}

.tour-multi-waydays {
  font-size: 14px;
}

.tour-multi-waydays em {
  font-style: normal;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.product-desti {
  font-weight: 700;
}

.product-multi-wayprice {
  font-weight: 700;
  color: #339933;
  font-size: 16px;
}

.productmultiway-bookbtn {
  text-align: right;
}

.productmultiway-bookbtn .btn {
  padding: 7px 15px 7px 15px;
  background: #f58634;
  color: #fff;
  border-color: #f58634;
}

.productmultiway-bookbtn .btn:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.product-btn {
  padding: 2px 18px 2px 15px !important;
}

.product-multi-way {
  text-align: left;
  font-size: 14px;
}

.product-multi-way p {
  padding: 0px 0 0px 10px;
  margin: 0 0 0 0;
}

.tour-multi-waydays img {
  width: 35px;
}

.single-multi-waytime {
  font-size: 16px;
  font-weight: 900;
}

.flight-panelmultiway {
  cursor: pointer;
  text-decoration: none !important;
}

.multi-wayfdetails-tabs > li {
  background: none;
  border-right: none;
}

.multi-wayfdetails-tabs > li > a {
  color: #f58634;
}

.multi-wayfdetails-tabs > li > a:hover {
  box-shadow: none !important;
  background: none !important;
}

.multi-wayfdetails-tabs > li.active > a,
.multi-wayfdetails-tabs > li.active > a:hover,
.multi-wayfdetails-tabs > li.active > a:focus {
  background-color: #fff !important;
}

.Fdetails-content {
  padding-bottom: 60px;
  height: auto;
}

@media (min-width: 992px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .multi-wayfdetails-tabs > li > a {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
  }

  .multi-wayfdetails-tabs > li.active > a,
  .multi-wayfdetails-tabs > li.active > a:hover,
  .multi-wayfdetails-tabs > li.active > a:focus {
    color: #f58634 !important;
  }
}

.border-multiway {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-multitabs {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .multiway-leftblock {
    width: 100%;
  }

  .productmultiway-bookbtn {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .tour-multi-waydays {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .inherit-tabs {
    width: 100% !important;
  }

  .product-multi-way {
    text-align: center;
    width: 33.3333%;
  }

  .oneway-imgarrow {
    width: 100%;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.lin2 {
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #b0aeae;
  float: left;
  position: absolute;
  right: 0;
  top: 34px;
}

.fli-i {
  width: 32px;
  height: 32px;
  background: url(/assets/img/flighticon.png);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -12px;
  background-position: -265px -3px;
}

.fd-h {
  float: left;
  content: " ";
  background: url(/assets/img/flighticon.png);
  width: 35px;
  height: 35px;
  background-position: -260px -4px;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

.box_style_1 {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 7px !important;
  position: relative;
  color: #666;
}

.box_style_1 h3.inner {
  margin: -8px -9px 20px !important;
}

.p-fare {
  margin: 0 0 10px !important;
}

.total {
  color: #e04f67;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.card-body {
  padding: 20px;
}

::ng-deep .mat-expansion-panel-header {
  font-size: 13px;
}

.mealTripHead:after {
  content: "";
  width: 60%;
  border-bottom: 1px solid #bcc8d1;
  position: absolute;
  top: 50%;
  z-index: 1;
}

a.accordion-toggle::before {
  font-family: fontello;
  text-decoration: inherit;
  content: "\e89c";
  width: 1em;
  margin-right: 0.2em;
  line-height: 1em;
  margin-left: 0.2em;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  speak: none;
}

a.accordion-toggle.collapsed::before {
  font-family: fontello;
  text-decoration: inherit;
  content: "\e89d";
  width: 1em;
  margin-right: 0.2em;
  line-height: 1em;
  margin-left: 0.2em;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  speak: none;
}

.mat-select-value-text {
  color: #555 !important;
}

::ng-deep .mat-select-value {
  color: #555 !important;
}

.no-padding-d {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
