<section id="hero_2">
  <div class="intro_title">
    <!-- <h1>Place your order</h1> -->
    <div class="bs-wizard row">

      <div class="col-4 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">Your cart</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="cart.html" class="bs-wizard-dot"></a>
      </div>

      <div class="col-4 bs-wizard-step active">
        <div class="text-center bs-wizard-stepnum">Your details</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="#" class="bs-wizard-dot"></a>
      </div>

      <div class="col-4 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum">Finish!</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="confirmation.html" class="bs-wizard-dot"></a>
      </div>

    </div>
    <!-- End bs-wizard -->
  </div>
  <!-- End intro-title -->
</section>
<!-- End Section hero_2 -->

<main>
  <div id="position">
    <div class="container">
      <ul>
        <li>
          <a href="home">Home</a>
        </li>
        <li>
          <a href="">Flight List</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <!-- End position -->


  <div class="container margin_60">


    <div class="row">
      <div class="col-lg-8 add_bottom_15">
        <div class="flight-list listing-style3 flight">
          <div class="all-searchbox">
            <div class="all-box-multiwaydata">
              <div class="col-lg-12">
                <div class="row row-box-multiwaydata">
                  <div class="col-md-12 col-sm-12 col-xs-12 product-multi-way inherit-tabs">
                    <a class="flight-panelmultiway take-off">
                      <div class="icon"><i class="soap-icon-plane-right" style="font-size: 30px;"></i></div>&nbsp;
                      Flight Details
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 no-padding-d" *ngFor="let flight of FlightDetail; let f=index">
                <div class="col-lg-12 no-padding-d" *ngFor="let Segments of flight.Segments; let i=index">
                  <div class="row mb10" style="padding: 0px 0px 3px 10px;">

                    <!-- round trip domastic -->
                    <div class="take-off col-lg-12 no-padding-d" style="font-size: 14px;"
                      *ngIf="arrFlightDetails.JourneyType==='2' && !arrFlightDetails.IsDomestic">
                      <span *ngIf="i===0"> Departure <br>
                        {{Segments[0].Origin.Airport.CityName}} -
                        {{Segments[Segments.length-1].Destination.Airport.CityName}}
                        &nbsp;&nbsp;
                        <b>{{Segments[0].Origin.DepTime}}</b>
                      </span>
                      <span *ngIf="i===1"> Return <br>
                        {{Segments[0].Origin.Airport.CityName}} -
                        {{Segments[Segments.length-1].Destination.Airport.CityName}}
                        &nbsp;&nbsp;
                        <b>{{Segments[0].Origin.DepTime}}</b>
                      </span>
                    </div>

                    <div class="take-off col-lg-12 no-padding-d" style="font-size: 14px;"
                      *ngIf="arrFlightDetails.JourneyType==='2' && arrFlightDetails.IsDomestic">
                      <span *ngIf="f===0"> Departure <br>
                        {{Segments[0].Origin.Airport.CityName}} -
                        {{Segments[Segments.length-1].Destination.Airport.CityName}}
                        &nbsp;&nbsp;
                        <b>{{Segments[0].Origin.DepTime}}</b>
                      </span>
                      <span *ngIf="f===1"> Return <br>
                        {{Segments[0].Origin.Airport.CityName}} -
                        {{Segments[Segments.length-1].Destination.Airport.CityName}}
                        &nbsp;&nbsp;
                        <b>{{Segments[0].Origin.DepTime}}</b>
                      </span>
                    </div>

                    <!-- multi city and one way -->
                    <div class="take-off col-lg-12 no-padding-d" style="font-size: 14px;"
                      *ngIf="arrFlightDetails.JourneyType==='3' || arrFlightDetails.JourneyType==='1'">
                      <span> Departure <br>
                        {{Segments[0].Origin.Airport.CityName}} -
                        {{Segments[Segments.length-1].Destination.Airport.CityName}}
                        &nbsp;&nbsp;
                        <b>{{Segments[0].Origin.DepTime}}</b>
                      </span>
                    </div>

                  </div>
                  <div class="row rowfs" *ngFor="let segment of Segments">
                    <div class="col-md-12 col-lg-12 col-xs-12 multiway-leftblock no-padding-d">
                      <div class="row">
                        <div class="col-md-2 col-lg-2 col-xs-4 tour-multi-waydays">
                          <img class="" src="../../../../assets/img/AirlineLogo/{{segment.Airline.AirlineCode}}.gif" />
                          &nbsp;<br>
                          <span> {{segment.Airline.AirlineName}} </span><br>
                          <span>({{segment.Airline.AirlineCode}} - {{segment.Airline.FlightNumber}})</span>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-2 product-multi-way">
                          <span> {{segment.Origin.Airport.CityName}} </span><br>
                          <span> {{segment.Origin.DepTime}} </span><br>
                          <span *ngIf="segment.Origin.Airport.Terminal">Terminal -
                            {{segment.Origin.Airport.Terminal}}<br></span>
                          <span> {{segment.Origin.Airport.AirportName}} </span>
                        </div>

                        <div class="col-md-2 col-lg-2 col-xs-4 product-multi-way take-off" style="text-align: center;">
                          <div class="icon"><i class="soap-icon-clock" style="font-size: 30px;"></i></div>
                          <br>
                          <span> {{segment.Duration}} </span>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-2 product-multi-way">
                          <span> {{segment.Destination.Airport.CityName}} </span><br>
                          <span> {{segment.Destination.ArrTime}} </span><br>
                          <span *ngIf="segment.Destination.Airport.Terminal">Terminal -
                            {{segment.Destination.Airport.Terminal}}<br></span>
                          <span> {{segment.Destination.Airport.AirportName}}</span>
                        </div>
                      </div>
                      <div class="mb20"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="all-searchbox">
            <div class="all-box-multiwaydata">
    
              <div class="col-lg-12">
                <div class="row row-box-multiwaydata">
                  <div class="col-md-12 col-sm-12 col-xs-12 product-multi-way inherit-tabs">
                    <a class="flight-panelmultiway take-off">
    
                      <div class="fd-h"></div>&nbsp;Flight
                      Details
                    </a>
                  </div>
                </div>
              </div>
              <div *ngFor="let arrDetails of arrFlightDetails; let i=index;">
    
                <div *ngIf="arrDetails.JourneyType == '1'">
                  <div class="col-lg-12">
                    <div class="row mb10" style="padding: 0px 0px 3px 10px;">
                      <div class="take-off col-lg-12" style="font-size: 14px;">
                        <div class="icon"><i class="soap-icon-plane-right" style="font-size: 30px;"></i></div>
                        <span> {{arrDetails.FlightDetails[i].Origin.Airport.CityName}} '-' Bombay &nbsp;&nbsp;<b>start
                            Date</b></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="row rowfs">
                    <div class="col-md-12 col-lg-12 col-xs-12 multiway-leftblock">
                      <div class="row">
                        <div class="col-md-2 col-lg-2 col-xs-4 tour-multi-waydays">
                          <span>
                            <img class="" src="../../../../assets/img/AirlineLogo/AI.gif" />
                          </span>
                          <span> Air India </span><br>
                          <span> AI </span>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-2 product-multi-way">
                          <span> Pune Airport </span><br>
                          <span>Dept Time </span><br>
                          <span>Terminal Name</span><br>
                          <span>City Name </span>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-4 product-multi-way take-off" style="text-align: center;">
                          <div class="icon"><i class="soap-icon-clock" style="font-size: 30px;"></i></div>
                          <br>
                          
                          <br><br>
                          <div class="lin2">
                            <div class="fli-i">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-2 product-multi-way">
                          <span> Pune Airport </span><br>
                          <span>Dept Time </span><br>
                          <span>Terminal Name</span><br>
                          <span>City Name </span>
                        </div>
    
                      </div>
                      <div class="mb20"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>

        <div>

          <form [formGroup]="bookingform" *ngIf="isloaded && !finalbooking">
            <!-- Passenger Details -->
            <div class="card" formArrayName="customer">
              <div class="card-body">
                <h6>Travellers Details</h6>
                <div class="card" [formGroupName]="p" *ngFor="let passenger of Passengers; let p=index">
                  <div class="card-header">
                    Passenger {{p+1}} ({{passenger.PaxType}})
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label>Title</label>
                          <mat-select class="form-control" formControlName="title"
                            [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['title'].errors }">
                            <mat-option value="Mr" *ngIf="passenger.PaxType==='AD'">Mr </mat-option>
                            <mat-option value="Mrs" *ngIf="passenger.PaxType==='AD'">Mrs </mat-option>
                            <mat-option value="MASTER" *ngIf="passenger.PaxType!=='AD'">Master </mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" class="form-control" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['name'].errors }">
                        </div>
                      </div>
                      <div class="col-sm-3" [ngClass]="passenger.DOB.IsRequired ? 'col-sm-3' : 'col-sm-4' ">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" class="form-control" formControlName="lastName"
                            [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['lastName'].errors }">
                        </div>
                      </div>
                      <div class="col-sm-3" *ngIf="passenger.DOB.IsRequired">
                        <div class="form-group">
                          <label>DOB</label>
                          <input type="text" class="form-control" formControlName="dob" ngxDaterangepickerMd
                            placeholder="" [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" startKey="start"
                            endKey="end" [autoApply]="true" [opens]="opens" [maxDate]="MaxDate" [drops]="drops"
                            [showDropdowns]="true" [closeOnAutoApply]="true" [singleDatePicker]="singleDatePicker"
                            [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['dob'].errors }">
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="passenger.Passport.IsRequired">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Passport No</label>
                          <input type="text" class="form-control" formControlName="passportno"
                            [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['passportno'].errors }">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Expiry date</label>
                          <input type="text" class="form-control" formControlName="expirydate" ngxDaterangepickerMd
                            placeholder="" [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" startKey="start"
                            endKey="end" [autoApply]="true" [opens]="opens" [minDate]="MinDate" [drops]="drops"
                            [showDropdowns]="true" [closeOnAutoApply]="true" [singleDatePicker]="singleDatePicker"
                            [ngClass]="{ 'is-invalid': submitted && getcustomerFormGroup(p).controls['expirydate'].errors }">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Nationality</label>
                          <select class="form-control">
                            <option [value]="country" *ngFor="let country of Country">
                              {{country.Countryname}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="passenger.PaxType!=='In'">
                      <div class="col-md-12">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{p}}">
                          Show more Options ( Meal, Baggage, Special service)
                        </a>
                        <div id="collapse{{p}}" class="collapse">

                          <div class="row" *ngIf="Baggages.length>0">
                            <div class="col-md-12 mealTripHead">
                              <br>
                              <p style="font-weight: 500;
                              width: 160px;
                              display: inline-block;
                              z-index: 3;
                              padding: 0 10px 0 0px;
                              position: relative;"> Select Extra Baggage </p>
                            </div>
                            <div class="col-md-4" *ngFor="let Baggage of Baggages; let bg=index">
                              <div class="form-group">
                                <label>{{Baggage.from}} - {{Baggage.to}} </label>
                                <mat-select class="form-control">
                                  <mat-option [value]="baggage" *ngFor="let baggage of Baggage.baggage"
                                    (click)="onBaggage(baggage, p, bg)">
                                    {{baggage.Weight}} kg at {{baggage.Currency}} {{baggage.Price}}
                                  </mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>

                          <div class="row" *ngIf="MealDynamic.length>0">
                            <div class="col-md-12 mealTripHead">
                              <br>
                              <p style="font-weight: 500;
                              width: 160px;
                              display: inline-block;
                              z-index: 3;
                              padding: 0 10px 0 0px;
                              position: relative;"> Select Extra Meal </p>
                            </div>
                            <div class="col-md-4" *ngFor="let MealDynamic of MealDynamic; let md=index">
                              <div class="form-group">
                                <label>{{MealDynamic.from}} - {{MealDynamic.to}} </label>
                                <mat-select class="form-control">
                                  <mat-option [value]="mealdynamic" *ngFor="let mealdynamic of MealDynamic.mealdynamic"
                                    (click)="onMealDynamic(mealdynamic, p, md)">
                                    {{mealdynamic.AirlineDescription}}
                                    ({{mealdynamic.Currency}} {{mealdynamic.Price}})
                                  </mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>

                          <div class="row" *ngIf="Meal.length>0">
                            <div class="col-md-12 mealTripHead">
                              <br>
                              <p style="font-weight: 500;
                              width: 160px;
                              display: inline-block;
                              z-index: 3;
                              padding: 0 10px 0 0px;
                              position: relative;"> Select Meal </p>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>Meal</label>
                                <mat-select class="form-control">
                                  <mat-option [value]="meal" *ngFor="let meal of Meal" (click)="onMeal(meal)">
                                    {{meal.Description}} ( {{meal.Code}} )
                                  </mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- GST Details -->
            <div *ngIf="Passengers[0]?.IsLeading">
              <div class="card" *ngIf="Passengers[0]?.LeadingPax.Gstmandatory">
                <div class="card-body">
                  <h6>GST Details</h6>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>GST Number</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>GST Company Name</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>GST Company Contact NO</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label>GST Company Address</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Gst Company Email</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- Address card -->
            <div class="card">
              <div class="card-header">
                <h6>Contact Details</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label>Mobile</label>
                      <input type="text" class="form-control" formControlName="mobile"
                        [ngClass]="{ 'is-invalid': submitted && bookingform.controls['mobile'].errors }">
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && bookingform.controls['email'].errors }">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control" formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && bookingform.controls['address'].errors }">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control" formControlName="city"
                        [ngClass]="{ 'is-invalid': submitted && bookingform.controls['city'].errors }">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Country</label>
                      <mat-select class="form-control" formControlName="country"
                        [ngClass]="{ 'is-invalid': submitted && bookingform.controls['country'].errors }">
                        <mat-option [value]="country" *ngFor="let country of Country" style="width: auto;">
                          {{country.Countryname}}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card" *ngIf="finalbooking">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a href="javascript:;" (click)="onEdit()" style="float: right;">
                  <i class="icon_set_1_icon-17"></i> edit
                </a>
              </div>
            </div>
            <div class="row" *ngFor="let pax of BookingRequest.objFlightBooking.Passengers">
              <div class="col-md-12">
                <span>
                  {{pax.Title}}. {{pax.FirstName}} {{pax.LastName}}
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <a href="javascript:;" style="float: right;" class="btn_1" (click)="onBooking()">
                  Book now
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <aside class="col-lg-4">
        <div class="box_style_1">
          <h3 class="inner">- Summary -</h3>
          <div *ngFor="let breackdown of Breackdowns; let b=index; let first=first; let last=last">
            <p class="p-fare" *ngIf="arrFlightDetails.JourneyType==='2' && arrFlightDetails.IsDomestic && first">
              Onward
            </p>
            <p *ngIf="arrFlightDetails.JourneyType==='2' && arrFlightDetails.IsDomestic && last">
              Return
            </p>
            <mat-accordion>
              <mat-expansion-panel [expanded]="true" *ngFor="let breackdown of breackdown.Breackdown; let i=index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Passenger {{i+1}} ({{breackdown.PassengerType}})
                  </mat-panel-title>
                  <mat-panel-description>
                    Sub Total : {{breackdown.Currency}} {{breackdown.Total}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="p-fare"> Fare
                  <span style="float: right;">
                    {{breackdown.Currency}} {{breackdown.Fare}}
                  </span>
                </p>
                <p class="p-fare"> Fees
                  <span style="float: right;">
                    {{breackdown.Currency}} {{breackdown.Fees}}
                  </span>
                </p>
                <p class="p-fare" *ngIf="breackdown?.Baggage"> Baggage
                  <span style="float: right;">
                    {{breackdown.Currency}} {{breackdown?.Baggage}}
                  </span>
                </p>
                <p class="p-fare" *ngIf="breackdown?.Meal"> Meal
                  <span style="float: right;">
                    {{breackdown.Currency}} {{breackdown?.Meal}}
                  </span>
                </p>
                <p class="p-fare"> Taxes
                  <span style="float: right;">
                    {{breackdown.Currency}} {{breackdown.Taxes}}
                  </span>
                </p>
              </mat-expansion-panel>
            </mat-accordion>
            <br>
          </div>
          <div class="row total">
            <div class="col-sm-12">
              <P>
                <span>Grand Total</span>
                <span style="float: right;"> INR {{arrFlightDetails.TotalPrice}}</span>
              </P>
            </div>
          </div>
          <a class="btn_full_outline" href="Javascript:;" *ngIf="!finalbooking" (click)="onSubmit()">Proceed</a>
        </div>
      </aside>

    </div>
    <!--End row -->
  </div>
  <!--End container -->
</main>
<!-- End main -->