
<!-- <section id="search_container">
  <div id="search" >
    <div class="tab-content" style="background-color: #ffffff54;">
        <div class="tab-pan">
      <h3>Book Domestic and International Packages</h3>
      <div class="row">
          <div class="col-md-9">
              <div class="form-group">
                  <label style="font-size: 15px; "><i class="icon-set_1_icon-37"></i><b>City Name</b> </label>
                  <input matInput placeholder="" #City  name="City"  class="" aria-label="City" [matAutocomplete]="packageauto" [formControl]="cityCtrl" style="height: 35px !important">
                   <mat-autocomplete #packageauto="matAutocomplete">
                   <mat-option *ngFor="let CityName of filterCities | async" [value]="CityName.City">
                   <span>{{CityName.City}}</span>
                  </mat-option>
                  </mat-autocomplete>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <button class="btn_1 green" type="button" (click)="getPackages(City.value)" style="margin-top: 28px"><i class="icon-search"></i>Search now</button>
              </div>
          </div>
      </div>
  </div>
    </div>
  </div>
  </section> -->

  <section id="search_container">
    <div id="search">
        <ul class="nav nav-tabs" >
            <li *ngFor="let tabs of _homeTabs; let i=index">
                <a  href="#{{tabs.Name}}" data-toggle="tab" [ngClass]="i==0 ? 'active show' : ''">{{tabs.Name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div [ngClass]="i==0 ? 'tab-pane active' : 'tab-pane' " id="{{tabs.Name}}"
                *ngFor="let tabs of _homeTabs; let i=index">
                <div *ngIf="tabs.Name==='Hotel'" >
                    <h4>Book Domestic & International Hotels</h4>
                    <app-search-panel [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller">
                    </app-search-panel>
                </div>
                <div *ngIf="tabs.Name==='Package'">
                    <h4>Book Domestic and International Packages</h4>
                    <app-search-package></app-search-package>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section id="search_container">
  <div id="search">
      
      <div class="tab-content" style="background-color: #ffffff54;">
        <h3>Book Domestic and International Packages</h3>
        <app-search-package></app-search-package>
      </div>
  </div>
</section> -->


