<div id="search_container_2">
  <div id="search_2">
    <div class="tab-content">
      <div class="tab-pane fade active show" id="flight">
        <br>
        <app-search-flight [JourneyType]="JourneyType" [Direct]="Direct" [Class]="Class" [Search]="Search"
          [TotelGuest]="TotelGuest" [Destinations]="Destinations" [singleDatePicker]="singleDatePicker">
        </app-search-flight>
      </div>
    </div>
  </div>
</div>