 <!-- End Header -->
 <section id="hero_2">
    <div class="intro_title">
        <h1>Place your order</h1>
        <div class="bs-wizard row">
            <div class="col-4 bs-wizard-step active">
                <div class="text-center bs-wizard-stepnum">Your cart</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#0" class="bs-wizard-dot"></a>
            </div>
            <div class="col-4 bs-wizard-step disabled">
                <div class="text-center bs-wizard-stepnum">Your details</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="payment_fixed_sidebar.html" class="bs-wizard-dot"></a>
            </div>
            <div class="col-4 bs-wizard-step disabled">
                <div class="text-center bs-wizard-stepnum">Finish!</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="confirmation.html" class="bs-wizard-dot"></a>
            </div>
        </div>
        <!-- End bs-wizard -->
    </div>
    <!-- End intro-title -->
</section>
<!-- End Section hero_2 -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End position -->
    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8">
                <table class="table table-striped cart-list add_bottom_30">
                    <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Discount
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let arrProduct of products; let i = index">
                            <td>
                                <div class="thumb_cart">
                                    <img src="img/thumb_cart_1.jpg" alt="Image">
                                </div>
                                <span class="item_cart">{{arrProduct.ProductName}}</span>
                            </td>
                            <td>
                              <table>
                                <tr  *ngFor="let Pax of arrProduct.PaxRate.arrayPax">
                                <td style="width: 60%">
                                    <span *ngIf="Pax.Pax_Type=='adult'" class="font-weight-bold font11">
                                        Adults
                                    </span>
                                    <span *ngIf="Pax.Pax_Type=='child1' || Pax.Pax_Type=='child2'" class="font-weight-bold font11">
                                            Child
                                            <small>({{Pax.Age}})</small>
                                            
                                    </span>
        
                                    <span *ngIf="Pax.Pax_Type=='infant'" class="font-weight-bold font11">
                                            Infant
                                            <small>({{Pax.Age}})</small>
                                    </span>
                                    
                                </td>
                                <td  style="width: 40%">
                                   <small class=""> {{Pax.Rate}} x</small>
                                    <input type="number" class="form-control" value="" [(ngModel)]="Pax.Count" style="width: 50%;
                                    float: right;">
                                </td>
                                </tr>
                              </table>
                            </td>
                            <td>
                                0%
                            </td>
                            <td>
                                <strong>{{arrProduct.PaxRate.Currency}} {{arrProduct.PaxRate.Total}}</strong>
                            </td>
                            <td class="options">
                                <a (click)="remove(i)"><i class=" icon-trash"></i></a><a href="#"><i class="icon-ccw-2"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End col-md-8 -->
            <aside class="col-lg-4" id="sidebar">
                <div class="theiaStickySidebar">
                    <div class="box_style_1">
                        <h3 class="inner">- Summary -</h3>
                        <table class="table table_summary">
                            <tbody>
                              <tr *ngFor="let arrProduct of products; let i = index">
                                  <td>
                                      <div class="col" style="text-transform:none;">
                                          <img src="img/products/thumb-1.jpg" width="50" height="50" alt=""> {{arrProduct.ProductName}}
                                        </div>
                                        

                                  </td>
                                  <td class="text-right">
                                      <div class="col second">
                                          {{arrProduct.PaxRate.Total}}
                                        </div>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                        <a class="btn_full" (click)="CheckOut()" >Check out</a>
                        <a class="btn_full_outline" href="/home"><i class="icon-right"></i> Continue shopping</a>
                    </div>
                </div>
                <!-- End sitcky -->
            </aside>
            <!-- End aside -->
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</main>
<!-- End main -->