<section class="parallax-window" data-parallax="scroll" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{Packages.PackageName}}</h1>
                    <span>{{Packages.City}}</span>
                    <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i
                            class="icon-smile voted"></i><i class="icon-smile voted"></i><i
                            class="icon-smile"></i><small>(75)</small></span>
                </div>
                <div class="col-md-4">
                    <div id="price_single_main">
                        <span *ngIf="Packages.Category.length !==0"><sup>{{currency}}</sup>
                            {{Packages.MinPrice}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <!-- <ul>
                <li>
                    <a href="home">Home</a>
                </li>
                <li>Page active</li>
            </ul> -->
        </div>
    </div>
    <div class="container margin_60">
        <div class="row" id="No-Print">
            <div class="col-lg-8" id="single_tour_desc">
                <app-slider [Images]="Images"></app-slider>
                <!-- <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide" *ngFor="let Images of Packages.Images">
                            <img alt="Image" class="sp-image" src="assets/css/images/blank.gif" attr.data-src="{{Images.Url}}" attr.data-small="{{Images.Url}}" attr.data-medium="{{Images.Url}}" attr.data-large="{{Images.Url}}" attr.data-retina="{{Images.Url}}">
                            <p class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="160" data-width="350" data-show-transition="left" data-show-delay="400">
                              {{Images.Title}}
                            </p>
                        </div>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Image" *ngFor="let Img of Packages.Images" class="sp-thumbnail" src="{{Img.Url}}">
                    </div>
                </div> -->
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Description</h3>
                        <div [innerHtml]="Packages.Description">
                        </div>

                    </div>
                </div>
                <hr>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h3 *ngIf="Packages.Inclusions.length > 0"> Inclusions</h3>
                        <ul class="list_ok">
                            <li *ngFor="let Inclusions of Packages.Category.Inclusions">
                                {{Inclusions.Name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 *ngIf="Packages.Exclusions.length > 0"> Exclusions</h3>
                        <ul class="list_ok">
                            <li *ngFor="let Inclusions of Packages.Category.Inclusions">
                                {{Inclusions.Name}}</li>
                        </ul>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <mat-tab-group>
                            <mat-tab label="Itinerary">
                                <br>
                                <ul class="cbp_tmtimeline" id="itn_Itinerary">
                                    <li *ngFor="let Itinerary of Packages.Itinerary">
                                        <time class="cbp_tmtime" datetime="09:30">
                                            <br><span style="font-size: 26px">Day {{Itinerary.noDay}}</span>
                                        </time>
                                        <div class="cbp_tmicon timeline_icon_point"></div>
                                        <div class="cbp_tmlabel" [innerHtml]="Itinerary.Description">
                                        </div>
                                    </li>
                                </ul>
                            </mat-tab>
                            <mat-tab *ngFor="let Category of Packages.Category; let i=index"
                                label="{{Category.Categoryname}}">
                                <br>
                                <mat-tab-group>
                                    <mat-tab label="Price">
                                        <div class="post" style="padding-left: 0px;color: #444">
                                            <br>
                                            <ul class="list-group list-group-flush">
                                                <li *ngIf="Category.Single!=0"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <!-- Single Sharing -->
                                                    Per Pax
                                                    <span class="">{{currency}} {{Category.Single}}</span>
                                                </li>
                                                <li *ngIf="Category.Double!=0"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Double Sharing
                                                    <span class="">{{currency}} {{Category.Double}}</span>
                                                </li>
                                                <li *ngIf="Category.Triple!=0"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Triple Sharing
                                                    <span class="">{{currency}} {{Category.Triple}}</span>
                                                </li>
                                                <li *ngIf="Category.Quad!=0"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Quad Sharing
                                                    <span class="">{{currency}} {{Category.Quad}}</span>
                                                </li>
                                                <li *ngIf="Category.Quint!=0"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Quint Sharing
                                                    <span class="">{{currency}} {{Category.Quint}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Extra Adult
                                                    <span class="">{{currency}} {{Category.ExtraAdult}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Kid Without Bed
                                                    <span class="">{{currency}}
                                                        {{Category.ChildNoBedPrice}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Kid With Bed
                                                    <span class="">{{currency}}
                                                        {{Category.ChildWithBedPrice}}</span>
                                                </li>
                                            </ul>
                                            <br>
                                            <div class="alert alert-danger" role="alert">
                                                <label>Price Note : </label> {{Category.PriceNote}}
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <!-- <mat-tab label="Inclusion & Exclusion">
                                        <br>
                                        <div class="post" style="padding-left: 0px;color: #444">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3 *ngIf="Category.Inclusions.length>0 
                                                        || Category.PackageInclusion.PackageMeal.length>0
                                                        || Category.PackageInclusion.PackageActivity.length>0
                                                        || Category.PackageInclusion.PackageVehicle.length>0
                                                        || Category.PackageInclusion.PackageTax.length>0
                                                        || Category.PackageInclusion.PackageOther.length>0
                                                        && Packages.arrInclusions.length == 0
                                                        "> Inclusions</h3>
                                                    <ul class="list_ok">
                                                        <li *ngFor="let Inclusions of Category.Inclusions">
                                                            {{Inclusions.Name}}</li>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageInclusion.PackageMeal.length>0">
                                                        <b>Meal</b>
                                                        <span
                                                            *ngFor="let meal of Category.PackageInclusion.PackageMeal">
                                                            <li>{{meal.MealName}}</li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageInclusion.PackageActivity.length>0">
                                                        <b>Activity</b>
                                                        <span
                                                            *ngFor="let activity of Category.PackageInclusion.PackageActivity">
                                                            <li>{{activity.PackageActivityName}}</li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageInclusion.PackageVehicle.length>0">
                                                        <span
                                                            *ngFor="let transfer of Category.PackageInclusion.PackageVehicle">
                                                            <b>Transfers</b>
                                                            <li>
                                                                {{transfer.VehicleName}}
                                                            </li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageInclusion.PackageTax.length>0">
                                                        <b>Tax</b>
                                                        <span *ngFor="let tax of Category.PackageInclusion.PackageTax">
                                                            <li>
                                                                {{tax.TaxValue}} % {{tax.Name}}
                                                            </li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageInclusion.PackageOther.length>0">
                                                        <b>Other</b>
                                                        <span
                                                            *ngFor="let other of Category.PackageInclusion.PackageOther">
                                                            <li>
                                                                {{other.Name}}
                                                            </li>
                                                        </span>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3 *ngIf="Category.Exclusion.length>0 
                                                        || Category.PackageExclusion.PackageMeal.length>0
                                                        || Category.PackageExclusion.PackageActivity.length>0
                                                        || Category.PackageExclusion.PackageVehicle.length>0
                                                        || Category.PackageExclusion.PackageTax.length>0
                                                        || Category.PackageExclusion.PackageOther.length>0 
                                                        && Packages.
                                                        ">
                                                        Exclusions</h3>
                                                    <ul class="list_ok">
                                                        <li *ngFor="let Exclusions of Category.Exclusion">
                                                            {{Exclusions.Name}}</li>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageExclusion.PackageMeal.length>0">
                                                        <b>Meal</b>
                                                        <span
                                                            *ngFor="let meal of Category.PackageExclusion.PackageMeal">
                                                            <li>{{meal.MealName}}</li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageExclusion.PackageActivity.length>0">
                                                        <b>Activity</b>
                                                        <span
                                                            *ngFor="let activity of Category.PackageExclusion.PackageActivity">
                                                            <li>{{activity.PackageActivityName}}</li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageExclusion.PackageVehicle.length>0">
                                                        <span
                                                            *ngFor="let transfer of Category.PackageExclusion.PackageVehicle">
                                                            <b>Transfers</b>
                                                            <li>
                                                                {{transfer.VehicleName}}
                                                            </li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageExclusion.PackageTax.length>0">
                                                        <b>Tax</b>
                                                        <span *ngFor="let tax of Category.PackageExclusion.PackageTax">
                                                            <li>
                                                                {{tax.TaxValue}} % {{tax.Name}}
                                                            </li>
                                                        </span>
                                                    </ul>
                                                    <ul class="list_ok"
                                                        *ngIf="Category.PackageExclusion.PackageOther.length>0">
                                                        <b>Other</b>
                                                        <span
                                                            *ngFor="let other of Category.PackageExclusion.PackageOther">
                                                            <li>
                                                                {{other.Name}}
                                                            </li>
                                                        </span>
                                                    </ul>
                                                </div>
                                            </div>


                                        </div>
                                    </mat-tab> -->
                                    <mat-tab label="Hotel" *ngIf="Category.PackageHotels.length>0">
                                        <br>
                                        <div class="row text-center plans">
                                            <div class="col-lg-4 col-md-4"
                                                *ngFor="let Hotel  of Category.PackageHotels; let i= index">
                                                <div class="pricing-table green ">

                                                    <div class="pricing-table-header">
                                                        <span class="heading">{{Hotel.Nights }} Nights</span>
                                                        <span class="price-value"><span style="font-size: 13px;">
                                                                <div class="rating" *ngIf="Hotel.Ratings == ''">
                                                                    <i class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i>
                                                                </div>
                                                                <div class="rating" *ngIf="Hotel.Ratings == '1'">
                                                                    <i class="icon-star voted"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i>
                                                                </div>
                                                                <div class="rating" *ngIf="Hotel.Ratings == '2'">
                                                                    <i class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i>
                                                                </div>
                                                                <div class="rating" *ngIf="Hotel.Ratings == '3'">
                                                                    <i class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star-empty"></i><i
                                                                        class="icon-star-empty"></i>
                                                                </div>
                                                                <div class="rating" *ngIf="Hotel.Ratings == '4'">
                                                                    <i class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star-empty"></i>
                                                                </div>
                                                                <div class="rating" *ngIf="Hotel.Ratings == '5'">
                                                                    <i class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i><i
                                                                        class="icon-star voted"></i>
                                                                </div>

                                                                {{Hotel.HotelName}}
                                                            </span><span class="mo" style="font-size: 13px;">,
                                                                {{Hotel.CityName}}</span></span>
                                                    </div>
                                                    <div class="pricing-table-space"></div>
                                                    <div class="pricing-table-features">
                                                        <span><strong>{{Hotel.Meal}}</strong> Included</span><br>
                                                        <span *ngFor="let mi of Category.PackageInclusion.PackageMeal">
                                                            <strong> {{mi.MealName}} </strong>
                                                            Included
                                                            <br>
                                                        </span>
                                                        <span *ngFor="let me of Category.PackageExclusion.PackageMeal">
                                                            <strong> {{me.MealName}} </strong>
                                                            Excluded
                                                            <br>
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- End pricing-table-->
                                            </div>
                                        </div>
                                    </mat-tab>

                                </mat-tab-group>
                            </mat-tab>


                            <mat-tab label="Reviews">
                                <app-reviews [ProductType]="'P'" [ProdcutID]="ID"></app-reviews>
                            </mat-tab>
                        </mat-tab-group>
                    </div><!-- End col-md-12-->
                </div>
                <hr *ngIf="Packages.arrInclusions.length>0">

                <div class="row" style="padding-left: 0px;color: #444">
                    <div class="col-md-6" *ngIf="Packages.arrInclusions.length>0">
                        <h3>Inclusions</h3>
                        <ul class="list_ok" style="color : #444" *ngIf="Packages.arrInclusions.length >1">
                            <li *ngFor="let Inclusion of Packages.arrInclusions" [innerHtml]="Inclusion">
                            </li>
                        </ul>
                        <div *ngIf="Packages.arrInclusions.length==1" [innerHtml]="Packages.arrInclusions[0]"></div>
                    </div>
                    <div class="col-md-6" *ngIf="Packages.arrExclusions.length>0">
                        <h3>Exclusions</h3>
                        <ul class="list_ok" *ngIf="Packages.arrExclusions.length >1">
                            <li *ngFor="let Exclusion of Packages.arrExclusions" [innerHtml]="Exclusion">
                            </li>
                        </ul>
                        <div *ngIf="Packages.arrExclusions.length==1" [innerHtml]="Packages.arrExclusions[0]"></div>
                    </div>
                </div>
                <hr>
                <div class="row" style="color: #444">
                    <div class="col-md-12">
                        <h3>Terms & Conditions</h3>
                        <p class="TermsConditions" style="font-size: 13px" [innerHtml]="Packages.TermsCondition">
                        </p>
                    </div>
                </div>
            </div>
            <!--End  single_tour_desc-->
            <aside class="col-lg-4" id="sidebar">
                <div class="theiaStickySidebar">
                    <div class="box_style_1 expose" id="booking_box">
                        <h3 class="inner">{{Packages.PackageName}}</h3>
                        <table class="table table_summary">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="widget tags">
                                            <a href="javascript:void(0);" (click)="downloadpdf()">
                                                Download PDF&nbsp;
                                                <i class="icon-download"></i>
                                            </a>
                                            <app-facebook [url]="Share.url" [details]="Share.details" [img]="Share.img"
                                                [title]="Share.title"></app-facebook>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_1_icon-83"></i>&nbsp; <strong> {{Packages.noDays-1}} Nights /
                                            {{Packages.noDays}} Days </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_1_icon-3"></i>&nbsp; <strong> Theme
                                        </strong><br>{{Packages.Themes}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon_set_1_icon-41"></i>&nbsp; <strong> Cities
                                        </strong><br />
                                        <ul>
                                            <li *ngFor="let city of Packages.City">
                                                {{city}}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <strong>
                            <hr></strong>
                        <!-- <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control" rows="3" type="text"></textarea>
                                </div>
                            </div>
                        </div> -->
                        <!-- <button class="btn_full" (click)="Popup()">Alert</button> -->
                        <!-- <a class="btn_full" href="package-booking?ID={{Packages.Packageid}}">Send Enquiry</a> -->
                        <button class="btn_1 add_bottom_30" (click)="SendEnquiry(Packages.Packageid)">Send
                            Enquiry</button>
                        &nbsp;&nbsp;
                        <button class="btn_1 add_bottom_30" (click)="Booking(Packages.Packageid)">Book Now</button>
                    </div>
                    <!--/box_style_1 -->
                </div>
                <!--/sticky -->
            </aside>
        </div>
        <!--End row -->
    </div>
</main>
<app-package-documents [Packages]="Packages" [currency]="currency" [validityshow]="true"
    (exportElement)="_export($event)"></app-package-documents>
<!-- End main -->