#search_container {
    position: relative;
    height: 700px;
    background: #4d536d url(/assets/img/Meetme/Slider1.jpg) no-repeat center top;
    /* background: #4d536d url(/assets/img/Dubai_Landscape.jpg) no-repeat center top; */
    background-size: cover;
    color: #fff;
    width: 100%;
    display: table;
    z-index: 99
}



#search {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%;
    padding-top: 100px;
    /* background: rgba(0, 0, 0, 0.6) */
}

#search .nav-tabs {
    border-radius: 0;
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid transparent;
    margin: 0 0 6px 10px;
    text-transform: uppercase
}

#search .nav-tabs > li > a {
    border-radius: 0;
    border: 0;
    color: #fff!important;
    padding: 10px 15px;
    margin-right: 3px
}

#search .tab-content {
    border-radius: 0;
    border: 0;
    color: #333
}

#search .nav-tabs > li > a {
    background: rgba(0, 0, 0, 0.40)
}

#search .nav-tabs > li > a.active,
#search .nav-tabs > li > a:hover .active,
#search .nav-tabs > li > a:focus .active {
    color: #fff;
    background-color: #00a1ff
}

.tab-pane h3 {
    color: #999;
    margin: 0 0 20px;
    color: #999;
    margin: 0 0 20px 0
}