<section id="search_container">
  <div id="search">
      <ul class="nav nav-tabs" >
          <li *ngFor="let tabs of _homeTabs; let i=index">
              <a  href="#{{tabs.Name}}" data-toggle="tab" [ngClass]="i==0 ? 'active show' : ''">{{tabs.Name}}</a>
          </li>
      </ul>
      <div class="tab-content">
          <div [ngClass]="i==0 ? 'tab-pane active' : 'tab-pane' " id="{{tabs.Name}}"
              *ngFor="let tabs of _homeTabs; let i=index">
              <div *ngIf="tabs.Name==='Hotel'" >
                  <h4>Book Domestic & International Hotels</h4>
                  <app-search-panel [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller">
                  </app-search-panel>
              </div>
              <div *ngIf="tabs.Name==='Package'">
                  <h4>Book Domestic and International Packages</h4>
                  <app-search-package></app-search-package>
              </div>
          </div>
      </div>
  </div>
</section>