<br><br><br>
<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a [routerLink]="['/home']">Home</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <div class="margin_60 container">
    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li class=""><a [routerLink]="['/wishlist']" class="icon-wishlist"><span>Wishlist</span></a>
          </li>
          <li class=""><a [routerLink]="['/changepassword']" class="icon-settings"><span>Settings</span></a>
          </li>
          <li><a [routerLink]="['/agent-profile']" class="icon-profile"><span>Profile</span></a>
          </li>
          <li class="tab-current"><a [routerLink]="['/agent-markup']" class="icon-booking"><span>Markup</span></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-4" class="content-current" style="padding:0px;">
          <div class="card-body">
            <div *ngFor="let Markup of arrMakup">
              <div class="row" *ngIf="Markup.Service==='Packages'">
                <div class="col-md-2"><label for="" style="float: right;"><br><br><b>{{Markup.Service}}</b> :</label>
                </div>
                <div class="col-md-3"><label for="">Makup %</label><input type="number" name="" class="form-control"
                    min="1" max="100" [(ngModel)]="Markup.Percent" id=""></div>
                <div class="col-md-3"><label for="">Amount</label><input type="number" name="" class="form-control"
                    min="1" max="100" [(ngModel)]="Markup.Amount" id=""></div>
              </div>
            </div>

            <hr>
            <div class="col-md-12 text-right">
              <button type="button" (click)="updateMarkup()" class="btn_1 green">Update Markup
                <i *ngIf="loading" class="icon-spin6 animate-spin font18"></i>
              </button>
            </div>
          </div>
        </section>
        <!-- End section 4 -->
      </div>
      <!-- End content -->
    </div>
    <!-- End tabs -->
  </div>
</main>