<section id="search_container">
  <div id="search">
    <div class="tab-content">
      <h4>Book Domestic and International Packages</h4>
      <app-search-package></app-search-package>
    </div>
  </div>
</section>