<h3>About</h3>
<ul>
  <li>
    <a href="about">About us</a>
  </li>
  <li>
    <a href="#">FAQ</a>
  </li>
  <li>
    <a href="contact">Contacts</a>
  </li>
  <!-- <li>
    <a style="cursor: pointer" (click)="openDialog()">Login</a>
  </li>
  <li>
    <a style="cursor: pointer" (click)="RegisterDialog()">Register</a>
  </li> -->
  <li>
    <a href="#">Terms and condition</a>
  </li>
</ul>