.pdf_logo {
    position: absolute;
    top: 0;
    right: 171px;
    width: 65px;
    height: 77px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    /* background: url(http://oladubai.com/assets/img/cut_dxb_logo.png),no-repeat; */
    font-size: 11px;
    line-height: 12px;
    padding-top: 32px;
}

#term ul {
    list-style: none;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #51bce6 !important;
    border-color: #51bce6 !important;
}

#term li::before {content: "•"; color: red}