<kendo-pdf-export #pdf forcePageBreak=".page-break" paperSize="A4" margin="0.5cm" [scale]="scale"
    [repeatHeaders]="true">
    <div class="box_style_1" #drawMe id="box_style_pdf" style="background-color: #f9f9f9;padding: 4px;display: none;">
        <div class="post nopadding" style="color: #666">
            <div *ngIf="Packages.Images.length===0 ">
                <img src="{{logo}}" *ngIf="logo" style="width: 230px">
                <h5 *ngIf="!logo" style="color: #fff;"> <strong> {{AgentName}} </strong>
                </h5>
            </div>

            <div *ngIf="Packages.Images.length!=0">
                <img src="{{Packages.Images[0].Url}}" alt="Image" class="img-fluid">
            </div>
            <div class="pdf_logo" *ngIf="Packages.Images.length!=0">
                <img src="{{logo}}" *ngIf="logo" style="width: 230px">
                <h5 *ngIf="!logo" style="color: #fff;"> <strong> {{AgentName}} </strong>
                </h5>
            </div>

            <div class="post_info clearfix">
                <div class="post-left">
                    <ul>
                        <li>
                            <strong>{{Packages.PackageName}}</strong>
                        </li>
                        <li>
                            <i class="icon-calendar-empty"></i>
                            <span>
                                {{Packages.noDays-1}} Nights / {{Packages.noDays}} Days
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="post-right" *ngIf="Packages.Category.length>0">Package starts from*
                    <strong *ngIf="Packages.MinPrice!=0">
                        {{currency}}
                        {{Packages.MinPrice}} </strong>
                </div>
            </div>
            <p style="text-align: justify" [innerHtml]="Packages.Description"></p>
            <br>
            <div class="widget tags" *ngIf="Packages.Category.length!=0">
                <a style="background: #51bce6;color: #fff;width: 300px;">Price Details</a>
            </div>
            <br>
            <div class="row" *ngIf="Packages.Category.length!=0">
                <div class="col-md-6" *ngFor="let Category of Packages.Category">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item active d-flex justify-content-between align-items-center">
                            <strong>{{Category.Categoryname}} </strong>
                            <span *ngIf="validityshow" class="">Valid {{Category.ValidFrom}} to
                                {{Category.ValidUpto}}</span>
                        </li>
                        <li *ngIf="Category.Single!=0"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <!-- Single Sharing -->
                            Per Pax
                            <span class="">{{currency}} {{Category.Single}}</span>
                        </li>
                        <li *ngIf="Category.Double!=0"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            Double Sharing
                            <span class="">{{currency}} {{Category.Double}}</span>
                        </li>
                        <li *ngIf="Category.Triple!=0"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            Triple Sharing
                            <span class="">{{currency}} {{Category.Triple}}</span>
                        </li>
                        <li *ngIf="Category.Quad!=0"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            Quad Sharing
                            <span class="">{{currency}} {{Category.Quad}}</span>
                        </li>
                        <li *ngIf="Category.Quint!=0"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            Quint Sharing
                            <span class="">{{currency}} {{Category.Quint}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Extra Adult
                            <span class="">{{currency}} {{Category.ExtraAdult}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Kid Without Bed
                            <span class="">{{currency}}
                                {{Category.ChildNoBedPrice}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Kid With Bed
                            <span class="">{{currency}}
                                {{Category.ChildWithBedPrice}}</span>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
            <br>
            <div class="widget tags">
                <a style="background: #51bce6;color: #fff;width: 300px;">
                    Daywise Itinerary
                </a>
            </div>
            <ul class="cbp_tmtimeline">
                <li *ngFor="let Itinerary of Packages.Itinerary; let index=index;">
                    <time class="cbp_tmtime" datetime="09:30"
                        *ngIf="index==3 || index==6 || index==9 || index==12 || index==15 ">
                        <br><span style="font-size: 26px;font-weight: 250">Day {{Itinerary.noDay}}&nbsp;</span>
                    </time>
                    <time class="cbp_tmtime" datetime="09:30"
                        *ngIf="index!=3 || index!=6 || index!=9 || index!=12 || index!=15 ">
                        <br><span style="font-size: 26px;font-weight: 250">Day {{Itinerary.noDay}}&nbsp;</span>
                    </time>
                    <div class="cbp_tmicon timeline_icon_point"></div>
                    <div class="cbp_tmlabel" style="text-align: justify" [innerHtml]="Itinerary.Description">
                    </div>
                </li>
            </ul>
            <br>
            <div class="widget tags" *ngIf="Packages.MinPrice!=0 && Packages.Category.length != 0 ">
                <a style="background: #51bce6;color: #fff;width: 300px;">Hotel Details</a>
            </div>
            <br>
            <ng-container *ngIf="Packages.Category.length!=0">
                <div class="row" *ngFor="let Category of Packages.Category; let i= index">
                    <div class="col-md-12">
                        <div class="widget tags" *ngIf="i==0">
                            <a style="background: #51bce6;color: #fff;width: 100%;">{{Category.Categoryname}} Hotels</a>
                        </div>
                        <div class="widget tags" *ngIf="i!=0">
                            <a style="background: #51bce6;color: #fff;width: 100%;">{{Category.Categoryname}} Hotels</a>
                        </div>
                        <div class="post" style="padding-left: 0px;color: #444"
                            *ngFor="let Hotel  of Category.PackageHotels; let i= index">
                            <div class="post_info clearfix">
                                <div class="post-left">
                                    <ul>
                                        <li>
                                            <h4>{{Hotel.HotelName}}</h4>
                                        </li>
                                        <li>
                                            <h4>{{Hotel.Ratings}} Star</h4>
                                        </li>
                                        <li>
                                            <i class="icon-calendar-empty"></i>&nbsp;
                                            <span *ngIf="Hotel.Nights>1">{{Hotel.Nights}}&nbsp;Nights</span>
                                            <span *ngIf="Hotel.Nights==1">{{Hotel.Nights}}&nbsp;Night</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- <div class="post_info clearfix" *ngIf="i!=3 || i!=6 || index!=9 || i!=12 || i!=15">
                                <div class="post-left">
                                    <ul>
                                        <li>
                                            <h4>{{Hotel.HotelName}}</h4>
                                        </li>
                                        <li>
                                            <i class="icon-calendar-empty"></i>&nbsp;
                                            <span *ngIf="Hotel.Nights>1">{{Hotel.Nights}}&nbsp;Nights</span>
                                            <span *ngIf="Hotel.Nights==1">{{Hotel.Nights}}&nbsp;Night</span>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->



                        </div>
                    </div>
                </div>
            </ng-container>
            <br>
            <div class="widget tags" *ngIf="Packages.arrInclusions.length!==0 && Packages.arrExclusions.length!==0">
                <a style="background: #51bce6;color: #fff;width: 300px;">Inclusion & Exclusion</a>
            </div>
            <div class="row" *ngIf="Packages.arrInclusions.length!==0 && Packages.arrExclusions.length!==0">
                <div class="col-md-6">
                    <h5> Inclusions</h5>
                    <ul *ngIf="Packages.arrInclusions.length >1">
                        <li *ngFor="let inclusion of Packages.arrInclusions" [innerHtml]="inclusion">
                        </li>
                    </ul>
                    <div *ngIf="Packages.arrInclusions.length==1" [innerHtml]="Packages.arrInclusions[0]"></div>
                </div>
                <div class="col-md-6">
                    <h5> Exclusions</h5>
                    <ul *ngIf="Packages.arrExclusions.length >1">
                        <li *ngFor="let exclusion of Packages.arrExclusions" [innerHtml]="exclusion">
                        </li>
                    </ul>
                    <div *ngIf="Packages.arrExclusions.length==1" [innerHtml]="Packages.arrExclusions[0]"></div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-3" *ngFor="let Category of Packages.Category">
                    <div class="post_info clearfix">
                        <div class="post-left">
                            <ul>
                                <li>
                                    <strong>{{Category.Categoryname}}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h5 *ngIf="Category.Inclusions.length>0 
                        || Category.PackageInclusion.PackageMeal.length>0
                        || Category.PackageInclusion.PackageActivity.length>0
                        || Category.PackageInclusion.PackageVehicle.length>0
                        || Category.PackageInclusion.PackageTax.length>0
                        || Category.PackageInclusion.PackageOther.length>0
                        "> Inclusions</h5>
                    <ul>
                        <li *ngFor="let Inclusions of Category.Inclusions">
                            {{Inclusions.Name}}</li>
                    </ul>
                    <ul *ngIf="Category.PackageInclusion.PackageMeal.length>0">
                        <b>Meal</b>
                        <span *ngFor="let meal of Category.PackageInclusion.PackageMeal">
                            <li>{{meal.MealName}}</li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageInclusion.PackageActivity.length>0">
                        <b>Activity</b>
                        <span *ngFor="let activity of Category.PackageInclusion.PackageActivity">
                            <li>{{activity.PackageActivityName}}</li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageInclusion.PackageVehicle.length>0">
                        <span *ngFor="let transfer of Category.PackageInclusion.PackageVehicle">
                            <b>Transfers</b>
                            <li>
                                {{transfer.VehicleName}}
                            </li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageInclusion.PackageTax.length>0">
                        <b>Tax</b>
                        <span *ngFor="let tax of Category.PackageInclusion.PackageTax">
                            <li>
                                {{tax.TaxValue}} % {{tax.Name}}
                            </li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageInclusion.PackageOther.length>0">
                        <b>Other</b>
                        <span *ngFor="let other of Category.PackageInclusion.PackageOther">
                            <li>
                                {{other.Name}}
                            </li>
                        </span>
                    </ul>
                    <h5 *ngIf="Category.Exclusion.length>0 
                        || Category.PackageExclusion.PackageMeal.length>0
                        || Category.PackageExclusion.PackageActivity.length>0
                        || Category.PackageExclusion.PackageVehicle.length>0
                        || Category.PackageExclusion.PackageTax.length>0
                        || Category.PackageExclusion.PackageOther.length>0
                        ">
                        Exclusions</h5>
                    <ul>
                        <li *ngFor="let Exclusions of Category.Exclusion">
                            {{Exclusions.Name}}</li>
                    </ul>
                    <ul *ngIf="Category.PackageExclusion.PackageMeal.length>0">
                        <b>Meal</b>
                        <span *ngFor="let meal of Category.PackageExclusion.PackageMeal">
                            <li>{{meal.MealName}}</li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageExclusion.PackageActivity.length>0">
                        <b>Activity</b>
                        <span *ngFor="let activity of Category.PackageExclusion.PackageActivity">
                            <li>{{activity.PackageActivityName}}</li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageExclusion.PackageVehicle.length>0">
                        <span *ngFor="let transfer of Category.PackageExclusion.PackageVehicle">
                            <b>Transfers</b>
                            <li>
                                {{transfer.VehicleName}}
                            </li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageExclusion.PackageTax.length>0">
                        <b>Tax</b>
                        <span *ngFor="let tax of Category.PackageExclusion.PackageTax">
                            <li>
                                {{tax.TaxValue}} % {{tax.Name}}
                            </li>
                        </span>
                    </ul>
                    <ul *ngIf="Category.PackageExclusion.PackageOther.length>0">
                        <b>Other</b>
                        <span *ngFor="let other of Category.PackageExclusion.PackageOther">
                            <li>
                                {{other.Name}}
                            </li>
                        </span>
                    </ul>
                </div>
            </div> -->
            <div class="widget tags">
                <a style="background: #51bce6;color: #fff;width: 300px;">Terms and Conditions</a>
            </div>
            <br>
            <p id="term" style="text-align: justify" [innerHtml]="Packages.TermsCondition"></p>
        </div>
        <!-- end post -->
    </div>
    <button kendo-button (click)="pdf.saveAs(Packages.PackageName+'.pdf')" class="btn_full" id="btn_pdf"
        style="display: none"></button>
    <button kendo-button (click)="_exportImage(drawMe)" class="btn_full" id="btn_image" style="display: none"></button>
</kendo-pdf-export>