<main>
  <br><br><br><br>
  <div class="container margin_60">
    <kendo-grid [kendoGridBinding]="Credits" [pageable]="true" [pageSize]="10">
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
        <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
      </ng-template>
      <kendo-grid-column field="Amount" title="Amount" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="DepositDate" title="Date" width="130">
      </kendo-grid-column>
      <kendo-grid-column field="TransactionType" title="Transaction Type" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="BankName" title="Bank" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="ReceiptNo" title="Receipt Number/Transaction ID" width="200">
      </kendo-grid-column>
      <kendo-grid-column field="Status" title="Status" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="ApprovedDate" title="Approved Date" width="110">
      </kendo-grid-column>
      <kendo-grid-pdf fileName="DepositInformation.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true"
        [landscape]="true">
        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
        <kendo-grid-column field="Amount" title="Amount" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="DepositDate" title="Date" width="130">
        </kendo-grid-column>
        <kendo-grid-column field="TransactionType" title="Transaction Type" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="BankName" title="Bank" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="ReceiptNo" title="Receipt Number/Transaction ID" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="Status" title="Status" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="ApprovedDate" title="Approved Date" width="110">
        </kendo-grid-column>
        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
          <div class="page-template">
            <div class="header">
              <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
              <img [src]="commonService.logo" height="15" alt="">
            </div>
            <div class="footer">
              Page {{ pageNum }} of {{ totalPages }}
            </div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
      <kendo-grid-excel fileName="DepositInformation.xlsx" [fetchData]="allData">
        <kendo-excelexport-column field="Amount" title="Amount" width="100">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="DepositDate" title="Date" width="130">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="TransactionType" title="Transaction Type" width="110">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="BankName" title="Bank" width="150">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="ReceiptNo" title="Receipt Number/Transaction ID" width="200">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="Status" title="Status" width="110">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="ApprovedDate" title="Approved Date" width="110">
        </kendo-excelexport-column>
      </kendo-grid-excel>
    </kendo-grid>
  </div>
</main>