<div class="owl-carousel owl-theme carousel-thumbs-2 magnific-gallery">
  <div class="item" *ngFor="let Img of Images">
      <a href="{{Img.Url}}" data-effect="mfp-zoom-in">
       <img src="{{Img.Url}}" alt="Image" style="height: 100px;">
      </a>
  </div>
</div>