<div id="full-slider-wrapper" style="padding-top: 103px;">
    <div id="layerslider" style="width:100%;height:700px;">
        <!-- first slide -->
        <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
            <img src="../assets/img/slides/cennin/1.jpg" class="ls-bg" alt="Slide background">
        </div>

        <!-- second slide -->
        <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:85;">
            <img src="../assets/img/slides/cennin/2.jpg" class="ls-bg" alt="Slide background">
        </div>

        <!-- third slide -->
        <div class="ls-slide" data-ls="slidedelay:5000; transition2d:103;">
            <img src="../assets/img/slides/cennin/4.jpg" class="ls-bg" alt="Slide background">
        </div>

        <!-- fourth slide -->
        <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:14;">
            <img src="../assets/img/slides/cennin/5.jpg" class="ls-bg" alt="Slide background">
        </div>
    </div>
</div>
<!-- <div class="container margin_60">
    <div class="banner colored">
            <app-search-package></app-search-package>
    </div>
</div> -->
 