<header id="plain">
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <i class="icon_set_1_icon-57" *ngIf="ServiceUrl.Contact"></i><strong
            *ngIf="ServiceUrl.Contact">{{ServiceUrl.Contact}}</strong>
          <i class="icon_set_1_icon-84"></i><strong>{{ServiceUrl.email}}</strong>
        </div>
        <div class="col-6">
          <ul id="top_tools">
            <li>
              <div class="dropdown dropdown-cart" *ngIf="login.retCode ===1">
                <a href="javascript:void(0);" style="color:#fff"><i class="icon-user" style="font-size: 13px;"></i>
                  My Account</a>
                <ul class="dropdown-menu" id="cart_items">
                  <li *ngIf="login.retCode == undefined || login.retCode !=1 ">
                    <a href="javascript:void(0);" class="button_drop outline" mat-button (click)="onSigninDialog()">Sign
                      in</a>
                    <a href="javascript:void(0);" class="button_drop outline" mat-button
                      (click)="onRegisterDialog()">Register</a>
                  </li>
                  <li *ngIf="login.retCode ===1">
                    <div class="row">
                      <div class="col-4" *ngIf="login.LoginDetail.UserType==='B2C'">
                        <div class="font-icon-detail"><span class="pe-7s-user"></span>
                        </div>
                      </div>
                      <div class="col-5">
                        <span>Hi,</span>
                        <br>
                        <span>{{login.LoginDetail?.Name}}</span>
                      </div>
                      <div class="col-7" style="padding-right: 0px;  padding-left: 0px;"
                        *ngIf="login.LoginDetail.UserType==='B2B'">
                        <ul class="font10" style="float: right;padding: 0px;">
                          <li> <b>Balance</b> : {{arrBalance.Currency}} {{arrBalance.Available}}</li>
                          <li> <b>Payable</b> : {{arrBalance.Currency}} {{arrBalance.Payable}}</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                    <a style="color: #333;" [routerLink]="['/agency-statement']">My Statement</a>
                  </li>
                  <!-- <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                    <a [routerLink]="['/credit-information']">Credit Info</a>
                  </li> -->
                  <li>
                    <a href="javascript:void(0);" style="color: #333;"
                      *ngIf="login.retCode == undefined || login.retCode !=1 " (click)="onSigninDialog()">WishList</a>
                    <a [routerLink]="['/wishlist']" style="color: #333;"
                      *ngIf="login.retCode != undefined && login.retCode ==1 ">WishList</a>
                  </li>
                  <li *ngIf="login.retCode != undefined && login.retCode ==1 ">
                    <!-- <a href="javascript:void(0);" *ngIf="login.retCode == undefined || login.retCode !=1 "
                      (click)="onSigninDialog()">Profile</a> -->
                    <a style="color: #333;" [routerLink]="['/profile']"
                      *ngIf="login.LoginDetail.UserType==='B2C'">Profile</a>
                    <a style="color: #333;" [routerLink]="['/agent-profile']"
                      *ngIf="login.LoginDetail.UserType==='B2B'">Profile</a>
                  </li>
                  <!-- <li>
                    <a href="javascript:void(0);" *ngIf="login.retCode == undefined || login.retCode !=1 "
                      (click)="onSigninDialog()">My Booking</a>
                    <a [routerLink]="['/booking-report']" *ngIf="login.retCode != undefined && login.retCode ==1 ">My
                      Booking</a>

                  </li> -->
                  <li *ngIf="login.retCode != undefined && login.retCode ==1 ">
                    <a style="cursor: pointer;color: #333;" (click)="onSignout()">Sign out</a>
                  </li>
                </ul>
              </div>
            </li>
            <li *ngIf="login.retCode ==1 ">
              <div class="dropdown dropdown-mini">
                <a [routerLink]="['/booking-report']" style="color:#fff">My
                  Booking</a>
              </div>
            </li>
            <li *ngIf="login.retCode !==1 ">
              <div class="dropdown dropdown-mini">
                <a href="javascript:;" style="color:#fff"  id="access_link">Sign in</a>
              </div>
            </li>

            <li>
              <div class="dropdown dropdown-mini">
                <a href="javascript:;" style="color:#fff" data-toggle="dropdown" id="lang_link">English</a>
              </div>
            </li>
            <li>
              <!-- <li>
              <div class="dropdown dropdown-mini">
                <a href="#" data-toggle="dropdown" id="lang_link">English</a>
              </div>
            </li>
            <li>
              <div class="dropdown dropdown-mini">
                <a href="#" data-toggle="dropdown" id="currency_link" aria-expanded="false">{{Currency}}</a>
                <div class="dropdown-menu" x-placement="bottom-start"
                  style="position: absolute; transform: translate3d(45px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <ul id="lang_menu">
                    <li *ngFor="let Exchange of exchange">
                      <a style="cursor: pointer" (click)=SetCurrency(Exchange.Currency)>{{Exchange.Currency}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li> -->
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <div id="logo_home">
          <!-- [ngStyle]="{background: 'url(/' + logo + ')'}" -->
          <h1><a [routerLink]="['/home']" title="Trivo">Trivo</a>
          </h1>
        </div>
      </div>
      <nav class="col-9 ">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu
            mobile</span></a>
        <div class="main-menu font16">
          <div id="header_menu">
            <img src="assets/img/cut_dxb_logo.png" width="160" height="34" alt="City tours" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul>
            <li style="vertical-align: text-bottom;" *ngFor="let m of _mainMenu">
              <a *ngIf="m.Name === 'Home'" [routerLink]="['/home']" class="">
                <p class="font12 nomargin_bottom">Home</p>
              </a>

              <a *ngIf="m.Name === 'Sightseeing'" [routerLink]="['/sightseeing']" class="">
                <p class="font12 nomargin_bottom">Sightseeing</p>
              </a>

              <a *ngIf="m.Name === 'Hotel'" [routerLink]="['/hotel']" class="">
                <p class="font12 nomargin_bottom">Hotel</p>
              </a>

              <a *ngIf="m.Name === 'Package'" [routerLink]="['/package']" class="">
                <p class="font12 nomargin_bottom">Holiday</p>
              </a>

              <a *ngIf="m.Name === 'Visa'" [routerLink]="['']" class="">
                <p class="font12 nomargin_bottom">Visa</p>
              </a>
            </li>
          </ul>
        </div>
        <!-- End main-menu -->

        <ul id="top_tools">
          <li *ngIf="SalesPerson.length>0">
            <div class="dropdown dropdown-cart">
              <a href="javascript:void(0)" data-toggle="dropdown" class="cart_bt">
                <i class="icon_set_2_icon-105"></i><strong> {{SalesPerson.length}} </strong></a>
              <ul class="dropdown-menu" id="cart_items">
                <li>
                  <span>Sales Person</span>
                </li>
                <li *ngFor="let sales of SalesPerson">
                  <div class="image"><span style="font-size: 40px;" class="pe-7s-user"></span></div>
                  <strong><a href="javascript:void(0)"> {{sales.ContactPerson}} {{sales.Last_Name}}</a> {{sales.Mobile}}
                  </strong>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <app-shopping-cart></app-shopping-cart>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>