<br /><br /><br /><br />
<main>
  <div class="container margin_60">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <!-- <a class="nav-item nav-link active" id="nav-Hotel-tab" data-toggle="tab" href="#nav-Hotel" role="tab"
          aria-controls="nav-Hotel" aria-selected="true" (click)="changeTabs('hotel')"><i
            class="icon_set_1_icon-6 font15"></i>
          Hotel</a>
        <a class="nav-item nav-link" id="nav-Tour-tab" data-toggle="tab" href="#nav-Tour" role="tab" *ngIf="ServiceUrl.AdminID ==232"
          aria-controls="nav-Tour" aria-selected="false" (click)="changeTabs('tour')"><i
            class="icon_set_1_icon-3 font16"></i> Sightseeing</a> -->
        <a class="nav-item nav-link active" id="nav-Package-tab" data-toggle="tab" href="#nav-Package" role="tab"
          aria-controls="nav-Package" aria-selected="false" (click)="changeTabs('package')"><i
            class="icon-suitcase font15"></i> Package</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <!-- <div class="tab-pane fade show active" id="nav-Hotel" role="tabpanel" aria-labelledby="nav-Hotel-tab">
        <app-hotel-bookings (Services)="getServices($event)" [service]="_activate" [userdata]="userdata">
        </app-hotel-bookings>
      </div>
      <div class="tab-pane fade" id="nav-Tour" role="tabpanel" aria-labelledby="nav-Tour-tab">
        <app-tour-bookings (Services)="getServices($event)" [service]="_activate" [userinfo]="_userinfo">
        </app-tour-bookings>
      </div> -->
      <div class="tab-pane fade show active" id="nav-Package" role="tabpanel" aria-labelledby="nav-Package-tab">
        <app-package-bookings (Services)="getServices($event)" [service]="_activate" [userinfo]="_userinfo">
        </app-package-bookings>
      </div>
    </div>
  </div>
  <ngx-ui-loader></ngx-ui-loader>
</main>