<div *ngIf="AdminCode == 'CUT' || AdminCode === 'TRIVO' || AdminCode === 'CENNIN'">
    <section id="search_container" *ngIf="logedin">
        <div id="search">
            <ul class="nav nav-tabs">
                <li *ngFor="let tabs of _homeTabs; let i=index">
                    <a href="#{{tabs.Name}}" data-toggle="tab" [ngClass]="i==0 ? 'active show' : ''">{{tabs.Name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div [ngClass]="i==0 ? 'tab-pane active' : 'tab-pane' " id="{{tabs.Name}}"
                    *ngFor="let tabs of _homeTabs; let i=index">
                    <div *ngIf="tabs.Name==='Hotel'">
                        <h4>Book Domestic & International Hotels</h4>
                        <app-search-panel [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller">
                        </app-search-panel>
                    </div>

                    <div *ngIf="tabs.Name==='Sightseeing'">
                        <app-search [objTour]="objTour"></app-search>
                    </div>

                    <div *ngIf="tabs.Name==='Package'">
                        <!-- <h4>Book Domestic and International Packages</h4> -->
                        <h4>Search by package name</h4>
                        <app-search-package></app-search-package>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-login *ngIf="(AdminCode == 'CUT' || AdminCode == 'CENNIN') && !logedin"></app-login>
    <app-trivo-login *ngIf="AdminCode == 'TRIVO' && !logedin"></app-trivo-login>
</div>

<!-- <section id="search_container" *ngIf="AdminCode == 'TRIVO'">
    <div id="search">
        <ul class="nav nav-tabs">
            <li *ngFor="let tabs of _homeTabs; let i=index">
                <a href="#{{tabs.Name}}" data-toggle="tab" [ngClass]="i==0 ? 'active show' : ''">{{tabs.Name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div [ngClass]="i==0 ? 'tab-pane active' : 'tab-pane' " id="{{tabs.Name}}"
                *ngFor="let tabs of _homeTabs; let i=index">
                <div *ngIf="tabs.Name==='Hotel' ">
                    <h4>Book Domestic & International Hotels</h4>
                    <app-search-panel [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller">
                    </app-search-panel>
                </div>

                <div *ngIf="tabs.Name==='Sightseeing'">
                    <app-search [objTour]="objTour"></app-search>
                </div>

                <div *ngIf="tabs.Name==='Package'">
                    <h4>Book Domestic and International Packages</h4>
                    <app-search-package></app-search-package>
                </div>
            </div>
        </div>
    </div>
</section> -->
<app-exotics-search *ngIf="AdminCode == 'EXCO'"></app-exotics-search>
<!-- <app-hi5fly-search *ngIf="AdminCode == 'HIFI'"></app-hi5fly-search> -->

<app-latest-panel *ngIf="AdminCode == 'HIFI'"></app-latest-panel>

<!-- <app-imageslider *ngIf="AdminCode == 'CENNIN'"></app-imageslider> -->
<app-meetme-homeslider *ngIf="AdminCode == 'MEETME'"></app-meetme-homeslider>
<app-idealjungle-imageslider *ngIf="AdminCode == 'IDEALJ'"></app-idealjungle-imageslider>

<!-- <app-exotics-imageslider *ngIf="AdminCode == 'EXCO'"></app-exotics-imageslider> -->
<main>

    <div *ngIf="AdminCode === 'CUT' || AdminCode === 'TRIVO' || AdminCode==='HIFI' || AdminCode === 'CENNIN'">
        <app-package-grid *ngIf="logedin"></app-package-grid>
    </div>
    <app-package-grid
        *ngIf="(AdminCode !== 'TSP' && AdminCode !== 'CENNIN' && AdminCode !== 'CUT' && AdminCode !== 'TRIVO' && AdminCode !== 'IDEALJ')">
    </app-package-grid>
    <!-- Package grid for Click and trivo -->
    <!-- <app-cenin-package-tabs *ngIf="AdminCode === 'CENNIN' && logedin"></app-cenin-package-tabs> -->


    <app-idealjungle-packagegrid *ngIf="AdminCode ===  'IDEALJ'"></app-idealjungle-packagegrid>
    <!-- End container -->
    <app-trivo-service *ngIf="AdminCode == 'TRIVO'"></app-trivo-service> <!-- Trivo Services-->
    <app-exotics-home *ngIf="AdminCode == 'EXCO'"></app-exotics-home>
    <!-- <app-cennin-home *ngIf="AdminCode == 'CENNIN'"></app-cennin-home> -->
    <!-- Cennin Home-->
    <app-travel-home *ngIf="AdminCode == 'TSP'"></app-travel-home> <!-- Travelsphere Home-->
    <app-meetme-home *ngIf="AdminCode == 'MEETME' "></app-meetme-home>
    <app-hi5fly-home *ngIf=" AdminCode == 'HIFI'"></app-hi5fly-home>
    <app-idealjungle-home *ngIf="AdminCode == 'IDEALJ'"></app-idealjungle-home>
</main>
<!-- End main -->