
#logo_home h1 a, header.sticky #logo_home h1 a, header#plain #logo_home h1 a, header#colored #logo_home h1 a {
    background-image: url(http://travelersphere.com/assets/img/logo/travelsphere_sticky.png);
}
::ng-deep header  #logo_home h1 a  ::before {
    background-image: url(http://travelersphere.com/assets/img/logo/travelsphere_sticky.png);
}
.main-menu {
    font-weight: 700 !important;
}
a.cart_bt strong{
    background-color: transparent !important;
    padding-left: 6px !important;
}
.dropdown-menu{
    background-color: #00a1ff;
    padding-bottom: 0px !important;
}
