<section class="parallax-window" data-parallax="scroll" attr.data-image-src="{{img}}" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{tour.Name}}</h1>
                    <span> {{tour.LocationDetail.LocationName}} - {{tour.City}}</span>
                    <app-reviewratings [ProductType]="'A'" [ProdcutID]="tour.ActivityID"></app-reviewratings>
                </div>
                <div class="col-md-4">
                    <div id="price_single_main">
                        Starting from <span><sup>{{tour.CurrencyClass}}</sup>{{tour.TotalPrice}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="/tours-list">Tours</a>
                </li>
                <li>Tour Details</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->

    <!-- End Map -->
    <div class="container margin_30">
        <div class="row">
            <div class="col-lg-7" id="single_tour_desc">

                <div id="single_tour_feat">
                    <ul>
                        <li *ngFor="let Type of tour.List_Type">
                            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"></mat-icon> -->
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="{{Type.Icon}}" title="{{Type.Name}}"></i></span>
                                <div class="tooltip-content" style="text-align: center;">
                                    {{Type.Name}}
                                </div>
                            </div>
                        </li>
                        <!-- <li><i class="icon_set_1_icon-13"></i>Accessibiliy</li>
                        <li><i class="icon_set_1_icon-82"></i>144 Likes</li>
                        <li><i class="icon_set_1_icon-97"></i>Audio guide</li>
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li> -->
                    </ul>
                </div>
                <p class="d-none d-md-block d-block d-lg-none"><a class="btn_map" data-toggle="collapse"
                        href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map"
                        data-text-original="View on map">View on map</a></p>
                <!-- Map button for tablets/mobiles -->
                <!-- <app-image-slider [Images]="Images"></app-image-slider> -->
                <app-slider [Images]="Images"></app-slider>
                <br>

                <mat-tab-group (selectedTabChange)="Getmap($event)">
                    <mat-tab label="Details">
                        <br>
                        <p>
                            {{tour.Description}}
                        </p>
                        <br>
                        <div class="row" *ngIf=" arrTicketType.nonRefundable==true">
                            <div class="col-lg-12 col-sm-12">
                                <h3>Cancellation Policy</h3>
                                <div class="alert alert-danger" role="alert"><strong>This Ticket is
                                        Non-Refundable</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row"
                            *ngIf=" arrTicketType.arrCancellationPolicy !=undefined && arrTicketType.arrCancellationPolicy.length !=0">
                            <div class="col-lg-12 col-sm-12">
                                <h3>Cancellation Policy</h3>
                                <!-- End row  -->
                                <ul class="list_ok" *ngFor="let Policy of arrTicketType.arrCancellationPolicy">
                                    <li> {{Policy.info}}</li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="row" *ngIf="arrTicketType.Exclusions != undefined ">
                            <div class="col-lg-6 col-sm-6">
                                <h3>Inclusion</h3>
                                <ul class="list_ok">
                                    <li *ngFor="let Inclusion of arrTicketType.arrInclusion"> <span
                                            *ngIf="Inclusion !==''">{{Inclusion}}</span> </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <h3>Exclusions</h3>
                                <!-- End row  -->
                                <ul class="list_ok">
                                    <li *ngFor="let Exclusion of arrTicketType.arrExclusion"> <span
                                            *ngIf="Exclusion !==''">{{Exclusion}}</span> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row"
                            *ngIf="arrTicketType.arrPickupDrop != undefined  && arrTicketType.arrPickupDrop.length !=0">
                            <div class="table-responsive" style="    margin-left: 10px; ">
                                <h3 style="    margin-left: 10px; ">Pickup Drop</h3>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Pickup Location
                                            </th>
                                            <th>
                                                Drop Location
                                            </th>
                                            <th>
                                                Time
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let PickupDrop of arrTicketType.arrPickupDrop">
                                            <td>
                                                <div *ngFor="let Pickup of PickupDrop.arrPickupFrom">
                                                    <span style="font-size: 10px;
                                                   line-height: 20px;
                                                   font-family: Montserrat,Arial,sans-serif;">{{Pickup.Name}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div *ngFor="let Drop of PickupDrop.arrDropOn">
                                                    <span style="font-size: 10px;
                                                    line-height: 20px;
                                                    font-family: Montserrat,Arial,sans-serif;"> {{Drop.Name}}</span>

                                                </div>

                                            </td>
                                            <td>
                                                <span style="font-size: 10px;
                                                line-height: 20px;
                                                font-family: Montserrat,Arial,sans-serif;"> {{ PickupDrop.PickupTime}}
                                                    - {{ PickupDrop.DropTime}}</span>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row"
                            *ngIf=" arrTicketType.ImportentNote !=undefined && arrTicketType.ImportentNote !=''">
                            <div class="col-lg-12 col-sm-12">
                                <h3>Importent Note</h3>
                                <!-- End row  -->
                                <div [innerHTML]="arrTicketType.ImportentNote">

                                </div>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Map">
                        <br>
                        <div id="map" class="map"></div>
                    </mat-tab>
                    <mat-tab label="Review">
                        <br>
                        <app-reviews [ProductType]="'A'" [ProdcutID]="tour.ActivityID"></app-reviews>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!--End  single_tour_desc-->
            <aside class="col-lg-5" id="sidebar">
                <!-- <p class="d-none d-xl-block d-lg-block d-xl-none">
                  <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                </p> -->
                <div class="theiaStickySidebar">
                    <div class="box_style_1 expose" id="booking_box">
                        <h3 class="inner">- Booking -</h3>

                        <app-tourwizard (valueChange)="gettype($event)" [sighseeing]="tour" [Date]="Date">

                        </app-tourwizard>
                    </div>
                    <!--/box_style_1 -->
                </div>
                <!--/end sticky -->
            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->

    <div id="overlay"></div>
    <!-- Mask on input focus -->
    <ngx-ui-loader></ngx-ui-loader>
</main>
<!-- End main -->