.box_style_1{
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding: 0px !important;
    position: relative;
    color: #666;
}

.box_style_1 h3.inner{
    margin: 0px 0px 20px 0px !important;
}
ul {
    list-style-type: none;
   }