<main>
  <br><br><br><br>
  <div class="container margin_60">
    <kendo-grid [kendoGridBinding]="Transaction" [pageable]="true" [pageSize]="10">
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
        <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
      </ng-template>
      <kendo-grid-column field="TransactionID" title="S.N" width="40">
      </kendo-grid-column>
      <kendo-grid-column field="TransactionDate" title="Date" width="130">
      </kendo-grid-column>
      <kendo-grid-column field="ReferenceNo" title="Reference No." width="110">
      </kendo-grid-column>
      <kendo-grid-column field="Particulars" title="Particulars" width="200">
      </kendo-grid-column>
      <kendo-grid-column field="CreditedAmount" title="Credited" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="DebitedAmount" title="Debited" width="110">
      </kendo-grid-column>
      <kendo-grid-column field="Balance" title="Balance" width="110">
      </kendo-grid-column>
      <!-- <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
        </ng-template>
      </kendo-grid-column> -->
      <kendo-grid-pdf fileName="AgencyStatement.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true"
        [landscape]="true">
        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
        <kendo-grid-column field="TransactionDate" title="Date" width="130">
        </kendo-grid-column>
        <kendo-grid-column field="ReferenceNo" title="Reference No." width="110">
        </kendo-grid-column>
        <kendo-grid-column field="Particulars" title="Particulars" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="CreditedAmount" title="Credited" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="DebitedAmount" title="Debited" width="110">
        </kendo-grid-column>
        <kendo-grid-column field="Balance" title="Balance" width="110">
        </kendo-grid-column>
        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
          <div class="page-template">
            <div class="header">
              <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
              <img [src]="commonService.logo" height="15" alt="">
            </div>
            <div class="footer">
              Page {{ pageNum }} of {{ totalPages }}
            </div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
      <kendo-grid-excel fileName="AgencyStatement.xlsx" [fetchData]="allData">
        <kendo-excelexport-column field="TransactionDate" title="Date">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="ReferenceNo" title="Reference No.">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="Particulars" title="Particulars">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="CreditedAmount" title="Credited">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="DebitedAmount" title="Debited">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="Balance" title="Balance">
        </kendo-excelexport-column>
      </kendo-grid-excel>
    </kendo-grid>
  </div>
</main>