<!-- <form > -->
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Location</label>
      <!-- <input matInput placeholder="" [(ngModel)]="Search_Params.LocationID" class="" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" style="height: 35px !important"> -->
      <input matInput placeholder="" [(ngModel)]="objTour.LocationName" class="" aria-label="State"
        [matAutocomplete]="auto" [formControl]="stateCtrl" style="height: 40px !important" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onchangeLocation($event.option.value)">
        <!-- (click)="onchangeLocation(Location.LocationName)" -->
        <mat-option *ngFor="let Location of filteredStates | async" [value]="Location.value">
          <!-- <img class="example-option-img" aria-hidden
              src="../../../assets/img/flag/{{Location.Country | lowercase}}.gif" height="15" width="25"> -->
          <span>{{Location.value }}</span>
        </mat-option>
      </mat-autocomplete>

    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label><i class=" icon-calendar-7"></i> Date</label>
      <input type="search" matInput class="form-control" ngxDaterangepickerMd
        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [autoApply]="true" [opens]="opens"
        [singleDatePicker]="singleDatePicker" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true"
        [closeOnAutoApply]="true" name="daterange" [(ngModel)]="objTour.Date" [minDate]="minDate"
        (change)="change($event)" />
      <!-- <input type="search" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
          [(ngModel)]="objTour.Date" [closeOnAutoApply]="true" [minDate]="minDate" [singleDatePicker]="singleDatePicker"
          [autoApply]="true" (change)="change($event)" />
        [closeOnAutoApply]="true" name="daterange" [(ngModel)]="Date" [minDate]="Date" (change)="change($event)" /> -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Things to do</label>
      <mat-select class="dd-selected" [(ngModel)]="objTour.TourType" (click)="checklocation()"
        [(ngModel)]="objTour.TourType">
        <mat-option *ngFor="let TourType of TourTypes" [value]="TourType.Name"
          (onSelectionChange)="onselected(TourType.Name)">
          <a class="dd-selected"> <i class="dd-selected-image {{TourType.Icon}}" style="font-size: large"></i>
            <label class="dd-option-text" style="line-height: 45px;    margin-left: 5px;">
              {{ TourType.Name}}</label></a>
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <button class="btn_1 green" style="margin-top: 30px;" (click)="SearchActivity()">Search</button>
    </div>
  </div>
</div>
<!-- End row -->

<!-- </form> -->