<br><br><br>
<main style="margin-bottom: 355px;">
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a>
				</li>
				<li><a href="#">Category</a>
				</li>
				<li>Page active</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="margin_60 container">
		<div id="tabs" class="tabs">
			<nav>
				<ul>
					<!-- <li class=""><a href="/bookings" class="icon-booking"><span>Bookings</span></a>
						</li> -->
					<li class=""><a [routerLink]="['/wishlist']" class="icon-wishlist"><span>Wishlist</span></a>
					</li>
					<li class=""><a [routerLink]="['/changepassword']" class="icon-settings"><span>Settings</span></a>
					</li>
					<li class="tab-current"><a [routerLink]="['/profile']" class="icon-profile"><span>Profile</span></a>
					</li>
				</ul>
			</nav>
			<div class="content">
				<section id="section-4" class="content-current">
					<div class="row">
						<div class="col-md-6">
							<h4>Your profile</h4>
							<ul id="profile_summary">
								<li>Username <span>{{LoginDetails.Email}}</span>
								</li>
								<li>Name <span>{{LoginDetails.Name}}</span>
								</li>
								<!-- <li>Last name <span>{{LoginDetails.LastName}}</span>
								</li> -->
								<li>Mobile number <span>
										<!-- {{LoginDetails.ContacDetails.Phone}} / -->
										{{LoginDetails.ContacDetails.Mobile}}</span>
								</li>
								<li>Street address <span>{{LoginDetails.ContacDetails.Address}}</span>
								</li>
								<li>Town/City <span>{{LoginDetails.ContacDetails.CitiesID}}</span>
								</li>
								<li>Zip code <span>{{LoginDetails.ContacDetails.PinCode}}</span>
								</li>
								<li>Country <span>{{LoginDetails.ContacDetails.CountryID}}</span>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<!-- <p>
								<img src="img/tourist_guide_pic.jpg" alt="Image" class="img-fluid styled profile_pic">
							</p> -->
						</div>
					</div>
					<!-- End row -->

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-12">
							<h4>Edit profile</h4>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Full name</label>
								<input class="form-control" name="Name" id="first_name" type="text"
									[(ngModel)]="LoginDetails.Name">
							</div>
						</div>
						<!-- <div class="col-md-6">
							<div class="form-group">
								<label>Last name</label>
								<input class="form-control" name="last_name" id="last_name" type="text"
									[(ngModel)]="LoginDetails.LastName">
							</div>
						</div> -->
					</div>
					<!-- End row -->

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Phone number</label>
								<input class="form-control" name="email_2" id="email_2" type="text"
									[(ngModel)]="LoginDetails.ContacDetails.Mobile">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>User Name
								</label>
								<input class="form-control" readonly="readonly" name="Email"
									[(ngModel)]="LoginDetails.Email" type="text">
							</div>
						</div>
					</div>
					<!-- End row -->

					<hr>
					<div class="row">
						<div class="col-md-12">
							<h4>Edit address</h4>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Street address</label>
								<input class="form-control" name="Address" type="text"
									[(ngModel)]="LoginDetails.ContacDetails.Address">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>City/Town</label>
								<input class="form-control" name="last_name" id="last_name" type="text"
									[(ngModel)]="LoginDetails.ContacDetails.CitiesID">
							</div>
						</div>
					</div>
					<!-- End row -->

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Zip code</label>
								<input class="form-control" name="email" id="email"
									[(ngModel)]="LoginDetails.ContacDetails.PinCode" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Country</label>
								<input matInput placeholder="" #Nationality name="Nationality"
									[(ngModel)]="LoginDetails.ContacDetails.CountryID" class="" aria-label="Nationality"
									[matAutocomplete]="nationalityauto" [formControl]="nationalityCtrl"
									style="height: 40px !important;display: block;width: 100%;padding: .375rem .75rem;font-size: 12px;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
								<mat-autocomplete #nationalityauto="matAutocomplete">
									<mat-option *ngFor="let Country of arrCountry | async"
										[value]="Country.Countryname">
										<span> <img with="20" height="20"
												src="../../../assets/img/flag/{{Country.Countryname | lowercase}}.gif">
											{{Country.Countryname}}</span>
									</mat-option>
								</mat-autocomplete>
							</div>
						</div>
					</div>
					<!-- End row -->
					<hr>
					<div class="col-md-12 text-right">
						<button type="submit" (click)="UpdateProfile()" class="btn_1 green">Update Profile
							<i *ngIf="loading" class="icon-spin6 animate-spin font18"></i>
						</button>
					</div>
				</section>
				<!-- End section 4 -->
			</div>
			<!-- End content -->
		</div>
		<!-- End tabs -->
	</div>
	<!-- end container -->
</main>