@charset "UTF-8";
/* CSS Document */
.red-colour {
    color: #e74c3c;
}
.white-colour {
    color: white;
}
.green-colour {
    color: green;
}
.black-colour {
    color: black;
}
.grey-colour {
    color: darkgrey;
}
.blue-colour {
    color: #00a1ff;
}
.orange-colour {
    color:orange;
}

.lightgrey-colour {
    color: lightgrey;
}
.font10 {
    font-size:10px !important;
}

.font11 {
    font-size: 11px !important;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.font16 {
    font-size: 16px !important;
}

.font17 {
    font-size: 17px !important;
}

.font18 {
    font-size: 18px !important;
}

.font19 {
    font-size: 19px !important;
}

.font20 {
    font-size: 20px !important;
}

.font21 {
    font-size: 21px !important;
}

.font22 {
    font-size: 22px !important;
}

.font23 {
    font-size: 23px !important;
}

.font24 {
    font-size: 24px !important;
}

.font25 {
    font-size: 25px !important;
}

.font26 {
    font-size: 26px !important;
}

.font27 {
    font-size: 27px !important;
}

.font28 {
    font-size: 28px !important;
}

.font29 {
    font-size: 29px !important;
}

.font30 {
    font-size: 30px !important;
}
.nopadding-bottom {
    padding-bottom: 0 !important;
}

.padding10 {
    padding:10px !important;
}
.padding15 {
    padding:15px !important;
}
.padding20 {
    padding:20px !important;
}
.padding25 {
    padding:25px !important;
}
.padding30 {
    padding:30px !important;
}
.padding40 {
    padding:40px !important;
}

.pointer {
    cursor:pointer;
}

@media (min-width:768px) {
    .listpage-margin {
        top:100px;
    }
    .date-row {
        display: flex;
        flex-wrap: wrap;
    }
    .dates {
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
        position: relative;
        width: 100%;
        min-height: 50px;
        padding-right: 5px;
        padding-left: 5px;
        border: .5px dotted grey;
        text-align:center;
        vertical-align:middle;
    }
    .week-days {
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
        border: .5px dotted grey;
        text-align: center;
        vertical-align: middle;
    }   
}

@media (max-width:768px) {
    .listpage-margin {
        top: 20px;
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 38px; /* Stay at the top */
    left: 0;
    background-color: rgba(0,0,0,0.5); /* Black*/
  
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 1px -1px 10px -2px rgba(0, 0, 0, 0.41);
   
}
.slide-div{
    background-color: white;
    width: 50%;
    height: 100%;
    overflow-x: hidden; /* Disable horizontal scroll */
}
@media (max-width:768px) {
    .slide-div {
        width: 50%;
    }
}

/* The navigation menu links */
.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    /*font-size: 25px;*/
    color: #818181;
    display: block;
    transition: 0.3s;
}

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #adadad;
    }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 767px) {
    .sidenav {
        top: 0px;
        
    }

    /*.sidenav a {
        font-size: 18px;
    }*/
}

    ul.act-date, ul.slots {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul.act-date li {
        display: inline-block;
        margin-right: 5px;
        /*border: 1px solid #ededed;*/
        text-align: center;
        font-size: 11px;        
        width: 65px;
        height: 74px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin-bottom:10px;
    }

    ul.act-date li:hover, ul.slots li:hover {
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41);
        cursor:pointer;
    }

    ul.act-date li a {
        color: #555;
        width: 35px;
        height: 35px;
        display: block;
    }

    ul.act-date li i {
        display: inline-block;
        font-size: 11px;
        top: 6px;
        position: relative;
    }

    ul.act-date li label {
        margin-bottom: 0;
    }

    ul.act-date li p.date {
        font-weight: 600;
        margin-bottom: 10px;
        background: #00a1ff;
        color:white
    }

    ul.act-date div.date {
    background-color: #f8f8f8;
    text-align: center;
    }

    ul.act-date .date .month {
    background-color: #00a1ff;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight:600;
    }

    ul.act-date .date .day {
    padding: 5px;
    margin-top: 1px;
    color: #999;
    text-transform: uppercase;
    display: block;
    }

    ul.act-date .date .day strong {
        font-size: 25px;
        font-weight: normal;
        display: block;
        color: #00a1ff;
        margin-bottom: 3px;
    }
        
.strip_booking .pvt_transfer:before, .sic_transfer:before, .no_transfer:before {
    font-style: normal;
    font-weight: normal;
    font-family: "icon_set_1";
    font-size: 24px;
    color: #00a1ff;
    position: absolute;
    border: 1px solid #ededed;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: -10px;
    text-align: center;
    line-height: 50px;    
}

.strip_booking h3.pvt_transfer:before {
    content: "\3a";
}
.strip_booking h3.sic_transfer:before {
    content: "\39";
}
.strip_booking h3.no_transfer:before {
    content: "\7e";
}

.strip_booking h3.touroption {
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    padding-left: 0px;
    margin-top: 5px;
}

.act-type-header {
    padding-bottom: 5px !important;
    margin-bottom: 0px !important;
}

.strip_booking h4 {
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}

.strip_booking h4 span {
    color: #999;
    display: block;
    font-size: 11px !important;
}

.strip_booking h4.tourtype {
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    padding-left: 0px;
    margin-top: 5px;
    width: 100px;
}

.slots {
    margin-top:10px;
}

.slots a {
    display: inline-block !important;
    margin: 5px 10px 10px 0;
    height: 25px;
    line-height: 25px;
    background: #ededed url(../img/tag_bg.png) no-repeat 91% center;
    padding: 0 20px 0 11px;
    color: #555;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background .5s ease;
}

.slots a:hover {
    background-color: #099ad1;
    color: #fff;
    text-decoration: none;
}

.slots p {
    margin: 0 !important;
    font-weight:600;
    text-align:left;
}

ul.slots li {
    display: inline-block;
    margin-right: 5px;    
    text-align: center;
    font-size: 11px;
    width: 65px;    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px;
}

ul.slots div.slotbox {
    background-color: #f8f8f8;
    text-align: center;
}

ul.slots .slotbox .time {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.open {
    background: #00a1ff url(../img/tag_bg.png) no-repeat 105% center;
}

.closed {
    
    background: #e74c3c url(../img/tag_bg.png) no-repeat 105% center;
}
.limited {
    
    background: orange url(../img/tag_bg.png) no-repeat 105% center;
}

ul.slots .timebox .price {
    padding: 5px;
    margin-top: 1px;
    color: #999;
    text-transform: uppercase;
    display: block;
}
.table.act-pax-select th {
    background-color: #fff;
    text-transform: uppercase;
}

.table.act-pax-select td {
    vertical-align: middle;
}
@media (max-width: 767px) {
    /* Responsive table cart */
    .table.act-pax-select,
    .table.act-pax-select thead,
    .table.act-pax-select tbody,
    .table.act-pax-select th,
    .table.act-pax-select td,
    .table.act-pax-select tr {
        display: block;
        border: 0;
        vertical-align: middle;
    }

    .table.act-pax-select thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table.act-pax-select tr {
        border: 1px solid #ccc;
    }

    .table.act-pax-select td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }

    .table.act-pax-select td:before {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table.act-pax-select td:nth-of-type(1):before {
        content: "Passanger";
        font-weight: bold;
        color: #111;
    }

    .table.act-pax-select td:nth-of-type(2):before {
        content: "Quantity";
        font-weight: bold;
        color: #111;
        vertical-align: middle;
    }

    .table.act-pax-select td:nth-of-type(3):before {
        content: "Per Pax";
        font-weight: bold;
        color: #111;
    }

    .table.act-pax-select td:nth-of-type(4):before {
        content: "Sub Total";
        font-weight: bold;
        color: #111;
    }
}

        