﻿@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Vars */
$shadow1: inset 0 1.5px 4px rgba(255, 255, 255, .25), inset 0 1.5px 6px rgba(255, 255, 255, .25);

$dark-blue: #0b6e88;
$medium-blue: #118da7;
$light-blue: #388aa0;

$week-days-background: #55a0b3;
$week-days-border: #86bdc9;

$container-background: rgba(64,165,188,0.8);

$white: #fff;

$font-stack: 'Lato', 'Arial', sans-serif;
$padding: 1rem;
$bounceInOut: cubic-bezier(1,-1.25,0,1.75);

/* Grid System */
* {
    box-sizing: border-box;
}

.container {
    max-width: 620px;
    position: relative;
    margin: 0 auto;
    padding: 0 0;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.row {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.columns {
    float: left;
    display: block;
    margin-bottom: 0px;
    vertical-align: top;
    padding: 0;
}

.columns {
    &.sm-four {
        width: 33.33%
    }

    &.sm-days {
        width: 14.28%;
        opacity: 0;
        @extend .fadeIn;
    }
}

/* Main Styles */
html {
    font-size: 15px;
    height: 101%;
}

body {
    background: url(https://unsplash.imgix.net/23/pink-sky.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050) center center / cover fixed;
    color: $white;
    font-family: $font-stack;
    font-size: 1.5rem;
    line-height: 1.6;
    transition: all 0.5s;
}

.container {
    background: $container-background;
    border-radius: 0.5rem;
    box-shadow: $shadow1;
    margin: 5rem auto;
    min-height: 200px;
    overflow: hidden;
}

/* Header Section */
header {
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem;
    text-align: center;
    overflow: hidden;

    & h2 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.current-city-day {
    font-size: 1rem;
    display: block;
}

sup {
    position: relative;
    top: -1em;
    font-size: 50%;
}

.current-city-weather {
    font-size: 4rem;
}

/* Week Days Section */

.week-days {
    font-weight: 700;
    text-align: center;
}

.day {
    background: $week-days-background;
    border: 1px solid $week-days-border;
}

.sm-days {
    border-right: 1px solid $week-days-border;
    cursor: pointer;

    &:last-child {
        border: none;
    }
}

.day-weather-icon, .day-weather-info {
    margin: 1rem 0;
}

.day-weather-icon {
    font-size: 2.5rem;
}

/* Media Queries */
@media (max-width: 720px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 520px) {

    body {
        padding: 1rem;
    }

    .columns {
        float: left;
        margin-left: 0;
        margin-top: 1rem;

        &:nth-child(odd) {
            margin-left: 0;
        }

        &.sm-four,
        &.sm-days {
            width: 100%;
        }
    }

    .day {
        padding: 1rem;
    }

    .current-city-day {
        font-size: 2rem;
    }
}

/* Keyframes */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@for $i from 1 through 7 {
    .sm-days:nth-child(#{$i}) {
        animation-delay: 0.2 * $i + s;
    }
}
