 <app-cennin-privacypolicy *ngIf="AdminCode=='CENNIN'" ></app-cennin-privacypolicy>

 <app-exotics-privacypolicy *ngIf="AdminCode=='EXCO'" ></app-exotics-privacypolicy>

 <app-tripser-privacy-policy *ngIf="AdminCode=='TRIVO'" ></app-tripser-privacy-policy>