<!-- Header -->
<header id="plain">
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <i class="icon_set_1_icon-57"></i><strong>{{objGlobalService.Contact}}</strong>
                    <i class="icon_set_1_icon-84"></i><strong>{{objGlobalService.email}}</strong>
                </div>
                <div class="col-6">
                    <ul id="top_tools">
                        <li>
                            <div class="dropdown dropdown-cart" *ngIf="login.retCode ===1">
                                <a href="javascript:void(0);"><i class="icon-user" style="font-size: 13px;"></i>My
                                    Account</a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <li *ngIf="login.retCode == undefined || login.retCode !=1 ">
                                        <a href="javascript:void(0);" class="button_drop outline" mat-button
                                            (click)="onSigninDialog()">Sign
                                            in</a>
                                        <a href="javascript:void(0);" class="button_drop outline" mat-button
                                            (click)="onRegisterDialog()">Register</a>
                                    </li>
                                    <li *ngIf="login.retCode ===1">
                                        <div class="row">
                                            <!-- <div class="col-4" *ngIf="login.LoginDetail.UserType==='B2C'">
                                                <div class="font-icon-detail"><span class="pe-7s-user"></span>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <span>Hi,</span>
                                                <br>
                                                <span>{{login.LoginDetail?.Name}}</span>
                                            </div> -->
                                            <div class="col-6" *ngIf="login.LoginDetail.UserType==='B2B'">
                                                <span><b style="font-size: 11px;">Available</b> <br>
                                                    <span style="color: #f7941d;">{{arrBalance.Currency}}
                                                        {{arrBalance.Available}}</span>
                                                </span>
                                            </div>
                                            <div class="col-6" *ngIf="login.LoginDetail.UserType==='B2B'">
                                                <span><b style="font-size: 11px;">Payable</b> <br>
                                                    <span style="color: #e04f67;">{{arrBalance.Currency}}
                                                        {{arrBalance.Payable}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                                        <a [routerLink]="['/agency-statement']">My Statement</a>
                                    </li>
                                    <!-- <li *ngIf="login.retCode===1 && login.LoginDetail.UserType==='B2B'">
                                <a [routerLink]="['/credit-information']">Credit Info</a>
                              </li> -->
                                    <li>
                                        <a href="javascript:void(0);"
                                            *ngIf="login.retCode == undefined || login.retCode !=1 "
                                            (click)="onSigninDialog()">WishList</a>
                                        <a [routerLink]="['/wishlist']"
                                            *ngIf="login.retCode != undefined && login.retCode ==1 ">WishList</a>
                                    </li>
                                    <li *ngIf="login.retCode != undefined && login.retCode ==1 ">
                                        <!-- <a href="javascript:void(0);" *ngIf="login.retCode == undefined || login.retCode !=1 "
                                  (click)="onSigninDialog()">Profile</a> -->
                                        <a [routerLink]="['/profile']"
                                            *ngIf="login.LoginDetail.UserType==='B2C'">Profile</a>
                                        <a [routerLink]="['/agent-profile']"
                                            *ngIf="login.LoginDetail.UserType==='B2B'">Profile</a>
                                    </li>
                                    <!-- <li>
                                <a href="javascript:void(0);" *ngIf="login.retCode == undefined || login.retCode !=1 "
                                  (click)="onSigninDialog()">My Booking</a>
                                <a [routerLink]="['/booking-report']" *ngIf="login.retCode != undefined && login.retCode ==1 ">My
                                  Booking</a>
            
                              </li> -->
                                    <li *ngIf="login.retCode != undefined && login.retCode ==1 ">
                                        <a style="cursor: pointer;" (click)="onSignout()">Sign out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li *ngIf="login.retCode ==1 ">
                            <div class="dropdown dropdown-mini">
                                <a [routerLink]="['/booking-report']">My
                                    Booking</a>
                            </div>
                        </li>
                        <!-- <li>
                          <div class="dropdown dropdown-mini">
                            <a href="#" data-toggle="dropdown" id="lang_link">English</a>
                          </div>
                        </li>
                        <li>
                          <div class="dropdown dropdown-mini">
                            <a href="#" data-toggle="dropdown" id="currency_link" aria-expanded="false">{{Currency}}</a>
                            <div class="dropdown-menu" x-placement="bottom-start"
                              style="position: absolute; transform: translate3d(45px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <ul id="lang_menu">
                                <li *ngFor="let Exchange of exchange">
                                  <a style="cursor: pointer" (click)=SetCurrency(Exchange.Currency)>{{Exchange.Currency}}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li> -->
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div id="logo_home">
                    <h1><a [routerLink]="['/home']" title="ClickUrTrip">
                            <img src="assets/img/img/logo_sticky.png" alt="">
                        </a></h1>
                </div>
            </div>
            <nav class="col-9 ">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu
                        mobile</span></a>
                <div class="main-menu font16">
                    <div id="header_menu">
                        <img [src]="objGlobalService.logo" width="160" height="34" alt="City tours" data-retina="true">
                    </div>
                    <a href="javascript:void(0)" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                    <ul>
                        <li style="vertical-align: text-bottom;" *ngFor="let m of _mainMenu">
                            <a *ngIf="m.Name === 'Home'" [routerLink]="['/home']"
                                class="icon_set_1_icon-64 font30 nopadding-bottom">
                                <p class="font12 nomargin_bottom">Home</p>
                            </a>

                            <a *ngIf="m.Name === 'Sightseeing'" [routerLink]="['/sightseeing']"
                                class="show-submenu icon_set_1_icon-3 pointer font30 nopadding-bottom">
                                <p class="font12 nomargin_bottom">Sightseeing</p>
                            </a>

                            <a *ngIf="m.Name === 'Hotel'" [routerLink]="['/hotel']"
                                class="icon_set_1_icon-6 font30 nopadding-bottom">
                                <p class="font12 nomargin_bottom">Hotel</p>
                            </a>

                            <a *ngIf="m.Name === 'Package'" [routerLink]="['/package']"
                                class="icon_set_1_icon-37 font30 nopadding-bottom">
                                <p class="font12 nomargin_bottom">Holiday</p>
                            </a>


                            <a *ngIf="m.Name === 'Visa'" [routerLink]="['']"
                                class="icon_set_1_icon-94 font30 nopadding-bottom">
                                <p class="font12 nomargin_bottom">Visa</p>
                            </a>


                            <!-- <a *ngIf="m.Name === 'Visa'" [routerLink]="['']" class="icon_set_1_icon-51 font30 nopadding-bottom">
                              <p class="font12 nomargin_bottom">Top Deals</p>
                          </a>


                          <a href="#" class="icon_set_1_icon-16 font30 nopadding-bottom">
                              <p class="font12 nomargin_bottom">FAQ</p>
                          </a> -->


                        </li>
                    </ul>
                </div>
                <!-- End main-menu -->

                <ul id="top_tools">
                    <!-- <li>
                        <a href="javascript:void(0);" class="search-overlay-menu-btn"><i class="icon_search"></i></a>
                    </li> -->
                    <li>
                        <app-shopping-cart></app-shopping-cart>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- container -->
</header>
<!-- End Header -->