<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/ideal/Tadoba.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>TADOBA</h1>
    </div>
  </div>
</section>
<!-- End section -->

<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="/home">Home</a>
        </li>
        <li><a href="javascript:void((0)">Tadoba</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <!-- End Position -->

  <div class="margin_60 container">
    <div id="tour_guide">
      <p>
        <img src="assets/img/ideal/penchp1.jpg" alt="Image" class="rounded-circle styled">
      </p>
      <div class="row">
        <div class="col-md-8">
          <div class="main_title">
            <h2>Tadoba  <span>(TATR) </span></h2>
          </div>
          <!-- class="lead add_bottom_30" -->
          <p style="text-align: justify;">
            "Often referred to as “The Jewel of Vidharba”, the Tadoba National Park lies in the district of Chandrapur in the north eastern part of Maharashtra. Located in the heart of a reserved forest, it is an infinite treasure trove of innumerable species of trees and plants – and wildlife that includes tigers, panthers, sloth bears, hyenas, jackals, wild dogs, bison, sambar, and chital. In fact, the Tadoba National Park and Andhari Wildlife Sanctuary together form the Tadoba-Andhari Tiger Reserve. The park derives its name from “Taru” the local deity, whereas the Andhari river that meanders through the forest gives the sanctuary its name."
          </p>
        </div>
        <div class="col-md-4">
          <h3>Getting there:-</h3>
          <ul class="list_ok">
            <li>(MOHARLI GATE)</li>
            <li>The nearest airport is Nagpur 190 kms away.</li>
            <li>The nearest bus stand is Chandrapur 45 kms away.</li>
          </ul> 
          <h3>Getting there:-</h3>
          <ul class="list_ok">
            <li>Getting there: (KOLARA GATE):</li>
            <li>The nearest airport is Nagpur 130 kms away.</li>
            <li>The nearest Railway station is Nagpur 45 kms away.</li>
            <li>The nearest bus stand is Chimur 20 kms away.</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div>
      <div class="box_style_1">
        <div class="main_title">
          <h2><span>Tadoba  - </span>01 Night/ 02 Days</h2>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/ideal/pench3.jpg" class="imagesrowviewPage">
          </div>
          <div class="col-md-7">
            <h3> <span> Day 01</span>: Nagpur – Tadoba  National Park</h3>
            <p>
              -On arrival at Nagpur railway station/ airport, meet our representative and drive to Tadoba National Park. Upon arrival transfer to the resort . Afternoon get ready by 02.00 pm sharp for Jungle Safari to Tadoba National Park for wildlife viewing .Our Gypsy driver will be ready at resort to take you for Jungle Safari. Overnight stay at resort.
            </p>
            <h3><span> Day 02</span>: Tadoba National Park</h3>
            <p>Get ready for morning Jungle Safari to the Tadoba National Park for wildlife viewing. Our Gypsy will come to pick you up sharp 05.45 am at resort. Evening enjoy the vicinity of the forest near resort. Overnight stay to resort.</p>
            <h3><span> Day 03</span>: Tadoba National Park</h3>
            <p>Morning after breakfast enjoy the vicinity of the forest near resort. Later at 11 am check out from the resort and drive to Nagpur. Upon arrival transfer to the railway station/ airport for onward journey/destination.</p>
          </div>
         </div>
      </div>
      <br>
      <div class="box_style_1" style="background-color: #eae5e5 ;">
        <div class="main_title">
          <h2><span>Tadoba - </span> 03 Night/ 04 Days</h2>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h3> <span> Day 01</span>: Nagpur – Tadoba  National Park</h3>
            <p>
              On arrival at Nagpur railway station/ airport, meet our representative and drive to Tadoba National Park. Upon arrival transfer to the resort. Rest and relax at resort. Evening enjoy the vicinity of the forest near resort. Overnight stay at resort.
            </p>
            <h3><span> Day 02</span>: Tadoba  National Park</h3>
            <p>-Get ready for morning Jungle Safari to Tadoba National Park for wildlife viewing. Our Gypsy will come to pick you up sharp 05.45 am at resort. Evening enjoy the vicinity of the forest near resort. . Overnight stay to resort.</p>
         
            <h3><span> Day 03</span>: Tadoba  National Park – Nagpur</h3>
            <p>Get ready for morning Jungle Safari to Tadoba National Park for wildlife viewing. Our Gypsy will come to pick you up sharp 05.45 am at resort. Evening enjoy the vicinity of the forest near resort . Overnight stay to resort.</p>
        
            <h3><span> Day 04</span>: Tadoba  National Park – Nagpur</h3>
            <p>Morning after breakfast enjoy the vicinity of the forest near resort. Later at 11 am check out from the resort and drive to Nagpur. Upon arrival transfer to the railway station/ airport for onward journey/destination.</p>
        
          </div>

          <div class="col-md-5">
            <img src="assets/img/ideal/pech5.jpg" class="imagesrowviewPage">
          </div>
         
         </div>
      </div>
     
  </div>
  <!-- <div class="margin_60 container">
    <div class="row">
      <div class="w3agile-map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d475319.1850220632!2d78.97600938638298!3d21.451593737120067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3bd4c0a5a31faf13%3A0x19b37d06d0bb3e2b!2sNagpur%2C+Maharashtra!3m2!1d21.1458004!2d79.0881546!4m5!1s0x3a2ab6a391ebc691%3A0xf9f9c71463022df!2sPench+National+Park%2C+Kurai%2C+Madhya+Pradesh!3m2!1d21.7629527!2d79.339113!5e0!3m2!1sen!2sin!4v1524294951553" width="600" height="450" frameborder="0" style="border:0"></iframe>
     </div> 
     
   </div>
  </div> -->
    <!-- end row -->
  </div>
  <!-- end container -->
  <div class="container">
    <div class="main_title">
      <h2>TADOBA <span>WILDLIFE </span>PHOTOS</h2>
    </div>
    <hr>
    <div class="row justify-content-between">
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/pt1.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/pt2.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/pt3.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/pt4.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/pt5.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/pt6.jpg" alt="Image" class="img-fluid styled">
      </div>
    <div >

    </div>
    </div>

    <hr class="add_bottom_45">
   
    <!-- Weather widget -->

  </div>
 
  <app-idealjungle-client></app-idealjungle-client>
  <!-- End container -->
</main>
<!-- End main -->