<kendo-pdf-export #pdf paperSize="A4" margin="0cm" [scale]="scale">
  <div class="row">
    <div class="col-md-12">
      <div class="box_style_1">
        <div class="row">
          <div class="col-md-12">
            <!-- "http://clickurtrip.net/Agencylogo/"+  arrAdmin.Code + ".jpg" -->
            <h5 *ngIf="isb2c">
              <strong>
                {{InvoiceDetails.AgentDetails.Name}}
              </strong>
            </h5>
            <img *ngIf="!isb2c" src="http://clickurtrip.net/Agencylogo/{{InvoiceDetails.AdminUser.Code}}.jpg"
              height="58" width="277">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-secondary" role="alert">
              <strong>Sales Invoice</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>Invoice To</strong><br>
                <div *ngIf="!isb2c">
                  <span> {{InvoiceDetails.AgentDetails.Name}} </span><br>
                  <span> {{InvoiceDetails.AgentDetails.Address}}</span><br>
                  <span> {{InvoiceDetails.AgentDetails.City}} , {{InvoiceDetails.AgentDetails.Countryname}}</span><br>
                  <span>{{InvoiceDetails.AgentDetails.Mobile}} / {{InvoiceDetails.AgentDetails.email}}</span>
                </div>
                <div *ngIf="isb2c">
                  <span> {{userdetails.LoginDetail.Name}}</span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.Address}}</span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.CitiesID}},
                    {{userdetails.LoginDetail.ContacDetails.CountryID}} </span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.PinCode}} </span><br>
                  <span>{{userdetails.LoginDetail.ContacDetails.Mobile}} / {{userdetails.LoginDetail.Email}}</span>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>
                  {{InvoiceDetails.dtHotelAdd.HotelName}}
                </strong><br>
                <span> {{InvoiceDetails.dtHotelAdd.Address}} </span><br>
                <span> {{InvoiceDetails.arrResrvation.City}} </span><br>
                <span>Hotel Confirmation :</span><br>
                <span>Stay :({{InvoiceDetails.arrResrvation.checkin}} /
                  {{InvoiceDetails.arrResrvation.checkout}})</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>
                  Invoice Details
                </strong><br>
                <span> <strong>Status :</strong> {{InvoiceDetails.arrResrvation.Status}} </span><br>
                <span><strong>Invoice Date:</strong> {{InvoiceDetails.arrResrvation.Bookingdate}}</span><br>
                <span><strong>Invoice No:</strong> {{InvoiceDetails.arrResrvation.InvoiceID}}</span><br>
                <span><strong>Voucher No :</strong> {{InvoiceDetails.arrResrvation.VoucherID}}</span><br>
              </div>
            </div>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row" *ngFor="let r of InvoiceDetails.arrRooms; let i=index">
          <div class="col-md-2">
            <strong>{{r.RoomNumber}}</strong><br>
            <small>
              <strong *ngIf="r.Child ===0"> ({{r.Adults}} Adult(s))</strong>
              <strong *ngIf="r.Child >0"> ({{r.Adults}} Adult(s) {{r.Child}} Child(s))</strong>
            </small>
          </div>
          <div class="col-md-3">
            <div *ngFor="let guest of GuestList; let last=last">
              <span *ngIf="guest.RoomNumber == r.RoomNumber && (guest.PassengerType=='AD' || guest.PassengerType=='1')">
                {{guest.Name}} {{guest.LastName}}
              </span><br>
              <span *ngIf="guest.RoomNumber == r.RoomNumber && (guest.PassengerType=='CH' || guest.PassengerType=='2')">
                {{guest.Name}} (Age : {{guest.Age}} yrs)
              </span>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-6">
                <strong>Room type</strong><br>
                <span>{{r.RoomType}} </span>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <strong>Board</strong><br>
                <span>{{r.BoardText}} </span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <strong>Total</strong><br>
            <span>{{InvoiceDetails.arrResrvation.CurrencyCode}}. {{r.RoomAmtWithTax}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 text-right">
            <strong>Sub Total : {{InvoiceDetails.arrResrvation.CurrencyCode}} {{InvoiceDetails.arrResrvation.Ammount}}
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <span><strong>In words:</strong>
              {{InvoiceDetails.arrCurency}}
            </span>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12">
            <br>
            <h4>Terms & Conditions</h4>
            <ol>
              <li> In case no show for any guaranteed reservations, full charge will be applied</li>
              <li>We require 7 days advance notice for any amendment & cancellations, otherwise one night room charge
                will be applied</li>
              <li>If you required 25-10-2019 cancel before 5 days full charge will be applied</li>
              <li>ACCORDING TO THE SAUDI AUTHORITIES 5 % VAT WILL BE IMPLEAMENTED ON THE ABOVE RATES,</li>
              <li>VAT NO:300056209610003</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button kendo-button (click)="pdf.saveAs('Invoice.pdf')" class="btn_full" id="btn_Invoice_pdf"
    style="display: none"></button>
</kendo-pdf-export>