<mat-dialog-content>
<div class="modal-header">
    <h4 class="modal-title" id="myReviewLabel">Write your review</h4>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
                <input type="hidden" [(ngModel)]="ProdcutID">
                <input type="hidden" [(ngModel)]="ProductType">
            <input name="name_review" [(ngModel)]="arrReview.UserName"  type="text" placeholder="Your name" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input name="lastname_review" [(ngModel)]="arrReview.LastName" type="text" placeholder="Your last name" class="form-control">
        </div>
    </div>
</div>
<!-- End row -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <input name="email_review" [(ngModel)]="arrReview.Email" type="email" placeholder="Your email" class="form-control">
        </div>
    </div>
</div>
<!-- End row -->
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Position</label>
            <select class="form-control" name="position_review" [(ngModel)]="arrReview.PriceStatus">
                <option value="">Please review</option>
                <option value="Low">Low</option>
                <option value="Sufficient">Sufficient</option>
                <option value="Good">Good</option>
                <option value="Excellent">Excellent</option>
                <option value="Superb">Super</option>
                <option value="Not rated">I don't know</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Tourist guide</label>
            <select class="form-control" name="guide_review" [(ngModel)]="arrReview.guideStatus">
                <option value="">Please review</option>
                <option value="Low">Low</option>
                <option value="Sufficient">Sufficient</option>
                <option value="Good">Good</option>
                <option value="Excellent">Excellent</option>
                <option value="Superb">Super</option>
                <option value="Not rated">I don't know</option>
            </select>
        </div>
    </div>
</div>
<!-- End row -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Price</label>
            <select class="form-control" name="price_review" [(ngModel)]="arrReview.PriceStatus">
                <option value="">Please review</option>
                <option value="Low">Low</option>
                <option value="Sufficient">Sufficient</option>
                <option value="Good">Good</option>
                <option value="Excellent">Excellent</option>
                <option value="Superb">Super</option>
                <option value="Not rated">I don't know</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Quality</label>
            <select class="form-control" name="quality_review" [(ngModel)]="arrReview.QualityStatus">
                <option value="">Please review</option>
                <option value="Low">Low</option>
                <option value="Sufficient">Sufficient</option>
                <option value="Good">Good</option>
                <option value="Excellent">Excellent</option>
                <option value="Superb">Super</option>
                <option value="Not rated">I don't know</option>
            </select>
        </div>
    </div>
</div>
<!-- End row -->
<div class="form-group">
    <textarea name="review_text" [(ngModel)]="arrReview.review" class="form-control" style="height:100px" required  placeholder="Write your review"></textarea>
</div>
<input type="button" value="Submit" class="btn_1" (click)="SaveReview()" >
</mat-dialog-content>
