<section id="search_container" *ngIf="AdminCode !== 'HIFI'">
  <div id="search">
    <div class="tab-content">
      <h4>Book Domestic & International Hotels</h4>
      <app-search-panel [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller"></app-search-panel>
    </div>
  </div>
</section>

<div id="search_container_2" *ngIf="AdminCode === 'HIFI'">
  <div id="search_2">
    <app-hotel-search [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller"></app-hotel-search>
  </div>
</div>