#search {
  display: table-cell;
  vertical-align: middle;
  padding: 0 16% !important;
  padding-top: 100px;
}

#search_container_2 {
  background: #ccc url(/assets/img/hotel-search.jpg) no-repeat center top !important;
}
