<div id="tools">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 text-right">
      <a data-toggle="collapse" data-parent="#Filter" href="#Filter" class="btn_1">Filter</a>
    </div>
  </div>
</div>

<div class="accordion_styled" id="Filter" class="collapse" data-parent="#Filter">
  <div class="card">
    <div class="card-body">
      <br>
      <div class="row">
        <div class="col-md-3">
          <label>Passenger Name</label><br>
          <input type="text" [(ngModel)]="GuestName" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Booking Date</label><br>
          <input type="text" [(ngModel)]="BookingDate" matInput class="form-control" #Booking_Date ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [singleDatePicker]="singleDatePicker" [autoApply]="true"
            [opens]="opens" [maxDate]="maxDate" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true"
            [closeOnAutoApply]="true" name="daterange" />
        </div>
        <div class="col-md-3">
          <label>Package Name</label><br>
          <input type="text" [(ngModel)]="PackageName" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Location</label><br>
          <input type="text" [(ngModel)]="Location" class="form-control">
        </div>
      </div>
      <br />
      <!-- <div class="row">
        <div class="col-md-4">
          <label>Location</label><br>
          <input type="text" [(ngModel)]="Location" class="form-control">
        </div>
      </div>
      <br /> -->
      <div class="row">
        <div class="col-md-12 text-right">
          <input type="button" (click)="clear()" class="btn_1" value="Clear">&nbsp;
          <input type="button" (click)="_filter(Booking_Date.value)" class="btn_1" value="Apply">
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="card"
  *ngFor="let booking of PakageBookingList | paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
  <div class="card-body">
    <div class="strip_booking">
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <a href="package-details?ID={{booking.PackageID}}">
            <h3 class="package_booking">{{booking.PackageName}}<br />
              <small>{{booking.Location}}</small>
              <span>{{booking.Adults}} Adults, {{booking.Child}} Childs , {{booking.Infant}} Infants</span>
            </h3>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 details status">
          <div class="row booking">
            <div class="col-md-12 status">
              <span> <strong>Status</strong> :
                <span class="status-vouchered">
                  {{booking.Status}}
                </span>
                <!-- <span class="status-cancelled" *ngIf="report.Status==='Cancelled'">
                  Cancelled
                </span> -->
              </span><br />
              <span> <strong>Guest Name</strong> : <br />{{booking.PaxName}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 details">
          <div class="row booking">
            <div class="col-md-12">
              <span> <strong>Start Date</strong> : {{booking.StartDate}}</span><br />
              <span> <strong>End Date</strong> : {{booking.EndDate}}</span><br />
              <span> <strong>Booking Date</strong> : {{booking.BookingDate}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <ul class="info_booking">
            <li><strong>Reference No</strong> {{booking.RefrenceNo}}</li>
            <li><strong>Booking Id</strong> {{booking.BookingId}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer" *ngIf="booking.Status==='Confirmed'">
    <div class="row">
      <div class="col-md-12 text-right">
        <input type="button" class="btn_1" (click)="onVoucher(booking.BookingId)" value="Voucher">
        &nbsp; <input type="button" class="btn_1" (click)="onInvoice(booking.BookingId)" value="Invoice">
      </div>
    </div>
  </div>
</div>

<div class="box_style_2" *ngIf="response && PakageBookingList.length===0">
  <h1><span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span></h1>
  <h1> Sorry !!</h1>
  <h2>Booking Not Found</h2>
</div>
<div class="has-text-centered" *ngIf="service==='package' && PakageBookingList.length!=0">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>