
<div class="rating" *ngIf="arrReview.length==0">
    <i class="icon-smile "></i><i class="icon-smile "></i><i class="icon-smile "></i><i class="icon-smile "></i><i class="icon-smile"></i>
</div><!-- end rating -->


<div class="rating" *ngIf="arrReview.length>=2 && 5>=arrReview.length">
    <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile "></i><i class="icon-smile"></i>
    <small>({{arrReview.length}})</small>
  </div>


<div class="rating" *ngIf="arrReview.length>=7">
    <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
    <small>({{arrReview.length}})</small>
  </div><!-- end rating -->

<div class="rating" *ngIf=" arrReview.length>=10">
    <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
    <small>({{arrReview.length}})</small>
</div><!-- end rating -->