.post {
    position: relative;
    font-size: 14px;
    color: #666 !important;
    padding: 0px 0px;
    padding-left: 0px !important;
    min-height: 56px;
    margin-bottom: 25px;
}

.banner {
    position: relative;
    background: #fff !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px !important;
    margin-bottom: 10px !important;
}

.h-name{
    margin: 0 0 6px 0;
}

.post_info span {
    color:#666;
}

.banner.colored {
    background: #fff !important;
}

.margin-6{
margin: 6px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.alert-secondary {
    color: #383d41;
    background-color: #ededed !important;
    border-color: #d6d8db;
}

ol{
    padding-inline-start: 10px !important;
}