<main>
  <div id="position" style="margin-top: 100px;">
    <div class="container">
      <ul>
        <li><a [routerLink]="['/home']">Home</a>
        </li>
        <li><a [routerLink]="['/booking-report']">Booking Report</a>
        </li>
        <li>Voucher</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12 text-center" id="actions">
        <input type="button" class="btn_1" (click)="Print()" value="Print">
        &nbsp; <input type="button" class="btn_1" (click)="Download()" value="Download">
      </div>
    </div>
    <br>
    <kendo-pdf-export #pdf paperSize="A4" margin="0cm" [scale]="scale">
      <div class="row">
        <div class="col-md-12">
          <div class="box_style_1">
            <div class="row">
              <div class="col-md-7">
                <img src="{{logo}}" *ngIf="logo" height="58" width="277">
                <img *ngIf="!logo" src="{{objcommon.logo}}" height="58" width="277">
              </div>
              <div class="col-md-5">
                <h5>
                  <strong>
                    {{AgentDetails.Name}}
                  </strong>
                </h5>
                <span> {{AgentDetails.Address}} </span><br>
                <span> City : {{AgentDetails.City}}, Country : {{AgentDetails.Countryname}},
                  PinCode : {{AgentDetails.PinCode}} </span><br>
                <span> Tel : {{AgentDetails.Mobile}} - {{AgentDetails.phone}}</span><br>
                <span> Email : {{AgentDetails.email}}</span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-secondary" role="alert">
                  <strong>Package Voucher</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span><strong>Package Name:</strong> {{PackageDetails.PackageName}} </span><br>
                <span><strong>Destinations:</strong> {{PackageDetails.City}}</span><br>
                <!-- <span><strong>Validity:</strong> {{Reservation.StartFrom}} - {{Reservation.EndDate}}</span><br> -->
                <span><strong>Package Category:</strong> {{Reservation.Type}} </span><br>
                <span><strong>Duration:</strong> {{Reservation.noDays-1}}Nights /
                  {{Reservation.noDays}}Days</span>
              </div>
              <div class="col-md-6">
                <span><strong>Voucher No:</strong> {{Reservation.RefNo}} </span><br>
                <span><strong>Confirmation No:</strong> {{Reservation.CabName}} </span><br>
                <span><strong>Booking Date:</strong> {{Reservation.BookingDate}}</span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-secondary" role="alert">
                  <strong>Leading Guest Name : {{Reservation.LeadingPax}}</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <td><strong>Adults</strong></td>
                            <td class="text-center"><strong>Childs</strong></td>
                            <td class="text-center"><strong>Child Age</strong></td>
                            <td class="text-center"><strong>Infants</strong></td>
                            <td class="text-right"><strong>Remark</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{Reservation.Adults}}</td>
                            <td class="text-center">{{Reservation.Childs}}</td>
                            <td class="text-center"></td>
                            <td class="text-center">{{Reservation.Infant}}</td>
                            <td class="text-right"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider *ngIf="Hotel.length>0"></mat-divider>
            <div class="row" *ngIf="Hotel.length>0">
              <div class="col-md-12">
                <br>
                <h6>Hotel Details</h6>
              </div>
            </div>
            <div class="row" *ngIf="Hotel.length>0">
              <div class="col-md-12">
                <ol>
                  <li *ngFor="let hotel of Hotel">
                    <strong>{{hotel.HotelName}} / {{hotel.Ratings}} Star </strong>,
                    {{hotel.CityName}} for {{hotel.Nights}} Nights
                    <ul>
                      <li>{{hotel.Meal}} Included</li>
                      <li *ngFor="let meal of Meal">
                        {{meal.MealName}} - {{meal.bIncluded}}
                      </li>
                    </ul>
                  </li>
                </ol>
              </div>
            </div>
            <div>
              <span>
                <strong>Check-In:</strong> {{Reservation.StartFrom}}
              </span>
              <br>
              <span>
                <strong>Check-Out:</strong> {{Reservation.EndDate}}
              </span>
            </div>
            <br>
            <div class="row" *ngIf="Transfer.length>0">
              <div class="col-md-12">
                <h6>Transfer Details</h6>
              </div>
            </div>
            <div class="row" *ngIf="Transfer.length>0">
              <div class="col-md-12">
                <ol>
                  <li *ngFor="let transfer of Transfer">
                    <strong>{{transfer.VehicleName}}</strong>
                    ( {{transfer.Type}} {{transfer.bIncluded}})
                  </li>
                </ol>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-md-12">
                <br>
                <h6>Terms & Conditions</h6>
                <ul>
                  <li>
                    You must present this confirmation voucher together with photo ID to the hotel receptionist upon
                    check in.
                  </li>
                  <li>
                    If you have any questions regarding your booking, or you require to amend the booking, you must
                    contact your travel agency immediately.
                  </li>
                  <li>
                    For any room facilities, hotel facilities and car parking enquiries, please contact the hotel
                    directly.
                  </li>
                  <li>
                    Vouchers are not transferable and valid only for the services mentioned therein. Any services not
                    specifically requested, confirmed and noted on vouchers will not be rendered. All extras to be paid
                    directly to the hotels/the service providers.
                  </li>
                  <li>
                    The usual check-in time is 14:00 hours and checkout time is at 12:00 hours however this might vary
                    from hotel to hotel and with different destinations.
                  </li>
                  <li>
                    Early check in and late checkout may involve additional charges. Please check with the hotel
                    reception in advance.
                  </li>
                  <li>
                    We will not accept any responsibility for additional expenses due to the changes or delays in air,
                    road, rail, sea or indeed any other causes, all such expenses will have to be borne by passengers.
                  </li>
                  <li>
                    It is understood that, we act as agent only for all services covered hereby. Further we shall not be
                    responsible for any loss, injury or damage resulting from acts of God, dangers, fire, and breakdown
                    of machinery, damage resulting from acts of God, equipment or vehicles, acts of government
                    authority, wars, civil disturbances, riots, thefts, pilferage, epidemics, quarantines or any delays
                    or changes including any extra expenses which the passenger may incur as a result of any of the
                    foregoing causes.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button kendo-button (click)="pdf.saveAs('Voucher.pdf')" class="btn_full" id="btn_Voucher_pdf"
        style="display: none"></button>
    </kendo-pdf-export>
  </div>

  <ngx-ui-loader></ngx-ui-loader>
</main>