agm-map {
    height: 400px;
  }

  .img-fluid.styled {
    margin-top: 0px !important;
    height: 235px !important;
    width: 400px !important;
    border: 5px solid#fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(253, 67, 67, 0.1);
}