<mat-card>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab" (selectedTabChange)="setImage($event)">
      <mat-tab label="Hotels Details">
        <br />
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
          <div class="col-lg-4">
            <a href="javascript:void();" *ngIf="Images.length>0">
              <img [src]="Images[0].Url" onError="this.src='assets/img/no-image.png'" class="img-fluid styled"
                alt="Image" class="img-fluid styled">
            </a>
            <a href="javascript:void();" *ngIf="Images.length===0">
              <img src="assets/img/no-image.png" class="img-fluid styled" alt="Image" class="img-fluid styled">
            </a>
            <br /><br />
            <h4>Hotel facilities</h4>
            <ul class="list_icons">
              <li *ngFor="let facility of HotelDetails.Facility">
                <i *ngIf="facility.Name.includes('Bar')" class="icon_set_1_icon-20"></i>
                <i *ngIf="facility.Name.includes('Car')" class="icon_set_1_icon-21"></i>
                <i *ngIf="facility.Name.includes('Breakfast')" class="icon_set_1_icon-59"></i>
                <i *ngIf="facility.Name.includes('Wifi') || facility.Name.includes('Internet')"
                  class="icon_set_1_icon-86"></i>
                <i *ngIf="facility.Name.includes('Room Service') || facility.Name.includes('Porterage 24 Hour')"
                  class="icon_set_1_icon-14"></i>
                <i *ngIf="facility.Name.includes('Gym')" class="icon_set_2_icon-117"></i>
                <i *ngIf="facility.Name.includes('Laundry')" class="icon_set_2_icon-103"></i>
                <i *ngIf="facility.Name.includes('Business Centre')" class="icon_set_2_icon-105"></i>
                <i *ngIf="facility.Name.includes('Pet')" class="icon_set_1_icon-22"></i>
                <i *ngIf="facility.Name.includes('Air')" class="icon-air"></i>
                <i *ngIf="facility.Name.includes('Parking')" class="icon_set_1_icon-21"></i>
                &nbsp;&nbsp;{{facility.Name}}
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <h4>{{HotelDetails.HotelName}}</h4>
            <div class="rating" *ngIf="HotelDetails.Category==='5'">
              <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                class="icon-star voted"></i><i class="icon-star voted"></i>
            </div>
            <div class="rating" *ngIf="HotelDetails.Category==='4'">
              <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <div class="rating" *ngIf="HotelDetails.Category==='3'">
              <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                class="icon-star-empty"></i><i class="icon-star-empty"></i>
            </div>
            <div class="rating" *ngIf="HotelDetails.Category==='2'">
              <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i><i
                class="icon-star-empty"></i><i class="icon-star-empty"></i>
            </div>
            <div class="rating" *ngIf="HotelDetails.Category==='1'">
              <i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
                class="icon-star-empty"></i><i class="icon-star-empty"></i>
            </div>
            <div class="rating" *ngIf="HotelDetails.Category==='0'">
              <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
                class="icon-star-empty"></i><i class="icon-star-empty"></i>
            </div>
            <p>
              {{HotelDetails.Address}}
            </p>
            <h4>Description</h4>
            <p [innerHTML]="HotelDetails.Description">
            </p>
          </div>
          <!-- End col-md-9  -->
        </div>

      </mat-tab>
      <mat-tab label="Photos">
        <br />
        <h4>{{HotelDetails.HotelName}}</h4>
        <div class="rating" *ngIf="HotelDetails.Category==='5'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
            class="icon-star voted"></i><i class="icon-star voted"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='4'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
            class="icon-star voted"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='3'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='2'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='1'">
          <i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='0'">
          <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <p>
          {{HotelDetails.Address}}
        </p>
        <div id="Img_carousel" class="slider-pro" *ngIf="Images.length!==0 && !loading">
          <div class="sp-slides">
            <div class="sp-slide" *ngFor="let img of Images">
              <img [src]="img.Url" onError="this.src='assets/img/no-image.png'" alt="Image" class="sp-image"
                attr.data-src="img.Url" attr.data-small="img.Url" attr.data-medium="img.Url" attr.data-large="img.Url"
                attr.data-retina="img.Url">
            </div>
          </div>
          <div class="sp-thumbnails">
            <img alt="Image" class="sp-thumbnail" [src]="img.Url" onError="this.src='assets/img/no-image.png'"
              *ngFor="let img of Images">
          </div>
        </div>

        <div class="row" style="margin-left: 0px; margin-right: 0px;" *ngIf="loading">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <img src="assets/img/loading.jpg" style="text-align: center;" alt="loader">
          </div>
          <div class="col-md-4"></div>
        </div>


      </mat-tab>
      <mat-tab label="Location">
        <br />
        <h4>{{HotelDetails.HotelName}}</h4>
        <div class="rating" *ngIf="HotelDetails.Category==='5'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
            class="icon-star voted"></i><i class="icon-star voted"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='4'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
            class="icon-star voted"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='3'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='2'">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='1'">
          <i class="icon-star voted"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <div class="rating" *ngIf="HotelDetails.Category==='0'">
          <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i
            class="icon-star-empty"></i><i class="icon-star-empty"></i>
        </div>
        <p>
          {{HotelDetails.Address}}
        </p>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

</mat-card>