<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/exotics/header_bg.jpg" style="background:#f6f6f6" data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Privacy Policy</h1>
			<!-- <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
		</div>
	</div>
</section>
<main>
  <div class="container margin_60">
    <div class="main_title">
      <h2>PRIVACY POLICY  <span>OF</span> EXOTICSROUTES</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature">
          <!-- <i class="">1</i>
          <h3>Overview</h3> -->
          <p>We are committed to protecting your personal privacy. unitedairtravel.com will not give out your telephone number or e-mail address, except where needed to deliver a product or service you ordered. We will not rent or sell your name, address, email address or personal information to any third party without your permission.
            </p>
            <p>This information is collected primarily to ensure that we are able to fulfil your requirements and to deliver you a truly personalized online experience. However, you must cooperate fully, should a situation arise, where we are required by law or statutory obligation or legal process to provide information about you. We may share non-personal, non-individual statistical or demographic information, in aggregate form, with our marketing partners, advertisers or other third parties for research and advertising purposes.</p>
        
        <p>All credit/debit cards’ details or information will NOT be stored, sold, shared, rented or leased to any third parties.</p>
         
        <p>The website policies and terms & conditions would be changed or updated occasionally to meet the requirements and standards. We will notify you about these changes as well as the payment gateway provider / NBAD.</p>
        
        <!-- <p>
            Cenin Tours & Travels Co. Pvt. Ltd., Approved by Ministry of Tourism, Government of India a leading IATA tour operator of Central India & the first of its kind Destination Management Company in Central India promoting inbound tourism into Central India Region.
          </p> -->
        </div>
      </div>
      <!-- <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="feature">
          <i class="">2</i>
          <h3>Our Philosophy</h3>
          <h4>Few Words About Us</h4>
        </div>
      </div> -->
    </div>
    <!-- End row -->
    <!-- <div class="row">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="feature">
          <i class="">3</i>
          <h3>Mission & Vision</h3>
          <h4>Mission Statement</h4>
        
        
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="feature">
          <i class="">4</i>
          <h3>Vision</h3>
          <h3>Vision Statement</h3>
        
        </div>
      </div>
    </div> -->
  </div>
</main>

