<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/ideal/banner/1.jpg"
  data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>IDEAL JUNGLE SAFARI</h1>
      <p>Ideal Tours and Travels had a modest start as a ticketing company in 2009 and gradually spread its wings to
        develop a huge client base of corporates and others dealing with everything related to travel.</p>
    </div>
  </div>
</section>
<main>
  <div class="container margin_60">

    <div class="main_title">
      <h2>SOME <span>GOOD</span> REASONS</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature">
          <i class="">1</i>
          <h3>Overview</h3>
          <p style="text-align: justify;">We Specializing in domestic and international tour packages.After having
            firmly established its footing as the fastest growing tours and travel company in city, Ideal Tours and
            Travels turned a new leaf in Sept 2011, by venturing into money exchange.
          </p>
          <br>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="feature">
          <i class="">2</i>
          <h3>Our Philosophy</h3>
          <!-- <h4>Few Words About Us</h4> -->
          <p style="text-align: justify;">IDEAL MONEY EXCHANGE PVT. LTD (RBI approved money exchanger) is now a well known brand amongst its client
            base and the entire travel fraternity.In another leap towards providing complete travel solutions, we bring
            to you IDEAL JUNGLE SAFARIS, the perfect way to explore wildlife. Placed in a city like Nagpur, which has
            put itself on the map of wildlife tourism in a big way, it seemed like the need of the hour to have a
            separate wildlife tourism segment to provide better travel solutions.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature">
          <i class="">3</i>
          <p style="text-align: justify;">
            Owing to its geographical placement, Nagpur has gained a status of The TIGER CAPITAL of the country, with Five major Tiger reserves, PENCH, TADOBA, NAGZIRA, KANHA and BANDHAVGARH.
            Nagpur is drawing wildlife enthusiasts from all over the world.
          </p>
          
          <br>
        </div>
      </div> 
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature">
          <i class="">4</i>
          <p style="text-align: justify;">
            IDEAL JUNGLE SAFARIS has put together a team of highly motivated travel experts who share a passion for wildlife tourism. We, at Ideal, believe in paying attention to details and carefully monitoring every booking made with us to make sure your experience is enjoyable and memorable. 
          </p>
          <p style="text-align: justify;">
            Providing you with the best discounted rates, tie ups with luxury hotels, putting you in touch with fleet owners for jungle safaris with permitted entry into the parks and well informed naturalists to accompany you on your rounds inside the park. IDEAL JUNGLE SAFARIS will ensure that your holiday is hassle free and full of adventure.
          </p>
          <br>
        </div>
      </div>
    </div>
  <hr>
  <div class="main_title">
    <h2>What <span>customers </span>says</h2>
    <!-- <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p> -->
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="review_strip">
        <img src="assets/img/ideal/Testimonial/upasani.jpg" width="68px;" height="68px;" alt="Image" class="rounded-circle">
        <h4>Ninad Upasani</h4>
        <p>
          "Very Good service from Ideal Jungle Safari. Great cooperation from the staff especially from Sudha mam. Resort was nice & clean. Food quality & service at resort was excellent. Safari was also great.
          <br>Thank you Ideal!!!" 
        </p>
        <div class="rating">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
        </div>
      </div>
      <!-- End review strip -->
    </div>

    <div class="col-lg-6">
      <div class="review_strip">
        <img src="assets/img/ideal/Testimonial/tina.jpg" width="68px;" height="68px;" alt="Image" class="rounded-circle">
        <h4>Tina Agrawal</h4>
        <p>
          "Nice Location and ambience, food is also good. Extra large suites with all amenities.Super Guide .Lots Playing game.Very Good Services.Suggest to every Bookyour safari plan to IDEAL JUNGLE SAFARI."
        </p>
        <div class="rating">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
        </div>
      </div>
      <!-- End review strip -->
    </div>
  </div>
  <!-- End row -->
  <div class="row">
    <div class="col-lg-6">
      <div class="review_strip">
        <img src="assets/img/ideal/Testimonial/ashish.jpg" width="68px;" height="68px;" alt="Image" class="rounded-circle">
        <h4>Ashish Akhande</h4>
        <p>
          "We recently visited Ranthambhore National Park booked via Ideal Jungle Safari...Amazing hospitality there... Frankly Saying that beyong our expectations...Heartly thanks IDEAL..."
        </p>
        <div class="rating">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
        </div>
      </div>
      <!-- End review strip -->
    </div>

   
  </div>
  <!-- End row -->
  <hr>
  <div class="row">
    <div class="col-md-6">
        <img src="assets/img/ideal/logo_safari.jpg" alt="Laptop" class="img-fluid laptop" style="margin-top:-50px">
    </div>
    <div class="col-md-6">
        <h3><span>Get started</span> with Ideal Jungle Safari</h3>
        <ul class="list_order">
            <li><span>1</span>Select your preferred Jungle Safari</li>
            <li><span>2</span>Purchase tickets and Select  options</li>
            <li><span>3</span>Pick them directly from your Location</li>
        </ul>
        <a href="javascript:void(0)" class="btn_1">Book now</a>
    </div>
</div>

  </div>
  


</main>
<!-- End main -->