<main class="listpage-margin">
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>tours-list</li>
            </ul>
        </div>
    </div>
    <!-- Position -->
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->



    <div class="container margin_30">
        <div class="row">
            <aside class="col-lg-3">
                <p>
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
                        aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on
                        map</a>
                </p>
                <!-- <div class="box_style_cat">
                        <ul id="cat_nav" >
                            <li  *ngFor="let TourType of arrTourType">
                                <a href="#" id="active"><i class="{{TourType.Icon}}" style="font-size: x-large"></i>   {{TourType.Name}} <span>({{TourType.ActivityCount}})</span></a>
                            </li>
                        </ul>
                    <div class="styled-select-cat">
                        <select id="mobileMenu_cat_nav" class="mobileMenu" style="display: none;">
                            <option value="">Filter by category</option>
                            <option value="#" *ngFor="let TourType of arrTourType">
                                    {{TourType.Name}} ({{TourType.ActivityCount}})
                            </option>
                           </select>
                        </div>
                    </div> -->
                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false"
                        aria-controls="collapseFilters" id="filters_col_bt"><i
                            class="icon_set_1_icon-65"></i>Filters</a>
                    <div class="collapse show" id="collapseFilters">
                        <div class="filter_type">
                            <h6>Category</h6>
                            <ul>
                                <li *ngFor="let TourType of arrTourType">
                                    <mat-checkbox (click)="ActivityFilter('T',TourType.Name)">&nbsp;<i
                                            class="{{TourType.Icon}}"
                                            style="font-size: x-large">&nbsp;</i>{{TourType.Name}}&nbsp;&nbsp;({{TourType.ActivityCount}})
                                    </mat-checkbox>
                                </li>
                            </ul>

                        </div>
                        <div class="filter_type">
                            <h6>Price</h6>
                            <input type="text" class="price_range" />
                            <!-- <mat-slider
                                [displayWith]="formatLabel"
                                class="example-margin"
                                tickInterval="1000"
                                [min]="price.MinPrice"
                                thumbLabel="true"
                                [max]="price.MaxPrice" step="10">
                            </mat-slider> -->
                        </div>
                    </div>
                    <!--End collapse -->
                </div>
                <!--End filters col-->
                <app-help></app-help>
            </aside>
            <!--End aside -->
            <div class="col-lg-9">

                <div id="tools">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="styled-select-filters">
                                <select name="sort_rating" id="sort_rating" (change)="setOrder('TotalPrice')">
                                    <option value="" selected="">Sort by Price</option>
                                    <option value="lower">ascending </option>
                                    <option value="higher">descending</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-6">
                            <div class="styled-select-filters">
                                <select name="sort_rating" id="sort_rating" (change)="setOrder('Name')">
                                    <option value="" selected="">Sort by Name</option>
                                    <option value="lower"> ascending order</option>
                                    <option value="higher">descending order</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-4 d-none d-sm-block text-right">
                            <button class="btn_1 grey" data-toggle="collapse" href="#collapseModify"
                                aria-expanded="false" aria-controls="collapseModify" data-text-swap="Hide Search"
                                data-text-original="Modify Search"><i class="icon-search"></i> Modify Search </button>
                        </div>
                    </div>
                </div>

                <!-- Position -->
                <div class="collapse" id="collapseModify">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tours">
                            <app-search [objTour]="objTour"></app-search>
                        </div>
                    </div>
                </div>
                <!-- End Map -->
                <!--/tools -->
                <div class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s" *ngIf="arrFilter.length ==0">
                    <p style="text-align: center">No Tours Found</p>
                </div>
                <div class="strip_all_tour_list wow fadeIn" attr.data-wow-delay="0.{{ i + 7}}s"
                    *ngFor="let tour of arrFilter | paginate: { itemsPerPage: 10, currentPage: page } | orderBy: order:reverse:'case-insensitive';let i= index ">

                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="ribbon_3">
                                <span>Popular</span>
                            </div>
                            <app-addwish [ProductType]="1" [ProdcutDetails]="tour"></app-addwish>
                            <div class="img_list">
                                <a style="cursor: pointer" (click)="showTourDetails(tour)"
                                    *ngIf="tour.ListImage.length!=0">
                                    <img src="{{tour.ListImage.Url}}" onError="this.src='assets/img/no-image.png'"
                                        alt="Image">
                                    <div class="short_info">
                                        <i *ngIf=" tour.List_Type.length>=1 " class="{{tour.List_Type[0].Icon}}"
                                            title="{{tour.List_Type[0].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=2" class="{{tour.List_Type[1].Icon}}"
                                            title="{{tour.List_Type[1].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=3" class="{{tour.List_Type[2].Icon}}"
                                            title="{{tour.List_Type[2].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=4" class="{{tour.List_Type[3].Icon}}"
                                            title="{{tour.List_Type[3].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=5" class="{{tour.List_Type[4].Icon}}"
                                            title="{{tour.List_Type[4].Name}}"></i>
                                    
                                    </div>
                                </a>
                                <a href="javascript:void();" *ngIf="tour.ListImage.length==0 ">
                                    <img src="assets/img/no-image.png" alt="Image">
                                    <div class="short_info">
                                        <i *ngIf=" tour.List_Type.length>=1 " class="{{tour.List_Type[0].Icon}}"
                                            title="{{tour.List_Type[0].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=2" class="{{tour.List_Type[1].Icon}}"
                                            title="{{tour.List_Type[1].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=3" class="{{tour.List_Type[2].Icon}}"
                                            title="{{tour.List_Type[2].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=4" class="{{tour.List_Type[3].Icon}}"
                                            title="{{tour.List_Type[3].Name}}"></i>
                                        <i *ngIf="tour.List_Type.length>=5" class="{{tour.List_Type[4].Icon}}"
                                            title="{{tour.List_Type[4].Name}}"></i>
                                        <span class="price"><sup>{{tour.CurrencyClass}} </sup>{{tour.TotalPrice}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="tour_list_desc">
                                <app-reviewratings [ProductType]="'A'" [ProdcutID]="tour.ActivityID">
                                </app-reviewratings>
                                <h3 class="pointer" (click)="showTourDetails(tour)"><strong>{{tour.Name}}</strong>
                                    <br /> <small style="text-transform:initial"><span><i class="pe-7s-map-2"></i>
                                            {{(tour.LocationDetail.LocationName.length>45)? (tour.LocationDetail.LocationName | slice:0:45)+'..':(tour.LocationDetail.LocationName)}}</span>
                                            
                                        </small>
                                </h3>
                                <p
                                    [innerHtml]="(tour.Description.length>200)? (tour.Description | slice:0:200)+'..':(tour.Description)">
                                </p>
                                <ul class="add_info">
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Schedule</h4>

                                                <strong
                                                    ng-if="tour.OperationDays.Closing == null ;tour.OperationDays.indexOf(Daily) == -1">Monday
                                                    to Friday</strong>
                                                {{tour.Opening }} - {{tour.Closing}}
                                                <br>
                                                <strong>{{tour.Closing}}</strong> <span *ngIf="tour.Closing != null"
                                                    class="label label-danger">Closed</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Address</h4> {{tour.LocationDetail?.LocationName}} - {{tour.City}}
                                                <br>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tooltip_styled tooltip-effect-4">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-97"></i></span>
                                            <div class="tooltip-content">
                                                <h4>Languages</h4> English - French - Chinese - Russian - Italian
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-27"></i></span>
                                <div class="tooltip-content">
                                    <h4>Parking</h4> 1-3 Rue Elisée Reclus
                                    <br> 76 Rue du Général Leclerc
                                    <br> 8 Rue Caillaux 94923
                                    <br>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tooltip_styled tooltip-effect-4">
                                <span class="tooltip-item"><i class="icon_set_1_icon-25"></i></span>
                                <div class="tooltip-content">
                                    <h4>Transport</h4>
                                    <strong>Metro: </strong>Musée du Louvre station (line 1)
                                    <br>
                                    <strong>Bus:</strong> 21, 24, 27, 39, 48, 68, 69, 72, 81, 95
                                    <br>
                                </div>
                            </div>
                        </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            
                            <div class="price_list">
                                <div>
                                   
                                    <sup>{{tour.CurrencyClass}} <br />{{tour.TotalPrice}}</sup>
                                    <small>*Per person</small>
                                    <p>
                                        <a   href="javascript:void(0);" class="btn_1"
                                            (click)="getTourType(tour.ActivityID,tour.Name,i)">Book</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mySidenav{{i}}" class="sidenav">
                        <div class="slide-div">
                        <div id="tools" class="padding15">
                            <h5 class="thintext_dark nomargin_bottom">{{tour.Name}}<a class="float-right icon_set_1_icon-77"
                                    href="javascript:void(0)"  (click)="closenav(i)" ></a></h5>
                        </div>
                        <app-tourwizard [sighseeing]="tour" [Date]="Date" [sequence]="i">
                        </app-tourwizard>
                    </div>
                    </div>
                </div>
                <!--End strip -->
                <hr>
                <div class="has-text-centered">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
                <!-- end pagination-->
            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
    <ngx-ui-loader></ngx-ui-loader>
</main>
