<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label><i class="icon_set_1_icon-41 font15"></i> City Name</label>
      <input matInput placeholder="Search" [(ngModel)]="objTraveller.Location" aria-label="State"
        [matAutocomplete]="auto" [formControl]="searchMoviesCtrl"
        style="height: 40px !important;display: block;width: 100%;padding: .375rem .75rem;font-size: 12px;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
      <!-- [displayWith]="displayFn" -->
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let Name of hotelcity" [value]="Name.value" (onSelectionChange)="selectedCity(Name)">
            <span>{{Name.value}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label><i class="icon-calendar-7"></i>Check-in - Check-out</label><br>
      <input type="text" matInput class="form-control" ngxDaterangepickerMd
        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" startKey="start" endKey="end" [autoApply]="true"
        [opens]="opens" [minDate]="minDate" [drops]="drops" (click)="click()" [lockStartDate]="false"
        [showDropdowns]="true" [closeOnAutoApply]="true" [(ngModel)]="objTraveller.Date" name="daterange"
        (change)="change($event)" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="form-group travellers-class">
      <label><i class="pe-7s-users font15"></i> Travellers</label>
      <input type="text" id="HotelTravellersClass" [(ngModel)]="Guests" class="travellers-class-input form-control"
        placeholder="1 Room, 1 Guests">
      <div class="travellers-dropdown" id="HotelTravellers">
        <app-traveller [Traveller]="Traveller" (setGuests)="Guest($event)"></app-traveller>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label><i class="icon-flag-empty"></i> Nationality</label>
      <input matInput placeholder="" #Nationality name="Nationality" [(ngModel)]="objTraveller.Nationality" class=""
        aria-label="Nationality" [matAutocomplete]="nationalityauto" [formControl]="nationalityCtrl"
        style="height: 40px !important;display: block;width: 100%;padding: .375rem .75rem;font-size: 12px;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
      <mat-autocomplete #nationalityauto="matAutocomplete">
        <mat-option *ngFor="let Country of arrCountry | async" [value]="Country.Countryname">
          <span> <img with="20" height="20" src="../../../assets/img/flag/{{Country.Countryname | lowercase}}.gif">
            {{Country.Countryname}}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
    <!-- <div class="form-group">
      <label><i class="icon-flag-empty"></i> Nationality</label>
      <mat-select class="dd-selected" name="" [(value)]="selected" [(ngModel)]="objTraveller.Nationality">
        <mat-option *ngFor="let Country of arrCountry" [value]="Country.Countryname">
          <img with="20" height="20" src="../../../assets/img/flag/{{Country.Countryname | lowercase}}.gif">
          <label class="dd-option-text" style="line-height: 45px;    margin-left: 5px;">
            {{ Country.Countryname}}</label>
        </mat-option>
      </mat-select>
    </div> -->
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <button class="btn_1 green" style="margin-top: 32px;" (click)="SearchHotelParams()">Search</button>
    </div>
  </div>
</div>