<!--The content below is only a placeholder and can be replaced.-->
<div class="layer"></div>
<!-- Clickurtrip Header -->
<app-click-header *ngIf="AdminCode == 'CUT'" [login]="login" (loginDialog)="openDialog()"
    (RegtrDialog)="RegisterDialog()" (_logout)="signout()">
</app-click-header>

<!-- Trivo Header -->
<app-trivo-header *ngIf="AdminCode == 'TRIVO'" [login]="login" (loginDialog)="openDialog()"
    (RegtrDialog)="RegisterDialog()" (_logout)="signout()">
</app-trivo-header>

<app-cennin-header *ngIf="AdminCode == 'CENNIN'" [login]="login" (loginDialog)="openDialog()"
    (RegtrDialog)="RegisterDialog()" (_logout)="signout()">
</app-cennin-header>


<app-exotics-header *ngIf="AdminCode == 'EXCO'" [login]="login" (loginDialog)="openDialog()"
    (RegtrDialog)="RegisterDialog()" (_logout)="signout()"></app-exotics-header>

<app-meetme-header *ngIf="AdminCode == 'MEETME'" [login]="login" (loginDialog)="openDialog()"
    (RegtrDialog)="RegisterDialog()" (_logout)="signout()"></app-meetme-header>

<app-hi5fly-header *ngIf="AdminCode == 'HIFI'" [login]="login" (loginDialog)="openDialog()"
    (RegtrDialog)="RegisterDialog()" (_logout)="signout()"></app-hi5fly-header>

<app-idealjungle-header *ngIf="AdminCode == 'IDEALJ'"  [login]="login" (loginDialog)="openDialog()"
(RegtrDialog)="RegisterDialog()" (_logout)="signout()"></app-idealjungle-header>
    


<app-travel-header *ngIf="AdminCode == 'TSP'" [login]="login" (loginDialog)="openDialog()">
</app-travel-header>
<router-outlet></router-outlet>

<app-click-footer *ngIf="AdminCode == 'CUT'"></app-click-footer>
<app-trivo-footer *ngIf="AdminCode == 'TRIVO'"></app-trivo-footer>
<app-cennin-footer *ngIf="AdminCode == 'CENNIN'"></app-cennin-footer>
<app-exotics-footer *ngIf="AdminCode == 'EXCO'"></app-exotics-footer>
<app-meetme-footer *ngIf="AdminCode =='MEETME'"></app-meetme-footer>
<app-travel-footer *ngIf="AdminCode == 'TSP'"></app-travel-footer>
<app-hi5fly-footer *ngIf="AdminCode == 'HIFI'"></app-hi5fly-footer>
<app-idealjungle-footer *ngIf="AdminCode == 'IDEALJ'"></app-idealjungle-footer>

<!-- <h2 *ngIf="sessionTimer.remainSeconds$ | async; let time">Session Remains {{time}} seconds.</h2> -->
<!-- End footer -->
<div id="toTop"></div>
<!-- Search Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
    <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit">
            <i class="icon_set_1_icon-78"></i>
        </button>
    </form>
</div><!-- End Search Menu -->

<!-- <circle-progress [percent]="75" [radius]="50" [renderOnClick]="false" [outerStrokeWidth]="7" [innerStrokeWidth]="4"
    [outerStrokeColor]="'#faaa05'" [space]="7" [innerStrokeColor]="'#fdd802'">
</circle-progress> -->

<!-- <app-user></app-user> -->

<!-- <session-expiration-alert [alertAt]="alertAt" [startTimer]="startTimer"></session-expiration-alert> -->