<main>
  <section id="hero" class="login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
          <div id="login">
            <div class="text-center"><img src="{{UrlService.logo}}" class="login-logo" alt="Image" data-retina="true"></div>
            <hr>
            <form [formGroup]="signin" (ngSubmit)="getUserlogin()">
              <div class="form-group">
                <label>Username</label>
                <input type="email" formControlName="UserName" placeholder="User Name" required class="form-control"
                  [(ngModel)]="sUserName" id="email" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">
                <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                  <div *ngIf="f.UserName.errors.required">This field is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Password" formControlName="Password" class="form-control"
                  name="sPassword" [(ngModel)]="sPassword" value=""
                  [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                  <div *ngIf="f.Password.errors.required">This field is required</div>
                </div>
              </div>
              <p class="small">
                <a href="javascript:void(0);" (click)="ForgotDialog()">Forgot Password?</a>
              </p>
              <button type="button" class="btn_full" disabled *ngIf="loading"><i
                  class=" icon-spin6 animate-spin font18"></i></button>
              <input type="submit" value="Sign in" class="btn_full" *ngIf="!loading">
              <div class="text-center">
                Don’t have an account? <a [routerLink]="['/agent-register']">Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End main -->