<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/ideal/home_bg_2.jpg" data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>contact us</h1>
		</div>
	</div>
</section>

<main>
      <div class="container margin_60">
        <div class="row">
          <div class="col-md-8">
            <div class="form_title">
              <h3><strong><i class="icon-pencil"></i></strong>Fill the form below</h3>
            </div>
            <div class="step">
  
              <div id="message-contact"></div>
              <form [formGroup]="contactfrm" (ngSubmit)="CheckValidation()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <input type="text" autocomplete="off" formControlName="Firstname" required [(ngModel)]="contact.Firstname" placeholder="Enter First Name"  formControlName="Firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Firstname.errors }">
                        <div *ngIf="submitted && f.Firstname.errors" class="invalid-feedback">
                          <div *ngIf="f.Firstname.errors.required">First Name is required</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" autocomplete="off" formControlName="Lastname" required [(ngModel)]="contact.Lastname" placeholder="Enter Last Name"  formControlName="Lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Lastname.errors }">
                        <div *ngIf="submitted && f.Lastname.errors" class="invalid-feedback">
                          <div *ngIf="f.Lastname.errors.required">Last Name is required</div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- End row -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" autocomplete="off" name="Email" [(ngModel)]="contact.Email" placeholder="Enter Email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                          <div *ngIf="f.Email.errors.required">Email is required</div>
                            <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" autocomplete="off" formControlName="Phone" required [(ngModel)]="contact.Phone" placeholder="Enter Phone number"  formControlName="Phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }">
                      <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                        <div *ngIf="f.Phone.errors.required">Phone No is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Message</label>
                      <textarea rows="5"  autocomplete="off" formControlName="Message" required [(ngModel)]="contact.Message" placeholder="Write your message"  formControlName="Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Message.errors }"></textarea>
                      <div *ngIf="submitted && f.Message.errors" class="invalid-feedback">
                        <div *ngIf="f.Message.errors.required">Message is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <input type="submit" value="Submit" class="btn_1">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- End col-md-8 -->
  
          <div class="col-md-4">
            <div class="box_style_1">
              <!-- <span class="tape"></span>
              <h4>Address <span><i class="icon-pin pull-right"></i></span></h4>
              <p>
                Hi5Fly Diamond Hills
                <br> Colony Tolichowki
               <br> Hyderabad 500008.
              </p>

              <hr> -->
              <h4>Help center <span><i class="icon-help pull-right"></i></span></h4>
              <ul id="contact-info">
                <li>91 7030167865</li>
                <br>
                <h6>Email</h6>
                <li><a href="javascript:void();">david@idealjunglesafaris.com</a>
                </li>
                <br>
                <li><a href="javascript:void();">idealjunglesafaris@gmail.com</a>
                </li>
              </ul>
            </div>
              <app-help></app-help>
          </div>
          <!-- End col-md-4 -->
        </div>
        <!-- End row -->
       
      </div>
      <!-- End container -->
      <!-- <div id="map_contact" class="contact_2" style="margin-top: 2px;"></div> -->
      <div id="directions">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <form action="http://maps.google.com/maps" method="get" target="_blank">
                <div class="input-group">
                  <input type="text" name="saddr" placeholder="Enter your starting point" class="form-control style-2" />
                  <input type="hidden" name="daddr" value="New York, NY 11430" />
              
                  <span class="input-group-btn">
                    <button class="btn" type="submit" value="Get directions" style="margin-left:0;">GET DIRECTIONS</button>
                  </span>
                </div>
            
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
         
    <!-- End main -->
