<main>
  <br><br><br>
  <div class="container margin_60">
    <br><br>
    <p class="terms">We are a western owned and managed travel technologies company based in United Arab Emirates with
      an office in
      CIS and Africa.</p>

    <p class="terms">
      Because of our local presence, our customers get the best of both worlds – the lowest prices available for
      Flight, hotels, cars with the highest levels of quality. Just compare us with our competition for any of our
      travel products.
    </p>

    <div class="row">
      <div class="col-lg-6">
        <h4>MISSION</h4>
        <p class="terms">
          To function with the corporate philosophy of excellence in every endeavour, to create impeccable service
          levels that will prove to be the corporate mantra for other industry players to emulate, to stay abreast of
          technology; and to be one step ahead in the deliverables that Uranus offers.
        </p>
        <h4>VISION</h4>
        <p class="terms">
          To emerge as leaders and steer from the forefront of the Travel and Tourism industry, setting benchmarks that
          will help us raise the bar constantly, never choosing to rest on past laurels.
        </p>
      </div>

      <div class="col-lg-6">
        <h4>VALUES</h4>
        <ul>
          <li>Understanding the client needs and ensuring wholesome satisfaction of the customer </li>
          <li>Offering service levels that are par excellence</li>
          <li>Catering to the bespoke needs of the customer</li>
          <li>Introducing innovations that will lend enhanced value to the customer</li>
          <li>Constantly upgrading our bouquet of services to cater to changing market needs</li>
          <li>Using the most contemporary technology to ameliorate customer-experience</li>
          <li>Serving as a one-stop shop for all client needs</li>
          <li>Using Awards not as a destination reached, but as a milestone in the continuing journey towards further
            achievements</li>
        </ul>
      </div>
    </div>
    <!-- End row -->
  </div>
</main>
<!-- End main -->