<app-cennin-termsandcondition *ngIf="AdminCode=='CENNIN'"></app-cennin-termsandcondition>

<app-exotics-termsandconditions *ngIf="AdminCode=='EXCO'"></app-exotics-termsandconditions>

<app-tripser-terms-and-conditions *ngIf="AdminCode=='TRIVO'"></app-tripser-terms-and-conditions>