<br><br><br>
<main style="margin-bottom: 355px;">
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a>
				</li>
				<li><a href="#">Category</a>
				</li>
				<li>Page active</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->
	<div class="margin_60 container">
		<div id="tabs" class="tabs">
			<nav>
				<ul>
					<!-- <li class=""><a href="/bookings" class="icon-booking"><span>Bookings</span></a>
						</li> -->
					<li class="tab-current"><a [routerLink]="['/wishlist']"
							class="icon-wishlist"><span>Wishlist</span></a>
					</li>
					<li class=""><a [routerLink]="['/changepassword']" class="icon-settings"><span>Settings</span></a>
					</li>
					<li class=""><a *ngIf="!isb2b" [routerLink]="['/profile']"
							class="icon-profile"><span>Profile</span></a>
						<a *ngIf="isb2b" [routerLink]="['/agent-profile']" class="icon-profile"><span>Profile</span></a>
					</li>
					<li class="" *ngIf="isb2b">
						<a [routerLink]="['/agent-markup']" class="icon-booking"><span>Markup</span></a>
					</li>
				</ul>
			</nav>
			<div class="content">
				<!-- End section 1 -->
				<section id="section-2" class="content-current">
					<div class="strip_booking" *ngIf="tours.length ==0  && Package.length ==0">
						<p style="text-align: center">No Wishlist Found</p>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s" *ngFor="let tour of tours">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span></div>
								<div class="img_container">
									<a style="cursor: pointer" (click)="showTourDetails(tour)">
										<img src="{{tour.ListImage.Url}}" width="800" height="533" class="img-fluid"
											alt="Image">
										<div class="short_info">
											<div *ngFor="let Type of tour.List_Type">
												<i class="{{Type.Icon}}" title="{{Type.Name}}"></i>
											</div>
											<span class="price"><sup>{{tour.CurrencyClass}}
												</sup>{{tour.TotalPrice}}</span>
										</div>
									</a>
								</div>
								<div class="tour_title">
									<h3 class="pointer" (click)="showTourDetails(tour)"><strong>{{tour.Name}}</strong>
									</h3>
									<app-reviewratings [ProdcutID]="tour.ActivityID" [ProductType]="'A'">
									</app-reviewratings>
									<div class="wishlist_close" (click)="RemoveWish(1,tour.ID)">-</div>
									<!-- <app-addwish [ProductType]="1" [ProdcutDetails]="tour"></app-addwish> -->
								</div>
							</div><!-- End box tour -->
						</div><!-- End col -->
					</div><!-- End row -->
					<div class="row">
						<div class="col-lg-4 col-md-6 wow zoomIn" attr.data-wow-delay="0.{{i+1}}s"
							*ngFor="let package of Package">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span></div>
								<div class="img_container">
									<a href="package-details?ID={{package.Packageid}}">
										<img [src]="package.Images[0].Url" width="800" style="height: 200px;"
											class="img-fluid" alt="Image">
										<div class="short_info">
											<span *ngIf="package.Category.length>0"
												class="price"><sup>{{package.Category[0].sCurrency}}</sup>{{package.MinPrice}}</span>
										</div>
									</a>
								</div>
								<div class="tour_title">
									<h3 class="pointer"><a href="package-details?ID={{package.Packageid}}"></a>
										<strong>{{package.PackageName}}</strong></h3>
									<app-reviewratings [ProdcutID]="package.Packageid" [ProductType]="'P'">
									</app-reviewratings>
									<div class="wishlist_close" (click)="RemoveWish(2,package.ID)">-</div>
								</div>
							</div><!-- End box tour -->
						</div><!-- End col -->
					</div><!-- End row -->
				</section>
				<!-- End section 2 -->
			</div>
			<!-- End content -->
		</div>
		<!-- End tabs -->
	</div>
	<!-- end container -->
</main>