<div class="container" style="margin-top: 120px;" id="register">
  <form [formGroup]="AgentRegform" (ngSubmit)="Save()">
    <div class="card" id="register_card">
      <div class="card-body">
        <h4>Company Details
          <!-- <span style="float: right;">
            <circle-progress [percent]="85" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
              [backgroundPadding]="0" [titleFontSize]="10" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
              [animation]="true" [animationDuration]="300">
            </circle-progress>
          </span> -->
        </h4>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Company Trading Name</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.TradingName" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.tradingName.errors }" formControlName="tradingName" required
                class="form-control">
              <div *ngIf="submitted && f.tradingName.errors" class="invalid-feedback">
                <div *ngIf="f.tradingName.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Company Legal Name</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.LegalName" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.legalName.errors }" formControlName="legalName"
                class="form-control">
              <div *ngIf="submitted && f.legalName.errors" class="invalid-feedback">
                <div *ngIf="f.legalName.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Company Email</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.UserName" autocomplete="off" [readonly]="logedin"
                [ngClass]="{ 'is-invalid': submitted && f.companyMail.errors }" formControlName="companyMail" required
                class="form-control">
              <div *ngIf="submitted && f.companyMail.errors" class="invalid-feedback">
                <div *ngIf="f.companyMail.errors.required">this field is required</div>
                <div *ngIf="f.companyMail.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Telephone</label><sup></sup>
              <input type="text" [(ngModel)]="compPhone" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.compTelephone.errors }" formControlName="compTelephone"
                class="form-control">
              <div *ngIf="submitted && f.compTelephone.errors" class="invalid-feedback">
                <div *ngIf="f.compTelephone.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Website URL</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.Website" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.compWeb.errors }" formControlName="compWeb"
                class="form-control">
              <div *ngIf="submitted && f.compWeb.errors" class="invalid-feedback">
                <div *ngIf="f.compWeb.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Building / Shop</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.Address.BuildingShop" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.buildingshop.errors }" formControlName="buildingshop" required
                class="form-control">
              <div *ngIf="submitted && f.buildingshop.errors" class="invalid-feedback">
                <div *ngIf="f.buildingshop.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Street</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.Address.Street" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.street.errors }" formControlName="street" required
                class="form-control">
              <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                <div *ngIf="f.street.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Landmark</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.Address.Landmark" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.compLandmark.errors }" formControlName="compLandmark"
                class="form-control">
              <div *ngIf="submitted && f.compLandmark.errors" class="invalid-feedback">
                <div *ngIf="f.compLandmark.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Country </label><sup>*</sup>
              <select class="form-control" placeholder="Select Country" (ngModelChange)="selectedCountry($event)"
                [(ngModel)]="Registration.CompanyDetails.Address.Country"
                [ngClass]="{ 'is-invalid': submitted && f.companycountry.errors }" formControlName="companycountry"
                required>
                <option *ngFor="let Country of arrCountry" [value]="Country.Countryname">
                  <span>{{ Country.Countryname}}</span>
                </option>
              </select>
              <div *ngIf="submitted && f.companycountry.errors" class="invalid-feedback">
                <div *ngIf="f.companycountry.errors.required"> this field is required</div>
              </div>
              <!-- <mat-select placeholder="Select Country" [(ngModel)]="Registration.CompanyDetails.Address.Country"
            [ngClass]="{ 'is-invalid': submitted && companycountry.errors }" [formControl]="companycountry"
            class="form-control" required>
            <mat-option *ngFor="let Country of arrCountry" [value]="Country.Countryname"
              (click)="selectedCountry(Country.Country)">
              <img with="20" height="20" src="../../../assets/img/flag/{{Country.Countryname | lowercase}}.gif">
              <label class="dd-option-text" style="line-height: 45px; margin-left: 5px;">
                {{ Country.Countryname}}</label>
            </mat-option>
          </mat-select>
          <div class="invalid-feedback" *ngIf="companycountry.hasError('required')">Please choose an Country</div> -->
            </div>
          </div>

          <div class="col-md-4" *ngIf="showState">
            <div class="form-group">
              <label>State </label><sup>*</sup>
              <select class="form-control" [(ngModel)]="Registration.CompanyDetails.Address.State"
                [ngClass]="{ 'is-invalid': submitted && f.companystate.errors }" formControlName="companystate"
                required>
                <option *ngFor="let state of arrStates" [value]="state.SateName">
                  <span>{{ state.SateName }}</span>
                </option>
              </select>
              <div *ngIf="submitted && f.companystate.errors" class="invalid-feedback">
                <div *ngIf="f.companystate.errors.required"> this field is required</div>
              </div>
              <!-- <mat-select placeholder="Select State" [(ngModel)]="Registration.CompanyDetails.Address.State">
            <mat-option *ngFor="let state of arrStates" [value]="state.SateName">
              <label class="dd-option-text" style="line-height: 45px; margin-left: 5px;">
                {{ state.SateName }}
              </label>
            </mat-option>
          </mat-select> -->
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>City </label><sup>*</sup>
              <select class="form-control" placeholder="Select City" [(ngModel)]="City"
                [ngClass]="{ 'is-invalid': submitted && f.companycity.errors }" formControlName="companycity" required>
                <option *ngFor="let city of arrCity" [value]="city.Description">
                  <span>{{ city.Description }}</span>
                </option>
              </select>
              <div *ngIf="submitted && f.companycity.errors" class="invalid-feedback">
                <div *ngIf="f.companycity.errors.required"> this field is required</div>
              </div>
              <!-- <mat-select placeholder="Select City" [(ngModel)]="Registration.CompanyDetails.Address.City"
            [ngClass]="{ 'is-invalid': submitted && f.companycity.errors }" formControlName="companycity"
            required>
            <mat-option *ngFor="let city of arrCity" [value]="city.Description">
              <label class="dd-option-text" style="line-height: 45px; margin-left: 5px;">
                {{ city.Description }}</label>
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.companycity.errors" class="invalid-feedback">
            <div *ngIf="f.companycity.errors.required"> this field is required</div>
          </div> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Pin Code / Zip Code</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.Address.PinCode" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" formControlName="zipCode" required
                class="form-control">
              <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                <div *ngIf="f.zipCode.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="showPan">
            <div class="form-group">
              <label>PAN No</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.TaxationDetails.CompanyPanNo" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.panNo.errors }" formControlName="panNo" required
                class="form-control">
              <div *ngIf="submitted && f.panNo.errors" class="invalid-feedback">
                <div *ngIf="f.panNo.errors.required"> this field is required</div>
                <div *ngIf="f.panNo.errors.pattern">
                  Pan no. is not valid formate!
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="showPan">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Upload Pan Card</label><sup></sup>
                  <br>
                  <button type="button" mat-raised-button (click)="Pancard.click()"><span
                      class="pe-7s-cloud-upload"></span>
                    Choose File</button>
                  <input hidden accept=".png, .jpg, .jpeg, .pdf" (change)="onFileSelected($event, 'Pancard',0)" #Pancard
                    type="file">
                </div>
              </div>
              <div class="col-md-7" *ngIf="Registration.TaxationDetails.PanDocumentLink">
                <img style="height: 76px; width: 152px;" *ngIf="!panFile"
                  [src]="Registration.TaxationDetails.PanDocumentLink" alt="Pan Card">
                <span *ngIf="panFile">
                  <img style="height: 50px" src="assets/img/pdf_image.png" alt="Pan Card">
                  <br>
                  <span class="text-center">
                    {{panFile}}
                  </span>
                </span>
                <br>
                <div class="text-center">
                  <a href="javascript:void(0);" (click)="RemoveImage('Pancard',0)" class="text-center"><i
                      class="icon-trash"></i>Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h4 class="personal-title">Owner Details</h4>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>First Name</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.Owner.FirstName" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.ownerFirstname.errors }" formControlName="ownerFirstname"
                required class="form-control">
            </div>
            <div *ngIf="submitted && f.ownerFirstname.errors" class="invalid-feedback">
              <div *ngIf="f.ownerFirstname.errors.required"> this field is required</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Last Name</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.Owner.LastName" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.ownerLastname.errors }" formControlName="ownerLastname"
                class="form-control">
              <div *ngIf="submitted && f.ownerLastname.errors" class="invalid-feedback">
                <div *ngIf="f.ownerLastname.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Designation</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.Owner.Designation" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.ownerDesignation.errors }" formControlName="ownerDesignation"
                class="form-control">
              <div *ngIf="submitted && f.ownerDesignation.errors" class="invalid-feedback">
                <div *ngIf="f.ownerDesignation.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Email</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.Owner.Email" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.ownerEmail.errors }" formControlName="ownerEmail"
                class="form-control">
              <div *ngIf="submitted && f.ownerEmail.errors" class="invalid-feedback">
                <div *ngIf="f.ownerEmail.errors.required"> this field is required</div>
                <div *ngIf="f.ownerEmail.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Mobile</label><sup>*</sup>
              <input type="text" [(ngModel)]="Registration.Owner.Mobile" autocomplete="off" [readonly]="logedin"
                [ngClass]="{ 'is-invalid': submitted && f.ownerMobile.errors }" formControlName="ownerMobile"
                class="form-control">
              <div *ngIf="submitted && f.ownerMobile.errors" class="invalid-feedback">
                <div *ngIf="f.ownerMobile.errors.required"> this field is required</div>
                <div *ngIf="f.ownerMobile.errors.pattern">
                  Pan no. is not valid formate!
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Telephone</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.Owner.Phone" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.ownerPhone.errors }" formControlName="ownerPhone"
                class="form-control">
              <div *ngIf="submitted && f.ownerPhone.errors" class="invalid-feedback">
                <div *ngIf="f.ownerPhone.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h4>Company Registration Details</h4>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Registration Type</label><sup></sup>
              <select [(ngModel)]="Registration.CompanyDetails.RegistrationType"
                (ngModelChange)="onRegisteredSelect($event)" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.compRegisteredas.errors }" formControlName="compRegisteredas"
                class="form-control">
                <option *ngFor="let reg of Registered" [value]="reg.name">
                  <span>{{ reg.name }}</span>
                </option>
              </select>
              <div *ngIf="submitted && f.compRegisteredas.errors" class="invalid-feedback">
                <div *ngIf="f.compRegisteredas.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4" *ngIf="otherRegister">
            <div class="form-group">
              <label>Registration Type Name</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.OtherType" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.compRegisteredname.errors }"
                formControlName="compRegisteredname" class="form-control">
              <div *ngIf="submitted && f.compRegisteredname.errors" class="invalid-feedback">
                <div *ngIf="f.compRegisteredname.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Registration No</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.CompanyDetails.RegistrationNo" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.compRegisteredno.errors }" formControlName="compRegisteredno"
                class="form-control">
              <div *ngIf="submitted && f.compRegisteredno.errors" class="invalid-feedback">
                <div *ngIf="f.compRegisteredno.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Registration Date</label><sup></sup>
              <input type="search" [(ngModel)]="Registration.CompanyDetails.RegistrationDate" ngxDaterangepickerMd
                [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [closeOnAutoApply]="true" [maxDate]="maxDate"
                [showDropdowns]="true" [singleDatePicker]="singleDatePicker" [autoApply]="true" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.compRegistereddate.errors }"
                formControlName="compRegistereddate" class="form-control" (change)="changeRegDate($event)" />
              <div *ngIf="submitted && f.compRegistereddate.errors" class="invalid-feedback">
                <div *ngIf="f.compRegistereddate.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Document</label>
                  <br>
                  <button type="button" mat-raised-button (click)="Company.click()">
                    <span class="pe-7s-cloud-upload"></span> Choose File</button>
                  <input hidden (change)="onFileSelected($event, 'Company',0)" #Company type="file">
                </div>
              </div>
              <div class="col-md-7" *ngIf="Registration.CompanyDetails.DocumentLink">
                <img height="100" [src]="Registration.CompanyDetails.DocumentLink" *ngIf="!compFilename"
                  alt="Registration Document">
                <span *ngIf="compFilename">
                  <img style="height: 100px" src="assets/img/pdf_image.png" alt="Registration Document">
                  <br>
                  <span class="text-center">
                    {{compFilename}}
                  </span>
                </span>
                <br>
                <div>
                  <a href="javascript:void(0);" (click)="RemoveImage('Company',0)" class="text-center"><i
                      class="icon-trash"></i>Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h4>Taxation Details</h4>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Taxt Type</label><sup></sup>
              <select [(ngModel)]="Registration.TaxationDetails.TaxName" (change)="onTaxSelect($event.target.value)"
                autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.taxName.errors }" formControlName="taxName"
                class="form-control">
                <option *ngFor="let tax of arrTaxes" [value]="tax.Name">
                  <span>{{ tax.Name }}</span>
                </option>
              </select>
              <div *ngIf="submitted && f.taxName.errors" class="invalid-feedback">
                <div *ngIf="f.taxName.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group">
              <label>Taxt Code</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.TaxationDetails.TaxCode" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.taxCode.errors }" formControlName="taxCode"
                class="form-control">
              <div *ngIf="submitted && f.taxCode.errors" class="invalid-feedback">
                <div *ngIf="f.taxCode.errors.required"> this field is required</div>
              </div>
            </div>
          </div> -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Taxt Registration No</label><sup></sup>
              <input type="text" [(ngModel)]="Registration.TaxationDetails.TaxRegistrationNo" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.taxRegNo.errors }" formControlName="taxRegNo"
                class="form-control">
              <div *ngIf="submitted && f.taxRegNo.errors" class="invalid-feedback">
                <div *ngIf="f.taxRegNo.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Taxt Registration Date</label><sup></sup>
              <input type="text" class="form-control" ngxDaterangepickerMd autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.taxRegDate.errors }" formControlName="taxRegDate"
                [(ngModel)]="Registration.TaxationDetails.TaxRegistrationDate"
                [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [closeOnAutoApply]="true" [maxDate]="maxDate"
                [showDropdowns]="true" [singleDatePicker]="singleDatePicker" [autoApply]="true"
                (change)="changeTaxRegDate($event)" required />
              <div *ngIf="submitted && f.taxRegDate.errors" class="invalid-feedback">
                <div *ngIf="f.taxRegDate.errors.required"> this field is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Document</label>
                  <br>
                  <button type="button" mat-raised-button (click)="Tax.click()">
                    <span class="pe-7s-cloud-upload"></span> Choose File</button>
                  <input hidden (change)="onFileSelected($event, 'Tax',0)" #Tax type="file" id="file">
                </div>
              </div>
              <div class="col-md-3" *ngIf="Registration.TaxationDetails.DocumentLink">
                <img height="100" [src]="Registration.TaxationDetails.DocumentLink" *ngIf="!taxFilename"
                  alt="Tax Document">
                <span *ngIf="taxFilename">
                  <img style="height: 100px" src="assets/img/pdf_image.png" alt="Tax Document">
                  <br>
                  <span class="text-center">
                    {{taxFilename}}
                  </span>
                </span>
                <br>
                <div>
                  <a href="javascript:void(0);" (click)="RemoveImage('Tax',0)" class="text-center"><i
                      class="icon-trash"></i>Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h4>Other Details</h4>
        <hr>
        <div formArrayName="associate">
          <div class="row" [formGroupName]="i"
            *ngFor="let affilation of Registration.Affilation; let first=first; let last=last; let i=index">
            <!-- <div class="col-md-1">
          <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
            style="margin-top: 28px;">
            <mat-button-toggle *ngIf="last" (click)="onAffilationAdd(i)">+</mat-button-toggle>
            <mat-button-toggle *ngIf="Registration.Affilation.length>1" (click)="onAffilationRmv(i)">x
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div> -->
            <div class="col-md-4" *ngIf="AssSelected[i]!=='Other'">
              <div class="form-group">
                <label>Travel Association</label><sup>*</sup>
                <select class="form-control" [(ngModel)]="affilation.Name"
                  (change)="onAffilationSelect($event.target.value, i)" autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && getassociateFormGroup(i).controls['travelAssociation'].errors }"
                  formControlName="travelAssociation" class="form-control">
                  <option *ngFor="let associate of Affilation" [value]="associate.Name">
                    <span style="padding: 2px;">{{ associate.Name }}</span>
                  </option>
                </select>
                <div *ngIf="submitted && getassociateFormGroup(i).controls['travelAssociation'].errors"
                  class="invalid-feedback">
                  <div *ngIf="getassociateFormGroup(i).controls['travelAssociation'].errors.required"> this field
                    is
                    required</div>
                </div>
                <!-- <mat-select placeholder="Select Travel Association" [(ngModel)]="affilation.Name">
            <mat-option *ngFor="let associate of Affilation" [value]="associate.Name"
              (click)="onAffilationSelect(associate.Name, i)">
              <label class="dd-option-text" style="line-height: 45px; margin-left: 5px;">
                {{ associate.Name }}</label>
            </mat-option>
          </mat-select> -->
              </div>
            </div>
            <div class="col-md-4" *ngIf="AssSelected[i]==='Other'">
              <div class="form-group">
                <label>Registered Name</label><sup>*</sup>
                <input type="text" autocomplete="off" [(ngModel)]="affilation.Name"
                  [ngClass]="{ 'is-invalid': submitted && getassociateFormGroup(i).controls['travelAssociationName'].errors }"
                  formControlName="travelAssociationName" class="form-control">
              </div>
              <div *ngIf="submitted && getassociateFormGroup(i).controls['travelAssociationName'].errors"
                class="invalid-feedback">
                <div *ngIf="getassociateFormGroup(i).controls['travelAssociationName'].errors.required"> this
                  field
                  is
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Registered No</label><sup>*</sup>
                <input type="text" [(ngModel)]="affilation.Number"
                  [ngClass]="{ 'is-invalid': submitted && getassociateFormGroup(i).controls['travelAssociationNo'].errors }"
                  formControlName="travelAssociationNo" class="form-control">
                <div *ngIf="submitted && getassociateFormGroup(i).controls['travelAssociationNo'].errors"
                  class="invalid-feedback">
                  <div *ngIf="getassociateFormGroup(i).controls['travelAssociationNo'].errors.required"> this
                    field
                    is
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <button type="button" mat-raised-button (click)="fileInput.click()" style="margin-top: 30px;"><span
                        class="pe-7s-cloud-upload"></span> Choose File</button>
                    <input hidden (change)="onFileSelected($event, 'Association', i)" #fileInput type="file">
                  </div>
                </div>
                <div class="col-md-7" *ngIf="affilation.Documentlink">
                  <img height="100" [src]="affilation.Documentlink" *ngIf="!affFilename[i]" alt="Document">
                  <span *ngIf="affFilename[i]">
                    <img style="height: 100px" src="assets/img/pdf_image.png" alt="Document">
                    <br>
                    <span class="text-center">
                      {{affFilename[i]}}
                    </span>
                  </span>
                  <br>
                  <div>
                    <a href="javascript:void(0);" (click)="RemoveImage('Association', i)" class="text-center"><i
                        class="icon-trash"></i>Remove</a>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12">
              <mat-divider></mat-divider>
              <div class="row" style="margin-top: 8px;">
                <div class="col-md-12 text-right">
                  <a href="javascript:void(0)" style="cursor: pointer;" *ngIf="last"
                    (click)="onAffilationAdd(i)">Add</a>
                  &nbsp;&nbsp;&nbsp;
                  <a href="javascript:void(0)" style="cursor: pointer;" *ngIf="!first"
                    (click)="onAffilationRmv(i)">Remove</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Preferred Currency</label><sup>*</sup>
              <select class="form-control" [(ngModel)]="Registration.CompanyDetails.PrefferedCurrency"
                [ngClass]="{ 'is-invalid': submitted && f.curruncy.errors }" formControlName="curruncy" required>
                <option *ngFor="let xe of exchange" [value]="xe.Currency">
                  <span>{{ xe.Currency }}</span>
                </option>
              </select>
              <div *ngIf="submitted && f.curruncy.errors" class="invalid-feedback">
                <div *ngIf="f.curruncy.errors.required"> this field is required</div>
              </div>
              <!-- <mat-select placeholder="Select Currency" [(ngModel)]="Registration.CompanyDetails.PrefferedCurrency">
            <mat-option *ngFor="let xe of exchange" [value]="xe.Currency">
              <label class="dd-option-text" style="line-height: 45px; margin-left: 5px;">
                {{ xe.Currency }}</label>
            </mat-option>
          </mat-select> -->
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Logo</label>
              <button type="button" mat-raised-button (click)="fileInput.click()"><span
                  class="pe-7s-cloud-upload"></span> Choose File</button>
              <input hidden (change)="onFileSelected($event, 'Logo', 0)" #fileInput type="file">
            </div>
          </div>
          <div class="col-md-5" *ngIf="Registration.CompanyDetails.LogoLink">
            <img height="100" [src]="Registration.CompanyDetails.LogoLink" alt="logo">
            <br>
            <div>
              <a href="javascript:void(0);" (click)="RemoveImage('Logo',0)" class="text-center"><i
                  class="icon-trash"></i>Remove</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-5">
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-8 col-8 text-right">
                <button class="btn_1" type="submit" *ngIf="!logedin">Register</button>
                <button class="btn_1" type="submit" *ngIf="logedin">Update</button>
              </div>
              <div class="col-md-3 col-3">
                <a href="/home" class="btn_1">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ngx-ui-loader></ngx-ui-loader>
  <!-- <div id="tabs" class="tabs">
    <nav>
      <ul>
        <li class=""><a [routerLink]="['/wishlist']" class="icon-wishlist"><span>Wishlist</span></a>
        </li>
        <li class=""><a [routerLink]="['/changepassword']" class="icon-settings"><span>Settings</span></a>
        </li>
        <li class="tab-current"><a [routerLink]="['/agent-profile']" class="icon-profile"><span>Profile</span></a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <section id="section-4" class="content-current">
        
        <ngx-ui-loader></ngx-ui-loader>
      </section>
    </div>
  </div> -->
</div>