<section class="parallax-window" data-parallax="scroll" [attr.data-image-src]="img" data-natural-width="1400"
  data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <!-- <h1>Paris tours</h1>
      <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
    </div>
  </div>
</section>
<!-- End section -->

<app-loader *ngIf="!response"></app-loader>
<!-- *ngIf="Packages.length!=0" -->

<main *ngIf="response">
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="home">Home</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <!-- Position -->

  <!-- <div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
  </div> -->
  <!-- End Map -->


  <div class="container margin_60">
    <div class="row">
      <aside class="col-lg-3">
        <div id="filters_col" *ngIf="response && Packages.length!=0">
          <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters"
            id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
          <div class="collapse show" id="collapseFilters">
            <div class="filter_type">
              <h6>Category</h6>
              <ul>
                <li *ngFor="let filter_Category of Categories">
                  <mat-checkbox (click)="PackageFilter('C',filter_Category.Name)">
                    {{filter_Category.Name}}&nbsp;&nbsp;&nbsp;( {{filter_Category.Count}} ) </mat-checkbox>
                </li>
              </ul>
            </div>
            <div class="filter_type">
              <h6>Themes</h6>
              <ul>
                <li *ngFor="let filter_Themes of Themes">
                  <mat-checkbox (click)="PackageFilter('T',filter_Themes.Name)">
                    {{filter_Themes.Name}}&nbsp;&nbsp;&nbsp;( {{filter_Themes.Count}} ) </mat-checkbox>
                </li>
              </ul>
            </div>
            <div class="filter_type" *ngIf=" minimum !=0 ">
              <h6>Price</h6>
              <input type="text" class="price_range" />
            </div>
          </div>
          <!--End collapse -->
        </div>
        <!--End filters col-->
        <app-help></app-help>
      </aside>
      <!--End aside -->
      <div class="col-lg-9" *ngIf="Packages.length!=0 && response">
        <div class="strip_all_tour_list wow fadeIn" attr.data-wow-delay="0.{{i+1}}s"
          *ngFor="let package of Packages | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <!-- <div class="ribbon_3 popular"><span>Popular</span>
              </div> -->
              <div class="ribbon_3"><span>Popular</span></div>
              <app-addwish [ProductType]="2" [ProdcutDetails]="package"></app-addwish>
              <div class="img_list">

                <a href="package-details?ID={{package.Packageid}}" *ngIf="package.Images.length!=0">
                  <img [src]="package.Images[0].Url" alt="Image">
                </a>
                <a href="package-details?ID={{package.Packageid}}" *ngIf="package.Images.length==0 ">
                  <img src="assets/img/no-image.png" alt="Image">
                </a>
              </div>

              <!-- <div class="short_info"><i class="icon_set_1_icon-44"></i>Churches</div> -->
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="tour_list_desc">
                <div class="rating"><i class="icon-smile voted"></i><i class="icon-smile  voted"></i><i
                    class="icon-smile  voted"></i><i class="icon-smile  voted"></i><i
                    class="icon-smile"></i><small>(75)</small>
                </div>
                <h3><strong> {{ package.PackageName.length > 33 ? (package.PackageName | slice: 0:33) + ".." : package.PackageName
                }} </strong></h3>
                <p
                  [innerHtml]="(package.Description.length>200)? (package.Description | slice:0:200)+'..':(package.Description)">
                </p>
                <ul class="add_info">
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_1_icon-1"></i></span>
                      <div class="tooltip-content">
                        <strong>Theme</strong><br>
                        <span>
                          {{package.Themes}}
                        </span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_1_icon-4"></i></span>
                      <div class="tooltip-content">
                        <strong>Category</strong><br>
                        <span *ngFor="let Category of package.Category; let last= last">
                          {{Category.Categoryname}}<span *ngIf="!last">,</span>
                        </span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tooltip_styled tooltip-effect-4">
                      <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
                      <div class="tooltip-content">
                        <strong>Location: </strong>
                        {{package.City}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <!-- <div class="price_list" style="font-size: 25px;">
                <div>
                  <sup *ngIf = "package.Category[0].Single!=0">{{package.Category[0].sCurrency}} <br/> {{package.Category[0].Single}}</sup><small *ngIf = "package.Category[0].Single!=0"><br/>*Start From</small>
                 
               <sup *ngIf="package.Category[0].Double!=0">{{package.Category[0].sCurrency}} <br/> {{package.Category[0].Double}}</sup><small *ngIf="package.Category[0].Double!=0"><br/>*Start From</small>
                 
                <sup *ngIf="package.Category[0].Triple!=0">{{package.Category[0].sCurrency}}<br/> {{package.Category[0].Triple}}</sup ><small *ngIf="package.Category[0].Triple!=0"><br/>*Start From</small>
                 
               
                <sup *ngIf="package.Category[0].Quad!=0">{{package.Category[0].sCurrency}} <br/> {{package.Category[0].Quad}}</sup><small *ngIf="package.Category[0].Quad!=0"><br/>*Start From</small>
                 
                <sup *ngIf="package.Category[0].Quint!=0">{{package.Category[0].sCurrency}} <br/> {{package.Category[0].Quint}}</sup><small  *ngIf="package.Category[0].Quint!=0"><br/>*Start From</small>
                  <p><a href="package-details?ID={{package.Packageid}}" class="btn_1">Details</a>
                  </p>
                </div>
              </div> -->
              <div class="price_list" style="font-size: 25px;">
                <div>
                  <sup *ngIf="package.MinPrice!=0 && package.Category.length != 0 ">{{package.Category[0].sCurrency}}
                    <br /> </sup>{{package.MinPrice?.toFixed(2)}}<small
                    *ngIf="package.MinPrice!=0 && package.Category.length != 0 "><br />*Start From</small>
                  <p><a [routerLink]="['/package-details']" [queryParams]="{ ID: package.Packageid}"
                      class="btn_1">Details</a>
                  </p>
                </div>

              </div>

            </div>
          </div>
        </div>
        <!--End strip -->

        <hr>
        <div class="has-text-centered">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        <!-- <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active"><span class="page-link">1<span class="sr-only">(current)</span></span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav> -->
        <!-- end pagination-->

      </div>
      <div class="col-lg-9" *ngIf="Packages.length===0 && response">
        <div class="box_style_2">
          <h1><span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span></h1>
          <h1> Sorry !!</h1>
          <h2>Package Not Found</h2>
        </div>
      </div>
      <!-- End col lg-9 -->
    </div>


    <!-- End row -->
  </div>
  <!-- End container -->
</main>