<div class="row">
  <!-- <div class="col-md-9">
    <div class="form-group">
      <label><i class="icon-set_1_icon-37"></i>City Name</label>
      <input matInput placeholder="" #City name="City" class="" aria-label="City" [matAutocomplete]="packageauto"
        [formControl]="cityCtrl" style="height: 35px !important">
      <mat-autocomplete #packageauto="matAutocomplete">
        <mat-option *ngFor="let CityName of filterCities | async" [value]="CityName.City">
          <span>{{CityName.City}}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <button class="btn_1 green" type="button" (click)="getPackages(City.value)" style="margin-top: 28px"><i
          class="icon-search"></i>Search now</button>
    </div>
  </div> -->

  <div class="col-md-9">
    <div class="form-group">
      <label><i class="icon-set_1_icon-37"></i>Package Name</label>
      <input matInput placeholder="" #PackageName name="PackageName" class="form-control" aria-label="PackageName"
        [matAutocomplete]="packageautoupdate" [formControl]="NameCtrl" style="height: 35px !important">
      <mat-autocomplete #packageautoupdate="matAutocomplete">
        <mat-option *ngFor="let PackageName of filterpackageName | async" [value]="PackageName.PackageName"
          (onSelectionChange)="OnPackageSelect(PackageName)">
          <span>
            {{PackageName.PackageName}}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <button class="btn_1 green" type="button" (click)="getpackagebyname(PackageName.value)"
        style="margin-top: 28px"><i class="icon-search"></i>Search now</button>
    </div>
  </div>

</div>