<div class="container margin_60">
    <div class="main_title">
        <h2>Dubai's <span>Popular</span> Sightseeing</h2>
        <p>Dubai is home to world's most famous & unique sightseeing places</p>
    </div>
    <div class="row">

        <div class="col-lg-4 col-md-6 wow zoomIn" style="height: 400px,!important;" attr.data-wow-delay="0.5s"
            *ngFor="let tour of tours">
            <div class="tour_container">
                <div class="ribbon_3 popular"><span>Popular</span></div>

                <div class="img_container">

                    <a style="cursor: pointer" (click)="showTourDetails(tour)">
                        <img src="{{tour.ListImage.Url}}" width="800" style="height: 300px;" class="img-fluid"
                            alt="Image">
                        <div class="short_info">
                            <i *ngIf=" tour.List_Type.length>=1 " class="{{tour.List_Type[0].Icon}}"
                                title="{{tour.List_Type[0].Name}}"></i>
                            <i *ngIf="tour.List_Type.length>=2" class="{{tour.List_Type[1].Icon}}"
                                title="{{tour.List_Type[1].Name}}"></i>
                            <i *ngIf="tour.List_Type.length>=3" class="{{tour.List_Type[2].Icon}}"
                                title="{{tour.List_Type[2].Name}}"></i>
                            <i *ngIf="tour.List_Type.length>=4" class="{{tour.List_Type[3].Icon}}"
                                title="{{tour.List_Type[3].Name}}"></i>
                            <i *ngIf="tour.List_Type.length>=5" class="{{tour.List_Type[4].Icon}}"
                                title="{{tour.List_Type[4].Name}}"></i>
                            <span class="price"><sup>{{tour.CurrencyClass}} </sup>{{tour.TotalPrice}}</span>
                        </div>
                    </a>
                </div>
                <div class="tour_title">
                    <h3 class="pointer" (click)="showTourDetails(tour)"><strong>{{tour.Name}}</strong></h3>
                    <app-reviewratings [ProductType]="'A'" [ProdcutID]="tour.ActivityID"></app-reviewratings>
                    <app-addwish [ProductType]="1" [ProdcutDetails]="tour"></app-addwish>
                </div>
            </div><!-- End box tour -->
        </div><!-- End col -->
    </div><!-- End row -->

    <p class="text-center nopadding">
        <a (click)="showAllTour()" class="btn_1 medium"><i class="icon-eye-7"></i>View all tours ({{count }}) </a>
    </p>
</div>
<div id="map" class="map">

</div>