<div class="row">
  <div class="col-lg-3">
    <!-- <h3>Reviews </h3> -->
    <br>
    <br>
   
    <a class="btn_1 add_bottom_30" (click)=openRiviewDialog()>Leave a review</a>
  </div>
  <div class="col-lg-9" *ngIf="arrReview.length !=0">
    <div id="general_rating"> {{arrReview.length}} Reviews
      <div class="rating">
        <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i
          class="icon-smile"></i><i class="icon-smile"></i>
      </div>
    </div>
    <!-- End general_rating -->
    <!-- <div class="row" id="rating_summary">
        <div class="col-md-6">
          <ul>
            <li>Position
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
              </div>
            </li>
            <li>Tourist guide
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Price
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
              </div>
            </li>
            <li>Quality
              <div class="rating">
                <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
              </div>
            </li>
          </ul>
        </div>
      </div> -->
    <!-- End row -->

    <div class="review_strip_single" *ngFor="let Review of arrReview">
      <img src="../assets/img/avatar2.jpg" alt="Image" class="rounded-circle">
      <h4>{{Review.UserName}} {{Review.LastName}}</h4>
      <p>
        "{{Review.review}}"
      </p>
      <div class="rating">

        <div *ngIf="Review.QualityStatus =='Not rated'">
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
        </div>
        <div *ngIf="Review.QualityStatus =='Low'">
          <i class="icon-smile voted"></i>
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
        </div>

        <div *ngIf="Review.QualityStatus =='Sufficient'">
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile"></i>
          <i class="icon-smile"></i>
        </div>

        <div *ngIf="Review.QualityStatus =='Excellent'">
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile"></i>
        </div>

        <div *ngIf="Review.QualityStatus =='Superb'">
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
          <i class="icon-smile voted"></i>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-9" *ngIf="arrReview.length ==0">
    <br> <br>
    <h4>No Comments Found</h4>

  </div>