::ng-deep .cdk-overlay-container  .cdk-overlay-pane{
    width: 35%;
    max-width:  35%;
}

::ng-deep .mat-dialog-container{
    margin-top: 110px;
}

@media only screen and (max-width: 600px) {
    ::ng-deep .cdk-overlay-container  .cdk-overlay-pane{
        width: 100%;
        max-width:  100%;
    }
    ::ng-deep .mat-dialog-container{
        margin-top: 65px;
    }
}