#search_container {
    position: relative;
    height: 700px;
    background: #4d536d url(/img/exotics/notgeneric_bg1.jpg) no-repeat center top !important;
    background-size: cover;
    color: #fff;
    width: 100%;
    display: table;
    z-index: 99
}