

 <div class="white_bg">
  <div class="container margin_60">
      <!-- <div class="main_title">
          <h2>Other <span>Popular</span> tours</h2>
         
      </div>
      <div class="row add_bottom_45">
          <div class="col-lg-4 other_tours" *ngFor="let tour of arrPopulars">
                  <ul>
                          <li>
                              <a href="#"><i class="{{tour.Icon}}"></i>{{tour.Name}}<span class="other_tours_price">{{tour.ActivityCount}}</span></a>
                          </li>
                      </ul>
          </div>
      </div> -->
      <!-- End row -->
      <!-- <div class="banner colored">
          <h4>GETTING CHEAPER RATE THEN US?</h4>
          <p>
              Take a screenshot & we shall match the rates for you
          </p>
          <a href="#" class="btn_1 white">Send</a>
      </div> -->

      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <p>
                  <a href="#"><img src="assets/img/exotics/bus.jpg" alt="Pic" class="img-fluid"></a>
              </p>
              <h4><span>Sightseen tour</span> booking</h4>
              <p>
                    You can book entry ticket, private tour or even sharing tours available live on the system and get instant confirmation


              </p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <p>
                  <a href="#"><img src="assets/img/exotics/transfer.jpg" alt="Pic" class="img-fluid"></a>
              </p>
              <h4><span>Transfer</span> booking</h4>
              <p>
                  Transfers are critical and you may have your own choice of vehicle or service so just chat with us we shall guide & quote you instantly
              </p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <p>
                  <a href="#"><img src="assets/img/exotics/guide.jpg" alt="Pic" class="img-fluid"></a>
              </p>
              <h4><span>Tour guide</span> booking</h4>
              <p>
                    You get best deal if you book full package with us, we have ready packages for you,& you may also ask for customized option as per your need
              </p>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <p>
                  <a href="#"><img src="assets/img/exotics/hotel.jpg" alt="Pic" class="img-fluid"></a>
              </p>
              <h4><span>Hotel</span> booking</h4>
              <p>
                   UAE is home to one of the largest number of hotel rooms & we are bound to provide best deals although we are working hard to bring it live soon but you can contact us anytime to get best deal before you book with others
              </p>
          </div>
      </div>
      <!-- End row -->


  </div>
  <!-- End container -->
</div>
