<mat-dialog-content>
  <div class="modal-header">
    <h4 class="modal-title" id="myReviewLabel">Terms & Conditions</h4>
  </div>
  <br />
  <p class="MsoNormal" style="text-align: justify">
    <b><span>Bookings</span></b>
  </p>

  <p class="MsoNormal" style="text-align: justify">
    A booking may be considered to be
    a group booking (depending on our internal / hotel / supplier policy) when
    there will be 10 or more pax travelling together. WE reserve the right to
    cancel any booking made or if we consider them to have been made for the
    purpose of holding space for future sale.
  </p>

  <p class="MsoNormal" style="text-align: justify">
    In case <span> {{domain}} </span>is not able to honour confirmed booking through
    online
    allotment received from hotel / supplier for some reason, <span>WE </span>shall offer
    the full refund for the service
    or provide with an alternative or similar category accommodation for the client
    instead.
  </p>

  <p class="MsoNormal"><b>On Request Bookings</b></p>

  <p class="MsoNormal" style="text-align: justify">
    The hotels with <b>“OnRequest”</b> button and bookings with On
    Request status means that the hotel does not have any available allotment,
    however <span>{{domain}}</span> will contact the
    hotel to request extra space. Kindly be informed that in very rare occasions,
    the availability at the hotel might change until the time you complete your
    booking and the final status might turn to OnRequest. In these cases, please do
    not attempt to book the same hotel again. You will be informed within 48 hours
    if your booking has been confirmed or rejected. If the hotel could be confirmed
    at a different rate, you will be advised. Please bear in mind that the
    confirmation may not be guaranteed and the hotels have the right to reject ON
    REQUEST bookings. If your accommodation request is urgent, it is suggested that
    you select a hotel with Instant confirmation.
  </p>


  <p class="MsoNormal" style="text-align: justify">
    <b><span>Hotel Category &amp; Local
        Classification and Star (*) Ratings</span></b>
  </p>

  <p class="MsoNormal" style="text-align: justify">
    <span>Star
      ratings aim to give a general overview of the quality of the hotel and
      approximate level of facilities, services and amenities available. However this
      rating system does vary from country to country. For example a 5* Bangkok hotel
      will not be the same as a 5* London hotel. {{CompanyName}} . are not
      responsible for the hotel categories and * ratings as these have been provided
      to us and accepted in good faith.</span>
  </p>
  <hr>
  <div style="text-align: center;"><a title="" data-original-title="" href="javascript:void();">{{domain}}</a></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>