
.tp-caption.Travel-BigCaption,
.Travel-BigCaption {
    color: rgba(255, 255, 255, 1.00);
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
}

.tp-caption.Travel-SmallCaption,
.Travel-SmallCaption {
    color: rgba(255, 255, 255, 1.00);
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Lato";
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
}


.hermes.tp-bullets {
}

.hermes .tp-bullet {
    overflow: hidden;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    position: absolute;
}

    .hermes .tp-bullet:hover {
        background-color: rgba(0, 0, 0, 0.21);
    }

    .hermes .tp-bullet:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 1px rgb(255, 255, 255);
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease;
    }

    .hermes .tp-bullet.selected:after {
        height: 100%;
    }
