<br>
<br>
<br>
<div id="rev_slider_22_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="travel-static-captions1" data-source="gallery" style="margin: 0px auto; background: transparent; padding: 0px; margin-top: 0px; margin-bottom: 0px;">
  <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
  <div id="rev_slider_22_1" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.4.1">
      <ul>
          <!-- SLIDE  -->
          <li data-index="rs-69" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="rev-slider-files/assets/100x50_travel1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Number One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/assets/img/Meetme/Slider1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-70" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="rev-slider-files/assets/100x50_travel2.jpg" data-rotate="0" data-saveperformance="off" data-title="Number Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/assets/img/Meetme/slider2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-71" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="rev-slider-files/assets/100x50_travel3.jpg" data-rotate="0" data-saveperformance="off" data-title="Number Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/assets/img/Meetme/slider3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-72" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="rev-slider-files/assets/100x50_travel4.jpg" data-rotate="0" data-saveperformance="off" data-title="Number Four" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/assets/img/Meetme/slider4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
          </li>
      </ul>
    <!-- <div style="" class="tp-static-layers">

        
          <div class="tp-caption Travel-BigCaption   tp-resizeme tp-static-layer" id="slider-22-layer-1" data-x="['left','left','left','left']" data-hoffset="['90','90','57','57']" data-y="['middle','top','top','top']" data-voffset="['0','195','197','197']" data-fontsize="['50','50','32','32']" data-lineheight="['50','50','32','32']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="3" data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-family: Montserrat;">
              Welcome to Gujarat

              <br />
              most Amazing Places
          </div>

        
          <div class="tp-caption Travel-SmallCaption   tp-resizeme tp-static-layer" id="slider-22-layer-2" data-x="['left','left','left','left']" data-hoffset="['89','90','60','60']" data-y="['top','top','top','top']" data-voffset="['428','313','272','272']" data-fontsize="['25','25','18','18']" data-fontweight="['400','300','400','400']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="3" data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-weight: 400; font-family: Lato;">d'Royale Holiday" provides information regarding the topography and places to be visited in Gujarat.</div>
      </div> -->
      <div class="tp-bannertimer tp-bottom" style="height: 7px; background: rgba(255,255,255,0.25);"></div>
  </div>
</div>
<!-- END REVOLUTION SLIDER -->