<!-- Slider -->
<div id="rev_slider_66_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="vimeo-hero1"
  data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
  <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
  <div id="rev_slider_66_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-170" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
        data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut"
        data-masterspeed="3000" data-thumb="rev-slider-files/assets/100x50_vimeobg.jpg" data-rotate="1"
        data-saveperformance="on" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4=""
        data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="assets/rev-slider-files/assets/vimeobg.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
          data-bgparallax="10" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- BACKGROUND VIDEO LAYER -->
        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="on" data-vimeoid="377753091"
          data-videoattributes="background=1&title=0&byline=0&portrait=0&api=1" data-videowidth="100%"
          data-videoheight="100%" data-videocontrols="none" data-videostartat="00:00" data-videoendat="00:48"
          data-videoloop="loop" data-forceCover="1" data-aspectratio="4:3" data-autoplay="true"
          data-autoplayonlyfirsttime="false"></div>
        <!-- LAYER NR. 1 -->
        <div class="tp-caption tp-shape tp-shapewrapper  " id="slide-170-layer-10"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
          data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide"
          data-responsive_offset="on" data-responsive="off"
          data-frames='[{"delay":750,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"nothing"}]'
          data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
          style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);"> </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-170-layer-8"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']"
          data-y="['middle','middle','middle','middle']" data-voffset="['-66','-64','-78','-31']" data-width="none"
          data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
          data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
          style="z-index: 6; white-space: nowrap;cursor:default;"><i class="pe-7s-film"></i> </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption NotGeneric-Title  " id="slide-170-layer-1" data-x="['center','center','center','center']"
          data-hoffset="['0','0','0','1']" data-y="['middle','middle','middle','middle']"
          data-voffset="['0','0','-22','18']" data-fontsize="['70','70','50','36']"
          data-lineheight="['70','70','50','36']" data-fontweight="['700','800','700','700']" data-width="none"
          data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-responsive="off"
          data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]"
          style="z-index: 7; white-space: nowrap; font-weight: 700;font-family:Montserrat;">TRAVELER SPHERE </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-170-layer-4"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']"
          data-y="['middle','middle','middle','middle']" data-voffset="['52','52','28','60']"
          data-fontweight="['400','500','500','400']" data-width="none" data-height="none" data-whitespace="nowrap"
          data-type="text" data-responsive_offset="on"
          data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
          style="z-index: 8; white-space: nowrap; font-weight: 400;font-family:Montserrat;">UNFORGETTABLE EXPERIENCES, STUNNING DESTINATIONS</div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div>
<!-- END REVOLUTION SLIDER -->