<section class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/Meetme/Slider1.jpg"  data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>About us</h1>
			<!-- <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
		</div>
	</div>
</section>
<main>
<div class="container margin_60">

  <div class="main_title">
            <h2>WELCOME <span>TO </span>GUJARAT</h2>
    <p>Some good reasons</p>
  </div>

  <div class="row">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
      <div class="feature">
        <i class="icon_set_1_icon-30"></i>
        <h3><span>Overview</span></h3>
        <p>
          meetmeingujarat.in has been carefully designing the tours to enrich your experience of beautiful Gujarat, its season, colorful festivals and varied dimensions. The site offers detailed destinations information including information on cities, historical monuments, heritage site and hill stations, beaches & wild life. It also provide complete information on Gujarat culture, exotic travel organizing visits to holy & other places in and around Gujarat and neighboring states. The company is run & managed by a team of qualified professionals having years of experience in handling tourist from all around the world. We offer the highest standard of service at all time to our client and the guest.
        </p>
                    <br />
      </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
      <div class="feature">
        <i class="icon_set_1_icon-41"></i>
        <h3><span>We</span>Deliver...</h3>
        <p>
          With our experience, knowledge, creativity and passion we tailor all according to your needs. The gamut of our services includes:
        </p>
                    <ul>
                        <li>Customized travel Itinerary Planning</li>
                         <li>Air ticketing virtually anywhere in Inida</li>
                         <li>Coaches /Luxury Car Rental Services, Ground handling</li>
                         <li>Worldwide Hotel Booking</li>
                         <li>International and Domestic air ticketing</li>
                         <li>Train tickets & passes</li>
                         <li>English and foreign languages speaking guides</li>
                        <li>Cultural tours, Adventures tours & Safaris</li>
                        <li>Classical Historical tours & Religious tours</li>
                        <li>Conferences and Incentive tours</li>
                    </ul>
      </div>
    </div>
  </div>
  <!-- End row -->
  <div class="row">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
      <div class="feature">
        <i class="icon_set_1_icon-57"></i>
        <h3><span>Infrastructure</span></h3>
        <p>
          Our company commands a well-equipped, sophisticated, and elegant infrastructure, and closed rapport with the hotels and other agencies supporting us in the tour planning and in the better facilitation in making extensive tours. We have knowledgeable decent and experienced professionals, equipped with admirable communicational skills and cell phones to ease, guide and facilitate you at every step throughout your tour.
        </p>
      </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.4s">
      <div class="feature">
        <i class="icon_set_1_icon-61"></i>
        <h3><span>Our </span>Strong Point</h3>
        <p>
          Personalized services had been the strongest point of our organization. We also guarantee you the best value for your money by providing quality service from arrival in India till the final departure. W are prompt in our replies to your queries and offer our services 24 X 365 days (helpline 09825027134).
        </p>
                    <br />
                    <br />
      </div>
    </div>
  </div>
  <!-- End row -->
  <div class="row">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
      <div class="feature">
        <i class="icon_set_1_icon-13"></i>
        <h3><span>Our</span> Motto</h3>
        <p>
          Customer satisfaction & quality services is the prime motto of meetmeingujarat.in . the company has always provided the best quality in terms of service to its customers. The travelers have always had a satisfied note of the services provided by us.
        </p>
      </div>
    </div>
  
  </div>

  <!-- End row -->
</div></main>
<!-- End container -->