<div class="container margin_60">
  <div class="banner colored">
    <h4><span>For any query please Contact us</span></h4>
    <a [routerLink]="['/contact']" class="btn_1 white">Contact Us</a>
  </div>
  <!-- <div class="main_title">
    <h2>Our <span>Certification</span> in </h2>
  </div> -->
  <div class="row">

    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s"
      style="visibility: visible; animation-delay: 0.1s;">
      <div class="hotel_container">
  
      <div class="">
        <a target="_blank">
        <img src="assets/img/cennin/Logos.jpg"  class="img-fluid" alt="image">
        </a>
      </div>
  
      </div>
      <!-- End box -->
    </div>
    
    
  
  
    </div>
</div>

<section class="promo_full">
  <div class="promo_full_wp magnific">
    <div>
      <h3>About Us</h3>
      <p>
      </p>
      <a href="https://www.youtube.com/watch?v=Kl9A6hS55z8" class="video"><i class="icon-play-circled2-1"></i></a>
    </div>
  </div>
</section>
<!-- End section -->
<hr>
<div class="container margin_60">
  <div class="row">
    <div class="col-md-6">
      <img src="https://www.cenintravels.com/assets/img/logo_sticky.png" alt="Cennin Travels" class="img-fluid laptop">
    </div>
    <div class="col-md-6">
      <h3><span>Get started</span> with Cennin Travels</h3>
      <ul class="list_order">
        <li><span>1</span>Select your preferred Package</li>
        <li><span>2</span>Send travelar Details </li>
        <li><span>3</span>Pick them directly from your office</li>
      </ul>
      <a href="/package" class="btn_1">Start now</a>
    </div>
  </div>
  <!-- End row -->
</div>