.promo_full {
    height: auto;
    background: url(/assets/img/Meetme/slider2.jpg) no-repeat center center !important;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative
}

.promo_full_wp {
    display: table;
    width: 100%;
    height: auto
}

.promo_full_wp > div {
    display: table-cell;
    padding: 10% 15%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6)
}

.promo_full_wp div h3 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff
}

.promo_full_wp div p {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.4
}

@media (max-width: 575px) {
    .promo_full_wp div h3 {
        font-size: 36px
    }
    .promo_full_wp > div {
        padding: 10% 30px
    }
    .promo_full_wp div p {
        font-size: 18px
    }
}

.promo_full_wp div a i {
    color: #fff;
    opacity: .5;
    font-size: 72px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.promo_full_wp div a:hover i {
    opacity: 1
}
