 <!-- End white_bg -->

 <section class="promo_full">
  <div class="promo_full_wp magnific">
      <div>
          <h3>"ATITHI DEVO BHAV"</h3>
          <p>
              Gujarat covers an area of 196,024 sq km which is traditionally divided into three zones- the eastern mainland that includes the cities of Ahmedabad, Surat and Vadodara; the Kathiawar peninsula better known as Saurashtra with its headquarter  at Rajkot and Kutch with its most important town Bhuj. The state offers it visitor’s fabulous offbeat possibilities of exploring Gujarat’s vibrant culture and history. Here one scarcely known where legend ends and history begins.  

          </p>
          <!-- <a href="#" class="video"><i class="icon-play-circled2-1"></i></a> -->
      </div>
  </div>
</section>
<!-- End section -->
