<div class="white_bg">
  <div class="container margin_60">
    <div class="main_title">
      <h2>Things to do in    <span>{{ Destination}}</span></h2>
    </div>
    <div class="row add_bottom_45" *ngIf="Destination == 'Jeddah'">
      <div class="col-lg-4 other_tours">
        <ul>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>King Fahd's Fountain
            <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-30"></i>Kingdom Tower
            <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-44"></i>Nasseef House
            <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Atallah Happy Land Park
            <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-44"></i>The Globe Roundabout
            <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Jungle Land Theme Park (Mersal Village)
            <span class="other_tours_price"></span></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 other_tours">
        <ul>
          <li><a href="#"><i class="icon_set_1_icon-1"></i>Al Tayebat International City
            <span class="other_tours_price"> </span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-4"></i>Haramain High Speed Railway
            <span class="other_tours_price"> </span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-30"></i>Old Jeddah, Al Balad
            <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Bicycle Roundabout
          <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-30"></i>Al Rahma Mosque / Apung
            <span class="other_tours_price"></span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-3"></i>Makkah Gate
            <span class="other_tours_price"></span></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 other_tours">
        <ul>
          <li><a href="#"><i class="icon_set_1_icon-37"></i>New Jeddah Corniche
            <span class="other_tours_price"> </span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-1"></i>Abdul Raouf Khalil Museum
            <span class="other_tours_price"> </span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-50"></i>Silver Sands Beach
            <span class="other_tours_price"> </span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-44"></i>Abhur Bay
            <span class="other_tours_price"> </span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-50"></i>Ice Land
            <span class="other_tours_price"> </span></a>
          </li>
          <li><a href="#"><i class="icon_set_1_icon-44"></i>Ice Land
            <span class="other_tours_price"> </span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="https://i0.wp.com/www.agoda.com/wp-content/uploads/2019/05/Jeddah-landmarks-Corniche-Jeddah.jpg" alt="Laptop" class="img-fluid laptop" width="200" height="200s">
      </div>
      <div class="col-md-6">
        <h3><span>Get started</span> with Travelsphere</h3>
        
        <ul class="list_order">
          <li><span>1</span>Select your preferred tours</li>
          <li><span>2</span>Purchase tickets and options</li>
          <li><span>3</span>Pick them directly from your office</li>
        </ul>
        <a  class="btn_1">Book now</a>
      </div>
    </div>
    <!-- End row -->
    <!-- End row -->

  
  </div>
  <!-- End container -->
</div>