<div id="tools">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 text-right">
      <a data-toggle="collapse" data-parent="#Tour-Filter" href="#Tour-Filter" class="btn_1">Filter</a>
    </div>
  </div>
</div>

<div class="accordion_styled" id="Tour-Filter" class="collapse" data-parent="#Tour-Filter">
  <div class="card">
    <div class="card-body">
      <br>
      <div class="row">
        <!-- <div class="col-md-3">
          <label>Check-in</label><br>
          <input type="text" [(ngModel)]="Checkin" matInput class="form-control" #Check_in ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [singleDatePicker]="singleDatePicker" [autoApply]="true"
            [opens]="opens" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true" [closeOnAutoApply]="true"
            name="daterange" />
        </div> -->
        <div class="col-md-3">
          <label>Booking Date</label><br>
          <input type="text" [(ngModel)]="BookingDate" matInput class="form-control" #Booking_Date ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [singleDatePicker]="singleDatePicker" [autoApply]="true"
            [opens]="opens" [maxDate]="maxDate" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true"
            [closeOnAutoApply]="true" name="daterange" />
        </div>

        <div class="col-md-3">
          <label>Sightseeing Date</label><br>
          <input type="text" [(ngModel)]="Checkout" matInput class="form-control" #Sightseeing_Date ngxDaterangepickerMd
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [singleDatePicker]="singleDatePicker" [autoApply]="true"
            [opens]="opens" [drops]="drops" [lockStartDate]="false" [showDropdowns]="true" [closeOnAutoApply]="true"
            name="daterange" />
        </div>
        <div class="col-md-3">
          <label>Guest Name</label><br>
          <input type="text" [(ngModel)]="GuestName" class="form-control">
        </div>
        <div class="col-md-3">
          <label> Sightseeing Name</label><br>
          <input type="text" [(ngModel)]="SightseeingName" class="form-control">
        </div>
      </div>
      <br />
      <div class="row">
        <!-- <div class="col-md-3">
          <label>Reference No.</label><br>
          <input type="text" [(ngModel)]="ReferenceNo" class="form-control">
        </div> -->
        <div class="col-md-3">
          <label>Location</label><br>
          <input type="text" [(ngModel)]="Location" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Reservation Status</label>
          <mat-select class="dd-selected form-control" [(ngModel)]="Status" [(value)]="Status">
            <mat-option *ngFor="let status of allStatus" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-md-6 text-right">
          <input type="button" (click)="clear()" class="btn_1" style="margin-top: 45px;" value="Clear">&nbsp;
          <input type="button" (click)="_filter(Booking_Date.value, Sightseeing_Date.value)" class="btn_1"
            value="Apply">
        </div>
      </div>
      <!-- <br />
      <div class="row">
        <div class="col-md-12 text-right">
          <input type="button" (click)="clear()" class="btn_1" value="Clear">&nbsp;
          <input type="button" (click)="_filter(Check_in.value, Check_out.value, Booking_Date.value)" class="btn_1"
            value="Apply">
        </div>
      </div> -->
    </div>
  </div>
  <br>
</div>

<div class="card" *ngFor="let arrResv of arrBookings | paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
  <div class="card-body">
    <div class="strip_booking">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h3 class="tours_booking">{{arrResv.Name}}<span>{{ arrResv.Adult }} Adults /
              {{ arrResv.Child1 + arrResv.Child2 }}
              Child</span>
            <small>Sightseeing Date : {{arrResv.SightseeingDate}}</small>
          </h3>
        </div>
        <div class="col-lg-4 col-md-4 details status">
          <div class="row booking">
            <div class="col-md-12 status">
              <span> <strong>Status</strong> :
                <span class="status-vouchered" *ngIf="arrResv.Status==='Vouchered'">
                  Ticketed
                </span>
                <span class="status-cancelled" *ngIf="arrResv.Status==='Cancelled'">
                  Cancelled
                </span>
              </span><br />
              <!-- <span><strong>Dead Line</strong> : {{report.DeadLine}}</span><br> -->
              <span> <strong>Total Amount</strong> : INR. {{arrResv.TotalAmount}}</span><br />
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 details">
          <div class="row booking">
            <div class="col-md-12">
              <span> <strong>Check-In</strong> : {{report.CheckIn}}</span><br />
              <span> <strong>Check-Out</strong> : {{report.CheckOut}}</span><br />
              <span> <strong>Guest Name</strong> : {{report.bookingname}}</span>
            </div>
          </div>
        </div> -->
        <div class="col-lg-2 col-md-2">
          <ul class="info_booking">
            <li><strong>Booking id</strong> {{arrResv.BookingID}}</li>
            <li><strong>Booked on</strong> {{arrResv.BookDate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12 text-right">
        <input type="button" (click)="showBookingDetails(arrResv.BookingID)" class="btn_1" value="Open">&nbsp;
        <input type="button" class="btn_1" value="Share">
      </div>
    </div>
  </div>
</div>

<div class="box_style_2" *ngIf="response && arrBookings.length===0">
  <h1><span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span></h1>
  <h1> Sorry !!</h1>
  <h2>Booking Not Found</h2>
</div>
<div class="has-text-centered" *ngIf="service==='tour' && arrBookings.length!=0">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>