<kendo-pdf-export #pdf paperSize="A4" margin="0cm" [scale]="scale">
  <div class="row">
    <div class="col-md-12">
      <div class="box_style_1">
        <div class="row">
          <div class="col-md-12">
            <h5 *ngIf="isb2c">
              <strong>
                {{AgentDetails.Name}}
              </strong>
            </h5>
            <img *ngIf="!isb2c" src="http://clickurtrip.net/Agencylogo/{{FlightInvoice.AdminUser.Code}}.jpg" height="58"
              width="277">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-secondary" role="alert">
              <strong>Sales Invoice</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>Invoice To</strong><br>
                <div *ngIf="!isb2c">
                  <span> {{FlightInvoice.AgentDetails.Name}} </span><br>
                  <span> {{FlightInvoice.AgentDetails.Address}}</span><br>
                  <span> {{FlightInvoice.AgentDetails.City}} , {{FlightInvoice.AgentDetails.Countryname}}</span><br>
                  <span>{{FlightInvoice.AgentDetails.Mobile}} / {{FlightInvoice.AgentDetails.email}}</span>
                </div>
                <div *ngIf="isb2c">
                  <span> {{userdetails.LoginDetail.Name}}</span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.Address}}</span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.CitiesID}},
                    {{userdetails.LoginDetail.ContacDetails.CountryID}} </span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.PinCode}} </span><br>
                  <span>{{userdetails.LoginDetail.ContacDetails.Mobile}} / {{userdetails.LoginDetail.Email}}</span>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="row">
              <div class="col-md-12">
                <!-- <strong>
                  {{InvoiceDetails.ActivityName}}
                </strong><br>
                <span> {{InvoiceDetails.Location}} </span><br> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>
                  Invoice Details
                </strong><br>
                <span> <strong>Status :</strong> {{arrResrvation.Status}} </span><br>
                <span><strong>Invoice Date:</strong> {{arrResrvation.Date}} </span><br>
                <span><strong>Invoice No:</strong> {{ arrResrvation.InvoiceNo}}</span><br>
              </div>
            </div>
          </div>
        </div>
        <div class="flight_info" *ngFor="let segment of Segment">
          <div class="row">
            <div class="col-md-2">
              <img src="../../../../assets/img/AirlineLogo/{{segment.AirlineCode}}.gif" width="30px" alt=""> &nbsp;
              <span class="highlight"> {{segment.Airline}} </span>
              <br>
              <span>{{segment.AirlineCode}}</span>
            </div>
            <div class="col-md-3 text-right on_mobile">
              <span>Departure <i class="icon-left"></i> <span class="highlight">
                  {{segment.OriginAirport.city}}
                </span>
              </span><br>
              <span class="highlight">{{segment.OriginAirport.code}} {{segment.DepTime.time}}</span><br>
              <span class="highlight">{{segment.DepTime.date}}</span><br>
            </div>
            <div class="col-md-4 text-center on_mobile">
              <span class="highlight"> {{segment.Duration}} </span><br>
              <span>Class- {{segment.FareClass}} </span><br>
              <span class="highlight"> {{segment.seat}} </span><br>
            </div>
            <div class="col-md-3">
              <span>Arrival <i class="icon-left"></i>
                <span class="highlight"> {{segment.DestinationAirport.city}} </span></span><br>
              <span class="highlight">{{segment.DestinationAirport.code}} {{segment.ArrTime.time}}</span><br>
              <span class="highlight">{{segment.ArrTime.date}}</span><br>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <h6>Booking Details</h6>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead class="services-heading">
                      <tr>
                        <td><strong>Pax Name</strong></td>
                        <td class="text-center"><strong>Ticket No</strong></td>
                        <td class="text-right"><strong>PNR</strong></td>
                        <!-- <td class="text-center"><strong>Basic Amount</strong></td>
                        <td class="text-right"><strong>Total</strong></td> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let passenger of Pax; let p=index">
                        <td> {{passenger.PaxTitle}} {{passenger.FirstName}} {{passenger.LastName}}</td>
                        <td class="text-center"> {{passenger.Tiketid}}
                          <!-- {{arrResrvation.OriginAirport}} - {{arrResrvation.DestinationAirport}} -->
                        </td>
                        <td class="text-right"> {{arrResrvation.PNR}}
                        </td>
                        <!-- <td class="text-center"> Base </td> -->
                        <!-- <td class="text-right"> Total Amount </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="post_info clearfix">
              <div class="row">
                <div class="col-md-12">
                  <b>PAYMENT DETAILS</b>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <span class="highlight">Basic Fare : {{FlightInvoice.AgentDetails.Currency}}
                  {{arrResrvation.InvoiceAmount}}
                </span><br>
                <span class="highlight">Gross Amount : {{FlightInvoice.AgentDetails.Currency}}
                  {{arrResrvation.InvoiceAmount}}
                </span>
              </div>
              <div class="col-md-12">
                <span class="highlight">{{FlightInvoice.AmountInWord}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <br>
            <h4>Terms & Conditions</h4>
            <ol class="terms-condition">
              <li> Kindly check all details carefully to avoid un-necessary complications</li>
              <li> Cheque to be drawn in our company name on presentation of invoice</li>
              <!-- <li>Subject to Delhi (INDIA) jurisdiction</li> -->
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button kendo-button (click)="pdf.saveAs('Invoice.pdf')" class="btn_full" id="btn_Invoice_pdf"
    style="display: none"></button>
</kendo-pdf-export>