<main>
  <div id="position" style="margin-top: 100px;">
    <div class="container">
      <ul>
        <li><a [routerLink]="['/home']">Home</a>
        </li>
        <li><a [routerLink]="['/booking-report']">Booking Report</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <div class="container" id="main-booking" style="margin-top: 20px;">
    <!-- <h4>
    <a [routerLink]="['/booking-report']" *ngIf="_display==='Detail'">
      Go to Report</a>
  </h4> -->
    <div class="row" *ngIf="_display==='Detail'">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-9 col-md-9 col-6">
                Booking Details
              </div>
              <div class="col-lg-3 col-md-3 col-6 text-right">
                <a style="cursor: pointer;" *ngIf="InvoiceDetails.arrResrvation.Status ==='Vouchered'"
                  (click)="CancelBooking()">Cancel
                  Booking</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-6">
                <span><b>Status :</b> {{InvoiceDetails.arrResrvation.Status}}</span><br>
                <span><b>Reference NO :</b> {{ReservationID}}</span><br>
                <span><b>Invoice No :</b> {{InvoiceDetails.arrResrvation.InvoiceID}}</span>
              </div>
              <div class="col-lg-4 col-md-4 col-6">
                <span><b>Booked On :</b> {{InvoiceDetails.arrResrvation.Bookingdate}}</span><br>
                <span><b>Check In :</b> {{InvoiceDetails.arrResrvation.checkin}}</span><br>
                <span><b>Check out :</b> {{InvoiceDetails.arrResrvation.checkout}}</span><br>
              </div>
              <div class="col-lg-4 col-md-4 col-12 h-addres">
                <span><b>{{InvoiceDetails.arrResrvation.HotelName}}</b></span><br>
                <span><b>Address :</b> {{InvoiceDetails.dtHotelAdd.Address}} <br>
                  {{InvoiceDetails.arrResrvation.City}} , {{InvoiceDetails.dtHotelAdd.PostalCode}}
                </span>
              </div>
            </div>

            <mat-divider class="divider"></mat-divider>

            <span><strong>Room Details</strong></span>
            <mat-divider class="divider"></mat-divider>
            <div *ngFor="let room of InvoiceDetails.arrRooms; let last=last ; let i=index">
              <div class="row">
                <div class="col-md-1">
                  <span><b>{{room.RoomNumber}}</b></span>
                </div>
                <div class="col-md-11">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-12">
                          <strong>
                            <span>
                              {{room.Adults}} <i class="icon-adult font16"
                                title="Adult"></i><small>(adult)</small>&nbsp;&nbsp;
                              {{room.Child}} <i class="icon_group font16"></i><small> (child)</small>
                            </span>
                          </strong>
                        </div>
                      </div>
                      <div class="row" *ngFor="let Guest of InvoiceDetails.arrPaxes">
                        <div class="col-md-12" *ngIf="Guest.RoomNumber===room.RoomNumber">
                          <div class="row" *ngIf="Guest.PassengerType==='AD' || Guest.PassengerType==='1'">
                            <div class="col-md-12">
                              <span> {{Guest.Name}} {{Guest.LastName}}</span>
                            </div>
                          </div>
                          <div class="row" *ngIf="Guest.PassengerType==='CH' || Guest.PassengerType==='2'">
                            <div class="col-md-12">
                              <span>{{Guest.Name}} <small>(Age : {{Guest.Age}} yr)</small></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <span>{{room.RoomType}} , <span>{{room.BoardText}} </span></span><br>
                      <a style="cursor: pointer;" class="collapsed" data-toggle="collapse" id="btn"
                        attr.data-target="#CP_{{i}}">Cancelation Policy</a>
                      <ul style="margin-left:-24px" id="CP_{{i}}" class="collapse">
                        <li *ngFor="let canc of InvoiceDetails.CancellationPolicy[i]">
                          {{canc}}
                        </li>
                      </ul>
                      <span *ngIf="room.EssentialInfo">
                        <strong>Note : </strong>
                        {{room.EssentialInfo}}
                      </span>
                    </div>
                    <div class="col-md-3 col-12">
                      <span style="cursor: pointer; float: right" class="collapsed" data-toggle="collapse" id="btn"
                        attr.data-target="#RB_{{i}}">
                        {{InvoiceDetails.arrResrvation.CurrencyCode}} {{room.RoomAmount.toFixed(2)}}
                      </span>
                      <br>
                      <mat-list style="float: right" role="list" id="RB_{{i}}" class="collapse">
                        <mat-list-item class="rate-breack" role="listitem"
                          *ngFor="let rate of InvoiceDetails.RateBreakups[i]">
                          <span class="sp-rate-breack">{{rate.Date}}&nbsp;&nbsp;&nbsp;{{rate.Amount}}</span>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider class="divider" *ngIf="!last"></mat-divider>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-6">
                    <a style="cursor: pointer;" (click)="downloadPdf('Invoice')">Download Invoice</a>
                  </div>
                  <div class="col-lg-6 col-md-6 col-6">
                    <a style="cursor: pointer;" (click)="print('Invoice')">Print Invoice</a>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12">
                  </div>
                </div>
              </div>
              <div class="col-md-5" *ngIf="InvoiceDetails.arrResrvation.Status ==='Vouchered'">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-6">
                    <a style="cursor: pointer;" (click)="downloadPdf('Voucher')">Download Voucher</a>
                  </div>
                  <div class="col-lg-6 col-md-6 col-6">
                    <a style="cursor: pointer;" (click)="print('Voucher')">Print Voucher</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a style="cursor: pointer;" id="Back-to-detail" *ngIf="_display==='Invoice' || _display==='Voucher'"
      (click)="Back()">Back to detail</a>
    <br>
    <app-hotel-invoice *ngIf="_display==='Invoice'" (bookingAction)="Action($event)" [UserId]="UserId"
      [ReservationID]="ReservationID">
    </app-hotel-invoice>
    <br>
    <app-hotel-voucher *ngIf="_display==='Voucher'" (bookingAction)="Action($event)" [UserId]="UserId"
      [ReservationID]="ReservationID">
    </app-hotel-voucher>
  </div>
</main>