<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <h3>Need help?</h3>
              <a href="tel://079 27710134" id="phone">{{objGlobal.Contact}}</a>
                <!-- <a href="javascript:void(0)" id=""><i class="icon-location"></i>7, Kingsway, Nagpur, India - 440001</a> -->
              <a href="mailto:droyaleholiday@gmail.com" id="email_footer">{{objGlobal.email}}</a>
              <p><img src="assets/img/payments123.png" width="231" height="30" alt="Image" data-retina="true" class="img-fluid"></p>
          </div>
          <div class="col-lg-2 col-md-3 ml-md-auto">
              <h3>About</h3>
              <ul>
                  <li>
                      <a href="about">About us</a>
                  </li>
                  <li>
                      <a href="#">FAQ</a>
                  </li>
                  <li>
                      <a href="contact">Contacts</a>
                  </li>
                  <!-- <li>
                      <a style="cursor: pointer" (click)="openDialog()">Login</a>
                  </li>
                  <li>
                      <a style="cursor: pointer" (click)="RegisterDialog()">Register</a>
                  </li> -->
                  <li>
                      <a hrerf="/home" >Terms and condition</a>
                  </li>
                  <li>
                        <a href="/home">Privacy Policy </a>
                    </li>
              </ul>
          </div>
          <div class="col-lg-5 col-md-6" id="newsletter">
              <h3>Newsletter</h3>
              <p>Join our newsletter to keep be informed about offers and news.</p>
              <div id="message-newsletter_2"></div>
              <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                  <div class="form-group">
                      <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail" class="form-control">
                  </div>
                  <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
              </form>
          </div>
      </div>
      <!-- End row -->
      <div class="row">
          <div class="col-lg-12">
              <div id="social_footer">
                  <ul>
                      <li>
                          <a href="#" target="blank"><i class="icon-facebook"></i></a>
                      </li>
                      <!-- <li>
                          <a href="#"><i class="icon-twitter"></i></a>
                      </li> -->
                      <li>
                          <a href="#" target="blank"><i class="icon-google"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-instagram"></i></a>
                      </li> 
                      <li>
                          <a href="#" target="blank"><i class="icon-pinterest"></i></a>
                      </li>
                      <li>
                          <a href="#" target="blank"><i class=" icon-linkedin"></i></a>
                      </li>
                      <!-- <li>
                          <a href="#"><i class="icon-youtube-play"></i></a>
                      </li> -->
                  </ul>
                  <p>Copyright@ 2019 meetmeingujarat.in All rights reserved. Developed By Trivo.in </p>
              </div>
          </div>
      </div>
      <!-- End row -->
  </div>
  <!-- End container -->
</footer>