<mat-radio-group aria-label="Select an option" [(ngModel)]="JourneyType" (ngModelChange)="onJourneyType(JourneyType)">
  <mat-radio-button class="journey" *ngFor="let journey of Journey" [value]="journey.id">
    {{journey.name}}
  </mat-radio-button>
</mat-radio-group>
<mat-checkbox style="float: right;" [(ngModel)]="Direct" (ngModelChange)="onDirct($event)">
  Non Stop Flights
</mat-checkbox>
<div class="row no-gutters custom-search-input-2"
  *ngFor="let destination of Destinations; let first=first; let i=index">
  <div class="col-lg-3">
    <div class="form-group">
      <input class="form-control" type="text" [matAutocomplete]="Origin" (keyup)="getAirports($event, i, 'origin')"
        [(ngModel)]="destination.Origin" placeholder="From...">
      <i class="icon_pin_alt"></i>
      <div id="swap" class="swipe" (click)="onSwap(i, destination.Origin, destination.Destination)"></div>
      <mat-autocomplete #Origin="matAutocomplete">
        <mat-option *ngFor="let airport of destination.OriginAirports" [value]="airport.value"
          (onSelectionChange)="onAirportselect(airport.id, i, 'origin')">
          <span class="airport-code"> <i class="icon-airport"></i> {{airport.value}}</span><br>
          <small class="airport">{{airport.AirportName}}</small>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <input class="form-control" type="text" [matAutocomplete]="Destination"
        (keyup)="getAirports($event, i, 'destination')" [(ngModel)]="destination.Destination" placeholder="Where...">
      <i class="icon_pin_alt"></i>
      <mat-autocomplete #Destination="matAutocomplete">
        <mat-option *ngFor="let airport of destination.DestinationAirports" [value]="airport.value"
          (onSelectionChange)="onAirportselect(airport.id, i, 'destination')">
          <span class="airport-code"> <i class="icon-airport"></i> {{airport.value}}</span><br>
          <small class="airport">{{airport.AirportName}}</small>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <input type="text" class="form-control" #date ngxDaterangepickerMd placeholder="When.."
        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" startKey="start" endKey="end" [autoApply]="true"
        [opens]="opens" [minDate]="destination.MinDate" [drops]="drops" [showDropdowns]="true" [closeOnAutoApply]="true"
        [singleDatePicker]="singleDatePicker" name="daterange" [(ngModel)]="destination.JourneyDate"
        (change)="choosedDate($event, i)" />
      <i class="icon_calendar"></i>
    </div>
  </div>

  <div class="col-lg-2 on-mobile" *ngIf="first">
    <div class="panel-dropdown">
      <a href="javascript:void(0)" style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;">Guests <span
          class="qtyTotal">
          {{TotelGuest}}
        </span>, {{Class}} </a>
      <div class="panel-dropdown-content">
        <div class="qtyButtons">
          <label>Adults</label>
          <div class="qtyDec" (click)="onTraveller('ad', 'minus')"></div>
          <input type="text" [(ngModel)]="Search.AdultCount">
          <div class="qtyInc" (click)="onTraveller('ad', 'plus')"></div>
        </div>
        <div class="qtyButtons">
          <label>Childrens</label>
          <div class="qtyDec" (click)="onTraveller('ch', 'minus')"></div>
          <input type="text" [(ngModel)]="Search.ChildCount">
          <div class="qtyInc" (click)="onTraveller('ch', 'plus')"></div>
        </div>
        <div class="qtyButtons">
          <label>Infant</label>
          <div class="qtyDec" (click)="onTraveller('in', 'minus')"></div>
          <input type="text" [(ngModel)]="Search.InfantCount">
          <div class="qtyInc" (click)="onTraveller('in', 'plus')"></div>
        </div>
        <mat-divider></mat-divider>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="Class">
          <mat-radio-button class="example-radio-button" *ngFor="let seat of Seats" [value]="seat.name">
            <span class="flight-class"> {{seat.name}} </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 on-mobile" *ngIf="first">
    <input type="button" (click)="onSearch()" class="btn_search" value="Search">
  </div>

  <div class="col-lg-2 col-md-2 " *ngIf="!first && Destinations.length===2">
    <a href="javascript:;" (click)="onAddcity()" class="addroom">
      + Add City
    </a>
  </div>

  <div class="col-lg-2 col-md-2" *ngIf="!first && i===2">
    <a href="javascript:;" (click)="onRemovecity()" class="addroom removeroom">
      x Remove
    </a>
  </div>

</div>

<div class="row  only-mobile no-gutters custom-search-input-2">
  <div class="col-lg-2">
    <div class="panel-dropdown">
      <a href="javascript:void(0)" style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;">Guests <span
          class="qtyTotal">
          {{TotelGuest}}
        </span>, {{Class}} </a>
      <div class="panel-dropdown-content">
        <div class="qtyButtons">
          <label>Adults</label>
          <div class="qtyDec" (click)="onTraveller('ad', 'minus')"></div>
          <input type="text" [(ngModel)]="Search.AdultCount">
          <div class="qtyDec" (click)="onTraveller('ad', 'plus')"></div>
        </div>
        <div class="qtyButtons">
          <label>Childrens</label>
          <div class="qtyDec" (click)="onTraveller('ch', 'minus')"></div>
          <input type="text" [(ngModel)]="Search.ChildCount">
          <div class="qtyInc" (click)="onTraveller('ch', 'plus')"></div>
        </div>
        <div class="qtyButtons">
          <label>Infant</label>
          <div class="qtyDec" (click)="onTraveller('in', 'minus')"></div>
          <input type="text" [(ngModel)]="Search.InfantCount">
          <div class="qtyInc" (click)="onTraveller('in', 'plus')"></div>
        </div>
        <mat-divider></mat-divider>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="Class">
          <mat-radio-button class="example-radio-button" *ngFor="let seat of Seats" [value]="seat.name">
            <span class="flight-class"> {{seat.name}} </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <input type="submit" class="btn_search" value="Search">
  </div>
</div>