.qtyButtons {
  margin: 0 0 5px !important;
}

.qtyInc,
.qtyDec {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 20px !important;
  -webkit-text-stroke: 1px #bdbdbd !important;
}

.qtyButtons input {
  font-size: 13px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin: 0 !important;
  padding: 0 5px !important;
}
/* .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  } */

.journey {
  margin-right: 16px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.flight-class {
  color: #727b82;
}

.swipe:hover,
.swipe2:hover {
  transform: rotate(360deg);
}

.swipe {
  width: 27px;
  height: 27px;
  background: url(../../../../assets/img/home-sub-sprite.png) no-repeat -3px -50px;
  transition: all 0.5s ease 0s;
  position: absolute;
  right: -14px;
  top: 12px;
  z-index: 1;
  cursor: pointer;
}

.custom-search-input-2 i {
  background-color: inherit !important;
}

::ng-deep .mat-radio-label-content {
  color: #fff !important;
}

::ng-deep .mat-checkbox-label {
  color: #fff !important;
}

.mat-option {
  height: 50px !important;
  line-height: 20px !important;
  border-bottom: 1px solid #ccc;
  padding: 0px 5px;
}

.airport {
  font-size: 12px;
  color: #727b82;
}

.airport-code {
  font-size: 14px;
  color: #020004;
  line-height: 25px;
}

.addroom {
  margin-top: 15px;
  color: #44aa00;
  padding: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 6px;
  margin-bottom: 6px;
  font-size: 11px;
  border: 1px solid #44aa00;
  padding: 0px 5px;
  float: left;
  -webkit-transition: all 0.5s;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.removeroom {
  color: #e00005;
  border-color: #f7941d;
}

.icon-airport {
  font-size: 17px;
}

.on-mobile {
  display: block;
}

.only-mobile {
  display: none;
}

.custom-search-input-2 input[type="button"] {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  padding: 0px;
  height: 50px;
  cursor: pointer;
  outline: none;
  width: 100%;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #e14d67;
  margin-right: -1px;
}

.custom-search-input-2 input[type="button"]:hover {
  background-color: #008489;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .only-mobile {
    display: block;
  }

  .on-mobile {
    display: none;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* @media (min-width: 1281px) {
  
    
    
  } */

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

/* @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  } */

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .only-mobile {
    display: block;
  }

  .on-mobile {
    display: none;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .only-mobile {
    display: block;
  }

  .on-mobile {
    display: none;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .only-mobile {
    display: block;
  }

  .on-mobile {
    display: none;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .only-mobile {
    display: block;
  }

  .on-mobile {
    display: none;
  }
}
