<!-- <app-travel-slider></app-travel-slider> -->
<app-travel-video></app-travel-video>
<!-- End search_container -->


<div class="white_bg">
    <app-travel-location-grid></app-travel-location-grid>
    <!-- /container -->
    
</div>


<app-travel-aboutdetails></app-travel-aboutdetails>

