<br><br><br>
<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a [routerLink]="['/home']">Home</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <div class="margin_60 container">
    <div id="tabs" class="tabs">
      <nav>
        <ul>
          <li class=""><a [routerLink]="['/wishlist']" class="icon-wishlist"><span>Wishlist</span></a>
          </li>
          <li class=""><a [routerLink]="['/changepassword']" class="icon-settings"><span>Settings</span></a>
          </li>
          <li class="tab-current"><a [routerLink]="['/agent-profile']" class="icon-profile"><span>Profile</span></a>
          </li>
          <li class="" *ngIf="isb2b">
            <a [routerLink]="['/agent-markup']" class="icon-booking"><span>Markup</span></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <section id="section-4" class="content-current" style="padding:0px;">
          <app-register></app-register>
        </section>
        <!-- End section 4 -->
      </div>
      <!-- End content -->
    </div>
    <!-- End tabs -->
  </div>
</main>