<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/exotics/header_bg.jpg" style="background:#f6f6f6" data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Terms And Condition</h1>
			<!-- <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
		</div>
	</div>
</section>
<main>
  <div class="container margin_60">
    <div class="main_title">
      <h2>TERMS AND CONDITION  <span>OF</span> EXOTICSROUTES</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature">
          <!-- <i class="">1</i> -->
          <h3>Your Terms and Condition of use Exotics Routes</h3>
          <p>Please go through these terms & conditions of United Air Travels & Tours and www.exoticsroutes.com, herein referred to as UATT. When you make a booking you gurantee that you have the authority to accept and do accept behalf of your party the terms of booking conditions.
            </p>
        
        <!-- <p>
            Cenin Tours & Travels Co. Pvt. Ltd., Approved by Ministry of Tourism, Government of India a leading IATA tour operator of Central India & the first of its kind Destination Management Company in Central India promoting inbound tourism into Central India Region.
          </p> -->
        </div>
      </div>
      <!-- <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="feature">
          <i class="">2</i>
          <h3>Our Philosophy</h3>
          <h4>Few Words About Us</h4>
        </div>
      </div> -->
    </div>
    <!-- End row -->
    <!-- <div class="row">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="feature">
          <i class="">3</i>
          <h3>Mission & Vision</h3>
          <h4>Mission Statement</h4>
        
        
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="feature">
          <i class="">4</i>
          <h3>Vision</h3>
          <h3>Vision Statement</h3>
        
        </div>
      </div>
    </div> -->
  </div>
</main>

