<div class="box_style_cat">
  <ul id="cat_nav">
      <li>
          <ngx-skeleton-loader [theme]="{ width: '243px', 'border-radius': '0', height: '30px', 'margin-bottom': '0px', 'margin-top': '5px'}">
          </ngx-skeleton-loader>
      </li>
      <li>
          <ngx-skeleton-loader [theme]="{ width: '243px', 'border-radius': '0', height: '30px', 'margin-bottom': '0px', 'margin-top': '5px'}">
          </ngx-skeleton-loader>
      </li>
      <li>
          <ngx-skeleton-loader [theme]="{ width: '243px', 'border-radius': '0', height: '30px', 'margin-bottom': '0px', 'margin-top': '5px'}">
          </ngx-skeleton-loader>
      </li>
  </ul>
</div>