
.k-listbox .k-item, .k-popup .k-list .k-item {
    border-bottom: 1px dotted;
    border-bottom-color: #ffffff;
}
/* =================================== */
/*  Booking
/* =================================== */
/*==== Booking Page =====*/
.travellers-class {
    position: relative;
}

.travellers-class-input {
    cursor: pointer;
}

    .travellers-class-input[readonly] {
        background: #fff;
    }


    .qty .qty-spinner {
        background: none;
        border: none;
        pointer-events: none;
        text-align: center;
        padding: .2rem .2rem;
        margin-top:-5px; 
    }

    .qty .btn {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8px;
        border-radius: 0px !important;
        height: 25px;
        width: 25px;
        background: #555;
        border: none;
    }

.form-control {
    cursor: pointer;
}

.ch-age{
    font-size: 8px !important;
    margin-bottom: 0px !important;
}

.ch-frm{
    height: 24px !important;
    padding: 3px !important;
}

.ch-col{
    width: 20% !important;
    margin-left: 10px;
}

.plus_box1 {
    background-color: #f63869;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 23px;
    margin-right: 0;
    outline: none;
    width: 26px;
    height: 26px;
    -moz-border-radius: 50%;
    line-height: 0;
}

.addroom {
    margin-top: 4px;
    color: #44aa00;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 6px;
    margin-bottom: 6px;
    font-size: 11px;
    border: 1px solid #44aa00;
    padding: 0px 5px;
    float: left;
    -webkit-transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.removeroom {
    color: #e00005;
    border-color: #f7941d;
}

.roomTxt {
    color: #000;
    font-weight: 600;
    margin-bottom: 1px;
}

.exitroom {
    color: #ffffff !important;
    background: #f7941d;
    float: right;
    margin-right: 6px;
    border-color: #f7941d;
    display: block;
    padding: 0px 15px;
}



