<div *ngFor="let traveller of Traveller; let i=index">
    <hr *ngIf="i!=0" class="my-2" />
     <label><b>Room {{i+1}}</b></label>
      <div class="row align-items-center">
          <div class="col-sm-7">
              <p class="mb-sm-0">Adults <small class="text-muted">(12+ yrs)</small></p>
          </div>
          <div class="col-sm-5">
              <div class="qty input-group">
                  <div class="input-group-prepend">
                    <button type="button" class="btn" data-value="decrease" attr.data-target="#Adult_rm_{{i+1}}" data-toggle="spinner" (click)="changeTravellers(i,minus,'ad')">-</button>
                  </div>
                  <input type="text" data-ride="spinner" id="Adult_rm_{{i+1}}" class="qty-spinner form-control" [(ngModel)]="traveller.adults"  [(value)]="traveller.adults" readonly="">
                  <div class="input-group-append">
                    <button type="button" class="btn" data-value="increase" attr.data-target="#Adult_rm_{{i+1}}" data-toggle="spinner" (click)="changeTravellers(i,plus,'ad')">+</button>
                  </div>
                </div>
          </div>
      </div>
      <br/>
      <div class="row align-items-center">
          <div class="col-sm-7">
              <p class="mb-sm-0">Children <small class="text-muted">(2-12 yrs)</small></p>
          </div>
          <div class="col-sm-5">
              <div class="qty input-group">
                  <div class="input-group-prepend">
                    <button type="button" class="btn" data-value="decrease" attr.data-target="#Child_rm_{{i+1}}" data-toggle="spinner" (click)="changeTravellers(i,minus,'ch')">-</button>
                  </div>
                  <input type="text" data-ride="spinner" id="Child_rm_{{i+1}}" class="qty-spinner form-control" [(ngModel)]="traveller.childs.length"  [(value)]="traveller.childs.length"  readonly="">
                  <div class="input-group-append">
                    <button type="button" class="btn" data-value="increase" attr.data-target="#Child_rm_{{i+1}}" data-toggle="spinner" (click)="changeTravellers(i,plus,'ch')">+</button>
                  </div>
                </div>
          </div>
      </div>
      <div class="row align-items-center">
        <div class="ch-col" *ngFor="let c of traveller.childs; let j=index">
          <label class="ch-age">Child {{j+1}} Age</label>
            <div class="qty input-group">
                <select [(ngModel)]="c.childAge" class="ch-frm form-control" style="cursor: pointer">
                    <option *ngFor="let age of c.ages" [value]="age">{{age}}</option>
                </select>
            </div>
          </div> 
      </div>
</div>
<hr class="my-2" />
<div class="row align-items-center">
  <div class="col-sm-12">
    <a class="addroom" id="addr" *ngIf="4>Traveller.length" (click)="Addrooms(Traveller.length)">+ Add Room</a>
    <a class="addroom removeroom" *ngIf="Traveller.length===1" id="rmv" (click)="RemoveRoom()" style="display: none">x</a>
    <a class="addroom removeroom" *ngIf="Traveller.length>1" id="rmv" (click)="RemoveRoom()">x Remove</a>
    </div>
</div>