<br><br><br>
<main style="margin-bottom: 355px;">
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a>
				</li>
				<li><a href="#">Category</a>
				</li>
				<li>Page active</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="margin_60 container">
		<div id="tabs" class="tabs">
			<nav>
				<ul>
					<li class=""><a [routerLink]="['/wishlist']" class="icon-wishlist"><span>Wishlist</span></a>
					</li>
					<li class="tab-current"><a [routerLink]="['/changepassword']"
							class="icon-settings"><span>Settings</span></a>
					</li>
					<li class="">
						<a *ngIf="!isb2b" [routerLink]="['/profile']" class="icon-profile"><span>Profile</span></a>
						<a *ngIf="isb2b" [routerLink]="['/agent-profile']" class="icon-profile"><span>Profile</span></a>
					</li>
					<li class="" *ngIf="isb2b">
						<a [routerLink]="['/agent-markup']" class="icon-booking"><span>Markup</span></a>
					</li>
				</ul>
			</nav>
			<div class="content">
				<section id="section-3" class="content-current">

					<div class="row">
						<div class="col-md-12 add_bottom_30">
							<form [formGroup]="Passwordfrm" (ngSubmit)="CheckValidation()">
								<h4>Change your password</h4>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Old password</label>
											<input class="form-control" formControlName="Password" name="old_password"
												[(ngModel)]="UserCred.Password" id="old_password" type="password"
												[ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
											<div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
												<div *ngIf="f.Password.errors.required">Old Password is required</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>New password</label>
											<input class="form-control" formControlName="_Confirm" name="new_password"
												[(ngModel)]="UserCred.ConfirmPassword" id="new_password" type="password"
												[ngClass]="{ 'is-invalid': submitted && f._Confirm.errors }">
											<div *ngIf="submitted && f._Confirm.errors" class="invalid-feedback">
												<div *ngIf="f._Confirm.errors.required">New Password is required
												</div>
												<!-- <div *ngIf="Passwordfrm.errors.equalValue">password mismatch</div> -->
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Confirm new password</label>
											<input class="form-control" formControlName="ConfirmNew"
												name="confirm_new_password" [(ngModel)]="UserCred.ConfirmNewPassword"
												id="confirm_new_password" type="password"
												[ngClass]="{ 'is-invalid': submitted && f.ConfirmNew.errors }">
											<div *ngIf="submitted && f.ConfirmNew.errors " class="invalid-feedback">
												<div *ngIf="f.ConfirmNew.errors.required">Confirm New Password
													is
													required</div>
												<div *ngIf="f.ConfirmNew.errors.mustMatch">password mismatch</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 text-right">
									<button type="submit" class="btn_1 green">Update Password
										<i *ngIf="loading" class="icon-spin6 animate-spin font18"></i>
									</button>
								</div>
							</form>
						</div>
						<!-- <div class="col-md-6 add_bottom_30">
							<h4>Change your email</h4>
							<div class="form-group">
								<label>Old email</label>
								<input class="form-control" name="old_password" formControlName="ConfirmNewPassword"
									id="old_password" type="text">
							</div>
							<div class="form-group">
								<label>New email</label>
								<input class="form-control" name="new_password" formControlName="ConfirmNewPassword"
									id="new_password" type="text">
							</div>
							<div class="form-group">
								<label>Confirm new email</label>
								<input class="form-control" name="confirm_new_password"
									formControlName="ConfirmNewPassword" id="confirm_new_password" type="text">
							</div>
							<button type="submit" class="btn_1 green">Update Email</button>
						</div> -->
					</div>
					<!-- End row -->
					<hr>
					<br>
					<!-- <div class="row">
							<div class="col-lg-6">
								<h4>Notification settings</h4>
								<table class="table table-striped options_cart">
									<tbody>
										<tr>
											<td style="width:10%">
												<i class="icon_set_1_icon-33"></i>
											</td>
											<td style="width:60%">
												New Citytours Tours
											</td>
											<td style="width:35%">
												<label class="switch-light switch-ios pull-right">
													<input type="checkbox" name="option_1" id="option_1" checked="" value="">
													<span>
													<span>No</span>
													<span>Yes</span>
													</span>
													<a></a>
												</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_set_1_icon-6"></i>
											</td>
											<td>
												New Citytours Hotels
											</td>
											<td>
												<label class="switch-light switch-ios pull-right">
													<input type="checkbox" name="option_2" id="option_2" value="">
													<span>
													<span>No</span>
													<span>Yes</span>
													</span>
													<a></a>
												</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_set_1_icon-26"></i>
											</td>
											<td>
												New Citytours Transfers
											</td>
											<td>
												<label class="switch-light switch-ios pull-right">
													<input type="checkbox" name="option_3" id="option_3" value="" checked="">
													<span>
							<span>No</span>
													<span>Yes</span>
													</span>
													<a></a>
												</label>
											</td>
										</tr>
										<tr>
											<td>
												<i class="icon_set_1_icon-81"></i>
											</td>
											<td>
												New Citytours special offers
											</td>
											<td>
												<label class="switch-light switch-ios pull-right">
													<input type="checkbox" name="option_4" id="option_4" value="">
													<span>
							<span>No</span>
													<span>Yes</span>
													</span>
													<a></a>
												</label>
											</td>
										</tr>
									</tbody>
								</table>
								<button type="submit" class="btn_1 green">Update notifications settings</button>
							</div>
						</div> -->
					<!-- End row -->
				</section>
				<!-- End section 3 -->
			</div>
			<!-- End content -->
		</div>
		<!-- End tabs -->
	</div>
	<!-- end container -->
</main>