<div class="box_style_2">
  <i class="icon_set_1_icon-57"></i>
  <h4>Need <span>Help?</span></h4>
  <!-- <a href="javascript:void();" class="phone">+971-4-2977792</a> -->
  <a href="javascript:void();" class="phone">{{objGlobalDefault.Contact}}</a>
  <small>Monday to Friday 9.00am - 7.30pm</small>
</div>