<div class="white_bg">
    <div class="container margin_60">
        <div class="main_title">
            <h2>Other <span>Popular</span> Wildlife Packages</h2>
            <!-- <p>
                Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
            </p> -->
        </div>
        <div class="row add_bottom_45">
            <div class="col-lg-4 other_tours">
                <ul>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Weekend Tour Packages<span class="other_tours_price">$42</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-30"></i>Tadoba National Park<span class="other_tours_price">$35</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-44"></i>Tadoba Andhari National Park<span class="other_tours_price">$20</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Kanha Kiplings Playground Tiger Tour<span class="other_tours_price">$26</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-44"></i>Nagzira Tiger Reserve<span class="other_tours_price">$26</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Nawegaon-Nagzira Tiger Reserve<span class="other_tours_price">$32</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 other_tours">
                <ul>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-1"></i>Nagzira Wildlife Sanctuary<span class="other_tours_price">$48</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-4"></i>Pench National Park<span class="other_tours_price">$55</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-30"></i>Tiger's Heaven<span class="other_tours_price">$76</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Pench National Park!!<span class="other_tours_price">$55</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-30"></i>Pench Wildlife Tour Package<span class="other_tours_price">$24</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Pench National Park Tour from Nagpur<span class="other_tours_price">$24</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 other_tours">
                <ul>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-44"></i>Tadoba Andhari National Park<span class="other_tours_price">$20</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Kanha Kiplings Playground Tiger Tour<span class="other_tours_price">$26</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-44"></i>Nagzira Tiger Reserve<span class="other_tours_price">$26</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Pench National Park!!<span class="other_tours_price">$55</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-30"></i>Pench Wildlife Tour Package<span class="other_tours_price">$24</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_set_1_icon-3"></i>Pench National Park Tour from Nagpur<span class="other_tours_price">$24</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End row -->
        <div class="banner colored">
            <h4>Discover our Top Wildlife  Tours Starting <span>from $ 334</span></h4>
            <a href="javascript:void(0)" class="btn_1 white">Read more</a>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <a href="#"><img src="assets/img/ideal/bus.jpg" alt="Pic" class="img-fluid"></a>
                </p>
                <h4><span>Jungle Safari</span> Bookings.</h4>
                <p style="text-align: justify;">
                    When you think of a safari, iconic countries like Kenya and Tanzania are likely the first destinations that come to mind. But, the African continent isn’t the only place to embark on a jungle safari: Asian destinations like Ranthambore National Park in India .
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <a href="#"><img src="assets/img/ideal/night2.jpg" alt="Pic" class="img-fluid"></a>
                </p>
                <h4><span>Night </span>Safaris </h4>
                <p style="text-align: justify;">
                     On top of the excitement of a safari experience, the advantage of night safaris is that tourists get a unique chance to see nocturnal animals when they’re at their most active.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <a href="#"><img src="assets/img/ideal/Team.jpg" alt="Pic" class="img-fluid"></a>
                </p>
                <h4><span>Team building </span>Activities</h4>
                <p style="text-align: justify;">
                    Wildlife safaris constitute the core of wildlife tourism in India. Corporate Compass is one of the top 20 companies in the country offering corporate office team outings in the form of forest adventures and wildlife safaris.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <a href="#"><img src="assets/img/ideal/hotel.jpg" alt="Pic" class="img-fluid"></a>
                </p>
                <h4><span>Birthday Party</span> in wilderness</h4>
                <p style="text-align: justify;">
                    Coconut Trees A nutty idea for your next Jungle theme party.A nutty idea for your next Jungle theme party.
                </p>
            </div>
        </div>
        <!-- End row -->

    </div>
    <!-- End container -->
</div>
<!-- End white_bg -->
<br>
      <div class="container">
        <div class="main_title">
            <h2>Our <span>Clients</span></h2>
        </div>
        <div class="owl-carousel owl-theme carousel-thumbs-2 magnific-gallery">
            <div class="item">
                <a href="https://www.idealjunglesafaris.com/images/lemken_107458.jpg" data-effect="mfp-zoom-in">
                    <img src="assets/img/ideal/clients/lekmen.png" alt="Image">
                </a>
            </div>
            <div class="item">
                <a href="assets/img/ideal/clients/mahindra-logo.png" data-effect="mfp-zoom-in">
                    <img src="assets/img/ideal/clients/mahindra-logo.png" alt="Image">
                </a>
            </div>
            <div class="item">
                <a href="assets/img/ideal/clients/Nikon.jpg" data-effect="mfp-zoom-in">
                    <img src="assets/img/ideal/clients/Nikon.jpg" alt="Image">
                </a>
            </div>
            <div class="item">
                <a href="assets/img/ideal/clients/rrs.jpg" data-effect="mfp-zoom-in">
                    <img src="assets/img/ideal/clients/rrs.jpg" alt="Image">
                </a>
            </div>
            <div class="item">
                <a href="assets/img/ideal/clients/UniqueZone.jpg" data-effect="mfp-zoom-in">
                    <img src="assets/img/ideal/clients/UniqueZone.jpg" alt="Image">
                </a>

            </div>
            <div class="item">
                <a href="assets/img/ideal/clients/sony.jpg" data-effect="mfp-zoom-in">
                    <img src="assets/img/ideal/clients/sony.jpg" alt="Image">
                </a>

            </div>
            <div class="item">
                <a href="assets/img/ideal/clients/CrossRef.png" data-effect="mfp-zoom-in">
                    <img src="assets/img/ideal/clients/CrossRef.png" alt="Image">
                </a>

            </div>

        </div>
    </div>
    <!-- <section class="promo_full">
        <div class="promo_full_wp magnific">
            <div>
                <h3>Experience The Best Wildlife</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
                </p>
                <a href="https://www.youtube.com/watch?v=6XLkxpG21vY" class="video"><i class="icon-play-circled2-1"></i></a>
            </div>
        </div>
    </section> -->

    <section class="promo_full">
        <div class="promo_full_wp magnific">
            <div>
                <h3>Why Ideal Jungle Safari</h3>
                <p style="text-align: justify;">
                    Ideal Tours and Travels had a modest start as a ticketing company in 2009 and gradually spread its wings to develop a huge client base of corporates and others dealing with everything related to travel. Specializing in domestic and international tour packages.After having firmly established its footing as the fastest growing tours and travel company in city, Ideal Tours and Travels turned a new leaf in Sept 2011, by venturing into money exchange. IDEAL MONEY EXCHANGE PVT. LTD (RBI approved money exchanger) is now a well known brand amongst its client base and the entire travel fraternity.In another leap towards providing complete travel solutions, e tourism segment to provide better travel solutions. Owing to its geographical placement, Nagpur has gained a status of The TIGER CAPITAL of the country, with Five major Tiger reserves, PENCH, TADOBA, NAGZIRA, KANHA and BANDHAVGARH.
                </p>
                <a href="https://www.youtube.com/watch?v=6XLkxpG21vY" class="video"><i class="icon-play-circled2-1"></i></a>
            </div>
        </div>
    </section>

  
    <!-- End section -->
    <div class="container margin_30">
        <div class="main_title">
            <h2>Some <span>good</span> reasons</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 wow zoomIn" data-wow-delay="0.2s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-41"></i>
                    <h3><span>+200</span> Safari</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                    <a href="about.html" class="btn_1 outline">Read more</a>
                </div>
            </div>
            <div class="col-lg-3 wow zoomIn" data-wow-delay="0.4s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-30"></i>
                    <h3><span>+1000</span>  Customers</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                    <a href="about.html" class="btn_1 outline">Read more</a>
                </div>
            </div>
            <div class="col-lg-3 wow zoomIn" data-wow-delay="0.6s">
                <div class="feature_home">
                    <i class=" icon_set_1_icon-50"></i>
                    <h3><span>200 </span> Exciting Gifts</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                    <a href="javascript:void(0);" class="btn_1 outline">Read more</a>
                </div>
            </div>
            <div class="col-lg-3 wow zoomIn" data-wow-delay="0.6s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-57"></i>
                    <h3><span>+200 </span> Booking</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                    <a href="javascript:void(0);" class="btn_1 outline">Read more</a>
                </div>
            </div>
        </div>
        <!--End row -->
        <hr>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/ideal/logo_safari.jpg" alt="Laptop" class="img-fluid laptop" style="margin-top:-50px">
            </div>
            <div class="col-md-6">
                <h3><span>Get started</span> with Ideal Jungle Safari</h3>
                <ul class="list_order">
                    <li><span>1</span>Select your preferred Jungle Safari</li>
                    <li><span>2</span>Purchase tickets and Select  options</li>
                    <li><span>3</span>Pick them directly from your Location</li>
                </ul>
                <a href="javascript:void(0)" class="btn_1">Book now</a>
            </div>
        </div>
        <br />
        <br />
        <br />

        <!-- End row -->
    </div>

   

