#search_2 .nav-tabs > li > a#ico_Flight:before {
  font-family: Pe-icon-7-stroke;
  content: "\e625";
  speak: none;
  font-size: 18px;
  margin-right: 5px;
  position: absolute;
  left: 15px;
  top: 8px;
}

#search_2 .nav-tabs > li > a#ico_Hotel:before {
  font-family: icon_set_1;
  content: "\26";
  speak: none;
  font-size: 18px;
  margin-right: 5px;
  position: absolute;
  left: 15px;
  top: 8px;
}

#search_2 .nav-tabs > li > a#ico_Sightseeing:before {
  font-family: icon_set_1;
  content: "\23";
  speak: none;
  font-size: 18px;
  margin-right: 5px;
  position: absolute;
  left: 15px;
  top: 8px;
}

#search_2 .nav-tabs > li > a#ico_Package:before {
  font-family: icon_set_1;
  content: "\45";
  speak: none;
  font-size: 18px;
  margin-right: 5px;
  position: absolute;
  left: 15px;
  top: 8px;
}

#search_container_2{
  color: #333 !important;
}
