<div id="search_container_2">
  <div id="search_2">
    <ul class="nav nav-tabs">
      <li *ngFor="let tabs of _homeTabs; let i=index">
        <a href="#{{tabs.Name}}" data-toggle="tab" [ngClass]="i==0 ? 'active show' : ''" id="ico_{{tabs.Name}}">
          <span>{{tabs.Name}}</span>
        </a>
      </li>

      <!-- <li>
        <a href="#Hotel" data-toggle="tab" id="_hotel">
          <span>Hotel</span>
        </a>
      </li>

      <li>
        <a href="#sightseeing" data-toggle="tab" id="_sightseeing">
          <span>Sightseeing</span>
        </a>
      </li>

      <li>
        <a href="#holidays" data-toggle="tab" id="_holidays">
          <span>Package</span>
        </a>
      </li> -->


    </ul>

    <div class="tab-content">
      <div [ngClass]="i==0 ? 'tab-pane fade active show' : 'tab-pane fade' " id="{{tabs.Name}}"
        *ngFor="let tabs of _homeTabs; let i=index">

        <div *ngIf="tabs.Name==='Flight'">
          <br>
          <app-search-flight [JourneyType]="JourneyType" [Direct]="Direct" [Class]="Class" [Search]="Search"
            [TotelGuest]="TotelGuest" [Destinations]="Destinations" [singleDatePicker]="singleDatePicker">
          </app-search-flight>
        </div>

        <div *ngIf="tabs.Name==='Hotel'">
          <app-hotel-search [Code]="" [Traveller]="Traveller" [objTraveller]="objTraveller">
          </app-hotel-search>
        </div>

        <div *ngIf="tabs.Name==='Sightseeing'">
          <app-sightseeing-search [objTour]="objTour">
          </app-sightseeing-search>
        </div>

        <div *ngIf="tabs.Name==='Package'">
          <app-package-search>
          </app-package-search>
        </div>

      </div>
    </div>
  </div>
</div>