<main>
  <section class="sign-in-page">
    <div class="container p-0">
      <div class="row no-gutters">
        <div class="col-sm-12 align-self-center">
          <div class="sign-in-from bg-white">
            <h1 class="mb-0">Sign in</h1>
            <p>Enter your email address and password to access.</p>
            <form [formGroup]="signin" (ngSubmit)="getUserlogin()" class="mt-4">
              <div class="form-group">
                <label>Email address</label>
                <input type="email" formControlName="UserName" placeholder="User Name" required class="form-control"
                  [(ngModel)]="sUserName" id="email" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">
                <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                  <div *ngIf="f.UserName.errors.required">This field is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <a href="javascript:void(0);" class="float-right" (click)="ForgotDialog()">Forgot password?</a>
                <input type="password" placeholder="Password" formControlName="Password" class="form-control"
                  name="sPassword" [(ngModel)]="sPassword" value=""
                  [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                  <div *ngIf="f.Password.errors.required">This field is required</div>
                </div>
              </div>
              <div class="d-inline-block w-100">
                <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Remember
                    Me</label>
                </div>
                <button type="button" class="btn_1 float-right" disabled *ngIf="loading"><i
                    class=" icon-spin6 animate-spin font18"></i></button>
                <button type="submit" class="btn_1 float-right" *ngIf="!loading">Sign in</button>
              </div>
              <div class="sign-info">
                <span class="dark-color d-inline-block line-height-2">Don't have an account? <a
                    [routerLink]="['/agent-register']">Sign
                    up</a></span>
                <!-- <ul class="iq-social-media">
                <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
              </ul> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>