/* new login start */

.sign-in-page {
  background: #4d65f1;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-in-from {
  padding: 20px;
  width: 40%;
  margin: 150px auto 50px;
  position: relative;
  z-index: 9;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.bg-white {
  background-color: #fff !important;
}

.d-inline-block {
  display: inline-block !important;
}

.w-100 {
  width: 100% !important;
}

.sign-info {
  border-top: 1px solid #cdd1f3;
  margin-top: 30px;
  padding-top: 20px;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
