<div *ngIf="selRateType" class="padding10" style="display:block">
    <div class="bs-wizard row">
        <div class="col-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum font12">Options</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Type')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum font12">Date</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Date')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step disabled" *ngIf="isFullDay == false">
            <div class="text-center bs-wizard-stepnum font12">Slot</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Slot')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum font12">Finish!</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Book')" class="bs-wizard-dot"></a>
        </div>

    </div>
    <!-- End bs-wizard -->
    <div class="col-12">
        <div class="strip_booking" *ngFor="let arrType of tourType">
            <h3 *ngIf="arrType.Type=='TKT'" class="no_transfer pointer" (click)="getRateDate(arrType.Type)">ONLY
                TICKET<span>Without transfer</span></h3>
            <h3 *ngIf="arrType.Type=='SIC'" class="sic_transfer pointer" (click)="getRateDate(arrType.Type)">Shared
                Transfer<span>Sharing with other guest, it may be on bus or van</span></h3>
            <h3 *ngIf="arrType.Type=='PVT'" class="pvt_transfer pointer" (click)="getRateDate(arrType.Type)">Private
                Vehicle<span>Sightseeing on Private vehicle as per number of guest</span></h3>
        </div>
    </div>
</div>
<div *ngIf="selDate">
    <div class="bs-wizard row">
        <div class="col-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum font12">{{RateType}}</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Type')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum font12">{{ SlotDate}}</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step disabled" *ngIf="isFullDay == false">
            <div class="text-center bs-wizard-stepnum font12">Slot</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum font12">Finish!</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="" class="bs-wizard-dot"></a>
        </div>

    </div>
    <!-- End bs-wizard -->
    <div class="padding10 strip_booking">
        <p class="add_bottom_15 text-center font18 font-weight-bold blue-colour">
            <span class="icon-left-open-5 font12 pointer" (click)="changeDate(nextDate,false)"></span>
            {{arrDate.sYears}}
            <span class="icon-right-open-5 font12 pointer" aria-hidden="true"
                (click)="changeDate(LastDate,true)"></span>
        </p>
        <ul class="act-date">
            <li *ngFor="let rDate of arrDates" (click)="setDate(rDate.fDate)">
                <div class="date" *ngIf="rDate.fDate==SlotDate" style="background-color: #fbe8aa">
                    <span class="month">{{rDate.Month}}</span>
                    <span class="day"><strong>{{rDate.sDate}}</strong>{{rDate.Day}}</span>
                </div>
                <div class="date" *ngIf="rDate.fDate!=SlotDate">
                    <span class="month">{{rDate.Month}}</span>
                    <span class="day"><strong>{{rDate.sDate}}</strong>{{rDate.Day}}</span>
                </div>
            </li>
        </ul>
        <div class="container" *ngIf="RateType == 'SIC'">
            <div class="row">
                <div class="col-md-12">
                    <div class="from-group">
                        <label>Pickup From </label>
                        <input class="form-control" type="text" [matAutocomplete]="Pickup" [(ngModel)]="PickupName"
                            (keyup)="getPickupDrop($event,'P')" placeholder="From...">
                        <i class="icon_pin_alt"></i>
                        <mat-autocomplete #Pickup="matAutocomplete"
                            (optionSelected)="onchangePickup($event.option.value,'P')">
                            <mat-option *ngFor="let Pickup of arrPickupLocation" [value]="Pickup.value">
                                <span class="airport-code"> <i class="icon_set_1_icon-41"></i> {{Pickup.value}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="from-group">
                        <label>Drop Location </label>
                        <input class="form-control" type="text" [matAutocomplete]="Drop" [(ngModel)]="DropName"
                            (keyup)="getPickupDrop($event,'D')" placeholder="From...">
                        <i class="icon_pin_alt"></i>
                        <mat-autocomplete #Drop="matAutocomplete"
                            (optionSelected)="onchangePickup($event.option.value,'D')">
                            <mat-option *ngFor="let Drop of arrDropLocation" [value]="Drop.value">
                                <span class="airport-code"> <i class="icon_set_1_icon-41"></i> {{Drop.value}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
                <br />
                <div class="col-md-4" style="margin-top: 10px;">
                    <button class="btn_1" (click)="setWizard('Type')">Back</button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4" style="margin-top: 10px;">
                    <button class="btn_1 float-right" (click)="setSlotView()">Next </button>
                </div>
            </div>
        </div>

    </div>
</div>
<div *ngIf="selSlot">
    <div class="bs-wizard row">
        <div class="col-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum font12">{{RateType}}</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Type')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum font12">{{ SlotDate}}</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Date')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step active" *ngIf="isFullDay == false">
            <div class="text-center bs-wizard-stepnum font12">Slot</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Slot')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum font12">Finish!</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="" class="bs-wizard-dot"></a>
        </div>

    </div>
    <!-- End bs-wizard -->
    <div class="padding10 strip_booking nomargin_bottom" *ngIf="isFullDay == false">
        <label>Select Timing slot</label>
        <ul class="slots">
            <li *ngFor="let Slot of arrSlots ; let i=index" (click)="getSlotRate(Slot.ID,Slot.SlotsStartTime)">
                <div class="slotbox" *ngIf=" this.SlotName==Slot.SlotsStartTime"
                    style="border: 3px solid #f7a817 !important;">
                    <span class="time open">{{Slot.SlotsStartTime}}</span>
                </div>
                <div class="slotbox" *ngIf="this.SlotName!=Slot.SlotsStartTime">
                    <span class="time open">{{Slot.SlotsStartTime}}</span>
                </div>
            </li>

        </ul>
        <div>
            <span class="icon-stop blue-colour"></span> Available
            <span class="icon-stop red-colour"></span> Unavailable
            <span class="icon-stop orange-colour"></span> Limited
        </div>
    </div>
    <div class="col-12" *ngIf="showRate">

        <div class="strip_booking act-type-header">
            <div class="row">
                <div class="col-3">
                    <h3 style="text-transform: none" class="touroption font11"><strong>Tour Type</strong></h3>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-2 " *ngFor="let Pax of  arrPax">
                    <h4 style="text-transform: none" class="tourtype font11">
                        <strong *ngIf="Pax.Pax_Type=='adult'">Adult</strong>
                        <strong *ngIf="Pax.Pax_Type=='child1'|| Pax.Pax_Type=='child2'">Child
                            <br /><small>({{Pax.Age}})</small></strong>
                        <strong *ngIf="Pax.Pax_Type=='infant'">Infant</strong>
                    </h4>
                </div>
             
            </div>
        </div>
        <div class="strip_booking nomargin_bottom" *ngFor="let arrTicket of arrTicketType">
            <div class="row" >
                <div class="col-3">
                    <h3 style="text-transform: none" class="touroption font11 pointer"
                        (click)="setTicketRate(arrTicket.Ticket)">
                        {{arrTicket.Ticket}}</h3>
                      
                </div>
               <div class="col-md-1">
                <div class="row">
                    <div class="col-md-4  tooltip_styled tooltip-effect-4">
                        <span  class="pointer"  matTooltip="Cancellation Info"
                        [matTooltipPosition]="'right'" (click)="GetInfo(arrTicket.Ticket,'Cancel')">
                            <img src="assets/img/Non-Ref.png" *ngIf="arrTicket.nonRefundable==true"
                                style="padding-top: 10px;" alt="">
                            <img src="assets/img/Ref.png" *ngIf="arrTicket.nonRefundable !=true"
                                style="padding-top: 10px;" alt="">
                        </span>
                    </div>
                    <div class="col-md-4 tooltip_styled tooltip-effect-4">
                        <span class="pointer" matTooltip="Importent Info" [matTooltipPosition]="'right'" (click)="GetInfo(arrTicket.Ticket,'Note')">
                          <i class="icon-info-circled-1" ></i>
                        </span>
                    </div>
                </div>
               </div>
                <div class="col-2" *ngFor="let arrPax of arrTicket.arrayPax"  (click)="setTicketRate(arrTicket.Ticket)">
                    <h4 style="text-transform: none" class="tourtype font11 pointer">
                        <span>{{arrTicket.Currency}}</span>{{arrPax.objCharges.TotalPrice.toFixed(2)}}</h4>
                </div>
               
            </div>
             <div class="row" *ngIf="arrTicket.showCancel ==true">
                    <ul class="list_ok" *ngFor="let Cancel of arrTicket.arrCancellationPolicy">
                        <li *ngFor="let infoCalcel of Cancel.info" style="margin-left: 15px;">{{infoCalcel}}</li>
                    </ul>
                 </div>
                 <div class="row"  *ngIf="arrTicket.showInfo ==true" [innerHTML]="arrTicket.ImportentNote">

                 </div>
        </div>

    </div>
</div>
<div *ngIf="selBook">
    <div class="bs-wizard row">
        <div class="col-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum font12">{{RateType}}</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Type')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum font12">{{SlotDate}}</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Date')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step complete" *ngIf="isFullDay == false">
            <div class="text-center bs-wizard-stepnum font12">{{SlotName}}</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Slot')" class="bs-wizard-dot"></a>
        </div>

        <div class="col-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum font12">Finish!</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a (click)="setWizard('Book')" class="bs-wizard-dot"></a>
        </div>

    </div>
    <!-- End bs-wizard -->
    <table class="table table-striped act-pax-select">
        <thead>
            <tr class="justify-content-center font11" style="text-transform: none;">
                <th>
                    Passanger
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Per Pax
                </th>
                <th>
                    Sub Total
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Pax of arrSelected.arrayPax">
                <td>
                    <span *ngIf="Pax.Pax_Type=='adult'" class="font-weight-bold font11">
                        Adults
                    </span>
                    <span *ngIf="Pax.Pax_Type=='child1' || Pax.Pax_Type=='child2'" class="font-weight-bold font11">
                        Child
                        <br>
                        <small>({{Pax.Age}})</small>

                    </span>

                    <span *ngIf="Pax.Pax_Type=='infant'" class="font-weight-bold font11">
                        Infant
                        <br>
                        <small>({{Pax.Age}})</small>

                    </span>
                </td>
                <td>
                    <input type="number" [(ngModel)]="Pax.Count" min="0" [max]="arrSelected.available"
                        (keyup)="GetToal(Pax.Pax_Type)" class=" form-control" name="rooms" style="width: 60px">
                </td>
                <td class="font11">
                    <span>{{arrSelected.Currency}} </span>
                    {{Pax.objCharges.TotalPrice.toFixed(2)}}
                </td>
                <td class="font11">
                    {{arrSelected.Currency}} <strong> {{ (Pax.Rate * Pax.Count).toFixed(2)}}</strong>
                </td>
            </tr>

        </tbody>

    </table>
    <div class="row bookrow" >
        <div class="post_info clearfix col-md-5">
            <div class="post-left" style=" margin-top: 7px;margin-left: 20px;">
                <span class="font16 text-danger align-middle">
                    Total
                </span>
                <span class="font16 text-danger align-middle">
                    <strong>{{arrSelected.Currency}} {{arrSelected.Total.toFixed(2)}}</strong>
                </span>
            </div>


        </div>
        <div class="col-md-7">
            <app-add-cart [Product]="Cart" [sequence]="sequence"></app-add-cart>
        </div>

    </div>

</div>