.icon_pin_alt{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    font-size: 1.125rem;
    position: absolute;
    background-color: #fff;
    line-height: 30px;
    top: 33px;
    right: 17px;
    padding-right: 15px;
    display: block;
    width: 20px;
    box-sizing: content-box;
    height: 30px;
    z-index: 9;
    color: #999;
}
.bookrow {
    margin-top: -10px;
}