<div id="filters_col">
  <h6> <small>
      <i class="icon_set_1_icon-65"></i>Filters
      <span *ngIf="hotelName!==undefined || hotelName!==''" style="float: right;cursor: pointer;"
        (click)="Clearhotel('', 'h')">Reset</span>
    </small>
  </h6>
  <div>
    <div class="filter_type">
      <h6>Hotel Name </h6>
      <input type="text" placeholder="Hotel Name" [(ngModel)]="hotelName" style="height: 30px;" class="form-control"
        matInput [formControl]="hotelControl" (ngModelChange)="hotelNamefilter(hotelName, 'h')">
      <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="hotelNamefilter($event.option.value, 'h')">
        <mat-option *ngFor="let hotelname of filtered | async" [value]="hotelname">
          {{hotelname}}
        </mat-option>
      </mat-autocomplete>[matAutocomplete]="auto" -->
    </div>

    <div class="filter_type">
      <h6>Near By Location</h6>
      <!-- [options]='options' -->
      <input ngx-google-places-autocomplete style="height: 30px;" class="form-control" #places="ngx-places"
        (onAddressChange)="onChange($event, 'n')" />
    </div>
    <div class="filter_type">
      <h6>Price</h6>
      <input type="text" class="price_range" name="range" value="">
    </div>
    <div class="filter_type" *ngIf="Category.length!=0">
      <h6>Star Rating</h6>
      <ul>
        <li *ngFor="let category of Category">
          <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='5'"
            (change)="Commonfilter(category.Checked, category.Name, 's')">
            <span class="rating">
              <i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i
                class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i
                class="icon_set_1_icon-81 voted"></i>
            </span>({{category.Count}})
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='4'"
            (change)="Commonfilter(category.Checked, category.Name, 's')">
            <span class="rating">
              <i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i
                class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i
                class="icon_set_1_icon-81"></i>
            </span>({{category.Count}})
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='3'"
            (change)="Commonfilter(category.Checked, category.Name, 's')">
            <span class="rating">
              <i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i
                class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i
                class="icon_set_1_icon-81"></i>
            </span>({{category.Count}})
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='2'"
            (change)="Commonfilter(category.Checked, category.Name, 's')">
            <span class="rating">
              <i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81 voted"></i><i
                class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
            </span>({{category.Count}})
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='1'"
            (change)="Commonfilter(category.Checked, category.Name, 's')">
            <span class="rating">
              <i class="icon_set_1_icon-81 voted"></i><i class="icon_set_1_icon-81"></i><i
                class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
            </span>({{category.Count}})
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="category.Checked" *ngIf="category.Name==='0'"
            (change)="Commonfilter(category.Checked, category.Name, 's')">
            <span class="rating">
              <i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i><i
                class="icon_set_1_icon-81"></i><i class="icon_set_1_icon-81"></i>
            </span>({{category.Count}})
          </mat-checkbox>
        </li>
      </ul>
    </div>
    <div class="filter_type" *ngIf="Facility.length!=0">
      <h6>Facility</h6>
      <ul>
        <li *ngFor="let facility of Facility">
          <mat-checkbox [(ngModel)]="facility.Checked" (change)="Commonfilter(facility.Checked, facility.icon, 'f')">
            {{facility.Name}} ({{facility.Count}})
          </mat-checkbox>
        </li>
      </ul>
    </div>
  </div>
  <!--End collapse -->
</div>
<!--End filters col-->