<kendo-pdf-export #pdf paperSize="A4" margin="0cm" [scale]="scale">
  <div class="row">
    <div class="col-md-12">
      <div class="box_style_1">
        <div class="row">
          <div class="col-md-12">
            <h5 *ngIf="isb2c">
              <strong>
                {{AgentDetails.Name}}
              </strong>
            </h5>
            <img *ngIf="!isb2c" src="http://clickurtrip.net/Agencylogo/{{AdminUser.Code}}.jpg" height="58" width="277">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-secondary" role="alert">
              <strong>Sales Invoice</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>Invoice To</strong><br>
                <div *ngIf="!isb2c">
                  <span> {{AgentDetails.Name}} </span><br>
                  <span> {{AgentDetails.Address}}</span><br>
                  <span> {{AgentDetails.City}} , {{AgentDetails.Countryname}}</span><br>
                  <span>{{AgentDetails.Mobile}} / {{AgentDetails.email}}</span>
                </div>
                <div *ngIf="isb2c">
                  <span> {{userdetails.LoginDetail.Name}}</span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.Address}}</span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.CitiesID}},
                    {{userdetails.LoginDetail.ContacDetails.CountryID}} </span><br>
                  <span> {{userdetails.LoginDetail.ContacDetails.PinCode}} </span><br>
                  <span>{{userdetails.LoginDetail.ContacDetails.Mobile}} / {{userdetails.LoginDetail.Email}}</span>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>
                  {{InvoiceDetails.ActivityName}}
                </strong><br>
                <span> {{InvoiceDetails.Location}} </span><br>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
            <div class="row">
              <div class="col-md-12">
                <strong>
                  Invoice Details
                </strong><br>
                <span> <strong>Status :</strong> {{InvoiceDetails.Status}} </span><br>
                <span><strong>Invoice Date:</strong> {{InvoiceDetails.BookDate}}</span><br>
                <span><strong>Invoice No:</strong>  {{InvoiceDetails.InvoiceNo}}</span><br>
                <span><strong>Voucher No :</strong>  {{InvoiceDetails.VoucherID}}</span><br>
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
          <div class="col-md-4">
            <span><b>Activity Type: </b> {{InvoiceDetails.ActivityType}}</span><br>
            <span><b>Priority Type: </b> {{InvoiceDetails.TicketType}}</span> <br>
            <span><b>Slot: </b> 14:30 to 15:00</span>
          </div>
          <div class="col-md-5">
            <span>
              {{InvoiceDetails.Adult}} <i class="icon-adult font16" title="Adult"></i><small>(adult)</small>&nbsp;
              {{InvoiceDetails.Child1}} <i class="icon_group font16"></i><small>
                <!-- + (+InvoiceDetails.Child2)}} -->
                (child)</small>
              &nbsp;
              {{InvoiceDetails.Infant}} <i class="icon_group font16"></i><small> (infant)</small>
            </span><br>
            <span *ngIf="InvoiceDetails.Adult!=='0'"> Adult Price : {{InvoiceDetails.Currency}}
              {{InvoiceDetails.AdultCost}}</span><br>
            <span *ngIf="InvoiceDetails.Child1!=='0'"> Child 1 Price : {{InvoiceDetails.Currency}}
              {{InvoiceDetails.Child1Cost}}</span><br>
            <span *ngIf="InvoiceDetails.Child2!=='0'"> Child 2 Price : {{InvoiceDetails.Currency}}
              {{InvoiceDetails.Child2Cost}}</span><br>
            <span *ngIf="InvoiceDetails.Infant!=='0'"> Infant Price : {{InvoiceDetails.Currency}}
              {{InvoiceDetails.InfantCost}}</span>
          </div>
          <div class="col-md-3 text-right">
            <span> Total : {{InvoiceDetails.Currency}} {{InvoiceDetails.TotalAmount}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 text-right">
            <strong>Sub Total : {{InvoiceDetails.Currency}} {{InvoiceDetails.TotalAmount}}
            </strong>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <span><strong>In words:</strong>
              {{InvoiceDetails.AmountInWord}}
            </span>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12">
            <br>
            <h4>Terms & Conditions</h4>
            <ol>
              <li> Kindly check all details carefully to avoid un-necessary complications</li>
              <li> Cheque to be drawn in our company name on presentation of invoice</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button kendo-button (click)="pdf.saveAs('Invoice.pdf')" class="btn_full" id="btn_Invoice_pdf"
    style="display: none"></button>
</kendo-pdf-export>