<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/ideal/nagzira.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>Nagzira</h1>
    </div>
  </div>
</section>
<!-- End section -->

<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="/home">Home</a>
        </li>
        <li><a href="javascript:void((0)">Tadoba</a>
        </li>
        <li>Page active</li>
      </ul>
    </div>
  </div>
  <!-- End Position -->

  <div class="margin_60 container">
    <div id="tour_guide">
      <p>
        <img src="assets/img/ideal/NAGA1.jpg" alt="Image" class="rounded-circle styled">
      </p>
      <div class="row">
        <div class="col-md-12">
          <div class="main_title">
            <h2>Nagzira  <span>01 Night/ 02 Days</span></h2>
          </div>
          <!-- class="lead add_bottom_30" -->
          <h3> <span> Day 01</span>: Nagpur – Nagzira Wildlife Sanctuary-</h3>
          <p style="text-align: justify;">
            "On arrival at Nagpur railway station/ airport, meet our representative and drive to Nagzira Wildlife Sanctuary. Upon arrival transfer to the resort. Afternoon get ready by 02.00 pm sharp for Jungle Safari to the Nagzira Wildlife Sanctuary for wildlife viewing. Our Gypsy driver will be ready at resort to take you for Jungle Safari. Overnight stay at resort."
          </p>
          <h3> <span> Day 02</span>: Nagzira Wildlife Sanctuary – Nagpur -</h3>
          <p style="text-align: justify;">
            "Morning after breakfast enjoy the vicinity of the forest near resort. Later at 11 am check out from the resort and drive to Nagpur. Upon arrival transfer to the railway station/ airport for onward journey/destination."
          </p>
        </div>
      
      </div>
    </div>
    
    <div>
      <div class="box_style_1">
        <div class="main_title">
          <h2><span>Nagzira  - </span>02Night/ 03 Days</h2>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/img/ideal/tpa1.jpg" height="171px"
           width="410px" class="imagesrowviewPage">
          </div>
          <div class="col-md-7">
            <h3> <span> Day 01</span>Nagpur – Nagzira Wildlife Sanctuary - </h3>
            <p>
              On arrival at Nagpur railway station/ airport, meet our representative and drive to Nagzira Wildlife Sanctuary. Upon arrival transfer to the resort. Afternoon get ready by 02.00 pm sharp for Jungle Safari to the Nagzira Wildlife Sanctuary for wildlife viewing. Our Gypsy driver will be ready at resort to take you for Jungle Safari. Overnight stay at resort.
            </p>
            <h3><span> Day 02</span>Nagzira Wildlife Sanctuary-</h3>
            <p>Get ready for morning Jungle Safari to Nagzira Wildlife Sanctuary for wildlife viewing. Our Gypsy will come to pick you up sharp 05.45 am at resort. Evening enjoy jungle trail near the resort. Overnight stay to resort.</p>
            <h3><span> Day 03</span>Nagzira Wildlife Sanctuary – Nagpur -</h3>
            <p>Morning after breakfast enjoy the vicinity of the forest near resort. Later at 11 am check out from the resort and drive to Nagpur. Upon arrival transfer to the railway station/ airport for onward journey/destination.</p>
          </div>
         </div>
      </div>
      <br>
      <div class="box_style_1" style="background-color: #eae5e5 ;">
       
        <div class="row">
          <div class="col-md-7">
            <div class="main_title">
              <h2><span>NAGZIRA </span>WILDLIFE SANCTUARY:</h2>
            </div>
            <p>
              The Nagzira wildlife sanctuary is a miraculously preserved “Green Oasis” in the eastern most part of the Maharashtra State and has a great importance from bio-diversity conservation point of view. This sanctuary is locked in the arms of nature and adorned with picturesque landscapes, luxuriant vegetation and serves as living outdoor museum to explore and appreciate nature. This wildlife sanctuary is indeed nature’s priceless asset and beckons One and all to enjoy its picturesque landscape, its scenic beauty, its pure and fresh air.
            </p>
            <h3>Getting there:-</h3>
            <ul class="list_ok">
              <li>The nearest airport is Nagpur. 140 kms away.</li>
              <li>The nearest bus stand is Sakoli, 22 kms away.</li>
              <li>Close by railway stations are Nagpur (130 kms), Gondia (45 kms) and Bhandara (75 kms).</li>
            </ul>        
          </div>

          <div class="col-md-5">
            <img src="assets/img/ideal/tpa2.jpg" height="281px" width="410px" class="imagesrowviewPage">
          </div>
         
         </div>
      </div>
     
  </div>
  <!-- <div class="margin_60 container">
    <div class="row">
      <div class="w3agile-map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d475319.1850220632!2d78.97600938638298!3d21.451593737120067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3bd4c0a5a31faf13%3A0x19b37d06d0bb3e2b!2sNagpur%2C+Maharashtra!3m2!1d21.1458004!2d79.0881546!4m5!1s0x3a2ab6a391ebc691%3A0xf9f9c71463022df!2sPench+National+Park%2C+Kurai%2C+Madhya+Pradesh!3m2!1d21.7629527!2d79.339113!5e0!3m2!1sen!2sin!4v1524294951553" width="600" height="450" frameborder="0" style="border:0"></iframe>
     </div> 
     
   </div>
  </div> -->
    <!-- end row -->
  </div>
  <!-- end container -->
  <div class="container">
    <div class="main_title">
      <h2>Nagzira <span>WILDLIFE </span>PHOTOS</h2>
    </div>
    <hr>
    <div class="row justify-content-between">
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/nag1.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/nag2.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/nag3.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/nag4.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/nag5.jpg" alt="Image" class="img-fluid styled">
      </div>
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/ideal/nag6.jpg" alt="Image" class="img-fluid styled">
      </div>
    <div >

    </div>
    </div>

    <hr class="add_bottom_45">
   
    <!-- Weather widget -->

  </div>
 
  <app-idealjungle-client></app-idealjungle-client>
  <!-- End container -->
</main>
<!-- End main -->