<div class="card" *ngFor="let rate of RateGroups; let r=index">
  <div class="card-header">
    <h6>
    <a class="accordion-toggle" data-toggle="collapse" attr.data-parent="#accordion{{HotelCode}}" href="#rateg{{HotelCode}}_{{r}}">
        Rate Group {{r+1}}
    </a>
    </h6>
  </div>
  <div id="rateg{{HotelCode}}_{{r}}" [ngClass]="r==0 ? 'collapse show' : 'collapse'" attr.data-parent="#accordion{{HotelCode}}">
    <div class="card-body">
        <div class="nopadding" *ngFor="let occupancy of rate.RoomOccupancy; let oc=index">
            <div class="post_info clearfix">
              <div class="post-left">
                <span class="bold">Room No. {{occupancy.RoomNo}} ( {{occupancy.AdultCount}} Adults & {{occupancy.ChildCount}} Children in each room )</span>
              </div>
            </div>
            <div *ngFor="let rooms of occupancy.Rooms; let o=index">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-6">
                <div class="row">
                  <div class="col-8 col-sm-8 col-lg-8">
                    <span class="size13 bold">{{rooms.RoomTypeName}}</span>
                    <br>
                    <span class="size11">{{rooms.RoomDescription}}</span>
                  </div>
                  <div class="col-4 col-sm-4 col-lg-4">
                    <span class="size12 bold">2 Rooms only</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-2" >
                <div class="row">
                  <div class="col-12 col-sm-12 col-lg-12" *ngIf="rooms.CancellationPolicy[0].nonRefundable==false">
                    <a class="accordion-toggle" data-toggle="collapse" attr.data-parent="#Refundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}" href="#Refundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}">
                      <span class="Refundable bold">Refundable</span>
                    </a>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-12" *ngIf="rooms.CancellationPolicy[0].nonRefundable==true">
                        <a class="accordion-toggle" data-toggle="collapse" attr.data-parent="#nonRefundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}" href="#nonRefundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}">
                          <span class="nonRefundable bold">Non Refundable</span>
                        </a>
                        </div>
                  </div>
                </div>
              <div class="col-12 col-sm-12 col-lg-4">
                <div class="row">
                  <div class="col-8 col-sm-8 col-lg-8">
                    <span class="room-price size14 bold">
                      {{rooms.RoomRateTypeCurrency}}. {{rooms.Total}}</span>
                  </div>
                  <div class="col-4 col-sm-4 col-lg-4">
                    <button style="float: right;" *ngIf="arrSearch.Rooms.length==1" type="submit" class="btn_cart_outine">Book</button>
                    <input type="hidden" value="{{ occupancy.RoomCount }}" 
                    class="RoomDetails_{{ rate.AvailToken }}_{{oc}}">
                    <select id="Room_{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}"
                     class="ch-frm form-control rm_{{rate.AvailToken}}_{{HotelCode}}_{{r}}
                     
                     Room_{{rate.AvailToken}}_{{HotelCode}}_{{r}}_{{occupancy.RoomNo}}"

                     *ngIf="arrSearch.Rooms.length!=1 && o==0"
                    (change)="SetRoomoccupancy(rooms.RoomTypeId, rooms.RoomDescriptionId, rooms.Total, o, rate.AvailToken, HotelCode, r, occupancy.RoomNo, oc, rate.RoomOccupancy)">
                      <option selected value="{{rms}}" *ngFor="let item of Rooms(occupancy.RoomCount+1); let rms=index">{{rms}}</option>
                    </select>

                    <select id="Room_{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}"
                     class="ch-frm form-control rm_{{rate.AvailToken}}_{{HotelCode}}_{{r}} Room_{{rate.AvailToken}}_{{HotelCode}}_{{r}}_{{occupancy.RoomNo}}"
                     *ngIf="arrSearch.Rooms.length!=1 && o!=0"
                    (change)="SetRoomoccupancy(rooms.RoomTypeId, rooms.RoomDescriptionId, rooms.Total, o, rate.AvailToken, HotelCode, r, occupancy.RoomNo, oc, rate.RoomOccupancy)">
                      <option value="{{rms}}" *ngFor="let item of Rooms(occupancy.RoomCount+1); let rms=index">{{rms}}</option>
                    </select>
                  </div>
                </div>  
              </div>
            </div>
            <div class="row collapse" id="Refundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}" attr.data-parent="#Refundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}">
              <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Cancellation Policy</strong><br>
                    <ul class="list_ok">
                      <li *ngFor="let c of rooms.CancellationPolicy">
                        AED. {{c.CancellationAmount}} charge will apply if cancelled after {{c.CancellationDateTime}}
                      </li>
                    </ul>
                  </div>
              </div>
            </div>

            <div class="row collapse" id="nonRefundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}" attr.data-parent="#nonRefundable{{rooms.RoomTypeId}}_{{rooms.RoomDescriptionId}}_{{rooms.Total}}_{{HotelCode}}_{{r}}_{{oc}}_{{o}}">
                <div class="col-md-12">
                  <div class="alert alert-danger" role="alert">
                      <strong>Cancellation Policy</strong><br>
                      This is <b>Non-Refundable </b>booking, there will be no cancellation or amendment possible once booked
                    </div>
                </div>
              </div>
            <div class="line3 clearfix"></div>
          </div>                  
        </div>
        <div class="row muloccupancy" *ngIf="arrSearch.Rooms.length!=1">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-8">
                <span class="room-price size14 bold" style="float: right" id="Price_{{HotelCode}}_{{r}}"></span>
              </div>
              <div class="col-md-4">
                <button style="float: right;" id="btn_{{HotelCode}}_{{r}}" type="submit" class="btn_cart_outine">Book</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>