<div class="container margin_60">
  <div class="main_title">
    <h2><span>Popular</span> Packages</h2>
  </div>

  <div *ngFor="let theme of PackageTheme">
    <h2><span>{{theme.Name}}</span> Packages</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 wow zoomIn" attr.data-wow-delay="0.{{i+1}}s" *ngFor="let package of theme.Package">
        <div class="tour_container">
          <div class="ribbon_3 popular"><span>Popular</span></div>
          <div class="img_container">
            <a href="package-details?ID={{package.Packageid}}">
              <img [src]="package.Images[0].Url" *ngIf="package.Images.length!=0" class="img-fluid" width="800"
                height="533" alt="Image" style="height: 200px;">
              <img src="assets/img/no-image.png" *ngIf="package.Images.length==0" class="img-fluid" width="800"
                height="533" alt="Image" style="height: 200px;">
              <div class="short_info" *ngIf="package.Category!=0">
                <span class="price"><sup>{{package.Category[0].sCurrency}}</sup>{{package.MinPrice.toFixed(2)}}</span>
              </div>
            </a>
          </div>
          <div class="tour_title">
            <h3 class="pointer"><a href="package-details?ID={{package.Packageid}}"></a>
              <strong>{{package.PackageName}}</strong></h3>
            <app-reviewratings [ProdcutID]="package.Packageid" [ProductType]="'P'"></app-reviewratings>
            <app-addwish [ProductType]="2" [ProdcutDetails]="package"></app-addwish>
          </div>
        </div>
      </div>
    </div>
    <br>
    <p class="text-center nopadding" *ngIf="theme.Package.length>0">
      <a [routerLink]="['/package-list']" class="btn_1 medium"><i class="icon-eye-7"></i>
        View all Packages ( {{theme.PackageCount.toString()}} )</a>
    </p>
    <hr>

  </div>
</div>