<kendo-pdf-export #pdf paperSize="A4" margin="0cm" [scale]="scale">
  <div class="row">
    <div class="col-md-12">
      <div class="box_style_1">
        <div class="row">
          <div class="col-md-4">
            <p *ngIf="!isb2c"> {{AgentDetails.Name}} <br> {{AgentDetails.Address}}
              <br> {{AgentDetails.City}} , {{AgentDetails.Countryname}}
              <br> Email : {{AgentDetails.email}}
              <br> Contact No : {{AgentDetails.Mobile}}
            </p>
            <p *ngIf="isb2c">
              <span> {{userdetails.LoginDetail.Name}}</span><br>
              <span> {{userdetails.LoginDetail.ContacDetails.Address}}</span><br>
              <span> {{userdetails.LoginDetail.ContacDetails.CitiesID}},
                {{userdetails.LoginDetail.ContacDetails.CountryID}} </span><br>
              <span> {{userdetails.LoginDetail.ContacDetails.PinCode}} </span><br>
              <span>{{userdetails.LoginDetail.ContacDetails.Mobile}} / {{userdetails.LoginDetail.Email}}</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <span>
              <b>E - Ticket</b> <br>
              <b> {{arrResrvation.Status}} </b>
            </span>
          </div>
          <div class="col-md-4 text-right on_mobile">
            PNR : {{arrResrvation.AirlineCode}}- {{arrResrvation.PNR}} <br>
            Issued Date : {{arrResrvation.Date}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead class="services-heading">
                      <tr>
                        <td><strong>Passenger Name</strong></td>
                        <td class="text-center"><strong>Ticket Number</strong></td>
                        <!-- <td class="text-center"><strong>Meal</strong></td>
                      <td class="text-right"><strong>Baggage</strong></td> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let passenger of Pax">
                        <td>{{passenger.PaxTitle}} {{passenger.FirstName}} {{passenger.LastName}}</td>
                        <td class="text-center">{{passenger.Tiketid}}</td>
                        <!-- <td class="text-center">$10.99</td>
                      <td class="text-right">$10.99</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flight_info" *ngFor="let segment of Segment">
          <div class="row">
            <div class="col-md-2">
              <img src="../../../../assets/img/AirlineLogo/{{segment.AirlineCode}}.gif" width="30px" alt=""> &nbsp;
              <span class="highlight"> {{segment.Airline}} </span>
              <br>
              <span>{{segment.AirlineCode}}</span>
            </div>
            <div class="col-md-3 text-right on_mobile">
              <span>Departure <i class="icon-left"></i> <span class="highlight">
                  {{segment.OriginAirport.city}}
                </span>
              </span><br>
              <span class="highlight">{{segment.OriginAirport.code}} {{segment.DepTime.time}}</span><br>
              <span class="highlight">{{segment.DepTime.date}}</span><br>
              <span>Terminal : {{segment.OriginAirport.terminal}}</span>
            </div>
            <div class="col-md-4 text-center on_mobile">
              <span class="highlight"> {{segment.Duration}} </span><br>
              <span>Class- {{segment.FareClass}} </span><br>
              <span class="highlight">{{segment.seat}}</span><br>
            </div>
            <div class="col-md-3">
              <span>Arrival <i class="icon-left"></i>
                <span class="highlight"> {{segment.DestinationAirport.city}} </span></span><br>
              <span class="highlight">{{segment.DestinationAirport.code}} {{segment.ArrTime.time}}</span><br>
              <span class="highlight">{{segment.ArrTime.date}}</span><br>
              <span>Terminal : {{segment.DestinationAirport.terminal}} </span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <h6>Additional Services</h6>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead class="services-heading">
                      <tr>
                        <td><strong>Service</strong></td>
                        <td class="text-center"><strong>Sector</strong></td>
                        <td class="text-right"><strong>Service Name</strong></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let baggage of Baggage">
                        <td>Baggage</td>
                        <td class="text-center"> {{baggage.Origin}} - {{baggage.Destination}} </td>
                        <td class="text-right"> {{baggage.Weight}} kg </td>
                      </tr>
                      <tr *ngFor="let meal of MealDynamic">
                        <td>Meal</td>
                        <td class="text-center"> {{meal.Origin}} - {{meal.Destination}} </td>
                        <td class="text-right"> {{meal.AirlineDescription}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="post_info clearfix">
              <div class="row">
                <div class="col-md-12">
                  <b>PAYMENT DETAILS</b>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <span class="highlight">Basic Fare : {{AgentDetails.Currency}}
                  {{arrResrvation.InvoiceAmount}}
                </span><br>
                <span class="highlight">Gross Amount : {{AgentDetails.Currency}} {{arrResrvation.InvoiceAmount}}
                </span>
              </div>
              <div class="col-md-12">
                <span class="highlight">{{InvoiceDetail.AmountInWord}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <h6>Terms & Conditions</h6>
        <ul class="terms-condition">
          <li>International flights check-in opens 180 minutes before departure.</li>
          <li>PASSENGERID- All Passengers/Infant must carrytheir Passportwhich has to be valid at least 6 month from
            the date of travel while Check-in.
          </li>
          <li>For infant passengers, it is mandatoryto carrythe Date of Birth certificate.</li>
          <li>Flight timings are subject to change without prior notice. Please recheckwith carrier prior to
            departure.
          </li>
          <li>Terms and Conditions of Travel and Carrier liabilitynotices can be requested from the Travel Agencyor
            the Transporting Carrier.
          </li>
          <li>For hassle free refund processing, cancel/amend your tickets with Travel agent instead of doing so
            directlywith Airline.
          </li>
          <li>In case of anydispute, travel agents decision will be final.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button kendo-button (click)="pdf.saveAs('Ticket.pdf')" class="btn_full" id="btn_Ticket_pdf"
    style="display: none"></button>
</kendo-pdf-export>