.flight_info {
  border: 1.5px #ccc dashed;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.terms-condition {
  padding-inline-start: 20px !important;
}

@media screen and (max-width: 600px) {
  .on_mobile {
    text-align: left !important;
  }
}

.highlight {
  color: #333;
  font-weight: 600;
}

.services-heading {
  border-bottom: 1px #ccc dashed;
  border-top: 1px #ccc dashed;
}
