<div id="rev_slider_54_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="notgeneric1"
data-source="gallery"
style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
<div id="rev_slider_54_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
   <ul>
       <!-- SLIDE  -->
       <li data-index="rs-140" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
           data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
           data-masterspeed="2000" data-thumb="rev-slider-files/assets/100x50_notgeneric_bg1.jpg"
           data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
           data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3=""
           data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
           data-param10="" data-description="">
           <!-- MAIN IMAGE -->
           <img src="assets/img/ideal/banner/1.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                data-no-retina>
           <!-- LAYERS -->
           <!-- BACKGROUND VIDEO LAYER -->
           <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute"
                data-videowidth="100%" data-videoheight="100%"
                data-videomp4="assets/rev-slider-files/assets/Forest3.mp4" data-videopreload="auto"
                data-videoloop="loopandnoslidestop" data-forceCover="1" data-aspectratio="16:9"
                data-autoplay="true" data-autoplayonlyfirsttime="false"></div>
           <!-- LAYER NR. 1 -->
           <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-140-layer-1"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                data-fontsize="['50','46','36','28']" data-lineheight="['46','46','36','28']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":1000,"split":"chars","split_direction":"forward","splitdelay":0.05,"speed":2000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 46px; font-weight: 700;font-family:Montserrat;">
               Welcome  to IDEAL JUNGLE SAFARIS
           </div>
           <!-- LAYER NR. 2 -->
           <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-140-layer-4"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 6; white-space: nowrap; font-weight: 400;font-family:Montserrat;">
               Experience The Best Wildlife
           </div>
           <!-- LAYER NR. 3 -->
           <div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-140-layer-8"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 7; white-space: nowrap;cursor:default;"><i class="pe-7s-compass"></i></div>
           <!-- LAYER NR. 4 -->
           <div class="tp-caption NotGeneric-Button rev-btn " id="slide-140-layer-7"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['124','124','124','123']"
                data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="button"
                data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                data-responsive_offset="on" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);bw:1 1 1 1;"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[30,30,30,30]"
                style="z-index: 8; white-space: nowrap; font-weight: 400;font-family:Montserrat;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               NEXT GOODIE
           </div>
           <!-- LAYER NR. 5 -->
           <div class="tp-caption rev-scroll-btn " id="slide-140-layer-9"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
                data-width="35" data-height="55" data-whitespace="nowrap"
                data-visibility="['on','on','on','off']" data-type="button"
                data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-weight: 100; color: transparent;border-color:rgba(255, 255, 255, 0.5);border-style:solid;border-width:1px 1px 1px 1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               <span></span>
           </div>
       </li>
       <!-- SLIDE  -->
       <li data-index="rs-141" data-transition="fadetotopfadefrombottom" data-slotamount="default"
           data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
           data-easeout="Power3.easeInOut" data-masterspeed="1500"
           data-thumb="rev-slider-files/assets/100x50_notgeneric_bg5.jpg" data-rotate="0"
           data-saveperformance="off" data-title="Chill" data-param1="" data-param2="" data-param3=""
           data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
           data-param10="" data-description="">
           <!-- MAIN IMAGE -->
           <img src="assets/img/ideal/banner/2.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                data-no-retina>
           <!-- LAYERS -->
           <!-- LAYER NR. 6 -->
           <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3" id="slide-141-layer-1"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                data-fontsize="['50','46','36','28']" data-lineheight="['46','46','36','28']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":1000,"split":"chars","split_direction":"forward","splitdelay":0.05,"speed":2000,"frame":"0","from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 46px; font-weight: 700;font-family:Montserrat;">
               Discover Wild Place
           </div>
           <!-- LAYER NR. 7 -->
           <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-2"
                id="slide-141-layer-4" data-x="['center','center','center','center']"
                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                data-voffset="['52','52','52','51']" data-fontweight="['400','500','500','500']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 6; white-space: nowrap; font-weight: 400;font-family:Montserrat;">
               TOURS
               Pench National Park
           </div>
           <!-- LAYER NR. 8 -->
           <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-1" id="slide-141-layer-8"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 7; white-space: nowrap;cursor:default;"><i class="pe-7s-mouse"></i></div>
           <!-- LAYER NR. 9 -->
           <div class="tp-caption NotGeneric-Button rev-btn " id="slide-141-layer-7"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['124','124','124','123']"
                data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="button"
                data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                data-responsive_offset="on" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);bw:1 1 1 1;"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[30,30,30,30]"
                style="z-index: 8; white-space: nowrap; font-weight: 400;font-family:Montserrat;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               NEXT GOODIE
           </div>
           <!-- LAYER NR. 10 -->
           <div class="tp-caption rev-scroll-btn " id="slide-141-layer-9"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
                data-width="35" data-height="55" data-whitespace="nowrap"
                data-visibility="['on','on','on','off']" data-type="button"
                data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-weight: 100; color: transparent;border-color:rgba(255, 255, 255, 0.5);border-style:solid;border-width:1px 1px 1px 1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               <span></span>
           </div>
           <!-- LAYER NR. 11 -->
           <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-141-layer-10"
                data-x="['left','left','left','left']" data-hoffset="['680','680','680','680']"
                data-y="['top','top','top','top']" data-voffset="['632','632','632','632']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 10;">
               <div class="rs-looped rs-pendulum" data-easing="linearEaseNone" data-startdeg="-20"
                    data-enddeg="360" data-speed="35" data-origin="50% 50%">
                   <img src="rev-slider-files/assets/blurflake4.png" alt=""
                        data-ww="['240px','240px','240px','240px']"
                        data-hh="['240px','240px','240px','240px']" data-no-retina>
               </div>
           </div>
           <!-- LAYER NR. 12 -->
           <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-141-layer-11"
                data-x="['left','left','left','left']" data-hoffset="['948','948','948','948']"
                data-y="['top','top','top','top']" data-voffset="['487','487','487','487']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 11;">
               <div class="rs-looped rs-wave" data-speed="20" data-angle="0" data-radius="50px"
                    data-origin="50% 50%">
                   <img src="rev-slider-files/assets/blurflake3.png" alt=""
                        data-ww="['170px','170px','170px','170px']"
                        data-hh="['170px','170px','170px','170px']" data-no-retina>
               </div>
           </div>
           <!-- LAYER NR. 13 -->
           <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-141-layer-12"
                data-x="['left','left','left','left']" data-hoffset="['719','719','719','719']"
                data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 12;">
               <div class="rs-looped rs-rotate" data-easing="Power2.easeInOut" data-startdeg="-20"
                    data-enddeg="360" data-speed="20" data-origin="50% 50%">
                   <img src="rev-slider-files/assets/blurflake2.png" alt=""
                        data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']"
                        data-no-retina>
               </div>
           </div>
           <!-- LAYER NR. 14 -->
           <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-141-layer-13"
                data-x="['left','left','left','left']" data-hoffset="['187','187','187','187']"
                data-y="['top','top','top','top']" data-voffset="['216','216','216','216']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 13;">
               <div class="rs-looped rs-wave" data-speed="4" data-angle="0" data-radius="10"
                    data-origin="50% 50%">
                   <img src="rev-slider-files/assets/blurflake1.png" alt=""
                        data-ww="['120px','120px','120px','120px']"
                        data-hh="['120px','120px','120px','120px']" data-no-retina>
               </div>
           </div>
       </li>
       <!-- SLIDE  -->
       <li data-index="rs-142" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0"
           data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
           data-masterspeed="2000" data-thumb="rev-slider-files/assets/100x50_notgeneric_bg2.jpg"
           data-rotate="0" data-saveperformance="off" data-title="Enjoy Nature" data-param1=""
           data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
           data-param8="" data-param9="" data-param10="" data-description="">
           <!-- MAIN IMAGE -->
           <img src="assets/img/ideal/banner/3.jpg" alt="" data-bgposition="center center"
                data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100"
                data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10"
                class="rev-slidebg" data-no-retina>
           <!-- LAYERS -->
           <!-- LAYER NR. 15 -->
           <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-142-layer-1"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['1','0','0','0']"
                data-fontsize="['50','48','36','28']" data-lineheight="['46','48','36','28']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":1000,"split":"chars","split_direction":"forward","splitdelay":0.05,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 46px; font-weight: 700;font-family:Montserrat;">
               Greate Adventure
           </div>
           <!-- LAYER NR. 16 -->
           <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-142-layer-4"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 6; white-space: nowrap; font-weight: 400;font-family:Montserrat;">
               TOURS
               TADOBA ANDHARI TIGER RESERVE
           </div>
           <!-- LAYER NR. 17 -->
           <div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-142-layer-8"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 7; white-space: nowrap;cursor:default;"><i class="pe-7s-expand1"></i></div>
           <!-- LAYER NR. 18 -->
           <div class="tp-caption NotGeneric-Button rev-btn " id="slide-142-layer-7"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['124','124','124','123']"
                data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="button"
                data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                data-responsive_offset="on" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);bw:1 1 1 1;"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[30,30,30,30]"
                style="z-index: 8; white-space: nowrap; font-weight: 400;font-family:Montserrat;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               NEXT GOODIE
           </div>
           <!-- LAYER NR. 19 -->
           <div class="tp-caption rev-scroll-btn " id="slide-142-layer-9"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
                data-width="35" data-height="55" data-whitespace="nowrap"
                data-visibility="['on','on','on','off']" data-type="button"
                data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-weight: 100; color: transparent;border-color:rgba(255, 255, 255, 0.5);border-style:solid;border-width:1px 1px 1px 1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               <span></span>
           </div>
       </li>
       <!-- SLIDE  -->
       <li data-index="rs-143" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
           data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
           data-masterspeed="2000" data-thumb="rev-slider-files/assets/100x50_iceberg.jpg" data-rotate="0"
           data-saveperformance="off" data-title="Iceberg" data-param1="" data-param2="" data-param3=""
           data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
           data-param10="" data-description="">
           <!-- MAIN IMAGE -->
           <img src="assets/img/ideal/banner/4.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
           <!-- LAYERS -->
           <!-- LAYER NR. 20 -->
           <div class="tp-caption tp-shape tp-shapewrapper  " id="slide-143-layer-10"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                data-basealign="slide" data-responsive_offset="on" data-responsive="off"
                data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);"></div>
           <!-- LAYER NR. 21 -->
           <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-143-layer-1"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                data-fontsize="['50','48','36','28']" data-lineheight="['48','48','36','28']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":1000,"split":"chars","split_direction":"forward","splitdelay":0.05,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 48px; font-weight: 700;font-family:Montserrat;">
               ADVENTURE TOURS
           </div>
           <!-- LAYER NR. 22 -->
           <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-143-layer-4"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 7; white-space: nowrap; font-weight: 400;font-family:Montserrat;">
               TOURS
               HOTELS RESTAURANTS
           </div>
           <!-- LAYER NR. 23 -->
           <div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-143-layer-8"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                data-responsive_offset="on"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 8; white-space: nowrap;cursor:default;"><i class="pe-7s-anchor"></i></div>
           <!-- LAYER NR. 24 -->
           <div class="tp-caption NotGeneric-Button rev-btn " id="slide-143-layer-7"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']" data-voffset="['124','124','124','123']"
                data-fontweight="['400','500','500','500']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="button"
                data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                data-responsive_offset="on" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);bw:1 1 1 1;"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[30,30,30,30]"
                style="z-index: 9; white-space: nowrap; font-weight: 400;font-family:Montserrat;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               NEXT GOODIE
           </div>
           <!-- LAYER NR. 25 -->
           <div class="tp-caption rev-scroll-btn " id="slide-143-layer-9"
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
                data-width="35" data-height="55" data-whitespace="nowrap"
                data-visibility="['on','on','on','off']" data-type="button"
                data-actions='[{"event":"click","action":"scrollbelow","offset":"0px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                style="z-index: 10; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-weight: 100; color: transparent;border-color:rgba(255, 255, 255, 0.5);border-style:solid;border-width:1px 1px 1px 1px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
               <span></span>
           </div>
       </li>
   </ul>
   <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
</div>
</div>
