.tp-caption.NotGeneric-Title,
.NotGeneric-Title {
    color: rgba(255, 255, 255, 1.00);
    font-size: 70px;
    line-height: 70px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
}

.tp-caption.NotGeneric-SubTitle,
.NotGeneric-SubTitle {
    color: rgba(255, 255, 255, 1.00);
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    letter-spacing: 4px;
}

.tp-caption.NotGeneric-Icon,
.NotGeneric-Icon {
    color: rgba(255, 255, 255, 1.00);
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    letter-spacing: 3px;
}

.tp-caption.NotGeneric-Button,
.NotGeneric-Button {
    color: rgba(255, 255, 255, 1.00);
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.50);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;
    letter-spacing: 3px;
}

    .tp-caption.NotGeneric-Button:hover,
    .NotGeneric-Button:hover {
        color: rgba(255, 255, 255, 1.00);
        text-decoration: none;
        background-color: transparent;
        border-color: rgba(255, 255, 255, 1.00);
        border-style: solid;
        border-width: 1px;
        border-radius: 0px 0px 0px 0px;
        cursor: pointer;
    }