<ul class="nav nav-tabs" role="tablist" *ngIf="JourneyType==='2' && IsDomestic && Flightlength>1">
  <li class="nav-item">
    <a class="nav-link active" id="Onward-tab" data-toggle="tab" href="#Onward" role="tab" aria-controls="home"
      aria-selected="true">Onward</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Return-tab" data-toggle="tab" href="#Return" role="tab" aria-controls="home"
      aria-selected="true">Return</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="Onward" role="tabpanel" aria-labelledby="Onward-tab">
    <div id="filters_col" *ngIf="Filter.arrOutBounds.length>0">
      <a data-toggle="collapse" href="#collapseOnward" aria-expanded="false" aria-controls="collapseOnward"
        id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
      <div class="collapse show" id="collapseOnward">
        <div class="filter_type">
          <h6>Depart Time</h6>
          <ul>
            <li *ngFor="let depTime of Filter.arrOutBounds[0].DepartureTime">
              <mat-checkbox>
                <span>
                  {{depTime.Type}}
                </span>
                ({{depTime.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h6>Layover</h6>
          <ul>
            <li *ngFor="let layover of Filter.arrOutBounds[0].Layover">
              <mat-checkbox>
                {{layover}}
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h6>Airlines</h6>
          <ul>
            <li *ngFor="let airline of Filter.arrOutBounds[0].Airlines">
              <mat-checkbox>
                <span>
                  {{airline.Name}}
                </span>
                ({{airline.Count}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h6>Stops</h6>
          <ul>
            <li *ngFor="let stop of Filter.arrOutBounds[0].arrStops">
              <mat-checkbox>
                <span>
                  {{stop.Type}}
                </span>
                ({{stop.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" *ngIf="Filter.arrInbounds.length>0" id="Return" role="tabpanel"
    aria-labelledby="Return-tab">
    <div id="filters_col">
      <a data-toggle="collapse" href="#collapseReturn" aria-expanded="false" aria-controls="collapseReturn"
        id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
      <div class="collapse show" id="collapseReturn">
        <div class="filter_type">
          <h6>Depart Time</h6>
          <ul>
            <li *ngFor="let depTime of Filter.arrOutBounds[0].DepartureTime">
              <mat-checkbox>
                <span>
                  {{depTime.Type}}
                </span>
                ({{depTime.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h6>Layover</h6>
          <ul>
            <li *ngFor="let layover of Filter.arrInbounds[0].Layover">
              <mat-checkbox>
                {{layover}}
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h6>Airlines</h6>
          <ul>
            <li *ngFor="let airline of Filter.arrInbounds[0].Airlines">
              <mat-checkbox>
                <span>
                  {{airline.Name}}
                </span>
                ({{airline.Count}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter_type">
          <h6>Stops</h6>
          <ul>
            <li *ngFor="let stop of Filter.arrInbounds[0].arrStops">
              <mat-checkbox>
                <span>
                  {{stop.Type}}
                </span>
                ({{stop.Counts}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
      </div>
      <!--End collapse -->
    </div>
  </div>

</div>