<div id="tools">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 text-right">
      <a data-toggle="collapse" data-parent="#Flight_Filter" href="#Flight_Filter" class="btn_1">Filter</a>
    </div>

    <!-- <div class="col-lg-2 col-md-3 col-6">
      <div class="styled-select-filters">
        <select name="sort_type" id="sort_type">
          <option value="" selected="">Sort by type</option>
          <option value="tours">Tours</option>
          <option value="hotels">Hotels</option>
          <option value="transfers">Transfers</option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div class="styled-select-filters">
        <select name="sort_date" id="sort_date">
          <option value="" selected="">Sort by date</option>
          <option value="oldest">Oldest</option>
          <option value="recent">Recent</option>
        </select>
      </div>
    </div> -->
  </div>
</div>
<div class="accordion_styled" id="Flight_Filter" class="collapse" data-parent="#Flight_Filter">
  <div class="card">
    <div class="card-body">
      <br>
      <div class="row">
        <div class="col-md-3">
          <label>Travellers Name</label><br>
          <input type="text" [(ngModel)]="TravellerName" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Transaction No.</label><br>
          <input type="text" [(ngModel)]="TransactionNo" class="form-control">
        </div>
        <div class="col-md-3">
          <label> Status</label>
          <mat-select class="dd-selected form-control" [(ngModel)]="Status" [(value)]="Status">
            <mat-option *ngFor="let status of allStatus" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12 text-right">
          <input type="button" (click)="clear()" class="btn_1" value="Clear">&nbsp;
          <input type="button" (click)="_flightfilter(TravellerName,TransactionNo)" class="btn_1" value="Apply">
        </div>
      </div>
    </div>
  </div>
  <br>
</div>


<div class="card"
  *ngFor="let report of FlightBookingList | paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
  <div class="card-body">
    <div class="strip_booking">
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <h3 class="flight_booking"> <strong>Travllers Name</strong> : {{report.LeadingPaxName}}<br />
            <!-- <small>{{report.City}}</small>
            <span>{{report.NoOfAdults}} Adults, {{report.Children}} Childs / {{report.TotalRooms}} Rooms</span> -->
          </h3>
        </div>
        <div class="col-lg-2 col-md-2 details status">
          <div class="row booking">
            <div class="col-md-12 status">
              <span> <strong>Status</strong> :
                <span class="status-vouchered" *ngIf="report.TicketStatus==='1'">
                  Ticketed
                </span>
                <span class="status-cancelled" *ngIf="report.TicketStatus==='Cancelled'">
                  Cancelled
                </span>
                <span class="status-onrequest" *ngIf="report.TicketStatus!='Cancelled' && report.TicketStatus!='1'">
                  Hold
                </span>
              </span><br />
              <!-- <span><strong>Publish Fare</strong> : {{report.PublishedFare}}</span><br> -->
              <span> <strong>Invoice Amount</strong> : {{report.InvoiceAmount}}</span><br />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 details">
          <div class="row booking">
            <div class="col-md-12">
              <span> <strong>Ticket / PNR</strong> : {{report.AirlineName}} - {{report.PNR}}</span><br />
              <!-- <span> <strong>Check-Out</strong> : {{report.CheckOut}}</span><br /> -->
              <span> <strong>No Of Pax</strong> : {{report.Paxces}}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <ul class="info_booking">
            <li><strong>Booking ID</strong> {{report.BookingID}}</li>
            <li><strong>Invoice No</strong> {{report.InvoiceNo}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4">
        <span> <strong>Booked on</strong> : {{report.Date}}</span>
      </div>
      <div class="col-md-8 text-right">
        <input type="button" class="btn_1" (click)="showflightBookingDetails(report.uid, report.BookingID)"
          value="Open">&nbsp;
        <input type="button" class="btn_1" value="Share">
      </div>
    </div>
  </div>
</div>

<div class="box_style_2" *ngIf="FlightBookingList.length===0">
  <h1><span class="pe-7s-attention" style="font-size: 71px;color: #4cb9f1;"></span></h1>
  <h1> Sorry !!</h1>
  <h2>Booking Not Found</h2>
</div>
<div class="has-text-centered" *ngIf="service==='flight' && FlightBookingList.length!=0">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>