<section class="parallax-window" data-parallax="scroll" data-image-src="assets/img/home_bg_1.jpg"
    data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{Packages.PackageName}}</h1>
                    <span>{{Packages.City}}</span>

                </div>
                <div class="col-md-4">
                    <div id="price_single_main">
                        <span *ngIf="Packages.Category.length !==0">
                            {{Packages.noDays-1}} <sup>Nights</sup>& {{Packages.noDays}} <sup>Days</sup></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="home">Home</a>
                </li>
                <li>
                    <a href="package-details?ID={{Packages.Packageid}}">Details</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End position -->
    <div class="container margin_60">
        <form [formGroup]="packbookingForm" (ngSubmit)="Book(date.value, catId.value)">
            <div class="row">
                <div class="col-lg-8 add_bottom_15">
                    <div class="form_title">
                        <h3><strong>1</strong>Package Category</h3>
                        <p>
                            Please Choose Any Category
                        </p>
                    </div>
                    <div class="step">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" #catId name="Category" [(ngModel)]="Booking.CategoryId"
                                        (ngModelChange)="SetDateValidity($event)" formControlName="Category"
                                        [ngClass]="{ 'is-invalid': submitted && f.Category.errors }">
                                        <option *ngFor="let Category of Packages.Category"
                                            value="{{Category.CategoryID}}">
                                            {{Category.Categoryname}}
                                        </option>
                                        <option value="1" *ngIf="Packages.Category.length===0">
                                            Standard
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.Category.errors" class="invalid-feedback">
                                        <div *ngIf="f.Category.errors.required">Category is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="Booking.StartFrom && Booking.EndDate " style="display: none;">
                                <br />
                                <span>Price Valid </span>
                                <br />
                                <span><strong>{{Booking.StartFrom}} - {{Booking.EndDate}}</strong></span>
                            </div>
                        </div>
                    </div>
                    <!--End step -->

                    <div class="form_title">
                        <h3><strong>2</strong>Passenger Information</h3>
                        <p>
                            Enter your contact details and we will plan the best holiday suiting all your requirements.
                        </p>
                    </div>
                    <div class="step">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    <input type="text" autocomplete="off" formControlName="Name" required
                                        [(ngModel)]="Booking.LeadingPax" placeholder="" formControlName="Name"
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                        <div *ngIf="f.Name.errors.required"> Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email ID</label>
                                    <input type="email" autocomplete="off" name="Email" [(ngModel)]="Booking.email"
                                        placeholder="" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mobile No</label>
                                    <input type="text" autocomplete="off" formControlName="Phone" required
                                        [(ngModel)]="Booking.PhoneNumber" placeholder="" formControlName="phone"
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.phone.errors.required">Mobile No. is required</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label>Travel Date</label>
                                    <input name="Date" #date autocomplete="off" type="text"
                                        [(ngModel)]="Booking.TravelDate" formControlName="date"
                                        [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
                                        class="date-pick form-control" data-date-format="dd-mm-yyyy" data-lang="en"
                                        data-large-mode="true" data-large-default="true" data-min-year="2017"
                                        data-max-year="2020" />
                                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                        <div *ngIf="f.date.errors.required">Travel Date. is required</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Travel Date</label>
                                    <input type="search" #date matInput class="form-control" ngxDaterangepickerMd
                                        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [autoApply]="true"
                                        formControlName="date" [opens]="opens" [singleDatePicker]="singleDatePicker"
                                        [drops]="drops" [lockStartDate]="false" [showDropdowns]="true"
                                        [closeOnAutoApply]="true" name="daterange" [(ngModel)]="Booking.TravelDate"
                                        [minDate]="mindate" autocomplete="off"
                                        [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                        <div *ngIf="f.date.errors.required">Travel Date. is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p>No. of Traveller(s) :</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="number_row" id="inc_Adult">
                                                <input type="text" autocomplete="off" [(ngModel)]="Booking.Adults"
                                                    class="qty-2 form-control" name="Adult" formControlName="adult"
                                                    [ngClass]="{ 'is-invalid': submitted && f.adult.errors }">
                                                <div class="increment button-inc" (click)="onTraveller('ad', 'plus')">+
                                                </div>
                                                <div class="decrement button-inc" (click)="onTraveller('ad', 'minus')">-
                                                </div>
                                            </div>
                                            <span style="font-size: 12px;">Adult (12yrs +)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="number_row inc_Child">
                                                <input type="text" autocomplete="off" [(ngModel)]="Booking.Childs"
                                                    class="qty-2 form-control" name="Child" formControlName="child"
                                                    [ngClass]="{ 'is-invalid': submitted && f.child.errors }">
                                                <div class="increment button-inc" (click)="onTraveller('ch', 'plus')">+
                                                </div>
                                                <div class="decrement button-inc" (click)="onTraveller('ch', 'minus')">-
                                                </div>
                                            </div>
                                            <span style="font-size: 12px;">Child (2-12yrs)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="number_row inc_Infant">
                                                <input type="text" autocomplete="off" [(ngModel)]="Booking.Infant"
                                                    class="qty-2 form-control" name="Infant" formControlName="infant"
                                                    [ngClass]="{ 'is-invalid': submitted && f.infant.errors }">
                                                <div class="increment button-inc" (click)="onTraveller('in', 'plus')">+
                                                </div>
                                                <div class="decrement button-inc" (click)="onTraveller('in', 'minus')">-
                                                </div>
                                            </div>
                                            <span style="font-size: 12px;">Infant (0-2yrs)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2" style="float:right">
                                <button class="btn_1 green medium">Submit</button>
                            </div>
                        </div>
                        <!--End row -->
                    </div>
                    <!--End step -->
                </div>
                <aside class="col-lg-4" id="sidebar">
                    <div class="theiaStickySidebar">
                        <div class="box_style_1 expose" id="booking_box">
                            <h3 class="inner">- Summary -</h3>
                            <table class="table table_summary">
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="icon_set_1_icon-3"></i>&nbsp; <strong> Theme
                                            </strong><br>{{Packages.Themes}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icon_set_1_icon-41"></i>&nbsp; <strong> Cities
                                            </strong><br />
                                            <ul>
                                                <li *ngFor="let city of Packages.City">
                                                    {{city}}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icon_set_1_icon-4"></i>&nbsp; <strong> Category </strong><br />
                                            <span *ngFor="let Category of Packages.Category; let last=last">
                                                {{Category.Categoryname}}
                                                <span *ngIf="!last">&nbsp;,&nbsp;</span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr *ngIf="showprice">
                                        <td>
                                            <p> <strong>Price Details</strong> per pax </p>
                                            <span> <strong>Adult : </strong> {{currency}} {{pricedetails.Adult}}
                                            </span><br>
                                            <span> <strong>Child : </strong> {{currency}} {{pricedetails.Child}}
                                            </span><br>
                                            <span> <strong>Child with bed : </strong> {{currency}}
                                                {{pricedetails.ChildWithBed}} </span><br>
                                            <span> <strong>Child without bed : </strong> {{currency}}
                                                {{pricedetails.ChildNoBedPrice}} </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/box_style_1 -->
                    </div>
                    <!--/sticky -->
                </aside>
            </div>
            <!--End row -->
        </form>

        <div class="row">
            <div class="col-md-9">
                <app-package-documents [Packages]="Package" [currency]="currency" [validityshow]="false"
                    (exportElement)="exportElement($event)"></app-package-documents>
            </div>
        </div>
    </div>
    <ngx-ui-loader></ngx-ui-loader>
    <!--End container -->
</main>