<div class="white_bg">
    <div class="container margin_60">
    <!-- <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="partners-box-title">
                        <h2>Airline Partners</h2>
                        <p>Worldwide Airlines Partner</p>

                    </div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="booking-information partners-boxnew">
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a1.png" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a2.jpg" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a4.png" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a5.png" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a6.png" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a7.png" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a8.png" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a9.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a10.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a11.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a12.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a13.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a14.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a15.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a16.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a17.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a18.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a19.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a20.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a21.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a22.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a23.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a24.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/a25.png"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/6E.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/9w.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/G8.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/SG.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/ai.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/OS.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/LH.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/QF.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/GF.gif"></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/Kuwait-Airways.jpg" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/air-costa.png" /></a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/Hi5Fly/AirlineLogo/Thai_Airways Logo.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <div class="banner colored">
        <h4>Discover our Top tours</h4>
        <!-- <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
        </p> -->
        <a href="javascript:void(0)" class="btn_1 white">Read more</a>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <p>
                <a href="#"><img src="assets/img/Hi5Fly/sightseen.jpg" alt="Pic" class="img-fluid"></a>
            </p>
            <h4><span>Sightseen tour</span> booking</h4>
            <!-- <p>
                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
            </p> -->
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <p>
                <a href="#"><img src="assets/img/Hi5Fly/transfer.jpg" alt="Pic" class="img-fluid"></a>
            </p>
            <h4><span>Transfer</span> booking</h4>
            <!-- <p>
                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
            </p> -->
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <p>
                <a href="#"><img src="assets/img/Hi5Fly/tour.jpg" alt="Pic" class="img-fluid"></a>
            </p>
            <h4><span>Tour guide</span> booking</h4>
            <!-- <p>
                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
            </p> -->
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <p>
                <a href="#"><img src="assets/img/hotel.jpg" alt="Pic" class="img-fluid"></a>
            </p>
            <h4><span>Hotel</span> booking</h4>
            <!-- <p>
                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
            </p> -->
        </div>
    </div>
</div>
</div>