
.partners-box-title {
    margin-bottom: 30px;
}

.partners-boxnew a {
    width: 8%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

    .partners-boxnew a img {
        max-height: 42px;
        max-width: 25px;
        vertical-align: middle;
    }
