<main>
  <div id="position" style="margin-top: 100px;">
    <div class="container">
      <ul>
        <li><a [routerLink]="['/home']">Home</a>
        </li>
        <li><a [routerLink]="['/booking-report']">Booking Report</a>
        </li>
        <li>Invoice</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12 text-center" id="actions">
        <input type="button" class="btn_1" (click)="Print()" value="Print">
        &nbsp; <input type="button" class="btn_1" (click)="Download()" value="Download">
      </div>
    </div>
    <br>
    <kendo-pdf-export #pdf paperSize="A4" margin="0cm" [scale]="scale">
      <div class="row">
        <div class="col-md-12">
          <div class="box_style_1">
            <div class="row">
              <div class="col-md-7">
                <img src="{{logo}}" *ngIf="logo" height="58" width="277">
                <h5 *ngIf="!logo"> <strong> {{AgentDetails.Name}} </strong>
                </h5>
              </div>
              <div class="col-md-5">
                <span> {{AgentDetails.Address}} </span><br>
                <span> City : {{AgentDetails.City}}, Country : {{AgentDetails.Countryname}},
                  PinCode : {{AgentDetails.PinCode}} </span><br>
                <span> Tel : {{AgentDetails.Mobile}} - {{AgentDetails.phone}}</span><br>
                <span> Email : {{AgentDetails.email}}</span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-secondary" role="alert">
                  <strong>Proforma Invoice</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span><strong>Invoice To</strong></span><br>
                <span>{{Reservation.LeadingPax}}</span><br>
                <span>{{Reservation.email}}</span>
              </div>
              <div class="col-md-6">
                <span><strong>Package Name:</strong> {{PackageDetails.PackageName}} </span><br>
                <span><strong>Destinations:</strong> {{PackageDetails.City}}</span><br>
                <!-- <span><strong>Validity:</strong> {{Reservation.StartFrom}} - {{Reservation.EndDate}}</span><br> -->
                <span><strong>Package Category:</strong> {{Reservation.Type}} </span><br>
                <span><strong>Duration:</strong> {{Reservation.noDays-1}}Nights /
                  {{Reservation.noDays}}Days</span>
              </div>
              <div class="col-md-3">
                <span><strong>Invoice Details</strong></span><br>
                <span><strong>Status: </strong>{{Reservation.Status}} </span><br>
                <span><strong>Invoice Date: </strong>{{Reservation.BookingDate}} </span><br>
                <span><strong>Invoice No: </strong>{{Reservation.nID}} </span>
              </div>
            </div>
            <hr>
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="alert alert-secondary" role="alert">
                  <strong>Leading Guest Name : {{Reservation.LeadingPax}}</strong>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <td><strong>Pax</strong></td>
                            <td class="text-center"><strong>Rate</strong></td>
                            <td class="text-right"><strong>Total</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{Reservation.Adults}} <small>(Adults)</small></td>
                            <td class="text-center">{{Currency}} {{Reservation.AdultPrice}}</td>
                            <td class="text-right">
                              {{Currency}} {{(Reservation.AdultPrice)*(Reservation.Adults)}}
                            </td>
                          </tr>
                          <tr *ngIf="Reservation.Childs>0">
                            <td>{{Reservation.Childs}} <small>(Childs)</small></td>
                            <td class="text-center">{{Currency}} {{Reservation.ChildBedsPrice}}</td>
                            <td class="text-right">
                              {{Currency}} {{(Reservation.ChildBedsPrice)*(Reservation.Childs)}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-md-9"></div>
              <div class="col-md-3 text-right">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="text-right" style="padding: 4px;">Sub Total :</td>
                      <td class="text-left" style="padding: 4px;">{{Currency}} {{SubTotal}}</td>
                    </tr>
                    <tr *ngFor="let tax of TaxPerAmnt">
                      <td class="text-right" style="padding: 4px;">{{tax.Name}} ({{tax.Value}} %) :</td>
                      <td class="text-left" style="padding: 4px;">{{Currency}} {{tax.amount}}</td>
                    </tr>
                    <tr>
                      <td class="text-right" style="padding: 4px;"><strong>Grand Total </strong>:</td>
                      <td class="text-left" style="padding: 4px;">{{Currency}} {{Total}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br>
                <h4>Bank Details</h4>
                <p><strong>Bank Name :</strong> Axis Bank Ltd. <br>
                  <strong>Beneficiary Name :</strong> Cenin Tours & Travels Company Private Limited <br>
                  <strong>Account No :</strong> 910020047967836 <br>
                  <strong>Branch :</strong> Medical Square, Honey Archana complex, Medical College Road, Untkhana,
                  Nagpur-440009 <br>
                  <strong>IFSC Code :</strong> UTIB0001044 <br>
                  <strong>Swift Code :</strong> AXISINBB048
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br>
                <h4>Terms & Conditions</h4>
                <ul>
                  <li>All payment has to be made in favor of (Cenin Tours & Travels Company Private Limited) only.</li>
                  <li>If payment is not made on or before due date, the balance will be subject to interest @18% per
                    annum.</li>
                  <li>Any discrepancy regarding this bill must be notified within 5 days from the date of receipt of
                    this bill. Subject to Nagpur Jurisdiction only. For any issue in bill, please call 9028004605 or
                    mail us at accounts@cenintravels.com</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p> <strong>Note : </strong> Child with bed price INR {{Reservation.ChildBedsPrice}}
                  , Child without bed
                  price INR {{Reservation.ChildWBed}}
                  <span *ngIf="Extrabed!==0"> and Extra bed price {{Currency}} {{Extrabed}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button kendo-button (click)="pdf.saveAs('Invoice.pdf')" class="btn_full" id="btn_Invoice_pdf"
        style="display: none"></button>
    </kendo-pdf-export>
  </div>

  <ngx-ui-loader></ngx-ui-loader>
</main>