/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/@ngx-share/button/themes/default/default-theme";
@import "../node_modules/@ngx-share/button/themes/circles/circles-light-theme.css";
@import "../node_modules/@ngx-share/button/themes/modern/modern-light-theme.css";

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */
  #plain {
    display: none;
  }

  #footer {
    display: none;
  }

  #Back-to-detail {
    display: none;
  }

  #confirm {
    display: none;
  }

  #sidebar {
    display: none;
  }

  #position {
    display: none;
  }

  #actions {
    display: none;
  }

  iframe {
    display: none;
  }
}

.font-icon-list {
  padding: 20px 0px 0px 0px;
  margin-bottom: 20px;
}

.font-icon-list:hover {
  cursor: pointer;
}

.font-icon-detail {
  text-align: center;
}

.font-icon-detail span:first-child {
  display: inline-block;
  transition: color 150ms linear, background 150ms linear,
    font-size 150ms linear, width 150ms;
  padding: 10px 0px;
  width: 70px;
  font-size: 48px;
  color: #1a1a1a;
  border: 1px solid #eaeaea;
  border-radius: 3px;
}

.font-icon-name {
  font-size: 13px;
  margin-top: 15px;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0;
  border: 0;
}

.font-icon-name:focus,
.font-icon-name:active {
  outline: none;
}

.font-icon-code {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transition: max-height 200ms linear, opacity 200ms linear;
}

.font-icon-code.show {
  max-height: 200px;
  opacity: 1;
}

.code-value,
.unicode,
.unicode-text {
  background: none;
  text-align: center;
  border: none;
  color: #a0a0a0;
}

.code-value {
  display: block;
  width: 100%;
}

.unicode,
.unicode-text {
  color: #a0a0a0;
}

.unicode {
  float: left;
  font-family: "Pe-icon-7-stroke";
  text-align: right;
  width: 38%;
  padding-right: 5px;
}

.unicode-text {
  text-align: left;
  float: left;
  display: inline-block;
  width: 100px;
  border: none;
}

.unicode-text:focus,
.unicode-text:active {
  outline: none;
}

.font-icon-list:hover .font-icon-name,
.font-icon-list:hover .code-value,
.font-icon-list:hover .unicode,
.font-icon-list:hover .unicode-text,
.font-icon-detail.zeroclipboard-is-hover .font-icon-name,
.font-icon-detail.zeroclipboard-is-hover + .font-icon-code .code-value,
.font-icon-detail.zeroclipboard-is-hover + .font-icon-code .unicode,
.font-icon-detail.zeroclipboard-is-hover + .font-icon-code .unicode-text {
  cursor: text;
  color: #1a1a1a;
}

.font-icon-list:hover .font-icon-detail span:first-child,
.font-icon-detail.zeroclipboard-is-hover span:first-child {
  color: #fff;
  background: #1a1a1a;
}

.font-icon-name::-moz-selection,
.code-value::-moz-selection,
.unicode::-moz-selection,
.unicode-text::-moz-selection,
.font-icon-name::-moz-selection {
  background: #aadce2;
  color: #1a1a1a;
}

.font-icon-name::selection,
.code-value::selection,
.unicode::selection,
.unicode-text::selection,
.font-icon-name::selection {
  background: #aadce2;
  color: #1a1a1a;
}

.font-icon-name::-moz-selection,
.code-value::-moz-selection,
.unicode::-moz-selection,
.unicode-text::-moz-selection,
.font-icon-name::-moz-selection {
  background: #aadce2;
  color: #1a1a1a;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* for dialog pop-up */
.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  padding: 0px;
}
.confirm-dialog-container .content-container {
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}
.confirm-dialog-container #close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover {
  cursor: pointer;
}

.confirm-dialog-container #no-button {
  height: 50px;
  width: 50%;
  background-color: #fc7169;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container #yes-button {
  height: 50px;
  width: 50%;
  background-color: #b6bece;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container span.content-span {
  padding: 35px 16px;
  text-align: center;
  font-size: 20px;
}

#search_container_2 {
  color: #333 !important;
}

/* for Tripser */

/* header.sticky {
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
  background-color: #4d65f1 !important;
  padding-bottom: 0;
}

.main-menu > ul > li > a {
  color: #fff !important;
  padding: 0 8px 15px;
  font-size: 13px;
}

header#plain {
  background-color: #4d65f1;
  padding-bottom: 0;
}

header#plain #top_line {
  color: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
} */

/* end Tripser */
