<section class="parallax-window" attr.data-parallax="scroll" attr.data-image-src="assets/img/travelsphere/City/Jeddah/RollerCoster.jpg" attr.data-natural-width="1400" attr.data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>About {{Destination}} </h1>
    </div>
  </div>
</section>
<!-- End section -->

<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="#">Home</a>
        </li>
       
        <li>{{Destination}}</li>
      </ul>
    </div>
  </div>
  <!-- End position -->

  <div class="container margin_60">
    <div class="row">
      <aside class="col-lg-3 add_bottom_30">

        <div class="widget">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
          </span>
          </div>
          <!-- /input-group -->
        </div>
        <!-- End Search -->

        <hr>

        <div class="widget" id="cat_blog">
          <h4>Categories</h4>
          <ul>
            <li><a href="#">Places to visit</a>
            </li>
            <li><a href="#">Top tours</a>
            </li>
            <li><a href="#">Tips for travellers</a>
            </li>
            <li><a href="#">Events</a>
            </li>
          </ul>
        </div>
        <!-- End widget -->

        <hr>

        <div class="widget">
          <h4>Recent post</h4>
          <ul class="recent_post">
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
            <li>
              <i class="icon-calendar-empty"></i> 16th July, 2020
              <div><a href="#">It is a long established fact that a reader will be distracted </a>
              </div>
            </li>
          </ul>
        </div>
        <!-- End widget -->
        <hr>
        <div class="widget tags">
          <h4>Things Do In Jeddah</h4>
          <a>King Fahd's Fountain
          </a>
          <a >Kingdom Tower
          </a>
          <a>Nasseef House
          </a>
          <a>Atallah Happy Land Park
          </a>
          <a >The Globe Roundabout
          </a>
          <a>Jungle Land Theme Park (Mersal Village)
          </a>
          <a href="">Al Tayebat International City
          </a>
        </div>
        <!-- End widget -->

      </aside>
      <!-- End aside -->

      <div class="col-lg-9">
        <div class="box_style_1" *ngIf="Destination == 'Jeddah'">
          <div class="post">
            <a   title="#"><img src="assets/img/travelsphere/City/Jeddah/RollerCoster.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="post_info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="icon-calendar-empty"></i> On <span>12 Jan 2020</span>
                  </li>
                  <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                  </li>
                  <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                  </li>
                </ul>
              </div>
              <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>
              </div>
            </div>
            <h2>Spend a family day riding roller coasters at one of Jeddah’s THEME PARKS</h2>
            <p>
              Enjoy a night of rides and games at Al Shallal Theme Park, one of the most popular amusement parks in Saudi Arabia. This family-friendly park features thrill rides, gentle rides for kids, boat rides, arcade games, and a skating rink. There are also many shops and food stalls around the park as well as two full-service restaurants. The park opens every day at five o’clock in the evening and stays open late into the night with the rides lit up against the night sky.
            </p>
            <p>
              Located on Corniche Road and featuring more than 100 rides, Atallah Happy Land Park is one of the largest amusement parks in Jeddah. Load up the family to enjoy a day of thrilling rides, video games, bowling, rock climbing and even ice skating. Atallah Happy Land Park also features a musical fountain, a 6-D theater and plenty of food choices.
            </p>
            <a class="btn_1"   >Read more</a>
          </div>
          <!-- end post -->

          <hr>

          <div class="post">
            <a  title="#"><img src="assets/img/travelsphere/City/Jeddah/Mall-of-Arabia.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="post_info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="icon-calendar-empty"></i> On <span>12 Dec 2019</span>
                  </li>
                  <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                  </li>
                  <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                  </li>
                </ul>
              </div>
              <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
            </div>
            <h2>Shop for souvenirs at MALL OF ARABIA</h2>
            <p>
              With three floors and hundreds of stores to choose from, it’s easy to spend a whole day shopping at Mall of Arabia. The mall features a modern white interior, fun art installations, and colorful LED lighting. Browse the many shops to find the best things to buy in Jeddah from designer fashion outlets, large department stores, electronic stores, beauty stores, and more. A giant food court on the ground floor holds a mix of Saudi Arabian and international cafes and restaurants where you can enjoy a full meal or light snack.
            </p>
            <a  class=" btn_1">Read more</a>
          </div>
          <!-- end post -->

          <hr>

          <div class="post">
            <a href="#" title="#"><img src="assets/img/travelsphere/City/Jeddah/Silver-Sands-Beach.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="post_info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="icon-calendar-empty"></i> On <span>12 Nov 2020</span>
                  </li>
                  <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                  </li>
                  <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                  </li>
                </ul>
              </div>
              <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
            </div>
            <h2>Relax in the sun at SILVER SANDS BEACH </h2>
            <p>
              Soft white sand and gorgeous turquoise waters await at Silver Sands Beach, a private beach along the Red Sea. Visitors will pay about $40 USD for entrance which includes access to the beach, use of the washrooms and change rooms, and access to various beach chairs for lounging in the sun. There is also a small cafe serving drinks and light meals. While this private Jeddah beach can get crowded on the weekends, it’s a great spot to soak up the sun, swim, snorkel, and dive in the impossibly blue waters.
            </p>
            <p>
              Ludus albucius adversarium eam eu. Sit eu reque tation aliquip. Quo no dolorum albucius lucilius, hinc eligendi ut sed. Ex nam quot ferri suscipit, mea ne legere alterum repudiandae. Ei pri quaerendum intellegebat, ut vel consequuntur voluptatibus. Et volumus sententiae adversarium duo......
            </p>
            <a href="#" class="btn_1" title="#">Read more</a>
          </div>
          <!-- end post -->

          <hr>

          <div class="post">
            <a href="#" title="#"><img src="assets/img/travelsphere/City/Jeddah/King-Fahd_s-Fountain.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="post_info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="icon-calendar-empty"></i> On <span>12 Nov 2020</span>
                  </li>
                  <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                  </li>
                  <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                  </li>
                </ul>
              </div>
              <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
            </div>
            <h2>Marvel at the incredible sight of KING FAHD’S FOUNTAIN </h2>
            <p>
              One of the most popular tourist attractions in Jeddah is King Fahd’s Fountain, the tallest fountain of its kind in the world. The fountain blasts a stream of water from the Red Sea into the air to a maximum height of over 800 feet. While the water jet can be seen during the day from many places throughout the city, it is best appreciated at night when it is illuminated by hundreds of spotlights. This unique fountain is one of the top modern things to see in Jeddah.
            </p>
            
            <a   class="btn_1" title="#">Read more</a>
          </div>
          <!-- end post -->

          <hr>

          <div class="post">
            <a href="#" title="#"><img src="assets/img/travelsphere/City/Jeddah/Al-Rahma-Mosque.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="post_info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="icon-calendar-empty"></i> On <span>26 Jan 2019</span>
                  </li>
                  <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                  </li>
                  <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                  </li>
                </ul>
              </div>
              <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
            </div>
            <h2>Worship at the beautiful AL RAHMA MOSQUE </h2>
            <p>
              During high tide, the incredible Al Rahma Mosque appears to be floating in the Red Sea. The mosque was built at the edge of the Jeddah Corniche, a 30-kilometer stretch of coastal land filled with tourist attractions. While it does feature traditional architecture and Islamic art, this floating mosque also has a modern sound and lighting system for worship. The mosque is one of the best places to visit in Jeddah and is best viewed around sunrise or sunset with the light streaming through the stained glass windows.
            </p>
            
            <a   class="btn_1" title="#">Read more</a>
          </div>
          <!-- end post -->

          <hr>

          <div class="post">
            <a href="#" title="#"><img src="assets/img/travelsphere/City/Jeddah/Bicycle-Square.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="post_info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="icon-calendar-empty"></i> On <span>20 Jan 2019</span>
                  </li>
                  <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                  </li>
                  <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                  </li>
                </ul>
              </div>
              <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
            </div>
            <h2>Take a quick trip to BICYCLE SQUARE  </h2>
            <p>
              When considering what to do in Jeddah for fun, be sure to plan a quick stop to Bicycle Square near King Fahd Road. Bicycle Square (also known as Midan Addarajah) is a roundabout featuring a 50-foot metal sculpture of a bicycle. The sculpture was first installed in 1982 and remains one of the city’s most famous and eye-catching art installations. You can take a quick drive by Bicycle Square or park to view the sculpture up close and take pictures.
            </p>
            
            <a   class="btn_1" title="#">Read more</a>
          </div>
          <!-- end post -->
          <hr>

          <div class="post">
            <a href="#" title="#"><img src="assets/img/travelsphere/City/Jeddah/Jeddah-Lighthouse.jpg" alt="Image" class="img-fluid">
            </a>
            <div class="post_info clearfix">
              <div class="post-left">
                <ul>
                  <li><i class="icon-calendar-empty"></i> On <span>20 Jan 2019</span>
                  </li>
                  <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                  </li>
                  <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                  </li>
                </ul>
              </div>
              <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
            </div>
            <h2>Approach the Seaport to view JEDDAH LIGHTHOUSE </h2>
            <p>
              Located on the north side of the Jeddah Islamic Seaport, the Jeddah Lighthouse is the world’s tallest lighthouse. The active lighthouse stands 436 feet (133 meters) tall and according to Guinness World Records “surpasses in structural height any other traditional and non-traditional lighthouse in active use.” While tourists are not permitted to enter the seaport, they can get a picturesque view of the lighthouse, as well as boats coming and going from the pier, from nearby tourist spots like Central Fish Market and Corniche Commercial Center. Jeddah Lighthouse is particularly stunning at night.
            </p>
            
            <a   class="btn_1" title="#">Read more</a>
          </div>
          <!-- end post -->

        </div>
        <!-- end box style -->
        <hr>

        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active"><span class="page-link">1<span class="sr-only">(current)</span></span>
            </li>
            <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li> -->
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- end pagination-->
        
      </div>
      <!-- End col-md-9-->
    </div>
    <!-- End row-->
  </div>
  <!-- End container -->

  <!-- /white_bg -->
<div class="container margin_30">
  <app-travel-hotel [Destination]="Destination"></app-travel-hotel>
  <hr class="mt-5 mb-5">
  <app-travel-resturants [Destination]="Destination"></app-travel-resturants>
  <app-travle-things-icons></app-travle-things-icons>
</div>
<!-- End container -->

</main>
<!-- End main -->