<section class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/Meetme/Slider1.jpg"  data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Contact</h1>
			<!-- <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
		</div>
	</div>
</section>
<main>
  
      <div class="container margin_60" style="padding-bottom: 0px;">
        <div class="row">
          <div class="col-md-8">
            <div class="form_title">
              <h3><strong><i class="icon-pencil"></i></strong>Fill the form below</h3>
            </div>
            <div class="step">
  
              <div id="message-contact"></div>
              <form [formGroup]="contactfrm" (ngSubmit)="CheckValidation()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <input type="text" autocomplete="off" formControlName="Firstname" required [(ngModel)]="contact.Firstname" placeholder="Enter First Name"  formControlName="Firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Firstname.errors }">
                        <div *ngIf="submitted && f.Firstname.errors" class="invalid-feedback">
                          <div *ngIf="f.Firstname.errors.required">First Name is required</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" autocomplete="off" formControlName="Lastname" required [(ngModel)]="contact.Lastname" placeholder="Enter Last Name"  formControlName="Lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Lastname.errors }">
                        <div *ngIf="submitted && f.Lastname.errors" class="invalid-feedback">
                          <div *ngIf="f.Lastname.errors.required">Last Name is required</div>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- End row -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" autocomplete="off" name="Email" [(ngModel)]="contact.Email" placeholder="Enter Email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                          <div *ngIf="f.Email.errors.required">Email is required</div>
                            <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" autocomplete="off" formControlName="Phone" required [(ngModel)]="contact.Phone" placeholder="Enter Phone number"  formControlName="Phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }">
                      <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                        <div *ngIf="f.Phone.errors.required">Phone No is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Message</label>
                      <textarea rows="5"  autocomplete="off" formControlName="Message" required [(ngModel)]="contact.Message" placeholder="Write your message"  formControlName="Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Message.errors }"></textarea>
                      <div *ngIf="submitted && f.Message.errors" class="invalid-feedback">
                        <div *ngIf="f.Message.errors.required">Message is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <input type="submit" value="Submit" class="btn_1">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- End col-md-8 -->
          <div class="col-md-4">
            <div class="box_style_1">
                <span class="tape"></span>
                <h4>Address <span><i class="icon-pin pull-right"></i></span></h4>
                <p>
                    Regd. Office Address 06 Tulsi bunglow, science city road sola village Ahmedabad 380060.
  
                </p>
                <hr>
                <h4>Branch Address <span><i class="icon-pin pull-right"></i></span></h4>
                <p>
                    Branch office : City Gold Cinema 8th floor , Ashram road. Ahmdeabad 380009.
  
                </p>
                <hr >
                <h4>Contact No <span></span></h4>
                <ul id="contact-info">
                    <li><span>Rajesh Gopalan</span>
                        <br />
                        +91 9825027134 / +919909027134</li>
                    <li><span>Purna Ezhuthassan </span>
                        <br />
                        9925650102</li>
                </ul>
                <hr>
                <h4>Email :<span></span></h4>
                <ul id="">
                    <li><a href="#">gujaratlevoyage@gmail.com</a>
                    </li>
                    <li><a href="#">droyaleholiday@gmail.com</a>
                    </li>
                    <li><a href="#">rajesh.royalholiday@gmail.com</a>
                    </li>
                </ul>
                <hr>
            </div>
            <app-help></app-help>
        </div>
        
          <!-- End col-md-4 -->
        </div>
        <!-- End row -->
      </div>

      <div id="map_contact" class="contact_2" style="margin-top: 2px;"></div>
      <!-- end map-->
      <div id="directions">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <form action="http://maps.google.com/maps" method="get" target="_blank">
                <div class="input-group">
                  <input type="text" name="saddr" placeholder="Enter your starting point" class="form-control style-2" />
                  <input type="hidden" name="daddr" value="New York, NY 11430" />
              
                  <span class="input-group-btn">
                    <button class="btn" type="submit" value="Get directions" style="margin-left:0;">GET DIRECTIONS</button>
                  </span>
                </div>
            
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End container -->
    </main>
         
    <!-- End main -->