<div class="container">
  <div class="main_title">
      <h2>Our <span>Clients</span></h2>
  </div>
  <div class="owl-carousel owl-theme carousel-thumbs-2 magnific-gallery">
      <div class="item">
          <a href="https://www.idealjunglesafaris.com/images/lemken_107458.jpg" data-effect="mfp-zoom-in">
              <img src="assets/img/ideal/clients/lekmen.png" alt="Image">
          </a>
      </div>
      <div class="item">
          <a href="assets/img/ideal/clients/mahindra-logo.png" data-effect="mfp-zoom-in">
              <img src="assets/img/ideal/clients/mahindra-logo.png" alt="Image">
          </a>
      </div>
      <div class="item">
          <a href="assets/img/ideal/clients/Nikon.jpg" data-effect="mfp-zoom-in">
              <img src="assets/img/ideal/clients/Nikon.jpg" alt="Image">
          </a>
      </div>
      <div class="item">
          <a href="assets/img/ideal/clients/rrs.jpg" data-effect="mfp-zoom-in">
              <img src="assets/img/ideal/clients/rrs.jpg" alt="Image">
          </a>
      </div>
      <div class="item">
          <a href="assets/img/ideal/clients/UniqueZone.jpg" data-effect="mfp-zoom-in">
              <img src="assets/img/ideal/clients/UniqueZone.jpg" alt="Image">
          </a>

      </div>
      <div class="item">
          <a href="assets/img/ideal/clients/sony.jpg" data-effect="mfp-zoom-in">
              <img src="assets/img/ideal/clients/sony.jpg" alt="Image">
          </a>

      </div>
      <div class="item">
          <a href="assets/img/ideal/clients/CrossRef.png" data-effect="mfp-zoom-in">
              <img src="assets/img/ideal/clients/CrossRef.png" alt="Image">
          </a>

      </div>

  </div>
</div>