<section class="parallax-window" data-parallax="scroll" style="min-height: 103px !important;"  data-natural-width="1400"
    data-natural-height="103">
</section>
<main>
  <div id="position">
    <div class="container">
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="tours-list">tours-list</a>
        </li>
        <li>Booking Details</li>
      </ul>
    </div>
  </div>
  <!-- End Position -->
  <div class="container margin_30">
    <div class="checkout-page">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col-lg-8">
            <div class="card row ">
              <div class="card-header">
                Travellers Details
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label>
                      First name <sup>*</sup>
                    </label>

                    <input type="text" formControlName="firstName" required [(ngModel)]="User.Name" placeholder=""
                      class="form-control" formControlName="firstName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label>
                      Last name <sup>*</sup>
                    </label>
                    <input type="text" name="Name" [(ngModel)]="User.LastName" placeholder="" class="form-control"
                      formControlName="lastName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label>
                      Email Address <sup>*</sup>
                    </label>
                    <input type="email" name="Email" [(ngModel)]="User.Email" placeholder="" class="form-control"
                      formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label>
                      Phone <sup>*</sup>
                    </label>
                    <input type="text" name="Phone" [(ngModel)]="User.ContacDetails.Phone" placeholder=""
                      class="form-control" class="form-control" formControlName="phone"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Contact No. is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label>
                      Address <sup>*</sup>
                    </label>
                    <input type="text" name="Address" [(ngModel)]="User.ContacDetails.Address" placeholder=""
                      class="form-control" formControlName="address"
                      [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    <label>
                      Country <sup>*</sup>
                    </label>
                    <mat-select class="dd-selected" name="CountryID" (ngModelChange)="getCity('')"
                      [(ngModel)]="User.ContacDetails.CountryID" formControlName="country"
                      [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                      <mat-option *ngFor="let Country of arrCountry" [value]="Country.Countryname">
                        <img with="20" height="20"
                          src="../../../assets/img/flag/{{Country.Countryname | lowercase}}.gif">
                        <label class="dd-option-text" style="line-height: 45px;    margin-left: 5px;">
                          {{ Country.Countryname}}</label>
                      </mat-option>
                    </mat-select>

                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                      <div *ngIf="f.country.errors.required">Country is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    <label>Zip / Postal Code</label>
                    <input type="text" name="code" value="" [(ngModel)]="User.ContacDetails.PinCode"
                      placeholder="Zip / Postal Code" class="form-control">
                  </div>
                  <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    <label>
                      City <sup>*</sup>
                    </label>
                    <input type="text" name="city" value="" placeholder="City "
                      [(ngModel)]="User.ContacDetails.CitiesID" class="form-control" formControlName="city"
                      [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">city is required</div>
                    </div>
                  </div>

                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Order note</label>
                    <textarea placeholder="Notes about your order, e.g. special notes for delivery"
                      class="form-control"></textarea>
                  </div>


                </div>
                <!--End Billing Details-->
              </div>
            </div>
            <div class="card row">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <mat-checkbox (change)="changeTermsStatus()" [checked]="termsncondition">
                      I accept the cancellation policy and <a href="javascript:void();">
                        terms & conditions</a>
                    </mat-checkbox>
                    <div *ngIf="submitted && termsncondition==false" style="color: #dc3545;">
                      please accept Term and Condition
                    </div>
                  </div>
                  <div class="col-md-6 text-right" *ngIf="isB2B">
                    <div class="row">
                      <div class="col-md-6">
                        <button type="button" (click)="initPay(true)" class="btn_1">Pay Online</button>
                      </div>
                      <div class="col-md-6">
                        <button type="button" (click)="initPay(false)" class="btn_1">Use Wallet</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 text-right" *ngIf="!isB2B">
                    <button type="button" (click)="initPay(true)" class="btn_1">Book Now</button>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <!--End Col-->
          <aside class="col-lg-4" id="sidebar">
            <div class="theiaStickySidebar">
              <div class="box_style_1" *ngFor="let arrProduct of products; let i = index">
                <div class="price_hed">
                  <div class="row">
                    <div class="col-md-5"> <b>Sightseeing {{i+1}}</b></div>
                    <div class="col-md-7 text-right">
                      <span *ngFor="let arrPax of arrProduct.PaxRate.arrayPax">

                        <i *ngIf="arrPax.Pax_Type =='adult'">  {{arrPax.Count}} {{arrPax.Pax_Type.toUpperCase()}} ,</i>
                      
                      </span>
                    </div>
                  </div>
                </div>
                <table class="table table_summary">
                  <tbody>
                    <tr>
                      <td colspan="2">
                        {{arrProduct.ProductName}}  ({{arrProduct.PaxRate.Ticket}})
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Date
                      </td>
                      <td class="text-right">
                        <span class=""> {{arrProduct.sDate}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Price
                      </td>
                      <td class="text-right">
                        {{arrProduct.PaxRate.Currency}} {{arrProduct.PaxRate.Total.toFixed(2)}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a class="rate-breakup" title="click here to show rates" data-toggle="collapse" href="#{{i}}"
                          role="button" aria-expanded="false" aria-controls="1">
                          Rate Breakup
                        </a>
                       
                      </td>

                      <td style="text-align: right;">
                        <a class="rate-breakup" title="click here to show Cancellation Policy" data-toggle="collapse" href="#cancel{{i}}"
                          role="button" aria-expanded="false" aria-controls="1">
                          Cancellation policy
                        </a>
                        
                      </td>
                    </tr>
                    <tr class="collapse" id="{{i}}" >
                      <td colspan="2">
                        <div class="row" *ngFor="let arrPax of arrProduct.PaxRate.arrayPax">
                          <div class="col-md-5 text-right font10" *ngIf="arrPax.Count !==0">
                            {{arrPax.Pax_Type.toUpperCase()}} * {{arrPax.Count}} 
                            <small *ngIf="arrPax.Pax_Type =='child1'">( {{arrPax.Age}} )</small>
                            <small *ngIf="arrPax.Pax_Type =='child2'">( {{arrPax.Age}} )</small>
                          </div>
                          <div class="col-md-7 text-left" *ngIf="arrPax.Count !==0"> {{Currency}} {{arrPax.Total.toFixed(2)}}
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="collapse" id="cancel{{i}}" >
                      <td colspan="2">
                          <div class="row" >
                            <div class="col-md-12  text-left" >
                              <ul class="list_ok">
                                <li *ngFor="let arrCancellation of arrProduct.PaxRate.arrCancellationPolicy">
                                  {{ arrCancellation.info}}
                                </li>
                                <li *ngIf="arrProduct.PaxRate.arrCancellationPolicy.length ==0">
                                    This is Non-Refunable rate no charge will be refunable once booked.
                                </li>
                              </ul>
                              
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="box_style_1">
                <table class="table table_summary">
                  <tbody>
                    <tr>
                      <td>
                        <b>Total</b>
                      </td>
                      <td class="text-right">
                        {{Currency}} {{Total.toFixed(2)}}
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <b>Discount</b>
                      </td>
                      <td class="text-right">
                        INR 0.00
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <span style="font-size: 16px;">Total Payable</span>
                      </td>
                      <td class="text-right">
                        {{Currency}} {{Total.toFixed(2)}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </aside>
        </div>
      </form>
    </div>
  </div>
  <!-- End Container -->
</main>