.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
::ng-deep .mat-input-underline  .mat-form-field-underline{
  display: none;
}
::ng-deep .mat-form-field-underline{
display: none;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane {
  width: auto;
  max-width: auto;
}

.mat-select{
width:2000px;
background-color: red;
font-size: 10px;
display: block;
  width: 100%;
  height: 40px;
  padding: .375rem .75rem;
  font-size: 12px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::ng-deep .mat-select-trigger{
padding: 10px 10px !important;
}
::ng-deep .mat-option{
padding: 10px;
  display: block;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  /* -webkit-transition: all 0.25s ease-in-out; */
}


.form-control {
  cursor: pointer;
}

.travellers-dropdown {
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.176);
  z-index: 11;
  background: #fff;
  padding: 6px;
  border-radius: 0px;
  max-width: 345px;
  width: 100%;
  margin-top: 0px;
}

  .travellers-dropdown .qty .qty-spinner {
      background: none;
      border: none;
      pointer-events: none;
      text-align: center;
      padding: .2rem .2rem;
      margin-top:-5px; 
  }

  .travellers-dropdown .qty .btn {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 8px;
      border-radius: 0px !important;
      height: 25px;
      width: 25px;
      background: #555;
      border: none;
  }
@media (max-width: 991px) {
  .travellers-dropdown {
      min-width: inherit;
  }
}


.box_style_1 {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 0px !important;
  position: relative;
  color: #666;
}


.box_style_1 .price_hed {
  margin: 0px 0px 0px 0px !important;
  background-color: #565a5c;
  padding: 5px 5px 5px 5px !important;
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px !important;
  background-color: transparent;
}

.rate-breakup{
  color: #666 !important;
}

.img-fluid.styled {
  margin-top: 0px !important;
  height: 235px !important;
  width: 400px !important;
  border: 5px solid#fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(253, 67, 67, 0.1);
}

.date {
  background-color: #f8f8f8;
  text-align: center;
}

.strip_booking .date .month {
  background-color: #e04f67;
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.date .month {
  background-color: #e04f67;
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.date .day {
  padding: 8px !important;
  margin-top: 1px;
  color: #999;
  text-transform: uppercase;
  display: block;
}

.date .day strong {
  font-size: 36px;
  font-weight: normal;
  display: block;
  color: #e04f67;
  margin-bottom: 3px;
}

.ttl_night {
  background: #f7941d;
  border-radius: 0 4px 0 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin: 4px 0 6px;
  padding: 2px 8px;
  position: absolute;
  top: -4px;
  right: 0;
}

.card-body{
  padding: 15px !important;
}

.roomCount {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 25px;
}

.circle {
  position: absolute;
  background: #f7941d;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  z-index: 2;
  font-size: 12px;
  color:#fff;
  top: 0;
  bottom: 0;
  margin: auto;
}

.roomCount::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 33px;
  top: 0;
  bottom: 0;
  border: 1px solid #d6d5d5;
  border-width: 0 0 0 1px;
}

.travel{
  float: left;
  font-size: 12px;
  color: #444;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  padding-top: 20px;
}

.form-control{
  cursor: pointer;
}

ul.list_ok {
  list-style: none;
  margin: 0 0 0 0 !important;
  padding: 0;
  line-height: 22px;
}

.alert {
  position: relative;
  padding: .50rem 1rem !important;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.paxtitle{
  padding: 0px 3px;
}