<div class="main_title">
  <h2>{{Destination}} <span>Top</span> Restaurants</h2>
</div>

<div class="owl-carousel owl-theme list_carousel add_bottom_30" *ngIf="Destination == 'Jeddah'">
  <div class="item">
    <div class="hotel_container">
        <div class="ribbon_3 popular"><span>Popular</span></div>
        <div class="img_container">
            <a href="#">
                <img src="http://kosebasiarabia.com/ksa/wp-content/uploads/sites/13/2015/12/Header-3.jpg"
                    width="800" style="height: 200px;" class="img-fluid" alt="image">
                
                <div class="short_info hotel">
                    <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                </div>
            </a>
        </div>
        <div class="hotel_title">
            <h3><strong>Kosebasi</strong> .</h3>
            <div class="rating">
                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <!-- end rating -->
            <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                            class="tooltip-back">Add to wishlist</span></span></a>
            </div>
            <!-- End wish list-->
        </div>
    </div>
    <!-- End box -->
  </div>
  
  <div class="item">
    <div class="hotel_container">
        <div class="ribbon_3 popular"><span>Popular</span></div>
        <div class="img_container">
            <a href="#">
                <img src="http://www.belajio.com/gallery/d6a85f7d-f6c5-422f-b3a7-d319cdb3d7f6.JPG"
                    width="800"   class="img-fluid" alt="image" style="height: 200px;">
                
                <div class="short_info hotel">
                    <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                </div>
            </a>
        </div>
        <div class="hotel_title">
            <h3><strong>Belajio Resort</strong> </h3>
            <div class="rating">
                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <!-- end rating -->
            <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                            class="tooltip-back">Add to wishlist</span></span></a>
            </div>
            <!-- End wish list-->
        </div>
    </div>
    <!-- End box -->
  </div>
  <div class="item">
    <div class="hotel_container">
        <div class="ribbon_3 popular"><span>Popular</span></div>
        <div class="img_container">
            <a href="#">
                <img src="http://www.piatto.com.sa/images/piatto/ourstory/piattodining.png"
                    width="800" style="height: 200px;" class="img-fluid" alt="image">
                
                <div class="short_info hotel">
                    <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                </div>
            </a>
        </div>
        <div class="hotel_title">
            <h3><strong>Piatto </strong> </h3>
            <div class="rating">
                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <!-- end rating -->
            <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                            class="tooltip-back">Add to wishlist</span></span></a>
            </div>
            <!-- End wish list-->
        </div>
    </div>
    <!-- End box -->
  </div>
  <div class="item">
    <div class="hotel_container">
        <div class="ribbon_3 popular"><span>Popular</span></div>
        <div class="img_container">
            <a href="#">
                <img src="http://www.verapizza.com/verrapizza/Content/img/mainpage.jpg"
                    width="800" style="height: 200px;" class="img-fluid" alt="image">
                
                <div class="short_info hotel">
                    <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                </div>
            </a>
        </div>
        <div class="hotel_title">
            <h3><strong>Vera Pizza</strong> .</h3>
            <div class="rating">
                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <!-- end rating -->
            <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                            class="tooltip-back">Add to wishlist</span></span></a>
            </div>
            <!-- End wish list-->
        </div>
    </div>
    <!-- End box -->
  </div>
  <div class="item">
    <div class="hotel_container">
        <div class="ribbon_3 popular"><span>Popular</span></div>
        <div class="img_container">
            <a href="#">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/61/a3/96/filename-rosso04-jpg.jpg"
                    width="800" style="height: 200px;" class="img-fluid" alt="image">
                
                <div class="short_info hotel">
                    <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                </div>
            </a>
        </div>
        <div class="hotel_title">
            <h3><strong>Rossopomodoro</strong> .</h3>
            <div class="rating">
                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <!-- end rating -->
            <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                            class="tooltip-back">Add to wishlist</span></span></a>
            </div>
            <!-- End wish list-->
        </div>
    </div>
    <!-- End box -->
  </div>
  
  <div class="item">
    <div class="hotel_container">
        <div class="ribbon_3 popular"><span>Popular</span></div>
        <div class="img_container">
            <a href="#">
                <img src="https://media-cdn.tripadvisor.com/media/photo-o/0f/0d/3a/59/caption.jpg"
                    width="800" style="height: 200px;" class="img-fluid" alt="image">
                
                <div class="short_info hotel">
                    <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                </div>
            </a>
        </div>
        <div class="hotel_title">
            <h3><strong>Cafe Bateel</strong></h3>
            <div class="rating">
                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <!-- end rating -->
            <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                            class="tooltip-back">Add to wishlist</span></span></a>
            </div>
            <!-- End wish list-->
        </div>
    </div>
    <!-- End box -->
  </div>
  <div class="item">
    <div class="hotel_container">
        <div class="ribbon_3 popular"><span>Popular</span></div>
        <div class="img_container">
            <a href="#">
                <img src="https://www.paul.fr/c/4-image_category/le-pain.jpg"
                    width="800" style="height: 200px;" class="img-fluid" alt="image">
                
                <div class="short_info hotel">
                    <!-- From/Per night<span class="price"><sup>$</sup>39</span> -->
                </div>
            </a>
        </div>
        <div class="hotel_title">
            <h3><strong>Paul</strong> .</h3>
            <div class="rating">
                <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                    class="icon-star voted"></i><i class="icon-star-empty"></i>
            </div>
            <!-- end rating -->
            <div class="wishlist">
                <a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span
                            class="tooltip-back">Add to wishlist</span></span></a>
            </div>
            <!-- End wish list-->
        </div>
    </div>
    <!-- End box -->
  </div>


</div>
<!-- /carousel -->
<p class="text-center nopadding" *ngIf="Destination == 'Jeddah'">
  <a href="#" class="btn_1">View all Restaurants</a>
</p>

<p class="text-center nopadding" *ngIf="Destination != 'Jeddah'">
    <a href="#" class="btn_1">Comming soon</a>
  </p>
