<footer id="footer">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-4 col-md-4">
                <app-need-help></app-need-help>
                <app-pay-partners></app-pay-partners>
            </div>
            <div class="col-lg-2 col-md-3 ml-md-auto">
                <app-quick-links></app-quick-links>
            </div>
            <div class="col-lg-5 col-md-6" id="newsletter">
                <app-subscribe></app-subscribe>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="social_footer">
                    <app-social-links></app-social-links>
                    <app-develop></app-develop>
                </div>
            </div>
        </div> -->
        <!-- End row -->

        <div class="row">
            <div class="col-md-3">
                <div class="lets d-flex align-items-center">
                    <div class="image">
                        <img src="assets/img/logo-bottom.png"
                            style="visibility: visible; animation-name: fadeInUp;height: 120px;" alt=""
                            class="img-fluid wow fadeInUp">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-lg-12">
                    <img src="assets/img/Tripser-logo.png" style="margin-left: 10%;" height="50px" alt="">
                </div>
                <br>
                <div class="col-lg-12">
                    <a href="javascript:void();" routerLink="/about-us" class="footer-a">About us </a>|
                    <!-- <a routerLink="/terms-and-conditions">Terms and conditions</a> | -->
                    <a routerLink="/terms-and-conditions" class="footer-a">Legal information </a>|
                    <a href="javascript:void();" class="footer-a">Technical Support </a>|
                    <!-- <a href="javascript:void();" class="footer-a">Partnership Program </a>| -->
                    <a routerLink="/privacy-policy" class="footer-a">Privacy Policy </a>|
                    <a routerLink="/3d-secure" class="footer-a">3d Secure</a>
                </div>
                <br>
            </div>
        </div>

        <!-- <hr>
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="lets d-flex align-items-center">
                    <div class="image">
                        <img src="assets/img/logo-bottom.png"
                            style="visibility: visible; animation-name: fadeInUp;height: 120px;" alt=""
                            class="img-fluid wow fadeInUp">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <img src="assets/img/strip.png" style="height: 60px;">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <div class="row">
                        <div class="col-md-8">
                            <br>
                            <p>Copyright © 2020 Tripser.ae All rights reserved. Created and manage by
                                ON TRACK TOURISM LLC
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/img/strip.png" style="height: 50px; float: left;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End container -->
</footer>