<section class="parallax-window" data-parallax="scroll" [attr.data-image-src]="img" data-natural-width="1400"
  data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>Terms and Condition</h1>
      <!--  <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p> -->
    </div>
  </div>
</section>

<main>

  <div class="container margin_60" style="padding-bottom: 0px;">
    <div class="row">
      <div class="col-md-8">
        <div class="form_title">
          <h3><strong><i class="icon-help-circled-2"></i></strong>Terms & Conditions</h3>
        </div>
        <div class="step">
          <ul class="list_ok">
            <li>Rates are Nett & non commissionable</li>
            <li>No rooms booked. This is just a quote.</li>
            <li>Rooms will be subject to availability at the time of confirmation</li>
            <li>Kindly check the costing with us at the time of confirmation</li>
            <li>Rates are not valid for the festive season Diwali, Christmas, New Year, Holi & National Holiday</li>
            <li>Rates not valid for foreign nationals.</li>
            <li>Check in & check out timing of the hotel will be according to the timing of the respective hotels.</li>
            <li>Tadoba Park is close on every Tuesday </li>
            <li>Nagzira is close on every Thursday</li>
            <li>Pench ,Kanha, Bandhavgarh is close on every Wednesday afternoon</li>
            <li>All packages are ex. Nagpur </li>
            <li>The Company is responsible for only those services which are charged from the guest. All other services
              which are not paid by the guest to the Company are Suggested services and Company is nowhere bound to
              provide that service or pay the cost for the same.</li>
            <li>Company is not responsible nor liable for any damage, loss or injury caused to any passenger while
              taking the tour.</li>
            <li>ny claim related to the package must be brought to the notice of the company within a week.</li>
          </ul>

        </div>
      </div>
      <!-- End col-md-8 -->
      <div class="col-md-4">
          <div class="form_title">
            <h3><strong><i class="icon-attention-4"></i></strong>Cancellation Policy</h3>
          </div>
          <div class="step">
            <ul class="list_ok">
              <li>Cancellation has to be sent to us by email</li>
              <li>Safari ticket are not refundable</li>
              <li>Booking day – 30 days prior to departure 10% of the tour cost</li>
              <li>30-15 days prior departure 40% of the tour cost</li>
              <li>14 -07 days prior departure 75% of the tour cost</li>
              <li>07 – No show days prior to departure 100% of the tour cost</li>
            </ul>
  
          </div>
        </div>
        <!-- End col-md-8 -->

    </div>
    <!-- End row -->
  </div>
</main>

<!-- End main -->